<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><h2><a href="<?php echo url('admin/products')?>"><?php echo __('products')?></a> &rsaquo; <?php echo __('import')?></h2>

<h3><?php echo __('import_result')?></h3>

<textarea style="width:99%;height:200px;"><?php echo $log?></textarea>