<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><h2><a href="<?php echo url('admin/products')?>"><?php echo __('products')?></a> &rsaquo; <?php echo __('xml_feeds')?></h2>

<table class="datagrid">
	<thead>
		<tr>
			<td width="120"><?php echo __('name')?></td>
			<td><?php echo __('url')?></td>
		</tr>
	</thead>

	<tbody>
		<?php foreach($services as $tpl => $name): ?>
		<tr>
			<td><?php echo $name?></td>
			<td><a href="<?php echo url('xml/export/'.$tpl, array('k' => $key), true)?>"><?php echo url('xml/export/'.$tpl, array('k' => $key), true)?></a></td>
		</tr>
		<?php endforeach; ?>
	</tbody>
</table>