<div class="asideAnketa">
	<h2><span>Anketa</span></h2>
	<h3>{$block->config[question]}</h3>
	
	{var $total = $block->getTotalVotes()}


	{foreach $block->config['answers'] as $answer}
		{var $votes = (int) $answer['votes']}
		
		{if $answer['text']}
			{var $percent = $votes > 0 ? round(100 / $total * (int) $answer['votes']) : 0}
			<div class="line"?
			{if $disabled}
				<strong>{$answer['text']}</strong>
			{else}

			{/if}

			

			<div class="progress">
				<div class="progress-bar progress-bar-success" role="" aria-valuenow="{$percent}" aria-valuemin="0" aria-valuemax="100" style="width: {$percent}%"></div>
			</div>
			<span class="pull-right">{$percent}%</span>
			
		{/if}
	{/foreach}

	<div class="line">{_'total_votes'}: {$total}</div>	
</div>