<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><style>
	.inline .inputwrap {
		width: 100px !important;
	}
	#driverconfig {
		padding-bottom: 20px;
	}
	.loading {
		background: url(<?php echo $tplbase?>images/loader.gif) no-repeat left top;
	}
</style>

<form class="form" action="<?php echo url('admin/blocks/edit/'.$block['id'])?>" method="post">

	<h2><a href="<?php echo url('admin/blocks')?>"><?php echo __('blocks')?></a> &rsaquo; <?php echo $block['title']?></h2>

	<div class="buttons tbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

	<div class="clearfix">
		<div class="rightcol">
			<div class="tabsWrap label-left">
				<ul class="tabs clearfix">
					<li class="active"><a href="#tab-options"><?php echo __('options')?></a></li>
				</ul>

				<div id="tab-options" class="tab active">
					<?php echo forminput('text', 'position', $block['position'], array('cls' => 'short center'))
					.forminput('checkbox', 'show_title', $block['show_title'])
					.forminput('select', 'column', $block['column'], array('options' => Core::$def['block_columns']))
					.forminput('select', 'driver', $block['driver'], array('options' => $drivers))?>
				</div>
			</div>
		</div>

		<div class="leftcol">

			<fieldset>
				<?php echo forminput('text', 'title', $block['title'], array('required' => true))
				.forminput('textarea', 'text', $block['text'], array('cls' => 'editor'))
				.forminput('select', 'page_id', $block['page_id'], array('label' => __('show_on_page'), 'options' => $pages))?>
			</fieldset>

			<fieldset id="driverconfig"></fieldset>

		</div>
	</div>

	<div class="buttons bbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>


</form>

<script>
	$(function(){
		var url = '<?php echo url('admin/blocks/ajax_getConfig')?>';
		var block_id = '<?php echo $block['id']?>';

		var loadConfig = function(driver){
			var el = $('#driverconfig');
			el.addClass('loading');
			$.get(url+'/'+driver+'/'+block_id, {}, function(response){
				el.html(response).removeClass('loading');
			});
		}

		$('select[name="driver"]').bind('change', function(){
			var driver = $(this).val();

			if(driver && driver != 0){
				loadConfig(driver);
			}else{
				$('#driverconfig').html('');
			}
		});

		<?php if($block['driver']): ?>
		loadConfig('<?php echo $block['driver']?>');
		<?php endif; ?>

	});
</script>