<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><a href="<?php echo url('admin/blocks/edit/0')?>" class="addbtn"><?php echo __('new_block')?></a>


<h2><?php echo __('blocks')?></h2>

<form class="form gridform" action="<?php echo url('admin/blocks')?>" method="post">

	<div class="buttons">
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

	<table class="datagrid">
		<thead>
			<tr>
				<td><?php echo __('title')?></td>
				<td class="center" width="60"><?php echo __('position')?></td>
				<td width="120"><?php echo __('driver')?></td>
				<td class="actions">&nbsp;</td>
			</tr>
		</thead>

		<tbody>
			<?php foreach(Core::$def['block_columns'] as $col => $col_name):

				$blocks = Core::$db->block()->order('position ASC')->where('`column`', $col);
			?>
				<tr class="gridtitle">
					<td colspan="4"><?php echo $col_name?></td>
				</tr>

			<?php if(! count($blocks)): ?>
				<tr class="norecords">
					<td colspan="4"><?php echo __('no_records')?></td>
				</tr>
			<?php endif; ?>

			<?php foreach($blocks as $block): ?>
				<tr>
					<td><a href="<?php echo url('admin/blocks/edit/'.$block['id'])?>"><?php echo $block['title']?></a></td>
					<td class="center input">
						<input type="text" name="position[<?php echo $block['id']?>]" class="input-text center" value="<?php echo $block['position']?>" />
					</td>
					<td><?php echo ($block['driver'] ? __($block['driver']) : '&mdash;')?></td>
					<td class="actions">
						<a href="<?php echo url('admin/blocks/edit/'.$block['id'])?>" class="edit" title="<?php echo __('edit')?>">&nbsp;</a>
						<a href="<?php echo url('admin/blocks/delete/'.$block['id'])?>" class="delete" title="<?php echo __('delete')?>">&nbsp;</a>
					</td>
				</tr>
			<?php endforeach; ?>


			<?php endforeach; ?>
		</tbody>
	</table>

	<div class="buttons buttons-foot">
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

</form>