.show-xs {
	display: none;
}
nav .show-xs {
	display: none !important;
}
@media only screen and (max-width : 970px) {

	.dopravaImg {
		max-width: 100%;
		margin-top: 15px;
	}
	.nav-tabs > li > a {
		font-size: 14px !important;
	}
		/* basket */
	.basket {
		padding: 8px 0;
	}
	.basketPagination li {
		font-size: 14px;
		height: 85px;
		text-align: center;
		line-height: 1.4em;
	}
		.basketPagination li em {
			padding-top: 8px;
			display: inline-block;
		}
		.basketPagination li span {
			width: 100%;
			font-size: 20px;
			margin-bottom: 4px;
		}
	.ulozenka-select-container select {
		width: 100%;
	}
}

@media only screen and (max-width : 768px) {
	.show-xs,
	nav .show-xs {
		display: block !important;
	}
	.hide-xs {
		display: none;
	}
		.show-xs .btn-primary {
			width: 100%;
			margin: 8px 0;
		}
	/* heureka */
	#hw-87kwowifjjowiklsadh666left {
		display: none;
	}
	/* header */
	.headerTop {
		text-align: center;
		font-size: 13px;
		padding-left: 40px;
		padding-bottom: 6px;
		display: table;
		height: 50px;
	}
		.headerTop ul {
			display: none;
		}
	header {
		padding-bottom: 15px;
	}
	header form {
		margin: 5px 0;
	}
	header .col-sm-4 {
		padding: 0 8px;
	}
	.nav-tabs-productsort {
		margin-bottom: 15px;
	}
	.nav-tabs-productsort > li {
		width: 50%;
	}
		.nav-tabs-productsort > li a {
			margin-bottom: 3px;
			margin-right: 5px !important;
		}
		.nav-tabs-productsort > li:nth-child(2n) a {
			margin-right: 0;
		}
		.nav-tabs-productsort > li:last-child a {
			margin-right: 5px;
		}
	header .navbar-toggle {
		float: none;
		background-color: #2ca5de;
		float: left;
		margin: 0 5px 0 0;
		position: absolute;
		top: 6px; left: 8px;
	}
		nav.navbar {
			min-height: auto;
			border-bottom: 0;
			padding-bottom: 7px;
		}
		nav .navbar-nav {
			margin: 7px 0;
		}
		nav .navbar-nav,
		.navbar-mainnav a {
			border:none;
		}
		nav .navbar-nav .glyphicon {
			font-weight: normal;
			padding-right: 8px;
			color: #7f7f7f;
		}

		header .navbar-toggle  .icon-bar {
			background-color: #fff;
		}
		header #zobrazcart {
			display: none !important;
		}
		header .cart {
			width: auto;
			margin: 8px auto 0 auto;
			background-position: 0 0;
			float: none !important;
		}
			header .cart:hover {
				border: 1px solid transparent;
				border-radius: 0;
			}
			header .cart h3 {
				display: inline-block;
			}
			header .cart .cartContent {
				height: auto;
			}
			header .cart .cartContent > a {
				padding: 8px 0 8px 60px;
			}
	.rowListProdukty {
		margin: 0 -15px;
	}
	.rowListProdukty .table {
		max-width: 100%;
	}
	
	.rowListProdukty .table .img {
		width: 45px;
	}
	.rowListProdukty .table .img img {
		width: 45px;
		height: auto;
		max-height: 45px;
	}
	.rowListProdukty h4 {
		font-size: 14px;
	}

	
	.panelForm .form-inline .form-group {
		width: 100%;
	}
	.textContentIndex .boxVyhody li {
		width: 50% !important;
		margin-bottom: 8px;
	}

	.navTop {
		padding: 0;
	}

	.listSubpages li {
		width: 50%;
	}
	.listSubpages li:nth-child(4n) a,
	.listSubpages li:nth-child(2n) a {
		margin-right: 0;
	}

	.navTop ul li,
	.navTop ul li:last-child {
		width: 100%;
		background-image: none !important;
		padding-top: 0;
		height: 2em; line-height: 2em;
	}
		.navTop ul li span {
			
			display: block;
			width: 100%;
			height: 2em; line-height: 2em;
			padding: 0;
			border-bottom: 1px solid #e5e5e5;
		}
		.navTop ul li a,
		.navTop ul li:last-child a  {
			display: inline-block;
			padding: 0;
			width: 100%;
		}


	footer {
		padding: 20px 0;
	}
	footer img {
		width: 100% !important;
		height: auto !important;
	}

	.listVyhody li {
		width: 48%;
		margin: 1%;
	}
		.listVyhody li:nth-child(2n+1) {
			clear: both;
		}
	.textContent img {
		max-width: 100% !important;
		height: auto !important;
	}



	/* detail */
	.detail .detailList li span {
		width: 100px;
	}
	.detail .detailList li > div {
		width: 150px;
	}


	
	.productFilter .row > div {
		margin-bottom: 6px;
	}

	.productFilter .priceSlider {
		position: relative;
		margin-top: 45px;
	}
	.productFilter .priceSlider #slider-price-from {
		position: absolute;
		top: -30px; left: 0;
		text-align: left;
	}
	.productFilter .priceSlider #slider-price-to {
		position: absolute;
		top: -30px; right: 0;
		text-align: right;
	}
	.productFilter .priceSlider #price-range-slider {
		width: 100%;
		margin: 0;
	}

	body .basketSuccess {
		margin: 0;
		padding: 0;
		background-image: none;
	}

	.productsPagination .pagination {
		float: none !important;
		margin-top: 5px;

	}

	ul.listProdukty li > div {
		width: 50%;
	}
	.sidebar-offcanvas {}

}
@media only screen and (max-width : 680px) {
.basketTable .table {

	}
		.basketTable .table thead {
			display: none;
		}
		.basketTable .table tr {
			border-bottom: 1px solid #ddd;
			position: relative;
			padding-bottom: 8px;

		}
			.basketTable .table td {
				display: block;
				border-top: none;
				border:none;
			}
			.basketTable .table td.img {
				width: 80px;
				float: left;
				padding-bottom: 15px;
			}
			.basketTable .table td.name,
			.basket .table .availability {
				padding-left: 80px !important;
			}
			.basketTable .table td.name br {
				display: none;
			}
			.basketTable .table td.availability {
				float: left;
				margin-top: -5px;
				padding: 0 !important;
			}
			.basketTable .table td.price {
				clear: both;
				text-align: left;
				float: left;
				width: 80px;
			}
			.basketTable .table td.quantity {
				width: 100px;
				text-align: left;
				float: left;
				padding: 0 0 8px 0;
			}
			.basketTable .table td.price.total {
				display: none;
			}
				.basketTable .table td.total span {
					font-weight: normal;
				}
			.basketTable .table td.actions {
				float: right;
			}
	footer .col-sm-6 {
		width: 50%;
		float: left;
	}
}

@media only screen and (max-width : 480px) {
		body #mezikrok-modal .modal-dialog {
		width: 95%;
	}
	body #mezikrok-modal .modal-header,
	body #mezikrok-modal .modal-footer {
		padding: 10px 5px;
	}
	body #mezikrok-modal .modal-header {
		padding-top: 15px;
	}
	body #mezikrok-modal .modal-body,
	body #mezikrok-modal #product-image {
		display: none !important;
	}
	body #mezikrok-modal .modal-footer .btn {
		height: 30px !important;
		line-height: 30px;
		font-size: 14px;
		padding: 2px 6px;
	}
	body #mezikrok-modal .modal-footer .btn span {
		top: 0;
	}
	header h1 {
		width: 200px; height: 46px; line-height:46px;
		margin: 0 auto;
	}
		header h1 span {
			width: 200px; height: 46px; line-height:46px;
			background: url(../i/logo--mob.png) 0 0 no-repeat;
		}
	ul.listProdukty li > div {
		width: 100%;
	}
	.nav-tabs-productsort {
		display: none;
	}
	.listSubpages li {
		width: 100%;
	}
	.listSubpages li a {
		margin-right: 0;
	}
	.textContentIndex .boxVyhody li {
		width: 100% !important;
	}
	#webmex-carousel-1 {
		display: none;
	}

	.boxKosik .btn-green {
		float: left;
		margin-top: 5px;
		clear: both;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		padding: 2px !important;
	}
	.rowListProdukty .table td.img {
		display: none;
	}

	

	

	.basketTlacitka {
		margin: 15px 0 0 0;
	}
	.basketTlacitka .btn-green {
		width: 100%;
		padding: 10px 5px;
		font-size: 14px;
	}
	.basketPagination li {
		font-size: 11px;
		line-height: 1.2em;
		height: 65px;
		font-weight: normal;
	}
		.basketPagination li em {
			padding-top: 5px;
			display: inline-block;
			text-transform: none;
		}
	.basketVoucher .input-group {
		width: 100%;
	}
	.basketLeftPanel .list-item > .row > div:first-child {
		display: none;
	}
	.basketLeftPanel .list-item > .row > div.col-xs-2 {
		width: 25%;
	}
	.boxPoradime .img {
		float: none;
		text-align: left;
		width: 100%;
		clear: both;
	}
	.boxPoradime .img br {
		display: none;
	}
		.boxPoradime .img em:before {
			content: ' - ';
		}

	.row > .col-xs-12 .boxVyhody {
		display: none;
	}
	.input280, 
	.input120, 
	.input200 {
    	width: 100%;
	}	

}
@media only screen and (max-width : 410px) {
	footer .col-sm-6 {
		width: 100%;
	}
	.boxPoradime .img img {
		display: none;
	}
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
	@media screen and (max-width: 767px) {
	html,
	body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
	}
	.row-offcanvas {
	position: relative;
	-webkit-transition: all .25s ease-out;
	 -o-transition: all .25s ease-out;
	    transition: all .25s ease-out;
	}
	.row-offcanvas-right {
	right: 0;
	}
	.row-offcanvas-left {
	left: 0;
	}

	.row-offcanvas-right
	.sidebar-offcanvas {
	right: -100%;
	}

	.row-offcanvas-left
	.sidebar-offcanvas {
	left: -100%;
	}

	.row-offcanvas-right.active {
	right: 100%;
	}

	.row-offcanvas-left.active {
	left: 100%;
	margin-left: 0px;
	}

	.sidebar-offcanvas {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
	ba
	}
}