@colorBg: #ffffff;
@colorText: #424242;
@colorAct: #CB0423;
@colorBorder: #f7f7f7;

@colorMain: #CB0423;


.border-radius (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}
.border-box (@width: 1px) {
	border: @width solid #e5e5e5;
}

body {
	background: #fff;
	font-size: 12px;
	color: @colorText;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.container > .row.marginTop {
	margin-top: 40px;
}
.container > .row.marginTop > div {
	padding: 0;
}
.container > .row-offcanvas {
	background-color: @colorBg;
	padding-top: 15px;
}

h1 {
	margin: 20px 0;
	line-height: 1.2em;
	font-size: 32px;
	font-weight: bold;
	color: #242424;
}
h1.bg-primary {
	padding: 15px;
	.border-radius(5px);
	margin: 0 0 20px 0;
}
.containerContent {
	padding-bottom: 40px;
}
h2 {
	color: #474747;
	font-size: 22px;
	margin-bottom: 15px;
	font-weight: normal;
}
a {
	color: @colorMain;
}
.form-control {
	.border-radius(0);
}


/* header */
header {
	padding: 15px 0 0 0;
	background: transparent;
}

	header h1 {
		width: 291px; height: 67px; line-height:67px;
		position: relative;
		font-size: 20px;
		color: #393939;
		margin: 0; padding: 0;
		overflow: hidden;
		text-indent: -5000px;
		margin-bottom: 15px;
	}
		header h1 a {
			text-decoration:none;
		}
		header h1 span {
			width: 291px; height: 67px; line-height:67px;
			position: absolute;
			top: 0; left: 0;
			background: url(../i/logo.png) 0 0 no-repeat;
		}

	header form {
		margin: 15px 10px 0 10px;
	}
		header .input-group-btn > .btn {
			background-color: @colorAct;
			border-color: @colorAct;
			color: #fff;
			padding: 10px 20px;
			height: 44px; 
			font-size: 20px; line-height: 10px;
			border-left: 0;
		}
		header .input-group-btn > .btn:hover {
			background-color: #F20000;
		}
		header form .form-control {
			padding-top: 10px; padding-bottom: 10px;
			height: 44px;
			border:1px solid @colorMain;
			border-right: none;
		}
	header .cart {
		background: url(../i/ico_header_cart.png) 16px 16px no-repeat;
		display: table;
		border: 1px solid transparent;
	}	
	header .cart:hover {
		/*background-color: @colorAct;*/
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		border: 1px solid @colorAct;
	}
		header .cart:hover .cartContent {
			background-image:none; 
		}
		header .cart:hover a {
			text-decoration: none;

		}
		header .cart h3 {
			margin: 0; padding: 0;
			font-size: 17px;
			text-transform: uppercase;
			color: #242424;
			font-weight: bold;
		}
		header .cart a {
			color:#242424;
		}
		header .cart .cartContent {
			display: block;
			width: 100%;
			height: 80px;
			
		}
		header .cart .cartContent > a {
			padding: 18px 30px 12px 86px;
			display: block;
		}
		header .cart .cartObsah {
			font-size: 16px;
		}

/* .navbar-default */
.navbar {
	min-height: auto;
}
.navbar-mainnav {
	background-color: #fff;
	border: 0;
	margin: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 1px solid @colorBorder;
	border-top: 1px solid @colorBorder;
}
	.navbar-mainnav .navbar-collapse {
		padding: 0;
	}
	.navbar-mainnav ul {
		
	}

		.navbar-mainnav li a {
			border-right: 1px solid @colorBorder;
			color: #242424;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 500;
			padding: 7px 25px 7px 25px !important;
		}
		.navbar-mainnav li:first-child a {
			padding-left: 0 !important;
		}


.headerTop {
	z-index: 100;
	width: 100%;
	padding: 10px 15px 8px 15px;
	color:#242424;
	height: 40px;
	font-weight: 300;
	background-color: #EEEEEE;
}
	.headerTop .claim {
		float: left;
	}
	.headerTop .claim a {
		text-decoration: underline;
	}
	.headerTop a {
		color: #242424;
	}
		.headerTop ul {
			float: right;
		}
		.headerTop ul li a span.glyphicon {
			margin-right: 8px;
			color: #7f7f7f;
		}
	.headerTop em {
		color: #55bf30; 
		font-weight: bold;
		font-style: normal;
	}
	.headerTop .phone {
		display: inline-block;

		width: 15px; height: 15px;
		background: url(../i/ico_topheader_phone.png) 0 0 no-repeat;
		margin-right: 8px;
		position: relative;
		top: 3px;
	}




	/* zobrazcart */
	.zobrazcart {
	    background-color: #fff;
	    border: 1px solid @colorAct;
	    display: block;
	    height: auto;
	    position: absolute;
	    right: 15px;
	    top: 80px;
	    width: 450px;
	    z-index: 999;

	    border-radius: 6px;
	    border-top-right-radius: 0;
	}
		.zobrazcart h3.empty {
			padding: 15px 20px;
		}
		.zobrazcart table {
			margin-bottom: 0;
			padding:0;
			margin: 15px 0 8px 0; 
		}
			.zobrazcart table:first-child {

			}
			.zobrazcart table td,
			.zobrazcart table th {
				border-top: 0 !important;
				border-bottom: 1px solid @colorBorder;
			}
			.zobrazcart table tfoot td,
			.zobrazcart table tfoot th {
				border: 0 ;
			}
			.zobrazcart table td:first-child {
				padding-left: 20px;
			}
			.zobrazcart table td:last-child {
				padding-right: 20px;
			}
			.zobrazcart table a {
				text-decoration: underline;
			}
			.zobrazcart table a img {
				max-width: 40px;
				border-radius: 3px;
			}
			.zobrazcart table a:hover {
				text-decoration: underline;
			}
			.zobrazcart table .cena {
				white-space: nowrap;
				text-align: right;
			}
			.zobrazcart table .ks {
				text-align: center;
			}


.bannerTop {
	margin: 15px 0;
}

.asideBoxVyhody {
	margin: 30px 0 0 0;
	padding: 0;
	list-style-type: none;
	display: table;
	width: 100%;
}
	.asideBoxVyhody li {
		display: block;
		background: url(../i/ico_benefit.png) 0 0 no-repeat;
		color: #2d2d2d;
		font-size: 16px;
		padding-left: 80px;
		margin-bottom: 10px;
		min-height: 60px;
		line-height: 1.2em;
	}
	.asideBoxVyhody li strong {
		font-size: 20px;
		display: block;
		line-height: 1.3em;
		font-weight: 900;
		color: #242424;
	}
		.asideBoxVyhody li.bhv01 {
			background-position: 0 0px;
		}
		.asideBoxVyhody li.bhv02 {
			background-position: 0 -80px;
		}
		.asideBoxVyhody li.bhv03 {
			background-position: 0 -160px;
		}

.textContentIndex {
	font-size: 22px; 
}
	.textContentIndex h1 {
		color: #0e59a6;
		font-size: 26px;
		margin: 5px 0 0 0;
		font-weight: normal;
	}
	.textContentIndex .boxVyhody {
		margin: 30px 0; padding: 0;
		list-style-type: none;
		display: table;
		width: 100%;
	}
		.textContentIndex .boxVyhody li {
			width: 29%;
			font-size: 14px;
			float: left;
		}
		.textContentIndex .boxVyhody li:nth-child(3) {
			width: 22%;
		}
		.textContentIndex .boxVyhody li:nth-child(4) {
			width: 19%;
			float: right;
		}
			.textContentIndex .boxVyhody li img {
				float: left;
				display: block;
			}
			.textContentIndex .boxVyhody li span {
				padding-left: 50px;
				display: block;
			}
				.textContentIndex .boxVyhody li strong {
					display: block;
				}

	.row > .col-xs-12 .boxVyhody {
		margin: 0 0 40px 0; padding: 0;
		list-style-type: none;
		display: table;
		width: 100%;
	}
		.row > .col-xs-12 .boxVyhody li {
			width: 25%;
			font-size: 14px;
			float: left;
		}
		
			.row > .col-xs-12 .boxVyhody li img {
				float: left;
				display: block;
			}
			.row > .col-xs-12 .boxVyhody li span {
				padding-left: 50px;
				display: block;
			}
				.row > .col-xs-12 .boxVyhody li strong {
					display: block;
				}
/* aside */
aside h2 {
	font-size: 18px;
	color: #d90420;
	margin: 40px 0 0 0;
	font-weight: bold;
}

aside .navLeft { 
    margin: 0; padding: 0;
    background-color: #fff;
    border: 2px solid #d5e3ea;

}
	aside .navLeft ul {
		margin:0; padding: 0;
	}
		aside .navLeft li { 
		    list-style-type: none;
		    color: #3f3f3f;
		    font-size: 15px;

		}
		aside .navLeft > li > a { 
		    color: #2f2f2f;
		    display: block;
		    padding: 8px 10px 8px 40px;
		    background: transparent url('../i/ico_leftnav-l1.png') no-repeat 15px center;
		    border-bottom: 1px solid #d5e3ea;
		}
		aside .navLeft > li:last-child > a {
			border-bottom: 0;
		}
			aside .navLeft li.active > a {
				color: @colorAct;
				font-weight: bold;
				background: transparent url('../i/ico_leftnav-l1-act.png') no-repeat 15px center;
			}
			aside .navLeft li.active a {
				background-color: #e3f8f6;
			}
			aside .navLeft li li > a {
				display: block;
				padding: 8px 10px 8px 60px;
				background: transparent url('../i/ico_leftnav-l2.png') no-repeat 40px 15px;
				text-transform: none;
				border-bottom: 1px solid #d3d3d3;
				color: #2f2f2f;
			}
				aside .navLeft li li.active > a {
					background: #eff8fc url('../i/ico_leftnav-l2.png') no-repeat 40px 15px;
				}
				aside .navLeft li li li > a {
					color: @colorAct;
					display: block;
					padding: 8px 10px 8px 80px;
					background: transparent url('../i/ico_leftnav-l2.png') no-repeat 60px 15px;
					text-transform: none;
					border-bottom: 1px solid #d3d3d3;
				}
			
			aside .navLeft li a:hover {
				color: @colorAct;
			}


	aside h2.tabs-katvyr {
		margin:0;
	    border:2px solid #f2f2f2;
		float: left; 
		background-color: #fff;
	    padding: 12px 25px;
	    display: block;
	    font-size: 14px;
	    color: #3f3f3f;
	    text-align: center;
	    background-color: #f2f2f2;
	    font-weight: normal;
	    border-bottom: 0;
	    position: relative;
	    top:2px;

	}
	aside .menu-holder h2 {

	}
		aside .menu-holder h2 a {
			color: #242424;

		}
		aside  h2.tabs-katvyr-active {
			background-color: #fff;
			border:2px solid  #d5e3ea;
			border-bottom: 0;
			padding: 13px 25px;
		}
		aside  h2.tabs-katvyr-active a {
			background-color: #fff;
		    font-weight: bold;
		    color: #242424;
		}
.asideHeureka {
	margin: 25px 0 0 0;
}
 	.asideHeureka h2 {
 		color: #242424;
 		font-size: 17px;
 		line-height: 1.4em;
 		background: url(../i/ico_heureka.png) 0 0 no-repeat;
 		padding: 2px 0 2px 60px;
 		margin: 0 0 15px 0;
 	}
 		.asideHeureka h2 span {
 			display: block;
 			color: @colorAct;
 			font-size: 16px;
 		}
	.asideHeureka blockquote {
		margin: 0;
		padding: 15px 0 10px 0;
		border:none;
		border-top: 1px solid #bfe4f5;
		font-size: 13px;
		font-style: italic;
	}
	.asideHeureka blockquote:last-child {
		border-bottom: 0;
	}
		.asideHeureka blockquote p {
			margin: 0;
		}
		.asideHeureka blockquote .cite {
			display: table;
			width: 100%;
			margin: 8px 0 5px 0;
		}
		.asideHeureka blockquote cite {
			display: block;
			font-style: normal;
			margin-left: 10px;
			
		}
			.asideHeureka blockquote cite span {
				padding-left: 15px;
			}
		.asideHeureka blockquote .glyphicon-star {
			color: #e58017;
			font-size: 12px;
		}
	.asideHeureka .glyphicon-border {
		background-color: @colorMain;
		color: #fff;
		.border-radius(50%);
		font-size: 9px;
		padding: 3px;
		position: relative;
		top: -1px;
		margin-left: 8px;
	}

	.asideAnketa {
		margin-top: 30px;
		font-size: 13px;
	}
		.asideAnketa h2 {
			margin: 0;
			color: #1f4381;
		}
			.asideAnketa h2 span {
				border-bottom: 1px solid @colorAct;
				display: inline-block;
				width: 70%;
				padding-bottom: 8px;
			}
		.asideAnketa h3 {
			font-size: 14px;
			font-weight: bold;
		}
		.asideAnketa .line {
			border-top: 1px solid #bfe4f5;
			display: table;
			width: 100%;
			padding: 8px 0 0 0;
			margin: 5px 0;
		}
			.asideAnketa .line .pull-right {
				font-size: 18px;
				position: relative;
				top: -5px;
			}
			.asideAnketa .progress {
				width: 80%;
				float: left;
				margin-bottom: 0;
				background-color: transparent;
				box-shadow: none;
				height: 10px;
				border-radius: 0;
				position: relative;
				top: 5px;
			}
				.asideAnketa .progress-bar {
					background: url(../i/bg_anketa.png);
					line-height: 10px;
					height: 10px;
				}

/* 	navTop */
.navTop {
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #F6F6F6),
	color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(bottom, #F6F6F6 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #F6F6F6 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F6F6F6 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #F6F6F6 0%, #FFFFFF 100%);
	background-image: linear-gradient(to bottom, #F6F6F6 0%, #FFFFFF 100%);
	margin: 0 -15px;
	padding: 15px 15px 0 15px;
}
	.navTop ul {
		margin: 0; padding: 0;
		list-style-type: none;
	}

	.navTop ul li:last-child {
		margin-right: 0;
		width: 114px;
	}
	.navTop ul li:last-child a {
		width: 114px;	
	}
	.navTop ul li {
		display: inline-block;
		width: 109px;
		background-repeat: no-repeat;
		background-position: 0 0;
		
		margin-right: 5px;
		float: left;
		line-height: 3em;
		background-position: 50% 0;
	}
	.navTop ul li a {

		display: block;
		padding-top: 60px;
	}
	.navTop ul li span {
		background-color: #393939;
		display: block;
		padding: 5px;
		color:#fff;
		line-height: 1.1em;
		text-align: center;
		text-transform: uppercase;
		height: 3em;
		display:table-cell;
    	vertical-align: middle;
    	width: 108px;
	}
	.navTop ul li a:hover span,
	.navTop ul li.active span {
		background-color: #e2001a;
	}
	.navTop ul li a:hover {
		text-decoration: none;
	}
		.navTop ul ul {
			display: none;
		}


/* novinkyBox */
.novinkyBox {
	padding-right: 50px;
}
	.novinkyBox img {
		float: left;
		margin-right: 15px;
	}
	.novinkyBox h3 {
		font-size: 14px;
		margin: 0; padding: 0 0 10px 0;
		font-weight: bold;
		line-height: 1.4em;
	}
		.novinkyBox h3 a {
			color: #1f4381;
			text-decoration: none;
		}
	.novinkyBox .text {
		padding-left: 100px;
		font-size: 13px;
		line-height: 1.3em;
	}
	.novinkyBox a {
		color: @colorAct;
		text-decoration: underline;
	}
.novinkyTitle h2 {
	font-size: 18px;
	color: #1f4381;
	font-weight: bold;
	margin: 20px -15px 30px -15px;
	padding: 30px 15px 0 15px;
	border-top: 1px solid @colorBorder;
}





/* footer */

footer {
	background-color: #e3f8f6;
	padding: 40px 40px;
	color:#474747;
}
	footer a {
		color:#474747;
		text-decoration: none;
	}
	footer h3 {
		font-size: 14px;
		margin: 0 0 15px 0;
		padding: 0 0 15px 0;
		font-weight: bold;
		color: #1a6385;
		border-bottom: 3px solid #e3eff4;
	}
	footer ul {
		margin: 0 0 15px 0; padding: 0;
		list-style-type: none;
	}
		footer ul li {
			padding: 4px 0;
		}
		footer ul a {
			color:#474747;
			text-decoration: underline;
		}
			footer ul a:hover {
				color:#474747;
				text-decoration: none;
			}
.platbaImg {
	display: block;
	margin: 15px 0 30px 0;
	width: 100%;
}
.dopravaImg {
	margin: 0;
	max-width: 100%;
}
.footerBottom {
	color: #474747;
	padding: 20px 0;
	font-size: 12px;
	clear: both;
}
	.footerBottom a {
		color: #474747;
		text-decoration: none;		
	}
	.footerBottom div:last-child {
		text-align: right;
	}

.contentMain {
	clear: both;
	padding-top: 15px;
}

.boxNl {
	background-color: @colorMain;
	padding: 15px 0;
}

	.boxNl .input-group {
		width: 70%;
	}
	.boxNl .info {
		color: #fff;
		font-size: 18px;
		margin-bottom: 0;
		position: relative;
		top: 2px;
		
	}
	/*.boxNl .info:before {
		width: 25px; height: 27px;
		background: url(../i/ico_nl.png) 0 0;
		content: '';
		display: inline-block;
		top: 4px;
		position: relative;
		margin-right: 15px;
	}*/

/* listVyhody */
.listVyhody {
	margin: 30px 0;
	padding: 0 0 15px 0;
	list-style-type: none;
	border-bottom: 1px solid @colorBorder;
	display: table;
	width: 100%;
}
	.listVyhody li {
		display: block;
		width: 19%;
		padding: 0 1% 0 1%;
		color: #4f4f4f;
		text-align: center;
		font-weight: bold;
		float: left;
	}
		.listVyhody li i {
			background: url(../i/ico_vyhody.png) 0 0 no-repeat;
			display: block;
			width: 90px; height: 55px;
			margin: 0 auto 10px auto;
		}
			.listVyhody li i.listVyhody1 {
				background-position: 16px 0;
			}
			.listVyhody li i.listVyhody2 {
				background-position: -225px 0;
			}
			.listVyhody li i.listVyhody3 {
				background-position: -468px 0;
			}
			.listVyhody li i.listVyhody4 {
				background-position: -710px 0;
			}
			.listVyhody li i.listVyhody5 {
				background-position: -950px 0;
			}
	.listZnacky {
		display: table;
		width: 100%;
		margin-top: 40px;
	}
		.listZnacky li {
			width: 16.6%;
			height: 60px; line-height: 60px;
			float: left;
			display: inline-block;
			margin-bottom: 40px;
		}
		.listZnacky li img {
			margin: 0 auto;
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
		    filter: gray; /* IE6-9 */
		    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
		    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
		    -webkit-backface-visibility: hidden; /* Fix for transition flickering */

		}
		.listZnacky li img:hover {
			filter: none;
			webkit-filter: none; /* Chrome 19+ & Safari 6+ */
		    -webkit-transition: none; /* Fade to color for Chrome and Safari */	
		}
.contentIndex h3 {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
}

/* breadcrumb */
.breadcrumb {
	background-color: transparent;
	padding: 0;
	margin-left: 5px;
	font-size: 12px;
}
	.breadcrumb > li i.glyphicon {
		color:#c4c4c4;
	}
	.breadcrumb > li:first-child i.glyphicon-chevron-right {
		display: none;
	}
	.breadcrumb > li:first-child i.glyphicon-home {
		display: inline-block;
	}
	.breadcrumb > li i.glyphicon-home {
		display: none;
	}
	.breadcrumb > li i.glyphicon-line {
		font-size: 22px;
		position: relative;
		top: 4px;
	}
	.breadcrumb > li + li::before {
		content: '';
		padding: 0;
		display: inline-block;
	}

	.breadcrumb > li i {
		font-size: 10px;
		color: #868686;
		padding: 0 5px 0 2px;
		display: inline-block;
	}
	.breadcrumb li a {
		color: @colorText;
		text-decoration: none;
		display: inline-block;
		white-space: nowrap;
	}
	.breadcrumb li a:hover {
		text-decoration: underline;
	}
	.breadcrumb li:first-child {
		margin-left: -10px;
	}
	.breadcrumb li:last-child a {
		text-decoration: none;
	}


/* detail */
.detail > div {
	padding: 0;
}
	.detail h4 {
		font-weight: bold;
		font-size: 14px;
		margin-bottom: 8px;
	}
		.detail h4 span {
			font-size: 16px;
			font-weight: bold;
		}
	.detail h1 {
		margin-top: -5px;
		margin-bottom: 15px;
	}
	.detail p.sku {
		font-weight: bold;
	}
	.detail h2 {
		font-size: 16px;
		font-weight: 500;
		margin: 30px 0 15px 0;
	}
	.detail h3 {
		font-size: 22px;
		font-weight: 500;
		color: @colorText;
		margin-bottom: 15px;
		margin-top: 30px;
	}


	/* detailLeft */
	.detail > .detailLeft {
		padding-right: 30px;
	}
	.detail .nav-tabs {
		margin: 20px 0;
		border-bottom: 1px solid @colorBorder;
	}
		.detail .nav-tabs > li > a {
			border: none;
			padding: 0 0 10px 0;
			margin-right: 30px;
		}
		.detail .nav-tabs > li.active > a, 
		.detail .nav-tabs > li.active > a:hover, 
		.detail .nav-tabs > li.active > a:focus {
			background-color: transparent;
			color: @colorAct;
			border: none;
			border-bottom: 3px solid @colorAct;
			margin-top: -2px;
			position: relative;
			top: 2px;
		}
		.detail .nav-tabs > li > a:hover {
			background-color: transparent;
			color:@colorAct;
		}
	
	/* detailRight */
	.detail .detailRight .productStitky {
		margin-bottom: 15px;
		
	}

	.detail .features {
		margin: 0; padding: 0;
		list-style-type: none;
		width: auto;
	}
		.detail .features li {
			border-bottom: 1px solid @colorBorder;
			padding: 5px 20px;
		}
		.detail .features li:nth-child(odd) {
			background-color: #f4f4f4;
		}
			.detail .features li strong {
				font-weight: normal;
				display: block;
				width: 140px;
				float: left;
			}
			.detail .features li span {
				padding-left: 150px;
				display: block;
			}


	.detail .detailShortinfo {

	}
		.detail .detailShortinfo .text {
			float: left;
			border-right: 1px solid @colorBorder;
			padding-right: 10px;
			width: 70%;
		}
			.detail .detailShortinfo .text p {
				margin:0;
			}

		.detail .detailShortinfo .img {
			float: right;
			width: 30%;
			text-align: center;
		}
			.detail .detailShortinfo .img img {
				width: 98px;
				margin-top: 5px;
			}
	.detail .nav-tabs {
		border-bottom: none;
		margin-bottom: 0;
	}
		.detail .nav-tabs > li a,
		.detail .nav-tabs > li.active a,
		.detail .nav-tabs > li.active a:hover,
		.detail .nav-tabs > li.active > a:focus {
			background-color: #fff;
			border: 1px solid @colorBorder !important;			
			padding: 10px 20px;
			font-size: 18px;
			margin: 0;
			top:0;
			border-bottom: 1px solid #fff !important;
			margin-right: 10px;
		}
		.detail .nav-tabs > li a {
			border-bottom: 1px solid @colorBorder !important;	
		}
		.detail .nav-tabs > li.active a {
			font-weight: bold;
			border: 1px solid @colorBorder;
			
		}
	.detail .tab-content {
		border: 1px solid @colorBorder;
		padding: 15px;
	}

	.detail .detailList {
		margin: 15px 0 15px 0; padding: 0;
		list-style-type: none;
		border-top: 1px solid @colorBorder;
	}
		.detail .detailList li {
			border-bottom: 1px solid @colorBorder;
			padding: 5px 10px;
			display: table;
			width: 100%;
			line-height: 32px;
		}
			.detail .detailList li span {
				display: inline-block;
				width: 120px;
				float: left;
				font-weight: 500;
			}
			.detail .detailList li > div {
				float: left;
				width: 240px;
			}
			.detail .detailList li .form-control {
				height: 30px; line-height: 30px;
				padding: 0 10px;
			}
			.detail .detailList li strong {
				color: #e6344d;
			}



	.boxVlastnosti {
		margin: 20px 0 20px 0;
		display: table;
		width: 100%;
	}
		.boxVlastnosti ul {
			margin: 0; padding: 0;
			list-style-type: none;
		}
			.boxVlastnosti li {
				width: 20%;
				float: left;
				display: block;
				text-align: center;
			}
				.boxVlastnosti li span {
			 		background: url(../i/ico_boxvlastnosti.png) 0 0 no-repeat;
			 		width: 56px; height: 54px;
			 		display: block;
			 		margin: 0 auto 5px auto;
			 	}
			 	.boxVlastnosti li.bv2 span { background-position: -84px 0;}
			 	.boxVlastnosti li.bv3 span { background-position: -168px 0;}
			 	.boxVlastnosti li.bv4 span { background-position: -250px 0;}
			 	.boxVlastnosti li.bv5 span { background-position: -336px 0;}

/* detail_relatedProducts */
.detail_relatedProducts h2 {
	font-size: 16px;
	font-weight: bold;
}
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
.carouselRelatedProducts {
	border: 3px solid @colorBorder; 
}
	.carouselRelatedProducts .item {
		text-align: center;
	}
		.carouselRelatedProducts .item > div {
			border-right: 1px solid @colorBorder;
			padding: 10px;
		}
		.carouselRelatedProducts .item .img {
			display: block;
		}
		.carouselRelatedProducts .item img {
			max-width: 100%;
			height: auto;
		}
		.carouselRelatedProducts .item h3 {
			font-size: 12px;
			font-weight: 300;
			color: @colorText;
		}
		.carouselRelatedProducts .item strong {
			color: @colorText;
		}
	.carouselRelatedProducts .carousel-control.left,
	.carouselRelatedProducts .carousel-control.right {
		background-image:none;
	}
	.carouselRelatedProducts .carousel-control.left i,
	.carouselRelatedProducts .carousel-control.right i{
		background-color: #c9c9c9;
		margin: 0;
		font-size: 18px;
		width: 30px; line-height: 30px;
		position: relative;
		left: 0; top: 0;
		.border-radius(5px);
		opacity: 1;
	}
	.carouselRelatedProducts .carousel-control.left {
		margin-left: -15px;
	}
	.carouselRelatedProducts .carousel-control.right {
		margin-right: -15px;
	}
	.carouselRelatedProducts .carousel-control {
		width: 30px; height: 30px;
		top: 50%;
		margin-top: -15px;
		text-shadow: none;
		filter: alpha(opacity=100);
  		opacity: 1;
	}
	.carouselRelatedProducts .rs-carousel-action,
	.carouselRelatedProducts .rs-carousel-pagination {
		display: none;
	}

/* box_deliveryInfo */

.box_deliveryInfo {
	border: 1px solid @colorBorder;
	width: 100%;
	font-size: 13px;
	padding:5px 0 5px 0;
	margin-bottom: 15px;
}
	.box_deliveryInfo div {
		padding: 5px 15px 0 15px;
	}
	.box_deliveryInfo table {
		width: 100%;
	}
		.box_deliveryInfo table td,
		.box_deliveryInfo table th {
			border-bottom: 1px solid @colorBorder;
			padding: 5px 15px;
			font-weight: normal;
		}

		.box_deliveryInfo table td {
			text-align: right;
		}


/* boxFaq */
.boxFaq {
	margin: 20px 0;
}
	.boxFaq a {
  		.border-radius(10px);
  		background-color: #c4d1df;
  		box-shadow: inset 0px -1px 0px 0px rgba(146, 173, 201, 0.64);
  		display: inline-block;
  		color:@colorText;
  		padding: 5px 15px;
  		margin-right: 10px;
	}
	.boxFaq a:hover {
		background-color: rgba(146, 173, 201);
		text-decoration: none;
	}
.boxFaqProduct .boxFaq a {
	.border-radius(5px);
  	box-shadow: inset 0px -1px 0px 0px rgba(146, 173, 201, 0.64);
  	padding: 10px 35px 10px 50px;
  	background: #daeafa url(../i/ico_boxfaq.png) 10px 50% no-repeat;
}
	.boxFaqProduct .boxFaq a:hover {
		background-color: #c4d1df;
	}

/* detailImg */
.detailImg {

}


	.detailImg ul {
		margin: -15px -1% 15px 0; padding: 0;
		list-style-type: none;
		display: block;

	}
	.detailImg ul li:first-child {
		width: 100%;
		padding: 15px;
		margin-bottom: 10px;
		text-align: center;
		height: auto;
		position: relative;
	}
		.detailImg ul li:first-child a span {
			background: url(../i/ico_img.png) 0 0 no-repeat;
			display: block;
			width: 30px; height: 30px;
			position: absolute;
			bottom: 10px; right: 15px;
			z-index: 100;
		}
		.detailImg ul li:first-child a:hover span {
			background: url(../i/ico_img_hover.png) 0 0 no-repeat;
		}
			.detailImg ul li:first-child a {
				height: auto;
			}
				.detailImg ul li:first-child a img {
					top: 0;
					 transform: translateY(0%);
				}
	.detailImg ul li {
		border: 1px solid @colorBorder;
		width: 31.2%;
		height: 130px;
		overflow: hidden;
		padding: 5px;
		float: left;
		margin-right: 3%;
		margin-bottom: 10px;
	}
		.detailImg ul li a {
			display: block;
			height: 120px;
			text-align: center;
		}
			.detailImg ul li a img {
				position: relative;
			  top: 50%;
			  transform: translateY(-50%);
			}
		.detailImg ul li span {
			display: none;
		}
		.detailImg ul li:nth-child(4),
		.detailImg ul li:nth-child(7) {
			margin-right: 0;
			float: right;
		}
		.detailImg ul li img {
			max-width: 100%;
			display: inline-block;
		}
	.detailImg .allImgs {
		clear: both;
		text-align: right;
		font-size: 13px;
	}
		.detailImg .allImgs a {
			color: #303030;
		}

/* vypis produktu*/
.listSubpages {
	margin: 20px 0 0 0; padding: 0;
	display: table;
	width: 100%;
}
	.listSubpages li {
		display: inline-block;
		padding: 0; margin: 0;
			border: 1px solid @colorBorder;
			padding: 5px 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.listSubpages li a {
	
		color: @colorText;
		
		font-weight: normal;
		display: block;
	}
	.listSubpages li:nth-child(4n) a {
		margin-right: 0;
	}
	.listSubpages li h3 {
		font-size: 14px;
		margin: 0; padding: 0;
	}



/* listProdukty */
.rowListProdukty {
	margin: 0;
}
ul.listProdukty {
	display: table;
	width: 100%;
	margin-left: 1px;
}
	ul.listProdukty li {

	}
	ul.listProdukty li > div {
		padding:0;
		height: 100%;
		margin: 0;
	}

	.listProdukty .listProdukt {
  		border: 1px solid #f0f0f0;
		padding: 20px 20px 20px 20px;
		height: 100%;
		margin-left: -1px;
		margin-bottom: -1px;
	}
		.listProdukty .listProdukt h2 {
			font-size: 16px;
			margin: 8px 0 10px 0; padding: 0;
			line-height: 1.3em;
			text-align: center;
			height: 2.6em;
			overflow: hidden;
		}
			.listProdukty .listProdukt h2 a {
				color: @colorText;
			}
			.listProdukty .listProdukt:hover h2 a {
				color: @colorAct;
			}
	.listProdukty .listProdukt .img {
		height: 250px;
		overflow: hidden;
		display: block;
		position: relative;
	}

	.listProdukty .listProdukt .productStitky {
		position: absolute;
		bottom: 0;
		right: 0;
	}
		.listProdukty .listProdukt .productStitky span {
			display: block;
		}
	.listProdukty .dostupnost {
		font-weight: bold;
		margin-bottom: 8px;
	}
	.listProdukty .row {
		margin:0;
	}
	.listProdukty .row > div {
		padding: 0;
	}
	.listProdukty .cena {
		font-size: 20px;
		display: block;
		color: #373737;
	}
	.listProdukty  div.button img {
		margin-top: -10px;
	}
	.listProdukty .col-md-4 .hiddenDesc {
		position: absolute;
		left: 0;
		z-index: 100;
		border: 2px solid #c6c6c6;
		width: 100%;
		display: none;
		padding: 20px;
		color: #8e8e8e;
		background-color: #fff;
	}
	.listProdukty .col-md-4 .hiddenDesc span {
		background: #fff url(../i/bg_hiddendesc.png) 0 50% no-repeat;
		width: 29px; height: 17px;
		display: block;
		position: absolute;
		top: -12px; left: 50%;
		margin-left: -15px;
	}
	.listProdukty .col-md-4:hover .hiddenDesc {
		display: block;
	}
		.listProdukty .col-md-4 .hiddenDesc ul {
			list-style-type: none;
			margin: 0; padding: 0;
		}
		.listProdukty .col-md-4 .hiddenDesc ul li {
			padding: 3px 0;
		}
			.listProdukty .col-md-4 .hiddenDesc li strong {
				display: inline-block;
				width: 45%;
				font-weight: normal;
			}

.rowListProdukty .table {

}	
	.img {
		text-align: center;
		width: 100px;
	}
    .detail_relatedProducts .img {
		text-align: center;
		width: 250px;        
    }
	.rowListProdukty .table .img img {
		width: 80px;
		height: auto;
		max-height: 80px;
	}	
	.rowListProdukty .table input.form-control {
		width: 40px;
	}	
	.rowListProdukty h4 {
		font-size: 15px;
	}
	.rowListProdukty .table .price {
		white-space: nowrap;
	}

/* nav-tabs */
.nav-tabs {
	border-color: transparent;
}

		.nav-tabs-productsort > li:last-child a,
		.nav-tabs-productsort > li.active:last-child a {
			margin-right: 0;
		}

	.nav-tabs > li > a,
	.nav-tabs > li.active > a{
		margin-right: 5px;
		
	}
	.nav-tabs > li > a,
	.nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus {
		
		border: 0 !important;
	}
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:hover,
	.nav-tabs > li.active > a:focus {
		background-color: @colorAct;
		border-color:@colorAct;
		color:#fff;
	}
	.nav-tabs > li > a {
		color: @colorText;
		border-color: #f2f2f2;
		border-bottom: none;
		border-radius: 0;
		font-size: 16px;
		background-color: #f2f2f2;
	}
.nav-tabs-productsort {
	margin: 0 0 -2px 0;
}
.textContentPerex {
	padding-right: 15px;	
    overflow: hidden;
    max-height: 80px; 
}
	.textContentPerex.more { 
	    max-height: none; 
	}
	.textContentPerex a { 
	    position: absolute; 
	    bottom: -5px; 
	    right: 15px;
	}
		.textContentPerex a span {
			font-size: 11px;
			top: 2px;
			position: relative;
		}
	.textContentPerex p {
		margin-bottom: 0;
	}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.categoryTop {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid @colorBorder;
	display: table;
	width: 100%;

}
	.categoryTopLine {
		border-right: 1px solid #daeafa;
		padding-right: 15px;
		padding-bottom: 20px !important;
	}
	.categoryTop > div {
		padding: 0;
	}
	.categoryTop h1 {
		margin-top: -5px;
	}

.boxPoradime {
	
	padding: 0px 0 0 15px;
	display: table;
	width: 100%;

}
	.boxPoradime h4 {
		margin: 0;
		font-size: 16px;
		margin-top: 15px;
		margin-bottom: 15px;
		font-weight: bold;
	}
	.boxPoradime .tel {
		font-size: 18px;
		font-weight: bold;
		color: #55bf30;
		margin-top: 15px;
		background: url(../i/ico_phone.png) 0 50% no-repeat;
		padding: 2px 0 2px 30px;
	}
	.boxPoradime p a {
		font-weight: bold;
		text-decoration: underline;
	}
	.boxPoradime .img {
		float: right;
		width: 100px;
		margin-top: -15px;
		text-align: center;
	}
		.boxPoradime .img img {
			width: 100px;
		}

/* boxVyhody */


/* productFilter */
.productFilter {
  	border: 1px  solid #bfe4f5;
  	background-color: #f5fbfe;	
  	padding: 20px 20px 10px 20px;
  	margin: 10px 0 20px 0;
}
	.productFilter .buttons {
		display: none;
	}
	.productFilter label {
		font-weight: normal;
	}
	.productFilter .form-inline .checkbox {
		padding-right: 30px;
	}
	.productFilter .form-inline .checkbox.pull-right {
		padding-right: 0px;
	}
	.productFilter .filterColors {
		margin: 15px 0 0 0;
	}
		.productFilter .color {
			margin: 0;
		}
		.productFilter .color {
			display: inline-block;
			width: 30px; height: 30px;
			.border-radius(30px);
			margin-right: 3px;
		}
			.productFilter .color input {
				display: none;
				line-height: 22px; height: 22px; width: 30px;
				text-align: center;
			}
			.productFilter .color input:checked {
				display: block;
			}
	.productFilter .buttons {
		display: none;
	}
	.productFilter .form-inline {
		border-bottom: 1px solid #fff;
		padding-bottom: 15px;

	}
	.productFilter .form-inline .checkbox {
		padding-right: 30px;
	}
	.productFilter .form-inline .checkbox.pull-right {
		padding-right: 0px;
	}

	.productFilter .priceSlider {
		margin: 15px 0 0px 0;
		height: 30px;
	}
		.productFilter .priceSlider > span {
			width: 60px;
			float: left;
			text-align: center;
		}
		.productFilter .priceSlider #price-range-slider {
			float: left;
			width: 300px;
			margin: 3px 15px;
		}
			.productFilter .priceSlider .ui-widget-content {
				background-color: #c4c9cb;
				border:none;
			}
			.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  				border-radius: 5px;
  				background-image: -moz-linear-gradient( -90deg, rgb(215,215,215) 0%, rgb(239,239,239) 100%);
  				background-image: -webkit-linear-gradient( -90deg, rgb(215,215,215) 0%, rgb(239,239,239) 100%);
  				background-image: -ms-linear-gradient( -90deg, rgb(215,215,215) 0%, rgb(239,239,239) 100%);
  				box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.004),inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2);
  				height: 30px;
  				width: 20px;

  				top: -9px;
			}
			.productFilter .ui-widget-header {
				background-color: @colorMain ;
			}



/* */
.productsPagination {
	padding-bottom: 20px;
}
	.productsPagination .productsCount  {
		color: #919191;
		float: left;
		font-size: 13px;
		padding-top: 8px;
	}
	.productsPagination .pagination {
		margin: 0;
	}

/* boxKosik */
.boxKosik {
	background-color: #e3f8f6;
	padding: 15px 20px 15px 20px;
	margin: 0 0 0 0;
}
	.boxKosik .boxKosikCena {
		display: table;
		float: left;
		margin-right: 20px;
	}
		.boxKosik .boxKosikCena strong {
			font-size: 22px;
			font-weight: bold;
			display: block;
			line-height: 1.1em;
			color: @colorMain;
		}
	.boxKosik .btn-green {
		padding: 8px 15px;
		float: right;
		font-size: 16px;
	}
.boxStaraCena {
	margin: 8px 0;
}

/* boxKosikQty */
.boxKosikQty {
	float: left;
}
.boxKosikQty > input[type="text"] {
	width: 50px;
	height: 40px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	padding: 0;
	text-align: center;
	float: left;
	border: 1px solid #c2c2c2;
	border-right: 0px;
}
	.boxKosikQty .plus_minus {
		float: left;
		width: 30px;
		height: 40px;
		border: 1px solid #c3c3c3;
		-webkit-border-radius: 0px 5px 5px 0px;
		-moz-border-radius: 0px 5px 5px 0px;
		border-radius: 0px 5px 5px 0px;
		text-align: center;

		border-left: 0;
	}
	.boxKosikQty .plus_minus > a {
		display: block;
		font-size: 16px;
		color: #4a4a4a;
		line-height: 19px;
		text-decoration: none;
		background-color: #dcdcdc;
	}
	.boxKosikQty .plus_minus > a:hover {
		text-decoration: none;
		background-color: #eeeeee;
	}
	.boxKosikQty .plus_minus > a#qty_plus {
		border-bottom: 1px solid #c3c3c3;
		height: 19px;
	} 
	.boxKosikQty .plus_minus > a#qty_minus {
		border-bottom: 0px solid #c3c3c3;
		height: 19px;
	} 

/* boxBenefits */
.boxBenefits {
	background-color: #fff;
	margin: 15px 0 0 0; padding: 40px 30px;
	list-style-type: none;
	border-top:1px solid #cccccc;
}
	.boxBenefits li {
		width: 16.66%;
		float: left;
		padding: 0 10px;
		text-align: center;
		font-weight: bold;
		color: #585858;
	}
		.boxBenefits li img {
			padding-bottom: 10px;
			width: 100%;
		}

/* pagination */

.pagination > li > a{
	margin-left: 5px;
}
	.pagination > li > a, 
	.pagination > li > span {
		color:#2c2c2c;
		.border-radius(4px)
	}
	.pagination > .active > a, 
	.pagination > .active > span, 
	.pagination > .active > a:hover, 
	.pagination > .active > span:hover, 
	.pagination > .active > a:focus, 
	.pagination > .active > span:focus {
		background-color: @colorMain;
		border-color:@colorMain;
		color:#fff;
		font-weight: bold;

	}

/* basketCenaCelkem */
.basketSuccess {
		padding: 50px 50px;
		margin: 0;
		background: url(../i/ico_basketsuccess.png) 100% 50% no-repeat;
	}
		.basketSuccess h1 {
			font-size: 32px;
			color: @colorMain;
			margin: 0; padding: 0;
		}
		.basketSuccess p {
			font-size: 25px;
		}
.basket {
	padding: 25px 60px 25px 60px;

}
	.basket .table th {
		background-color: #ebebeb;
		font-weight: 500;
		white-space: nowrap;
	}
	.basket .table th,
	.basket .table td {
		padding: 8px 15px;
		border-top:0;
		border-bottom: 1px solid #ddd;
	}
	.basket .table .name a{
		color: #313131;
	}
	.basket .table .availability {
		font-weight: bold;
	}
	.basket .table .actions a {
		color:#9c9c9c;
	}

.basketCenaCelkem {
	padding: 0 20px;
	margin: 0 -15px 15px -15px;
}
	.basketCenaCelkemDph strong {
		width: 150px;
		display: inline-block;
		padding-left: 20px;
	}
	.basketCenaCelkem .basketCenaCelkemDph strong {
		font-size: 18px;
		font-weight: normal;
	}
		.basketCenaCelkem .basketCenaCelkemDph strong.total {
			color: #4694e6;
			font-size: 20px;
			font-weight: bold;
		}

	.freeShipping {
		margin-top: 8px;
	}
	.freeShipping em {
		font-weight: bold;
		font-style: normal;
	}
	.freeShipping strong {
		color: #15a215;
	}
	.doprava-zdarma-bar {
		padding-left: 40px;
	}
	.freeShipping .doprava-zdarma-line {
		width: 100%;
		height: 20px;
		background-color: #EEEEEE;
	    border-radius: 3px;
	    margin: 10px 0;
	    /*margin-left: 40px;*/
	}
	.freeShipping .doprava-zdarma-line:before {
		background: url(/etc/modules/mezikrok/template/kvalitnidestniky.cz/resources/i/ico_doprava.png);
		width: 26px; height: 19px;
		position: absolute;
		left: 20px;
		display: inline-block;
		content: '';
	}

.freeShipping .doprava-zdarma-line .doprava-zdarma-line-value {
	height: 20px;
	background-color: #4694e6;
    border-radius: 3px;
}
.basketTlacitka {
	margin-top: 30px;
	display: table;
	width: 100%;
}
	.basketTlacitka .btn-green {
		font-size: 18px;
		padding: 15px 30px;
		margin-left: 15px;
	}
	.basketTlacitka .btn-green .glyphicon {
		padding-left: 15px;
	}
	.basketTlacitka .btn-default {
		margin-top: 14px;
		border:none;
		font-size: 14px;
	}
	


	.basketVoucher h4 {
		font-size: 14px;
	}
		.basketVoucher .input-group {
			width: 280px;
		}
			.basketVoucher .input-group .btn {
				background-color: #cccccc;
				color: #fff;
			}

/* basketLeftPanel */
.panel {
	.border-radius(0);
}
.basketLeftPanel .panel-heading {
	padding: 15px;
	background-color: transparent;
	border-bottom: 0;
}
	.basketLeftPanel .panel-heading h3 {
		margin:0;
		color: #1a466e;
		text-transform: uppercase;
		font-size: 18px;
	}
	.basketLeftPanel .panel-heading h4 {
		margin:0;
		color: #8a8a8a;
		font-size: 18px;
	}
	.basketLeftPanel .list-item {
		width: 100%;
		border-top: 1px solid @colorBorder;
		padding: 10px 0 10px 0;
		margin-bottom: -6px;
		background-repeat: no-repeat;
		font-weight: normal;
		background-position: 10px 50%;
	}
	.basketLeftPanel .list-item.active {
		background-color: #e7e7e7;
	}
		.basketLeftPanel .list-item > .row {
			margin:0;
		}
			.basketLeftPanel .list-item > .row > div {
				padding: 0 8px;
			}
				.basketLeftPanel .list-item > .row > div.text-center
				.basketLeftPanel .list-item > .row > .col-xs-6 {
					padding-right: 0;
				}
			.basketLeftPanel .list-item div.text-center img {
				margin: 0 auto;
			}
		

	.basketLeftPanel .list-item:last-child {
		border-bottom: none;
	}
	.basketLeftPanel .list-item .col-md-3 {
		text-align: right;
	}nter
	.basketLeftPanel .list-item .col-md-2 input {
		margin: 0 auto;
	}
	.basketLeftPanel .list-item .info-order-link {
		.border-radius(50%);
		display: inline-block;
		width: 15px;
		height: 15px; line-height: 15px;
		text-align: center;
		background-color: #918f8f;
		color: #fff;
	}
		.basketLeftPanel .list-item .info-order-link:hover {
			text-decoration: none;
		}
	.basketLeftPanel .tooltip-inner {
		background-color: #f5f5f5;
		color: #000;
		max-width: 350px;
		width: 350px;
		padding: 15px;
		text-align: left;
	}
		.basketLeftPanel .tooltip .tooltip-arrow {
			border-right: 5px solid #f5f5f5 !important;
		}





/* basketRightPanel */	
.basketRightPanel .panel{
	background-color: #f4f4f4;
	margin-bottom: 0;
	border-bottom: none;
	border-radius: 0;
	box-shadow: 0;
}
	.basketRightPanel .panel-heading {
		padding: 15px 15px 15px 15px;
		background-color: transparent;
		border-bottom: 0;
		border-radius: 0;
		border-bottom: 1px solid #ddd;
	}
		.basketRightPanel .panel-heading h3 {
			font-size:20px;
			margin: 0;
			font-weight: bold;

		}
	.basketRightPanel .delivery {
		margin-bottom: 15px;

	}
	.basketRightPanel .basketPanelCena-celkem,
	.basketRightPanel .basketPanelKontakt {
		border-bottom: 1px solid #ddd;
	}
	.basketRightPanel .basketPanelKontakt {
		background-color: transparent;
		margin-bottom: 20px;
	}
	.basketRightPanel .basketPanelKontakt .panel-body {
		padding: 20px 20px 0 20px; 
	}
		.basketRightPanel .basketPanelKontakt .boxPoradime {
			border: 0;
			padding: 0;
		}
		.basketRightPanel .basketPanelKontakt h4 {
			font-size: 15px;
			margin: 0 0 10px 0;
		}
		.basketRightPanel .basketPanelKontakt .boxPoradime a {
			font-weight: normal;
		}
		.basketRightPanel .basketPanelKontakt .boxPoradime .img {
			float: left;
			margin-top: 0px;
			margin-right: 20px;
			width: 80px;
		}
			.basketRightPanel .basketPanelKontakt .boxPoradime .img img {
				width: 100%;
			}
		.basketRightPanel .basketPanelKontakt .glyphicon {
			margin-right: 8px;
		}
			.basketRightPanel .basketPanelKontakt p.phone {
				color: #14b227;
				font-size: 18px;
				margin-bottom: 5px;
			}
			.basketRightPanel .basketPanelKontakt p.email {
				color: #14b227;
				margin-bottom: 5px;
			}
			.basketRightPanel .basketPanelKontakt a {
				color: #14b227;
			}
	.basketPanelKosik .table {
		margin-bottom: 0;
	}
		.basketPanelKosik .table td {
			border-bottom: 0;
			padding: 5px 0px; 
		}
			.basketPanelKosik .table td.text-right {
				white-space: nowrap;
				padding-left: 5px;
			}

	.basketRightPanel .basketPanelCena-celkem strong {
		color: @colorMain;
		font-size: 24px;
	}


.basket .panelForm {
	border:1px solid transparent;
	background-color: #fff;
	box-shadow: none;
	padding: 0;
	margin-bottom: 0;
}
.basket .panelForm .panel-body {
	padding: 0;
}
	.panelForm .panel-heading {
		background-color: transparent;
		padding: 0;
		border-bottom: 0;
	}
			.panelForm .panel-heading h3 {
				color: #1a466e;
				font-size: 18px;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: 15px;
			}
	.panelForm .form-inline {
		padding: 0;
	}
	.panelForm .form-inline .form-group {
		width: 49%;
		margin-bottom: 15px;
	}
	.panelForm .form-inline .form-group input.form-control,
	.panelForm .form-inline .form-group select.form-control {
		width: 90%;
	}
	.panelForm .form-inline textarea.form-control {
		width: 95%;
	}

	.basketPanelDoprava .name {
		font-weight: bold;
	}

/* basketPagination */
.basketPagination {
	width: 100%;
	display: table;
	margin: 15px 0 30px 0; padding:0;
	list-style-type: none;
}
	.basketPagination li {
		width: 25%;
		display: block;
		float: left;
		font-size: 20px;
		border: 1px solid @colorBorder;
		padding: 0;
		line-height: 30px;
		border-right-width: 0;
		font-size: 14px;
		
		text-transform: uppercase;
		font-weight: bold;
	}
	.basketPagination li span {
		background-color: #b3b3b3;
		display: inline-block;
		padding: 7px 25px;
		font-weight: bold;
		color:#fff;
		border-right: 1px solid #b3b3b3;
		font-size: 24px;
		margin: -1px 10px -1px 0;
	}

	.basketPagination li em {
		position: relative;
		top: -3px;
		font-style: normal;
	}
		.basketPagination li a:hover {
			text-decoration: none;
		}
	.basketPagination li:last-child {
		border-right-width: 1px !important; 
	}
	.basketPagination li.active span {
		background-color: @colorAct;
		border-right-color: @colorAct; 
	}
	.basketPagination li.active {
		/*background-color: #e1eefc;*/
		color: @colorAct;
	}
/* basketTable */
.basket table {
	
}
	.basket table th {
		white-space: nowrap;
	}
	.basket table td.name,
	.basket table td.price {
		font-size: 16px;
	}
	.basket table td.quantity {
		width: 120px;
	}
	..basket table td.price {
		text-align: right;
	}
	.basket table td.price.total {

	}


.input280 {
    width: 280px;
}
.input120 {
    width: 120px;
}
.input200 {
    width: 200px;
}	


/* productStitky */
.productStitky span {
	padding: 3px 10px;
	.border-radius(0);
	color: #fff;
	margin: 0 5px 5px 0;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
}
	.productStitky span.sleva {
		background-color: #00a757;
	}

/* btn */
.btn-green {
  border-radius: 3px;
  background-color: @colorMain;
  box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.24);
  color: #fff !important;
  font-weight: bold;
}
	.btn-green:hover {
		background-color: #F20000;
	}
.btn-red {
  border-radius: 3px;
  background-color: @colorAct;
  box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.24);
  color: #fff !important;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}
	.btn-red:hover {
		background-color: #2488b7;
	}
	.btn-red.btn-lg {
		padding: 15px 35px;
	}
.btn-primary {
	background-color: #F20000;
	border-color: #F20000;
}
	.btn-primary:hover {
		background-color: @colorMain;
		border-color: @colorMain;
	}

.event {display: none;}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: middle;
}
.display-none {
	display: none;
}

/* mnfCarousel */
#mnfCarousel {
	margin: 15px 0 15px 0;
	padding: 10px 15px;
}
		#mnfCarousel .viewport {
			height: 60px;
		}
		#mnfCarousel .overview {
			width: 100%;
		}
			#mnfCarousel .overview li {
				border:none;
				width: auto;
				padding: 0 30px;
				margin: 0;
				height: 60px;
				text-align: center;
			}
			#mnfCarousel .overview li img {
				margin: 0 auto;
			}
		#mnfCarousel .buttons {
			z-index: 100;
			width: 18px; height: 30px;
			color: #cccccc;
			top: 0;
			background-color: transparent;
			height: 80px; 
			.border-radius(0);
		}
			#mnfCarousel .next {
				border-right: 1px solid #e9e9e9;
			}
			#mnfCarousel .prev {
				border-left: 1px solid #e9e9e9;
			}
			#mnfCarousel .buttons .glyphicon {
				width: 18px; height: 30px;
				background: url(../i/ico_arrow_mnfcarouslel.png) 0 0 no-repeat;
				position: absolute;
				top: 50%;
				margin-top: -20px;
			}
				#mnfCarousel .prev .glyphicon {
					left: -1px;
				}
				#mnfCarousel .next .glyphicon {
					background-position: 0 -30px;
					right: -1px;
				}


.webmex-carousel img {
	width: 99.9%;
}
body .webmex-carousel .buttons.next {
	right: 5px;

}
body .webmex-carousel .buttons.prev {
	left: 5px;

}


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }

hr {margin:5px 0;}

iframe[name='google_conversion_frame'] {
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}

/* show/hide */
button.btn {
    .show-ctrl {
        display: none;
    }
    .hide-ctrl {
        display: block;
    }
    &.collapsed {
        .show-ctrl {
            display: block;
        }
        .hide-ctrl {
            display: none;
        }
    }
}

.voucherInfo a:hover {
	text-decoration: none;
}

.carousel-control {
	width: 50px;
	margin: 0;
}
.carousel-control.left, .carousel-control.right {
	margin-left: 0;
}
.carousel-control .glyphicon {
	color: #666;
}

#heureka_reviews_box div#heureka_reviews_box  {
    width: 100%;
}

#heureka_reviews_box div.box_rev {
    margin-bottom: 2em;
    border-top: 1px solid #CECECE;
    float: left;
}

#heureka_reviews_box div#user_img_box {
    width: 64px;
    height: 65px;
    border-color: #FFFFFF;
    text-align: center;
    float: left;
    margin-top: 1em;
    margin-left: 1em;
    background: url("../i/heureka/overeny-zakaznik.gif");
}

#heureka_reviews_box p#cust_img_description {
   margin-top: 6em;
}

#heureka_reviews_box p#cust_img_description span {
   font-weight: bold;
}

#heureka_reviews_box #rev_text {
    margin-left: 8em;
    margin-top: 0em;
/*    text-align: justify;*/
}


#heureka_reviews_box .pros {
    color: #539B15 !important;
    margin-top: 2em;  
}

#heureka_reviews_box .cons {
    color: #BF2222 !important;
    margin-top: 2em;  
}

#heureka_reviews_box .pros h2, .cons h2 {
  width: 3.2em;
  font-size: 1em;
  float: left;
  margin: 0 0 10px 0;
  padding: 0;
}

#heureka_reviews_box .pros p, .cons p {
  margin-left: 4em;
}

#heureka_reviews_box .pros h2 {
    color: #539B15 !important;
}

#heureka_reviews_box .cons h2 {
    color: #BF2222 !important;
}


#heureka_reviews_box .our-reaction {
  margin-top: 0.5em;
  font-style: italic;
  color: #333333;
  display: block;
  float: left;
}

#heureka_reviews_box .our-reaction h2 {
  margin-top: 0em;
  font-style: normal;
  width: 15em;
  color: #289AEE;
  font-size: 1em;

}

#heureka_reviews_box .eval .rating {
    height: 20px;
    width: 100px;
}

#heureka_reviews_box .eval .rating .over {
    background: url("../i/heureka/stars_pl_20.gif") no-repeat scroll 0 -20px transparent;
    height: 20px;
    width: 100px;
}

#heureka_reviews_box .eval .rating span span  {
    background: url("../i/heureka/stars_pl_20.gif") no-repeat scroll 0 0px transparent;
    height: 20px;
    float:left;
}

#heureka_reviews_box .rating .over {
    background: url("../i/heureka/stars_pl.gif") no-repeat scroll 0 -12px transparent;
    display: block;
    float: left;
    height: 12px;
    width: 65px;
}

#heureka_reviews_box .rating .over span {
    background: url("../i/heureka/stars_pl.gif") no-repeat scroll 0 0 transparent;
    float: left;
    height: 12px;
}



#heureka_reviews_box .rating .hidden {
    display: none;
}

#heureka_reviews_box .stars span {
    color: #666666;
}

#heureka_reviews_box .stars li.eval {
    height: 24px;
    padding: 0 50px;
}

#heureka_reviews_box .stars {
    float: right;
    background-color: #EEEEEE;
    padding: 0.5em;
    margin-left: 1em;
    margin-bottom: 1em;
}

#heureka_reviews_box .stars li {
    list-style-type: none;
    margin-left: 0;
}

#heureka_reviews_box .stars li {
    height: 24px;
    padding: 0 0px;
}

#heureka_reviews_box li {
    line-height: 1.5em;
}

#heureka_reviews_box .eval .rating {
    height: 20px;
    width: 100px;
}

#heureka_reviews_box #summary_text {
  margin-top: 0.5em;
}
.page404 h2 {
	color: @colorMain;
	font-weight: bold;
	line-height: 1.2em;
	margin-top: 0;
	margin-bottom: 25px;
}
.page404 ul li .glyphicon {
	font-size: 10px;
	font-weight: normal;
	padding-right: 8px;
}
.page404 ul li a {
	text-decoration: underline;
}

