<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><style>
	h3 label {
		font-weight: normal;
	}
	h3 label input {
		margin: 0 3px 0 15px !important;
	}
	.form .inputwrap {
		width: 505px;
	}
	.activebox {
		background: #f0f0f0;
		padding: 10px 10px 7px 10px;
		margin-bottom: 10px;
	}
	.activebox .inputwrap {
		margin-bottom: 0 !important;
	}
</style>

<form class="form" action="<?php echo url('admin/customers/edit/'.$customer['id'])?>" method="post">

	<h2><a href="<?php echo url('admin/customers')?>"><?php echo __('customers')?></a> &rsaquo; <?php echo $customer['first_name'].' '.$customer['last_name']?></h2>

	<div class="buttons tbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>
	
	<div class="clearfix">

		<div style="width:48%;float:left;margin-right:30px;">
			<h3><?php echo __('billing_address')?></h3>
			
			<fieldset class="activebox">
				<?php echo forminput('checkbox', 'active', $customer['active'], array('label' => __('customer_active')))?>
			</fieldset>
			
			<fieldset class="inline">
				<?php echo forminput('text', 'first_name', $customer['first_name'])
				.forminput('text', 'last_name', $customer['last_name'])?>
			</fieldset>
			
			<fieldset class="inline">
				<?php echo forminput('text', 'company', $customer['company'])
				.forminput('text', 'company_id', $customer['company_id'])
				.forminput('text', 'company_vat', $customer['company_vat'])?>
			</fieldset>
			
			<hr class="hline" />
			
			<fieldset class="inline">
				<?php echo forminput('text', 'email', $customer['email'])
				.forminput('text', 'phone', $customer['phone'])?>
			</fieldset>
			
			<hr class="hline" />
			
			<fieldset>
				<?php echo forminput('text', 'street', $customer['street'])?>
			</fieldset>
			
			<fieldset class="inline">
				<?php echo forminput('text', 'city', $customer['city'])
				.forminput('text', 'zip', $customer['zip'])
				.forminput('text', 'country', $customer['country'])?>
			</fieldset>
			
		</div>
		
		<fieldset style="width:48%;float:left;">
			<h3>
				<?php echo __('shipping_address')?> 
				<label><input type="checkbox" name="shipping_as_billing" value="1" class="input-checkbox"<?php echo (! $customer['ship_street'] ? ' checked="checked"' : '')?> /> <?php echo __('shipping_as_billing')?></label>
			</h3>
			
			<div id="shippingaddr">
				<fieldset class="inline">
					<?php echo forminput('text', 'ship_first_name', $customer['ship_first_name'], array('label' => __('first_name')))
					.forminput('text', 'ship_last_name', $customer['ship_last_name'], array('label' => __('last_name')))?>
				</fieldset>
				
				<fieldset>
					<?php echo forminput('text', 'ship_street', $customer['ship_street'], array('label' => __('street')))?>
				</fieldset>
				
				<fieldset class="inline">
					<?php echo forminput('text', 'ship_city', $customer['ship_city'], array('label' => __('city')))
					.forminput('text', 'ship_zip', $customer['ship_zip'], array('label' => __('zip')))
					.forminput('text', 'ship_country', $customer['ship_country'], array('label' => __('country')))?>
				</fieldset>
			</div>
		</fieldset>
	</div>
	
	<div class="clearfix">
		
		<hr class="hline" />
		
		<fieldset class="inline clearfix">
			<?php echo forminput('password', 'password1', '', array('premium' => true))
			.forminput('password', 'password2', '', array('premium' => true))?>
		</fieldset>
		
		<hr class="hline" />
		
		<fieldset class="inline clearfix">
			<?php echo forminput('text', 'discount', $customer['discount'], array('cls' => 'short', 'label' => __('discount_percent')))
			.forminput('select', 'customer_group_id', $customer['customer_group_id'], array('label' => __('price_group'), 'options' => $groups))?>
		</fieldset>
        
		<fieldset class="inline clearfix">  
            <?php 
            $i=0;
            
            echo '<div class="inputwrap clearfix">';
            echo '<label style="float: left; margin-right: 10px; line-height: 30px;">'.__('categories').'/'.__('discount').'[%]</label> <select size="1" name="discount_page_'.$i.'" style="float: left; padding: 5px 4px; margin-right: 10px">';
                echo $pagetree;
            echo '</select>';
            echo ' <input type="text" class="input-text short" name="dpp_'.$i.'" value="" />';
            echo '</div>';

            $i++;
            
            foreach($discount_pages as $dp) {
                echo '<div class="inputwrap clearfix">';
                echo '<label style="float: left; margin-right: 10px; line-height: 30px;">'.__('categories').'/'.__('discount').'[%]</label> <select size="1" name="discount_page_'.$i.'" style="float: left; padding: 5px 4px; margin-right: 10px">';
                    echo $dp['tree'];
                echo '</select>';
                echo ' <input type="text" class="input-text short" name="dpp_'.$i.'" value="'.$dp['discount'].'" />';
                echo '</div>';                
                
                $i++;
            }
            
            ?>
		</fieldset>
	</div>
	
	<div class="buttons bbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

	
</form>

<script>
	$(function(){
		var toggleShipForm = function(enable){
			var f = $('#shippingaddr');
			
			if(! enable){
				f.find('input').attr('disabled', true);
				f.css('opacity', 0.5);
				
			}else{
				f.find('input').removeAttr('disabled');
				f.css('opacity', 1);
			}
		}

		var inp = $('input[name=shipping_as_billing]');

		inp.bind('click', function(){
			toggleShipForm(! this.checked);
		});

		toggleShipForm(! inp.is(':checked'));
	});
</script>