<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><a href="<?php echo url('admin/customers/edit/0')?>" class="addbtn"><?php echo __('new_customer')?></a>

<h2><?php echo __('customers')?></h2>

<form class="form" action="<?php echo url('admin/customers')?>" method="get">
	<?php if(Core::$fix_path): ?>
	<input type="hidden" name="uri" value="<?php echo Core::$orig_uri?>" />
	<?php endif; ?>

	<div class="gridsearch">
		<fieldset class="clearfix label-left">
			<?php echo forminput('text', 'search', ! empty($_GET['search']) ? $_GET['search'] : '')
			.forminput('select', 'category', ! empty($_GET['category']) ? $_GET['category'] : '', array('options' => $groups))?>

			<button type="submit" class="button"><?php echo __('search')?> &rsaquo;</button>
		</fieldset>
	</div>
</form>

<form class="form gridform" action="<?php echo url('admin/customers')?>" method="post">

	<div class="buttons clearfix">
		<?php echo gridpagination($total_count)?>
	</div>

	<table class="datagrid">
		<thead>
			<tr>
				<td class="rowselect center input" width="20">
					<input type="checkbox" name="all" value="1" class="check-all" />
				</td>
				<td class="right<?php echo ($order_by == 'id' ? ' sort-'.$order_dir : '')?>" width="40"><a href="<?php echo url(true, array('sort' => 'id', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('id')?></a></td>
				<td class="<?php echo ($order_by == 'last_name' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'last_name', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('fullname')?></a></td>
				<td width="120" class="<?php echo ($order_by == 'company_id' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'company_id', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('company_id')?></a></td>
				<td class="<?php echo ($order_by == 'email' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'email', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('email')?></a></td>
				<td class="<?php echo ($order_by == 'phone' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'phone', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('phone')?></a></td>
				<td width="140" class="<?php echo ($order_by == 'customer_group_id' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'customer_group_id', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('price_group')?></a></td>
				<td width="120"><?php echo __('orders')?></td>
				<td width="110" class="center<?php echo ($order_by == 'active' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'active', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('active')?></a></td>
				<td class="actions">&nbsp;</td>
			</tr>
		</thead>

		<tbody>
			<?php if(! count($customers)): ?>
				<tr class="norecords">
					<td colspan="9"><?php echo __('no_records')?></td>
				</tr>
			<?php endif; ?>

			<?php foreach($customers as $customer): ?>
				<tr>
					<td class="rowselect center input">
						<input type="checkbox" name="item[<?php echo $customer['id']?>]" value="1" />
					</td>
					<td class="right"><?php echo $customer['id']?></td>
					<td><a href="<?php echo url('admin/customers/edit/'.$customer['id'])?>"><?php echo $customer['first_name'].' '.$customer['last_name']?></a></td>
					<td><?php echo $customer['company_id']?></td>
					<td><?php echo $customer['email']?></td>
					<td><?php echo $customer['phone']?></td>
					<td><?php echo $customer->customer_group['name']?></td>
					<td><a href="<?php echo url('admin/orders?customer='.$customer['id'])?>"><?php echo __('orders')?> &rsaquo;</a></td>
					<td class="center"><?php echo __($customer['active'] ? 'yes' : 'no')?></td>

					<td class="actions">
						<a href="<?php echo url('admin/customers/edit/'.$customer['id'])?>" class="edit" title="<?php echo __('edit')?>">&nbsp;</a>
						<a href="<?php echo url('admin/customers/delete/'.$customer['id'])?>" class="delete" title="<?php echo __('delete')?>">&nbsp;</a>
					</td>
				</tr>
			<?php endforeach; ?>
		</tbody>
	</table>

	<div class="buttons buttons-foot clearfix">
		<select name="action" class="action">
			<option disabled="disabled" selected="selected"><?php echo __('marked_action')?></option>
			<option value="delete"><?php echo __('delete')?></option>
		</select>

		<?php echo gridpagination($total_count)?>
	</div>

</form>


<script>
	$(function(){
		$('.check-all').bind('click', function(){
			var inputs = $(this).parents('table:first').find('tbody').find('input[type="checkbox"]');

			if(this.checked){
				inputs.attr('checked', true);

			}else{
				inputs.removeAttr('checked', true);
			}
		});

		$('select[name="action"]').bind('change', function(){
			var action = $(this).val();
			var form = $(this).parents('form:first');

			if(action == 'delete'){
				if(confirm(_lang.confirm_delete)){
					form.submit();
				}else{
					$(this).val('');
				}

			}else{
				form.submit();
			}
		});
	});
</script>