<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>
<style>
	p.help {
		margin-bottom: 15px;
	}
	.columns {
		background: #f4f4f4;
		padding: 5px;
		border: 1px solid #ddd;
		height: 250px;
		overflow: auto;
	}
	.columns label {
		display: block;
		padding: 3px 0;
	}
	.columns label input {
		margin: 0 5px 0 0;
		vertical-align: middle;
	}
</style>
<form class="form" action="<?php echo url('admin/dataexport/download')?>" method="post">

	<a href="<?php echo url('admin/dataexport/download')?>" class="rightbtn"><?php echo __('dataexport_all')?></a>

	<h2><?php echo __('dataexport')?></h2>

	<div class="clearfix">

		<p class="help"><?php echo __('dataexport_help')?></p>

		<fieldset class="inline">
			<?php echo forminput('select', 'type', 'ods', array('options' => array(
				'xml' => 'XML',
				'csv' => 'CSV',
				'ods' => 'ODS'
			), 'label' => __('format')))
			.forminput('select', 'category', '0', array('options' => $categories))?>
		</fieldset>

		<div class="columns">
			<?php foreach($fields as $key => $name): ?>
			<label>
				<input type="checkbox" name="cols[]" value="<?php echo $key?>"<?php echo (in_array($key, $checked) ? ' checked="checked"' : '')?> /><?php echo $name?>
			</label>
			<?php endforeach; ?>
		</div>

		<div class="buttons bbar">
			<button type="submit" class="button" name="send"><?php echo __('export')?> &rsaquo;</button>
		</div>


	</div>

</form>


<script>
	$(function(){

	});
</script>
