<?php 
use Nette\Utils\Strings;
?>

{if $page['enable_filter'] && $features}
	{var $_order_options = ['name', 'price', 'default']}
	{var $_producers = isSet($_GET[p])? (array)$_GET[p]: []}
	{var $_features = isSet($_GET[f])? (array)$_GET[f]: []}

	<div class="filtr">
		<form action="{url(true)}" method="get" class="formular clearfix">
			<input n:if="isSet($_GET[uri]) && !Core::$use_htaccess" type="hidden" name="uri" value="<?php echo $_GET[uri]?>" />
			<input n:if="isSet($_GET[q])" type="hidden" name="q" value="<?php echo $_GET[q]?>" />
			<input type="hidden" name="dir-{strtolower($_order_dir)}" value="1" />
			<input type="hidden" name="view-{strtolower($_view)}" value="1" />

			<div class="filter-container clearfix">
				{foreach $features as $feature_id => $feature}
					<div n:if="Strings::webalize($feature[name]) == 'barva'" class="barva grid-4 first">
						<div class="row">
							<label for="filter-{$feature_id}">{$feature[name]}</label> 
							<select name="f[{$feature_id}]" id="filter-{$feature_id}">
								<option value="">{*__('*}vše{*')}*}</option>
								<option 
									n:foreach="$feature[options] as $opt_text => $opt" 
									value="{$opt[value]}"
									{?echo (@$_features[$feature_id] == $opt[value])? 'selected="selected"': ''}
								>
									{$opt_text}{*  ({$opt[count]}) *}
								</option>
							</select>
				
							<div class="colors" style="display: none;">
								<a 
									n:foreach="$feature[options] as $opt_text => $opt" 
									n:class="Strings::webalize($opt_text), (@$_features[$feature_id] == $opt[value])? active" 
									href="#"
									data-value="{$opt[value]}"
									title="{$opt_text}{*  ({$opt[count]}) *}"
								>
								</a>
							</div>
					
							<script>
							jQuery('.filtr .colors').show();
							jQuery('.filtr .barva select').hide();
							jQuery(function(){
								// Colors
								jQuery('.filtr .barva').css({
									height: jQuery('.filtr .filter-container').innerHeight()
								});
								jQuery('.filtr .colors a').click(function(e){
									var $this = jQuery(this);
									jQuery('.barva select')
										.val( $this.data('value') )
										.trigger('change'); 
									jQuery('.colors a').removeClass('active'); 
									$this.addClass('active');
									e.preventDefault();
								});
							});
							</script>
						</div>
					</div>
				{/foreach}
				{foreach $features as $feature_id => $feature}
					<div n:if="Strings::webalize($feature[name]) != 'barva'" class="grid-3">
						<div class="row">
							<label for="filter-{$feature_id}">{$feature[name]}</label> 
							<select name="f[{$feature_id}]" id="filter-{$feature_id}">
								<option value="">{*__('*}vše{*')*}</option>
								<option 
									n:foreach="$feature[options] as $opt_text => $opt" 
									value="{$opt[value]}"
									{?echo (@$_features[$feature_id] == $opt[value])? 'selected="selected"': ''}
								>
									{$opt_text}{*  ({$opt[count]}) *}
								</option>
							</select>
						</div>
					</div>
				{/foreach}
			</div>
			
			<div class="row buttons">
				<div class="col-xs-12 text-right">
					<button type="submit" class="button">{*__('*}filter_products{*')*}</button>
					<a href="{url($page)}" class="button">{*__('*}filter_reset{*')}*}</a>
				</div>
			</div>
			<script>
			// Auto-send handlers
			jQuery('.filtr select').change(function(){
				jQuery('.filtr form').trigger('submit');
			});
			jQuery('.filtr .buttons').hide();
			</script>

		</form>
	</div>
{/if}