{*include '@filter.latte', producers=>$producers, features=>$features, min_max_prices=>$min_max_prices*}

{*if $page[product_columns] == 1}
	...
{elseif $page[product_columns] == 2}
	...
{else}
	...
{/if*}

<div class="produkty">
	<div n:foreach="$products as $product" class="produkt">
		{var $url = url($product)}
		{var $name = trim($product['name'].' '.$product['nameext'])}
		{var $availability = getProductAvailability($product)}
		<span n:if="$product['discount']" class="akce">v akci</span>
		<a href="{$url}"><h2>{$name}</h2></a>
		<a n:if="($img = imgsrc($product, 4, 2, $alt)) !== NULL" href="{$url}" class="foto"><img src="{$img}" alt="{$name}"></a>
		{!$product['description_short']}
		<span class="dostupnost">{$availability['name']}</span>
		<span class="cena">
			<span class="pred">Dříve {!price_vat(array($product, $product['price']))}</span>
			{!price_vat(array($product, $product['price']))}
		</span>
		<a href="{url(PAGE_BASKET, [buy => $product[id]])}" class="do_kosiku cboxElement">Do košíku</a>
	</div>
</div>

{*
<div id="tabs" class="vypis_productu">
	<section>
		{foreach $products as $product}
			{var $unitSufix = $product[unit]? "/$product[unit]": ''}
			<div class="item horizontal clearfix">
				<div class="image">
					<a href="{url($product)}">
						{if ($img = imgsrc($product, 4, 2, $alt)) !== NULL}
							<img src="{$img}" alt="" />
							<span n:if="$product['discount']" class="sleva">{$product['discount']}% sleva</span>
						{/if}
					</a>
				</div>

				<div class="itemdetails">
					<h3><a href="{url($product)}">{trim($product['name'].' '.$product['nameext'])}</a></h3>
					{!$product['description_short']}
					
					<p class="about">
						{if (float)$product[weight]}
							<span><strong>Hmotnost:</strong> {(float)$product[weight]} kg{$unitSufix}</span>
						{else}
							<span><strong></strong> </span>
						{/if}

						{if $product[guarantee]}
							<span><strong>Záruka:</strong> {$product[guarantee]}</span>
						{else}
							<span><strong></strong> </span>
						{/if}
					</p>
				</div>

				<div class="flr">
					{var $availability = getProductAvailability($product)}
					{if $availability && $availability['name']}
						<span class="availability">
							<span class="rectangle" style="background-color: #{$availability[hex_color]}">{$availability[name]}</span>
							<span class="triangle" style="border-color: transparent #{$availability[hex_color]} transparent transparent;"></span>
						</span>
					{/if}

					{if SHOW_PRICES && $product['price'] !== null}
						<strong class="price">
							{if (float)$product[units_in_pack]}
								{!price_vat($product[price] / $product[units_in_pack], $product->vat[rate])}{$unitSufix}
							{else}
								{!price_vat(array($product, $product['price']))}
							{/if}
						</strong>
					{/if}
					<a href="{url($product)}" class="button">DETAIL PRODUKTU</a>
				</div>
			</div>
		{/foreach}

		{if count($products)}
			{*if !in_array(Core::$current_page[id], [1,36,37])*}{*
				{include '../@pagination.latte', count => $products_count, class => 'bottom'}
			{*/if*}{*
		{elseif !empty($_GET['p']) || !empty($_GET['f'])}
			<p>{_'no_products_found'}</p>
		{/if}

	</section>
</div>*}