<?php defined('WEBMEX') or die('No direct access.');
$view->override = false; 

/** 
 * @todo refactor 
 */

if (!function_exists('ulozenkaOrderBranches')) {
	function ulozenkaOrderBranches($branches) {
		$branchesCopy = $branches;

		usort($branchesCopy, function($a, $b){
			if ($a->transport->id == $b->transport->id) {
				$aName = dirify($a->name);
				$bName = dirify($b->name);

				if ($aName == $bName) {
					return 0;
				}

				return ($aName < $bName)? -1: 1;
			}

			return ($a->transport->id < $b->transport->id)? -1: 1;
		});

		return $branchesCopy;
	}
}
?>



<?php /********************* GET DATA *********************/ ?>
<?php
$ulozenkaDeliveries = Core::$db->delivery()
	->where('driver', array(
		'ulozenka_cze', 
		'ulozenka_cze_parcelshop', 
		'ulozenka_svk', 
		'ulozenka_svk_parcelshop',
		// 'ulozenka_dpd',  // DPD doesn't use branches
	));

$storage = Core::module('ulozenka')->getStorage();
$ulozenka = new UlozenkaApi($storage['shopId'], $storage['apiKey']);
?>



<?php /********************* RENDER *********************/ ?>
<?php 
/**
 * Ulozenka select boxes 
 */ 
?>
<?php 
$rendered = array();
foreach ($ulozenkaDeliveries as $delivery): 
	$view->slot_start();

	// Get branches
	$filter = array(
		'active' => 1,
	);
	switch ($delivery['driver']) {
		case 'ulozenka_cze':
			$filter['country'] = 'CZE';
			$filter['transport.alias'] = 'ulozenka';
			break;

		case 'ulozenka_cze_parcelshop':
			$filter['country'] = 'CZE';
			$filter['transport.alias'] = 'ulozenka_parcelshop';
			break;

		case 'ulozenka_svk':
			$filter['country'] = 'SVK';
			$filter['transport.alias'] = 'ulozenka';
			break;

		case 'ulozenka_svk_parcelshop':
			$filter['country'] = 'SVK';
			$filter['transport.alias'] = 'ulozenka_parcelshop';
			break;
	}

	$branches = $ulozenka->searchBranches($filter);
	$branches = ulozenkaOrderBranches($branches);
?>

	<div class="ulozenka-select-container">
		<select name="ulozenka[<?php echo $delivery['id']?>]">
			<option value=""> - Zvolte si výdejní místo - </option>
			<?php
			// $optgroup = NULL;
			while ($branch = current($branches)):
			// 	if ($optgroup === NULL || $optgroup != $branch->transport->name) {
			// 		$optgroup = $branch->transport->name;
			// 		echo '<optgroup label="' . $optgroup . '">';
			// 	}
			?>
				<option value="<?php echo $branch->id?>" data-url="<?php echo $branch->_links->website->href?>"><?php echo $branch->name?></option>
			<?php
			 	$next = next($branches);
			// 	if (!$next || $optgroup != $next->transport->name) {
			// 		echo '</optgroup>';
			// 	}
			endwhile;
			?>
		</select> 

		<div class="ulozenka-branch-info">
			<a href="" target="_blank" style="display: none;" onclick="window.open(this.href, '_blank', 'width=1000,height=640,scrollbars=yes'); return false;">Detail pobočky</a>
		</div>
	</div>

<?php 
	$select = $view->slot_stop();
	
	foreach ($view->find(".deliveries label") as $label) {
		$label = pq($label);
		
		if (trim($label->find('span.j-delivery-name-source')->text()) == $delivery['name'] && !in_array($label->attr('for'), $rendered)) {
			pq($label)->append($select);

			$rendered[] = $label->attr('for');
		}
	}
endforeach; 
?>



<?php
/*
 * JavaScript
 */
$view->slot_start();
?>

<script>
jQuery(function(){
	// Select delivery type
	var deliveryChanged = function(){
		var $this = jQuery('input[name=delivery]:checked');
		var $selectContainer = $this.closest('.j-select-delivery').find('.ulozenka-select-container');

		jQuery('.ulozenka-select-container').hide();
		jQuery('.ulozenka-select-container').find('select').attr('required', null);
		
		$selectContainer.show();
		$selectContainer.find('select').attr('required', 'required');
	};

	jQuery('input[name=delivery]').change(deliveryChanged);
	deliveryChanged();


	// Select ulozenka branch
	var ulozenkaBranchChange = function(){
		var $this = jQuery('input[name=delivery]:checked').closest('.j-select-delivery').find("select[name^='ulozenka'] option:selected");

		if ($this.length) {
			var $link = $this.closest('.ulozenka-select-container').find('.ulozenka-branch-info a');
			
			$link.show()
				.attr('href', $this.attr('data-url'));
		}
	};

	jQuery("select[name^='ulozenka']").change(ulozenkaBranchChange);
	ulozenkaBranchChange();
});
</script>

<?php
$script = $view->slot_stop();
$view->find("form.j-order-dp-form")->append($script);
?>