<?php defined('WEBMEX') or die('No direct access.');
$view->override = false; 
?>



<?php /********************* GET DATA *********************/ ?>
<?php if ($order['ulozenka_branch_id']): ?>
	<?php
	$storage = Core::module('ulozenka')->getStorage();
	$ulozenka = new UlozenkaApi($storage['shopId'], $storage['apiKey']);

	$branch = $ulozenka->getBranch( $order['ulozenka_branch_id'] );
	?>



	<?php /********************* RENDER *********************/ ?>
	<?php
	$view->slot_start();
	?>

	<div class="ulozenka-branch">
		<span>Pobočka: </span>
		<?php echo $branch? $branch->name: '<i>pobočka neexistuje</i>'; ?>
	</div>

	<?php
	$content = $view->slot_stop();
	//$view->find(".ordersummary li:contains('Doprava:')")->append($content);  // classic default template
	$view->find(".order_summary th:contains('Doprava:')")->parent()->find('td')->append($content);  // tercovci template
	//$view->find("fieldset table th:contains('Doprava:')")->parent()->find('td')->append($content);  // digital24.sk
	?>
<?php endif; ?>