<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>

<style>
	.print {
		font-size: 120%;
		margin: 15px 0;
	}
</style>

<h2><?php echo __('packages')?></h2>

<p><?php echo __('download_labels')?></p>

<div class="print">
	&raquo; <a href="<?php echo url('admin/packages/labels', array('t' => time()))?>" target="blank"><?php echo __('address_labels')?></a> (<?php echo __('addresses')?>: <?php echo $labels?>)
</div>

<?php if($cpost > 0): ?>
<div class="print">
	&raquo; <a href="<?php echo url('admin/packages/cp_sheet', array('t' => time()))?>" target="blank"><?php echo __('cpost_sheet')?></a> (<?php echo __('addresses')?>: <?php echo $cpost?>)
</div>
<?php endif; ?>

<form class="form gridform" action="<?php echo url('admin/packages')?>" method="post">

	<fieldset>
		<?php echo forminput('checkbox', 'change_status', 1, array('label' => __('change_status_to_finished')))?>
	</fieldset>

	<div style="margin:15px 0 0 0;">
		<button type="submit" class="button"><?php echo __('done')?></button>
	</div>
	
</form>