<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><style>
	.inline .inputwrap {
		width: 100px !important;
	}
</style>

<form class="form" action="<?php echo url('admin/settings/delivery/'.$delivery['id'])?>" method="post" enctype="multipart/form-data">

	<h2><a href="<?php echo url('admin/settings/delivery_payment')?>"><?php echo __('delivery_payment')?></a> &rsaquo; <?php echo $delivery['name']?></h2>

	<div class="buttons tbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

	<div class="clearfix">
		<fieldset style="width:350px">
			<?php echo forminput('text', 'name', $delivery['name']) ?>

			<div class="clearfix" style="position: relative;">
				<div class="inline">
					<?php echo forminput('text', 'shortcut', $delivery['shortcut'], array('cls' => 'medium right')) ?>
				</div>
				<div class="inline">
					<?php echo forminput('text', 'color', ($delivery['color']?: '#ffffff'), array('cls' => 'medium right')) ?>
				</div>
				<div id="color-colorpicker" style="position: absolute; right: -200px; top: -50px;"></div>
			</div>
			
			<?php echo forminput('text', 'ord', $delivery['ord'],  array('cls' => 'short right', 'label' => __('delivery_payment_order')))
			.forminput('select', 'driver', $delivery['driver'], array('options' => $drivers))
			.forminput('text', 'price', $delivery['price'], array('cls' => 'short right'))?>
		</fieldset>

		<fieldset style="width:350px">
			<h3><?php echo __('restrictions')?></h3>
			<?php echo forminput('select', 'customer_group_id', $delivery['customer_group_id'], array('label' => __('only_for_group'), 'options' => $groups))?>

			<div class="inline">
			<?php echo forminput('text', 'weight_min', $delivery['weight_min'], array('cls' => 'short right'))
			.forminput('text', 'weight_max', $delivery['weight_max'], array('cls' => 'short right'))?>
			</div>

			<div class="inline">
			<?php echo forminput('text', 'price_min', $delivery['price_min'], array('cls' => 'short right'))
			.forminput('text', 'price_max', $delivery['price_max'], array('cls' => 'short right'))?>
			</div>
		</fieldset>
        
        <fieldset style="width:550px">
            <?php echo forminput('textarea', 'info_order', $delivery['info_order'], array('label' => __('delivery_info_order'), 'rows' => 5))
                .forminput('file', 'img', '', array(
                    'label' => __('delivery_img') . ($delivery['img'] ? ' (<a href=\'admin/settings/deleteDeliveryImg?id='.$delivery['id'].'\'>' . __('delete') . '</a>) (<a href=\'/'.$delivery['img'].'\' target=\'_blank\'>' . __('download') . '</a>)' : '')))                        
            ?>
        </fieldset>        
        
	</div>

	<div class="buttons bbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

</form>


<script src="<?php echo APPDIR?>/vendor/farbtastic/farbtastic.js"></script>
<link rel="stylesheet" href="<?php echo APPDIR?>/vendor/farbtastic/farbtastic.css">
<script>
jQuery(function(){
	var picker = jQuery('#color-colorpicker').farbtastic('#inp-color');

	jQuery('#color-colorpicker').hide();
	jQuery('#inp-color').focus(function(){
		jQuery('#color-colorpicker').fadeIn(200);
	});
	jQuery('#inp-color').focusout(function(){
		jQuery('#color-colorpicker').fadeOut(200);
	});
});
</script>