<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><a href="<?php echo url('admin/settings/payment/0')?>" class="addbtn"><?php echo __('new_payment')?></a>
<a href="<?php echo url('admin/settings/delivery/0')?>" class="addbtn"><?php echo __('new_delivery')?></a>

<h2><?php echo __('delivery_payment')?></h2>

<form class="form gridform" action="<?php echo url('admin/settings/delivery_payment')?>" method="post">

	<table class="datagrid">
		<thead>
			<tr>
				<td><?php echo __('name')?></td>
				<td class="right" width="60"><?php echo __('price')?></td>
				<td width="120"><?php echo __('driver')?></td>
        <td width="140"><?php echo __('delivery_payment_order')?></td>
				<td class="actions">&nbsp;</td>
			</tr>
		</thead>

		<tbody>
			<tr class="gridtitle">
				<td colspan="5"><?php echo __('delivery')?></td>
			</tr>

			<?php if(! count($deliveries)): ?>
				<tr class="norecords">
					<td colspan="5"><?php echo __('no_records')?></td>
				</tr>
			<?php endif; ?>

			<?php foreach($deliveries as $delivery): ?>
				<tr>
					<td><a href="<?php echo url('admin/settings/delivery/'.$delivery['id'])?>"><?php echo $delivery['name']?></a></td>
					<td class="right"><?php echo $delivery['price']?></td>

					<?php if($delivery['driver'] && ($driverclass = 'Delivery_'.ucfirst($delivery['driver'])) && $inst = new $driverclass() ): ?>
						<td><?php echo $inst->name?></td>

					<?php else: ?>
						<td>&mdash;</td>
					<?php endif; ?>
          
					<?php if($delivery['ord'] ): ?>
						<td><?php echo $delivery['ord']?></td>

					<?php else: ?>
						<td>&mdash;</td>
					<?php endif; ?>          

					<td class="actions">
						<a href="<?php echo url('admin/settings/delivery/'.$delivery['id'])?>" class="edit" title="<?php echo __('edit')?>">&nbsp;</a>
						<a href="<?php echo url('admin/settings/delivery_delete/'.$delivery['id'])?>" class="delete" title="<?php echo __('delete')?>">&nbsp;</a>
					</td>
				</tr>
			<?php endforeach; ?>

			<tr class="gridtitle">
				<td colspan="5"><?php echo __('payment')?></td>
			</tr>

			<?php if(! count($payments)): ?>
				<tr class="norecords">
					<td colspan="5"><?php echo __('no_records')?></td>
				</tr>
			<?php endif; ?>

			<?php foreach($payments as $payment): ?>
				<tr>
					<td><a href="<?php echo url('admin/settings/payment/'.$payment['id'])?>"><?php echo $payment['name']?></a></td>
					<td class="right"><?php echo $payment['price']?></td>

					<?php if($payment['driver'] && ($driverclass = 'Payment_'.ucfirst($payment['driver'])) && $inst = new $driverclass() ): ?>
						<td><?php echo $inst->name?></td>

					<?php else: ?>
						<td>&mdash;</td>
					<?php endif; ?>
          
					<?php if($payment['ord'] ): ?>
						<td><?php echo $payment['ord']?></td>

					<?php else: ?>
						<td>&mdash;</td>
					<?php endif; ?>           

					<td class="actions">
						<a href="<?php echo url('admin/settings/payment/'.$payment['id'])?>" class="edit" title="<?php echo __('edit')?>">&nbsp;</a>
						<a href="<?php echo url('admin/settings/payment_delete/'.$payment['id'])?>" class="delete" title="<?php echo __('delete')?>">&nbsp;</a>
					</td>
				</tr>
			<?php endforeach; ?>
		</tbody>
	</table>

</form>