<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><style>
	.inline .inputwrap {
		width: 100px !important;
	}
	.delivery td {
		border-bottom: 1px solid #ddd;
		padding: 5px 0;
		vertical-align: middle;
	}
	.delivery input.input-text {
		display: inline !important;
	}
	.delivery input.input-checkbox {
		margin-top: 1px;
	}
	.deliveryhead td {
		font-size: 90%;
		color: #888;
		vertical-align: bottom;
	}
</style>

<form class="form" action="<?php echo url('admin/settings/payment/'.$payment['id'])?>" method="post" enctype="multipart/form-data">

	<h2><a href="<?php echo url('admin/settings/delivery_payment')?>"><?php echo __('delivery_payment')?></a> &rsaquo; <?php echo $payment['name']?></h2>

	<div class="buttons tbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

	<div class="clearfix">
		<div class="rightcol">

			<table style="width:100%">
				<tr class="deliveryhead">
					<td>&nbsp;</td>
					<td width="70"><?php echo __('price')?></td>
					<td width="70"><?php echo __('free_shipping_over')?></td>
				</tr>

				<?php if($deliveries): foreach($deliveries as $delivery):
					$dp = is_object($payment) ? $payment->delivery_payments()->where('delivery_id', $delivery['id'])->fetch() : null;
				?>
				<tr class="delivery">
					<td>
						<label><input type="checkbox" name="delivery[<?php echo $delivery['id']?>]" class="input-checkbox"<?php echo ($dp ? ' checked="checked"' : '')?> /> <?php echo $delivery['name']?></label>
					</td>
					<td><input type="text" name="delivery_price[<?php echo $delivery['id']?>]" value="<?php echo $dp['price']?>" class="input-text short right" /> </td>
					<td><input type="text" name="delivery_free_over[<?php echo $delivery['id']?>]" value="<?php echo $dp['free_over']?>" class="input-text short right" /> </td>
				</tr>
				<?php endforeach; endif; ?>
			</table>


		</div>

		<div class="leftcol">
			<fieldset style="width:350px">
				<?php echo forminput('text', 'name', $payment['name'])
        .forminput('text', 'ord', $payment['ord'],  array('cls' => 'short right', 'label' => __('delivery_payment_order')))
				.forminput('select', 'driver', $payment['driver'], array('options' => $drivers))
				.forminput('text', 'price', $payment['price'], array('cls' => 'short right'))?>
			</fieldset>

			<fieldset style="width:350px">
				<h3><?php echo __('restrictions')?></h3>
				<?php echo forminput('select', 'customer_group_id', $payment['customer_group_id'], array('label' => __('only_for_group'), 'options' => $groups))?>

				<div class="inline">
				<?php echo forminput('text', 'weight_min', $payment['weight_min'], array('cls' => 'short right'))
				.forminput('text', 'weight_max', $payment['weight_max'], array('cls' => 'short right'))?>
				</div>

				<div class="inline">
				<?php echo forminput('text', 'price_min', $payment['price_min'], array('cls' => 'short right'))
				.forminput('text', 'price_max', $payment['price_max'], array('cls' => 'short right'))?>
				</div>
			</fieldset>

			<fieldset style="width:550px">
				<?php echo forminput('textarea', 'info', $payment['info'], array('label' => __('payment_info'), 'rows' => 10, 'cls' => 'editor'))?>
			</fieldset>

            <fieldset style="width:550px">
                <?php echo forminput('textarea', 'info_order', $payment['info_order'], array('label' => __('payment_info_order'), 'rows' => 5))
                        .forminput('file', 'img', '', array(
                            'label' => __('payment_img') . ($payment['img'] ? ' (<a href=\'admin/settings/deletePaymentImg?id='.$payment['id'].'\'>' . __('delete') . '</a>) (<a href=\'/'.$payment['img'].'\' target=\'_blank\'>' . __('download') . '</a>)' : '')))                                        
                ?>
            </fieldset> 
            
			<fieldset id="driverconfig"></fieldset>
		</div>
	</div>

	<div class="buttons bbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>


</form>

<script>
	$(function(){
		var url = '<?php echo url('admin/settings/ajax_getPaymentConfig')?>';
		var payment_id = '<?php echo $payment['id']?>';

		var loadConfig = function(driver){
			var el = $('#driverconfig');
			el.addClass('loading');
			$.get(url+'/'+driver+'/'+payment_id, {}, function(response){
				el.html(response).removeClass('loading');
			});
		}

		$('select[name="driver"]').bind('change', function(){
			var driver = $(this).val();

			if(driver && driver != 0){
				loadConfig(driver);
			}else{
				$('#driverconfig').html('');
			}
		});

		<?php if($payment['driver']): ?>
		loadConfig('<?php echo $payment['driver']?>');
		<?php endif; ?>

	});
</script>