<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>
<a href="<?php echo url('admin/backup/create')?>" class="addbtn"><?php echo __('create_backup')?></a>

<h2><?php echo __('backup')?></h2>

<?php if(Core::$is_trial): ?>
<p>This function is disabled in trial mode.</p>
<?php endif; ?>

<table class="datagrid">
	<thead>
		<tr>
			<td><?php echo __('file')?></td>
			<td width="80"><?php echo __('size')?></td>
			<td width="120"><?php echo __('date')?></td>
		</tr>
	</thead>

	<tbody>
		<?php if(! count($backups)): ?>
			<tr class="norecords">
				<td colspan="3"><?php echo __('no_records')?></td>
			</tr>
		<?php endif; ?>

		<?php foreach($backups as $backup): ?>
			<tr>
				<td><a href="<?php echo Core::$base.'etc/backup/'.substr($backup, strrpos($backup, '/') + 1)?>"><?php echo substr($backup, strrpos($backup, '/') + 1)?></a></td>
				<td><?php echo round(filesize($backup) / 1024 / 1024, 2)?> MB</td>
				<td><?php echo fdate(filemtime($backup), true)?></td>
			</tr>
		<?php endforeach; ?>
	</tbody>
</table>