.webmex-basket-free-shipping-wrapper {
	padding: 15px;
	text-align: center;
	color: #282828;
	font-size: 1.1em;
	background: #F8C100;
	border: 2px solid #e2b000;
	margin-bottom: 30px;
	font-weight: bold;
}

.webmex-basket-free-shipping-wrapper strong {
	font-size: 1.1em;
	color: #1e1e1e;
}