<?php defined('WEBMEX') or die('No direct access.');


/**
* @author Tomas Nikl, www.webmex.cz
* @copyright webmex.cz 2013
*/

	$view->override = false;
	$view->slot_start();

    $_ds = Core::$db->delivery_payments()->where('delivery_id')->where('payment_id')->where('free_over != ?', 'NULL');

    if($_ds->count()){
        echo '<div class="webmex-basket-free-shipping-module"></div>';
        $smallestFreePrice = NULL;
        $total = Basket::total();

        foreach($_ds as $_d) {
            if(isset($smallestFreePrice) && (float) $_d['free_over'] < $smallestFreePrice || $smallestFreePrice == NULL) {
                $smallestFreePrice = (float) $_d['free_over'];
            }
        }

        if($total->total < $smallestFreePrice){
            echo '<span>' . __("webmex_basket_free_shipping") . ' </span><span class="doprava-zdarma-value">' . price($smallestFreePrice-$total->total) . '</span>';
        } else {
            echo '<span class="doprava-zdarma-done">' . __("webmex_basket_free_shipping_done") . '</span>';
        }
        
        $sirkalisty = ($total->total / $smallestFreePrice) * 300;
        if($sirkalisty > 300)
            $sirkalisty = 300;
        
        echo '<div class="doprava-zdarma-line"><div class="doprava-zdarma-line-value" style="width: '.$sirkalisty.'px"></div></div>';
        
    }
?>

<?php 
    $data = $view->slot_stop();
	$dom = $view->find('.basket form .do-dopravy-zdarma-placeholder');
	$dom->before($data);
?>