<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>

<a href="<?php echo url('admin/newsletter/export_csv')?>" class="rightbtn"><?php echo __('export_emails')?></a>

<h2><?php echo __('newsletter')?></h2>

<form class="form gridform" action="<?php echo url('admin/newsletter')?>" method="post">

	<div class="buttons clearfix">
		<?php echo gridpagination($total_count)?>
	</div>

	<table class="datagrid">
		<thead>
			<tr>
				<td class="<?php echo ($order_by == 'email' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'email', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('email')?></a></td>
				<td width="120" class="<?php echo ($order_by == 'date' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'date', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('date')?></a></td>
				<td class="actions">&nbsp;</td>
			</tr>
		</thead>

		<tbody>
			<?php if(! count($emails)): ?>
				<tr class="norecords">
					<td colspan="3"><?php echo __('no_records')?></td>
				</tr>
			<?php endif; ?>

			<?php foreach($emails as $email): ?>
				<tr>
					<td><a href="mailto:<?php echo $email['email']?>"><?php echo $email['email']?></a></td>
					<td><?php echo fdate($email['date'], true)?></td>

					<td class="actions">
						<a href="<?php echo url('admin/newsletter/delete/'.$email['id'])?>" class="delete" title="<?php echo __('delete')?>">&nbsp;</a>
					</td>
				</tr>
			<?php endforeach; ?>
		</tbody>
	</table>

	<div class="buttons buttons-foot clearfix">
		<?php echo gridpagination($total_count)?>
	</div>

</form>