<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>
<style>
	.test {
		width: 400px;
		background: #f0f0f0;
		padding: 10px;
		border: 1px solid #ddd;
		margin: 20px 0 0 0;
	}
</style>
<form class="form" action="<?php echo url(true)?>" method="post">

	<h2><a href="<?php echo url('admin/newsteller')?>"><?php echo __('newsletter')?></a> &rsaquo; <?php echo __('newsletter_send')?></h2>

	<div class="buttons tbar">
		<button type="submit" class="button" name="send"><?php echo __('newsletter_send')?> &rsaquo;</button>
	</div>

	<div class="clearfix">

		<?php echo forminput('text', 'subject', @$_POST['subject'])
		.forminput('textarea', 'text', @$_POST['text'], array('cls' => 'editor', 'rows' => 15))?>

		<div class="test">
			<?php echo forminput('text', 'testmail', Core::config('email_notify'))?>

			<button type="submit" class="button" name="test"><?php echo __('send_test_mail')?></button>
		</div>
	</div>

	<div class="buttons bbar">
		<button type="submit" class="button" name="send"><?php echo __('newsletter_send')?> &rsaquo;</button>
	</div>


</form>

<script>
	$(function(){
		$('button[name="send"]').bind('click', function(){
			return confirm('<?php echo __('newsletter_confirm_send')?>');
		});
	});
</script>