<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>
<style>
	h3.errorstitle {
		margin-top: 15px;
		font-weight: normal;
	}
	.errors {
		height: 200px;
		overflow: auto;
		border: 1px solid #ddd;
		padding: 5px;
		background: #f4f4f4;
	}
</style>
<form class="form" action="<?php echo url('admin/newsletter')?>" method="post">

	<h2><a href="<?php echo url('admin/newsteller')?>"><?php echo __('newsletter')?></a> &rsaquo; <?php echo __('newsletter_send')?></h2>

	<div class="clearfix">

		<div class="status">
			<?php echo __('newsletter_success_count')?>: <strong><?php echo $success?></strong>

			<h3 class="errorstitle"><?php echo __('newsletter_errors')?>:</h3>
			<div class="errors">
				<?php foreach($errors as $email): ?>
					<?php echo $email?><br />
				<?php endforeach; ?>
			</div>
		</div>

	</div>

	<div class="buttons bbar">
		<button type="submit" class="button" name="save"><?php echo __('next')?> &rsaquo;</button>
	</div>


</form>