<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */
?>
<style>
	#dashboard .widget ul li.order {
		float: left;
		width: 100%;
	}

	#dashboard .widget ul li.order .status {

	}
</style>

<div id="new-dashboard">

	<!--
	<div class="minus-margin">
		<div id="guide">
			<div class="row-fluid">
				<div class="span6">
					<div class="span5">
						<h2 class="title">Průvodce</h2>
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span6">
					<div class="item">
						<div class="mark">1</div>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
					</div>
					<div class="item">
						<div class="mark">2</div>
						<div class="description">Tempora, laboriosam nemo assumenda nam explicabo culpa!</div>
					</div>
					<div class="item success">
						<div class="mark">3</div>
						<div class="description">Et, cupiditate, nam harum labore esse repudiandae architecto!</div>
					</div>
					<div class="item">
						<div class="mark">4</div>
						<div class="description">Aliquid nisi deleniti aspernatur iusto sunt cumque hic.</div>
					</div>
					<div class="item">
						<div class="mark">5</div>
						<div class="description">Laboriosam, deserunt, vel voluptatum voluptatem exercitationem.</div>
					</div>
				</div>
				<div class="span6">
					<div class="item">
						<div class="mark">6</div>
						<div class="description">Et, cupiditate, nam harum labore esse repudiandae architecto!</div>
					</div>
					<div class="item">
						<div class="mark">7</div>
						<div class="description">Aliquid nisi deleniti aspernatur iusto sunt cumque hic.</div>
					</div>
					<div class="item">
						<div class="mark">8</div>
						<div class="description">Laboriosam, deserunt, vel voluptatum voluptatem exercitationem.</div>
					</div>
					<div class="item">
						<div class="mark">9</div>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
					</div>
					<div class="item">
						<div class="mark">10</div>
						<div class="description">Tempora, laboriosam nemo assumenda nam explicabo culpa!</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->

	<div class="row-fluid">
		<div class="span4">
			<div class="dash-box red">
				<div class="row-fluid">
					<div class="span3">
						<i class="fa fa-shopping-cart"></i>
					</div>
					<div class="span9">
						<h3 class="title"><?php echo __('webmex_plan_name')?></h3>
						<div class="info"><?php echo $config['webmex_plan_name']?></div>
					</div>
				</div>
				<div class="bottom">
					<div class="row-fluid">
						<div class="span12">
							<h4 class="title"><?php echo __('license_expiration')?></h4>
							<div class="subinfo"><?php echo date('j. n. Y', strtotime($config['webmex_license_expiration']))?></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="dash-box">
				<div class="row-fluid">
					<div class="span3">
						<i class="fa fa-archive"></i>
					</div>
					<div class="span9">
						<h3 class="title"><?php echo __('products')?></h3>
						<div class="info"><?php echo $all_products?> (<?php echo round($all_products / $config['webmex_product_limit'] * 100) ?>%)</div>
					</div>
				</div>
				<div class="bottom">
					<div class="row-fluid">
						<div class="span4">
							<h4 class="title"><?php echo __('available')?></h4>
							<div class="subinfo"><?php echo $config['webmex_product_limit']?></div>
						</div>
						<div class="span4">
							<h4 class="title"><?php echo __('current_count')?></h4>
							<div class="subinfo"><?php echo $all_products?></div>
						</div>
						<div class="span4">
							<h4 class="title"><?php echo __('remaining')?></h4>
							<div class="subinfo"><?php echo $config['webmex_product_limit'] - $all_products?></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="dash-box green">
				<div class="row-fluid">
					<div class="span3">
						<i class="fa fa-dashboard"></i>
					</div>
					<div class="span9">
						<h3 class="title"><?php echo __('occupancy')?></h3>
						<div class="info"><?php echo byteFormat($sizes['eshop_size'], "", 0)?> (<?PHP echo $sizes['percents_diff']?>%)</div>
					</div>
				</div>
				<div class="bottom">
					<div class="row-fluid">
						<div class="span3">
							<h4 class="title"><?php echo __('available')?></h4>										
							<div class="subinfo"><?php echo byteFormat($config['webmex_disk_space']*1048576, "", 0)?></div>
						</div>
						<div class="span3">
							<h4 class="title"><?php echo __('ftp')?></h4>
							<div class="subinfo"><?php echo byteFormat($sizes['ftp'], "", 0)?></div>
						</div>
						<div class="span3">
							<h4 class="title"><?php echo __('mysql')?></h4>
							<div class="subinfo"><?php echo byteFormat($sizes['mysql'], "", 0)?></div>
						</div>
						<div class="span3">
							<h4 class="title"><?php echo __('remaining')?></h4>
							<div class="subinfo"><?php echo byteFormat($sizes['num_diff'] - $size, "", 0)?></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix">
			<br>
		</div>
	</div>
	
	<?php if(User::has('dashboard-statistics')):?>
	<div class="row-fluid">
		<div class="span6">
			<h1><?php echo __('statistics')?></h1>
		</div>
		<div class="span6">
			<a href="#" class="refresh" id="refresh-analytics"></a>
			<input type="text" class="date-range select-date" value="<?php echo date('d. n. Y', strtotime('-14 days'))?> až <?php echo date('d. n. Y')?>">
			<i class="calendar"></i>
		</div>
	</div>
	<?php endif?>

	<?php if(User::has('dashboard-statistics')):?>
	<div class="minus-margin">
		<div id="orders-stats" class="clearfix">
			<a class="order" href="#">
				<div class="inner">
					<div class="border">
						<div class="title">Dnes</div>
						<div class="price"><?php echo price($orders_stats[0]['total'])?></div>
						<div class="orders">
							<?php echo $orders_stats[0]['count'].' '?>
							<?php
								switch ((int) $orders_stats[0]['count']) {
									case 0:echo 'objednávek';break;
									case 1:echo 'objednávka';break;
									case 2:echo 'objednávky';break;
									case 3:echo 'objednávky';break;
									case 4:echo 'objednávky';break;
									default:echo 'objednávek';break;
								}
							?>
						</div>
					</div>
				</div>
			</a>
			
			<a class="order" href="#">
				<div class="inner">
					<div class="border">
						<div class="title">Včera</div>
						<div class="price"><?php echo price($orders_stats[1]['total'])?></div>
						<div class="orders">
							<?php echo $orders_stats[1]['count'].' '?>
							<?php
								switch ((int) $orders_stats[1]['count']) {
									case 0:echo 'objednávek';break;
									case 1:echo 'objednávka';break;
									case 2:echo 'objednávky';break;
									case 3:echo 'objednávky';break;
									case 4:echo 'objednávky';break;
									default:echo 'objednávek';break;
								}
							?>
						</div>
					</div>
				</div>
			</a>

			<a class="order" href="#">
				<div class="inner">
					<div class="border">
						<div class="title">7 dní</div>
						<div class="price"><?php echo price($orders_stats[2]['total'])?></div>
						<div class="orders">
							<?php echo $orders_stats[2]['count'].' '?>
							<?php
								switch ((int) $orders_stats[2]['count']) {
									case 0:echo 'objednávek';break;
									case 1:echo 'objednávka';break;
									case 2:echo 'objednávky';break;
									case 3:echo 'objednávky';break;
									case 4:echo 'objednávky';break;
									default:echo 'objednávek';break;
								}
							?>
						</div>
					</div>
				</div>
			</a>

			<a class="order" href="#">
				<div class="inner">
					<div class="border">
						<div class="title">14 dní</div>
						<div class="price"><?php echo price($orders_stats[3]['total'])?></div>
						<div class="orders">
							<?php echo $orders_stats[3]['count'].' '?>
							<?php
								switch ((int) $orders_stats[3]['count']) {
									case 0:echo 'objednávek';break;
									case 1:echo 'objednávka';break;
									case 2:echo 'objednávky';break;
									case 3:echo 'objednávky';break;
									case 4:echo 'objednávky';break;
									default:echo 'objednávek';break;
								}
							?>
						</div>
					</div>
				</div>
			</a>

			<a class="order" href="#">
				<div class="inner">
					<div class="border">
						<div class="title">Tento měsíc</div>
						<div class="price"><?php echo price($orders_stats[4]['total'])?></div>
						<div class="orders">
							<?php echo $orders_stats[4]['count'].' '?>
							<?php
								switch ((int) $orders_stats[4]['count']) {
									case 0:echo 'objednávek';break;
									case 1:echo 'objednávka';break;
									case 2:echo 'objednávky';break;
									case 3:echo 'objednávky';break;
									case 4:echo 'objednávky';break;
									default:echo 'objednávek';break;
								}
							?>
						</div>
					</div>
				</div>
			</a>

			<a class="order" href="#">
				<div class="inner">
					<div class="border">
						<div class="title">3 měsíce</div>
						<div class="price"><?php echo price($orders_stats[5]['total'])?></div>
						<div class="orders">
							<?php echo $orders_stats[5]['count'].' '?>
							<?php
								switch ((int) $orders_stats[5]['count']) {
									case 0:echo 'objednávek';break;
									case 1:echo 'objednávka';break;
									case 2:echo 'objednávky';break;
									case 3:echo 'objednávky';break;
									case 4:echo 'objednávky';break;
									default:echo 'objednávek';break;
								}
							?>
						</div>
					</div>
				</div>
			</a>
		</div>

		<div id="stats">
			<div class="row-fluid">
				<div class="span6">
					<div class="span5">
						<h2 class="title">Statistiky</h2>
					</div>
					<div class="span7">
						
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span6">
					<div class="tabsWrap">
						<ul class="tabs clearfix">
							<li class="active"><a href="#tab-analytics">Návštěvnost</a></li>
							<li><a href="#tab-traffic">Traffic</a></li>
							<li><a href="#tab-orders">Objednávky</a></li>
							<li><a href="#tab-obrat">Obrat</a></li>
						</ul>
					
						<div id="tab-analytics" class="tab active">
							<?php if($allow_analytics):?>
							<div id="graph-1" class="graph in-tab"><div class="remove">Načítám data z Google analytics...</div></div>
							<?php else: ?>

							<div class="error-msg">Statistiky z Google Analytics nejsou k dispozici. V sekci Nastavení -> Služby nejdříve vyplňte přihlašovací údeje do Google Analytics.</div>
							<div class="graph-fake"></div>
							<?php endif?>
						</div>

						<div id="tab-orders" class="tab">
							<div id="graph-2" class="graph in-tab"><div class="remove">Načítám data z databáze...</div></div>
						</div>

						<div id="tab-obrat" class="tab">
							<div id="graph-3" class="graph in-tab"><div class="remove">Načítám data z databáze...</div></div>
						</div>

						<div id="tab-traffic" class="tab">
							<?php if($allow_analytics):?>
							<div id="graph-4" style="width:100%;" class="graph in-tab"><div class="remove">Načítám data z Google analytics...</div></div>
							<?php else: ?>

							<div class="error-msg">Statistiky z Google Analytics nejsou k dispozici. V sekci Nastavení -> Služby nejdříve vyplňte přihlašovací údeje do Google Analytics.</div>
							<div class="graph-fake"></div>
							<?php endif?>
						</div>
					</div>
				</div>
				<div class="span6">
					<div class="tabsWrap">
						<ul class="tabs clearfix">
							<li class="active"><a href="#tab-basic">Základní údaje</a></li>
							<li><a href="#tab-visitors">Návštěvnost</a></li>
							<li><a href="#tab-visitors-source">Zdroje návštěvnosti</a></li>
							<li><a href="#tab-traffic-source">Traffic</a></li>
						</ul>

						<div id="tab-basic" class="tab active">
							<?php if($allow_analytics):?>
							<table id="table-4" class="datagrid table">
								<col width="30%">
								<col width="70%">
								<thead>
									<tr>
										<th>Typ</th>
										<th>Hodnota</th>
									</tr>
								</thead>
								<tbody></tbody>
								<tfoot></tfoot>
							</table>
							<?php else: ?>
							<div class="error-msg">Statistiky z Google Analytics nejsou k dispozici. V sekci Nastavení -> Služby nejdříve vyplňte přihlašovací údeje do Google Analytics.</div>
							<?php endif?>
						</div>

						<div id="tab-visitors" class="tab">
							<?php if($allow_analytics):?>
							<table id="table-2" class="datagrid table">
								<col width="50%">
								<col width="30%">
								<col width="20%">
								<thead>
									<tr>
										<th>Den</th>
										<th>Zobrazení stránek</th>
										<th>Podíl</th>
									</tr>
								</thead>
								<tbody></tbody>
								<tfoot></tfoot>
							</table>
							<?php else: ?>
							<div class="error-msg">Statistiky z Google Analytics nejsou k dispozici. V sekci Nastavení -> Služby nejdříve vyplňte přihlašovací údeje do Google Analytics.</div>
							<?php endif?>
						</div>
					
						<div id="tab-visitors-source" class="tab">
							<?php if($allow_analytics):?>
							<table id="table-1" class="datagrid table">
								<col width="50%">
								<col width="30%">
								<col width="20%">
								<thead>
									<tr>
										<th>Zdroj</th>
										<th>Počet</th>
										<th>Podíl</th>
									</tr>
								</thead>
								<tbody></tbody>
								<tfoot></tfoot>
							</table>
							<?php else: ?>
							<div class="error-msg">Statistiky z Google Analytics nejsou k dispozici. V sekci Nastavení -> Služby nejdříve vyplňte přihlašovací údeje do Google Analytics.</div>
							<?php endif?>
						</div>

						<div id="tab-traffic-source" class="tab">
							<?php if($allow_analytics):?>
							<table id="table-3" class="datagrid table">
								<col width="50%">
								<col width="30%">
								<col width="20%">
								<thead>
									<tr>
										<th>Zdroj</th>
										<th>Počet</th>
										<th>Podíl</th>
									</tr>
								</thead>
								<tbody></tbody>
								<tfoot></tfoot>
							</table>
							<?php else: ?>
							<div class="error-msg">Statistiky z Google Analytics nejsou k dispozici. V sekci Nastavení -> Služby nejdříve vyplňte přihlašovací údeje do Google Analytics.</div>
							<?php endif?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<?php endif?>

	<div class="minus-margin">
		<div id="notes">
			<div class="row-fluid">
				<div class="span6">
					<div class="span5">
						<h2 class="title">Moje poznámky</h2>
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span7">
					<div id="main-msg">
						<textarea name="" class="enter-msg span12 autosize" placeholder="Text poznámky"></textarea>
						<button type="submit" id="save-note">uložit</button>
					</div>
				</div>
				<div class="span5">
					<div class="labels" id="note-labels">
						<label for="l-yellow" class="l-yellow span3"><input checked="checked" type="radio" name="label" id="l-yellow" value="#f6f4e1"></label>
						<label for="l-red" class="l-red span3"><input type="radio" name="label" id="l-red" value="#fadede"></label>
						<label for="l-green" class="l-green span3"><input type="radio" name="label" id="l-green" value="#e4f7d6"></label>
						<label for="l-blue" class="l-blue span3"><input type="radio" name="label" id="l-blue" value="#e5f3f9"></label>
					</div>
				</div>
			</div>

			<div id="data-notes">
				
			</div>
		</div>

		<div id="last-fake">

		</div>
	</div>
</div>



<?php /*
<div id="dashboard" class="clearfix">

<?php
$widget_orders = $widget_stats = $widget_changes = null;

if(User::has(User::has_or, 'orders', 'orders-view')){
	$nodes = null;

	if(! count($orders)){
		$nodes = li('@no_records')->class('norecords');

	}else{
		foreach($orders as $order){
			$nodes .= li(
				div('@status_'.Core::$def['order_status'][$order['status']])->class('status s-'.$order['status']),
				a('@order #'.$order['id'])->href(url('admin/orders/edit/'.$order['id'])),
				' - '.$order['first_name'].' '.$order['last_name'],
				br(),
				span('@received '.fdate($order['received'], true).', @total: '.price($order['total_incl_vat']))->class('date')
			)->class('order');
		}
	}

	$widget_orders = div(
		h3('@received_orders'),
		div(
			ul($nodes)
		)->class('widget-content clearfix')

	)->class('widget');
}

if(User::has(User::has_or, 'orders', 'orders-view')){
	$nodes = null;

	for($i = 6; $i >= 0; $i --){
		$tmp = $daystotal * $stats[$i];

		$nodes .= div(
			div(
				span(($i == 0 ? '@today' : fdate(strtotime('-'.$i.' days')))),
				em(price($stats[$i]))

			)->class('bar')->style('width:'.($tmp ? (($daystotal && ($p = 100 / $tmp) >= 100) ? 'auto' : $p.'%' ) : '0'))
		)->class('row');
	}

	$widget_stats = div(
		h3('@statistics'),
		div(
			div(
				div(
					span('@orders'),
					big(fprice($total_orders, 6))
				),
				div(
					span('@customers'),
					big(fprice($total_customers, 6))
				),
				div(
					span('@this_month_revenue'),
					big(price($month_revenue))
				)
			)->class('numstats clearfix'),

			div(
				$nodes

			)->class('orderstats')

		)->class('widget-content')

	)->class('widget');
}

$nodes = null;

if(! count($changes)){
	$nodes .= tr(td('@no_records')->colspan(3)->class('norecords'));

}else{
	foreach($changes as $change){
		$nodes .= tr(
			td(
				span('['.$change['id'].']')->class('info'),
				' ',
				a($change['name'])->href(url($change['object'] == 'page' ? 'admin/pages/edit/'.$change['id'] : 'admin/products/edit/'.$change['id']))
			),
			td(fdate($change['date'], true)),
			td($change['user'])
		);
	}
}

$widget_changes = div(
	h3('@last_changes'),
	div(
		table(
			thead(
				tr(
					td('@object'),
					td('@date')->width(110),
					td('@user')->width(80)
				)
			),
			tbody(
				$nodes
			)
		)->class('datagrid')

	)->class('widget-content')

)->class('widget no-border');

$notifications = null;

if($msgs = Notify::messages()){
	foreach($msgs as $msg){
		$notifications .= div(span(fdate($msg->datetime, true), a('@hide')->href('#'.$msg->uid)->class('notify-close'))->class('dtime'), p($msg->url ? a((string) $msg)->href($msg->url) : (string) $msg))->class('notify-msg notify-msg-'.$msg->type);
	}
}

echo
div()->id('dashboard-inner')->class('clearfix')->append(

	$notifications,

	div()->class('col')->append(
		div(
			User::has(User::has_or, 'orders', 'orders-view') ? a('@manager_orders')->href(url('admin/orders'))->class('orders') : '',
			User::has(User::has_or, 'products') ? a('@new_product')->href(url('admin/products/edit/0'))->class('add') : '',
			User::has(User::has_or, 'pages') ? a('@new_page')->href(url('admin/pages/edit/0'))->class('add') : ''
		)->class('quicklinks clearfix'),

		$widget_orders
	),

	div()->class('col')->append(
		$widget_stats,
		$widget_changes
	)
);
?>
</div>
*/?>