<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><!doctype html>
<html lang="<?php echo Core::$language?>" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>WEBMEX | FileManager</title>
  
  <meta name="author" content="Webmex.cz; info@webmex.cz">
  
  <base href="<?php echo $base?>">
  
  <link rel="shortcut icon" href="<?php echo $base.$tplbase?>favicon.ico">
  <link rel="stylesheet" href="<?php echo $base.$tplbase?>main.css?v=<?php echo $v?>">

  <script src="<?php echo $base.APPDIR?>/js/modernizr-1.5.min.js?v=<?php echo $v?>"></script>
  
  <script src="<?php echo $base.APPDIR?>/i18n/<?php echo Core::$language?>/lang.js?v=<?php echo $v?>"></script>
  
  <script>
  	_base = '<?php echo url('')?>';
  	_basepath = '<?php echo preg_replace('/index\.php\/$/', '', url(''))?>';
  	_appdir = '<?php echo APPDIR?>';
  	_url = '<?php echo $base?>';
  	_session_id = '<?php echo session_id()?>';
  	_fm_root = '<?php echo Core::$def['filemenager_root']?>';
  	_is_premium = <?php echo (Core::$is_premium ? 'true' : 'false')?>;
  </script>

</head>

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

  <div id="container">
    
    <div id="filemanager">
    
    	<div class="buttons">
    		<div class="uploadprogress">
    			<div class="pbar"><span></span></div>
    			<span class="status"></span>
    		</div>
    	
    		<button class="button" name="new_folder"><?php echo __('new_folder')?></button>
    		
    		<span class="uploadbtn">
    			<button class="button" name="upload"><?php echo __('upload')?></button>
    		</span>
    		
    	</div>
		
		<div class="info">
			<div class="wrap">
				
			</div>
			
			<div class="infobuttons">
				<button class="button" name="select_file"><?php echo __('select_file')?></button>
			</div>
		</div>
		
		<div class="files">
			<div class="path">

			</div>
			
			<div class="wrap">
				<ul>
					
				</ul>
			</div>
		</div>
		
    </div>
    
  </div> <!--! end of #container -->

  <!-- Javascript at the bottom for fast page loading -->
  
  <?php if(! empty($_GET['reset'])): ?>
  <script>
  	if(window.opener && window.opener._fm_callback){
  		window.opener._fm_callback = null;
  	}
  </script>
  <?php endif; ?>

  <script src="<?php echo $base.APPDIR?>/js/jquery-1.4.2.min.js?v=<?php echo $v?>"></script>
  <script src="<?php echo $base.APPDIR?>/js/plugins.js?v=<?php echo $v?>"></script>
  <script src="<?php echo $base.APPDIR?>/js/util.js?v=<?php echo $v?>"></script>
  
  <script src="<?php echo $base.APPDIR?>/vendor/plupload/js/plupload.full.min.js?v=<?php echo $v?>"></script>
  <script src="<?php echo $base.APPDIR?>/vendor/plupload/js/jquery.plupload.queue/jquery.plupload.queue.min.js?v=<?php echo $v?>"></script>
  <script src="<?php echo $base.APPDIR?>/vendor/plupload/js/i18n/cs.js?v=<?php echo $v?>"></script>

  <script src="<?php echo $base.APPDIR?>/js/admin.js?v=<?php echo $v?>"></script>
  <script src="<?php echo $base.APPDIR?>/js/filemanager.js?v=<?php echo $v?>"></script>
  
  <link rel="stylesheet" href="<?php echo $base.APPDIR?>/vendor/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css">

  <!--[if lt IE 7 ]>
    <script src="<?php echo $base.APPDIR?>/js/dd_belatedpng.js?v=<?php echo $v?>"></script>
  <![endif]-->
  
</body>
</html>