<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><footer>
	<div class="right">
		<?php echo __('version')?>: <?php echo Core::version?>
	</div>

	WEBMEX &raquo; <a href="http://www.webmex.cz/" target="_blank">www.webmex.cz</a>
</footer>

<div style="display:none;">
	<div id="webmex_about" class="modaldialog" style="width:500px;height:300px;">
		<div class="logo">
			<big>WEBMEX</big>
			<small><?php echo __('version')?> <?php echo Core::version.(Core::$servicepacks ? join(', ', Core::$servicepacks) : '')?></small>
		</div>

		<div class="info">
			<a href="http://www.webmex.cz/" target="_blank" class="webmexlogo"><img src="<?php echo $tplbase?>images/webmex-logo.png" alt="" /></a>
			<p><a href="http://www.webmex.cz/" target="_blank">WEBMEX</a> All Rights Reserved. <a href="http://www.webmex.cz/" target="_blank">www.webmex.cz</a></p>

			<p><?php echo __('license')?>:
			<a href="http://www.webmex.cz/" target="_blank">
				<?php echo (Core::$is_premium ? (Core::$is_trial ? 'Trial ('.Core::$is_trial.')' : (Core::$unlimited_license ? 'Unlimited' : 'Premium')) : 'Free')?>
			</a></p>
			<p>PHP: <?php echo phpversion()?><br />DB driver: <?php echo Core::$db_inst->_type?> (<?php echo (Core::$def['db_library'] ? strtoupper(Core::$def['db_library']) : 'NOTORM')?>)</p>
		</div>
	</div>

	<div id="webmex_premium_wrap">
		<div id="webmex_premium" class="modaldialog">
			<?php include(APPROOT.'i18n/'.Core::$language.'/premium_dialog.php'); ?>
		</div>
	</div>

</div>

<?php echo (Core::$profiler ? tpl('system/profiler.latte') : '')?>