<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><header>
	<ul id="toplinks">
		<li><?php echo __('logged_in')?>: <strong><?php echo User::get('username')?></strong></li>
		<li><a href="<?php echo url('admin')?>"><?php echo __('dashboard')?></a>
			<?php if($notify_count = Notify::count()): ?>
			<span class="notify-count"><?php echo $notify_count?></span>
			<?php endif; ?>
		</li>
		<li><a href="#" id="open-filemanager"><?php echo __('filemanager')?></a></li>

		<li><a href="http://www.webmex.cz/support" target="_blank"><?php echo __('support')?></a></li>
		<?php if(User::has('settings')): ?>
		<li><a href="<?php echo url('admin/settings')?>"><?php echo __('settings')?></a></li>
		<?php endif; ?>

		<li><a href="#webmex_about" id="webmex_about_link"><?php echo __('about_webmex')?></a></li>
		<li class="logout"><a href="<?php echo url('admin/default/logout')?>"><?php echo __('logout')?></a></li>
	</ul>

	<h1><a href="<?php echo url(null)?>" target="_blank"><?php echo Core::config('store_name')?></a></h1>

	<div id="quicklaunch">
		<span><?php echo __('quick_launch')?></span>

		<div class="dropdown">
			<form action="<?php echo url('admin/default/quicklaunch')?>" method="post">
				<fieldset>
					<input type="text" name="order" value="" title="<?php echo __('orders').' - '.__('ql_orders')?>" placeholder="<?php echo __('ql_orders')?>" autocomplete="off" class="input-text ql-orders" />
					<input type="text" name="product" value="" title="<?php echo __('products').' - '.__('ql_products')?>" placeholder="<?php echo __('ql_products')?>" autocomplete="off" class="input-text ql-products" />
					<input type="text" name="page" value="" title="<?php echo __('pages').' - '.__('ql_pages')?>" placeholder="<?php echo __('ql_pages')?>" autocomplete="off" class="input-text ql-pages" />
					<input type="text" name="customer" value="" title="<?php echo __('customers').' - '.__('ql_customers')?>" placeholder="<?php echo __('ql_customers')?>" autocomplete="off" class="input-text ql-customers" />
				</fieldset>

				<button type="submit"><?php echo __('search')?></button>
			</form>
		</div>
	</div>

	<div id="mainnav">
		<ul class="clearfix">
			<?php echo tpl('menu.latte')?>
		</ul>

		<div class="subnavwrap">

			<?php echo tpl('menu_subnav.latte')?>

		</div>
	</div>
</header>