<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

echo tpl('layout_head.latte'); ?>
  <div id="container">
    <?php echo tpl('header.latte'); ?>

    <div id="main">
		<?php echo $content?>
    </div>

    <?php echo tpl('footer.latte'); ?>

  </div> <!--! end of #container -->

<?php echo tpl('layout_foot.latte'); ?>