<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><!doctype html>
<html lang="<?php echo Core::$language?>" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Přihlášení doadministrace<?php echo Core::config('store_name')?></title>
	<meta name="author" content="Webmex.cz">
	<base href="<?php echo $base?>">

	<link rel="shortcut icon" href="<?php echo $base.$tplbase?>favicon.ico">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,latin-ext">

	<link rel="stylesheet" href="<?php echo $base.APPDIR?>/admin/template/default/css/bootstrap.min.css">
	<link rel="stylesheet" href="<?php echo $base.APPDIR?>/admin/template/default/css/screen.less.css">

	<script src="<?php echo url('script/lang/admin/'.Core::$language, array('v' => $v))?>"></script>

</head>

<body>
<div class="wrapper form-signin">
    <div class="row wrapperMain">
		<div class="col-xs-6">
			<a href="/"><img class="dopravaImg" src="{$base}core/template/fortel.cz/i/logo.png" alt="<?php echo Core::config('store_name')?>"></a>
			<p>Pokud jste se na tuto stránku dostal(a) omylem, pokřačujte na <a href="<?php echo $base?>">Hlavní stránku</a>.</p>
		</div>
	  
		<div class="col-xs-6">
			<form action="<?php echo url('admin/default/login'); ?>" method="post"  class="form-signin"  data-toggle="validator">
				
				<?php if(! empty($_SESSION['flash_login_error'])): ?>
					<p class="bg-danger">Zadali jste chybné heslo nebo jméno.</p>
				<?php endif; ?>

				<!--[if lt IE 8 ]> 
					<p class="bg-danger"><?php echo __('unsupported_browser')?></p>
				<![endif]-->

				
				<?php echo forminput('text', 'username') .forminput('password', 'password', '', array('autocomplete' => 'on'))?>
				

				
				<button class="btn btn-lg btn btn-success pull-right" type="submit"><?php echo __('login')?></button>

				<a href="#" onclick="lostpassword(this);return false;" class="pull-right btn-link"><?php echo __('lost_password')?></a>
			</form>
		</div>
	</div>
    
	<footer>
		<p class="text-right">Tento e-shop pohání systém <a href="http://www.webmex.cz" title="Webmex">WEBMEX <?php echo Core::version?></a>.</p>
	</footer>
</div>


  <?php if(! empty($_SESSION['flash_msg']) && is_array($_SESSION['flash_msg'])): ?>
	<script>
		flashMsg(<?php echo json_encode($_SESSION['flash_msg'])?>);
	</script>
  <?php endif; ?>

  <script>
  	function lostpassword(el)
  	{
  		var el = $(el);
  		var msg = el.html();
  		var email = prompt('<?php echo __('enter_your_email')?>');

  		if(email){
  			el.html(_lang.loading).addClass('loading');
  			$.post('<?php echo url('admin/default/lost_password')?>', { email: email }, function(response){
  				el.html(msg).removeClass('loading');

  				alert(response.msg);
  			}, 'json');
  		}
  	}
  </script>
</body>
</html>