<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>
<style>
div.btn {
	background: #f0f0f0;
	padding: 1%;
	margin-right: 1%;
	float: left;
	width: 17%;
	font-size:12px;
	line-height: 1.2;
	min-height: 130px;
}
div.btn:last-child {
	margin-right: 0;
}
div.btn p {
	margin-top: 15px;
	color:  #666;
}
div.highlight {
	background: #fcf9e1;
}
</style>

<form class="form" action="<?php echo url('admin/maintenance')?>" method="post">
	<h2><?php echo __('system_maintenance')?></h2>
	
	<div class="clearfix">
		<div class="btn<?php echo (Core::config('maintenance') ? ' highlight' : '')?>">
			<button type="submit" name="maintenance_<?php echo (Core::config('maintenance') ? 'off' : 'on')?>" class="button"><?php echo __('maintenance_'.(Core::config('maintenance') ? 'off' : 'on'))?></button>
			
			<p><?php echo __('maintenance_help')?></p>
		</div>
		
		<div class="btn">
			<button type="submit" name="clear_cache" class="button"><?php echo __('clear_cache')?></button>
			
			<p><?php echo __('clear_cache_help')?></p>
		</div>
		
		<div class="btn">
			<button type="submit" name="reindex" class="button"><?php echo __('reindex')?></button>
			
			<p><?php echo __('reindex_help')?></p>
		</div>
		
		<div class="btn">
			<button type="submit" name="flush_products" class="button"><?php echo __('flush_products')?></button>
			
			<p><?php echo __('flush_products_help')?></p>
		</div>

		<div class="btn">
			<button type="submit" name="regenerate_images" class="button"><?php echo __('regenerate_images')?></button>
			
			<p><?php echo __('regenerate_images_help')?></p>
		</div>
	</div>
	
</form>

<script>
	$(function(){
		$('button[name="reindex"]').bind('click', function(){
			var p = new progress(_lang.reindex_running);
			
			p.request(_base+'admin/maintenance/ajax_reindex', {}, function(resp){
				p.setProgress(resp.progress);
				p.log(resp.log);
				
			}, function(){
				p.log(_lang.you_will_be_redirected);
				
				setTimeout(function(){
					window.location = window.location.href;
				}, 5000);
			});
			
			return false;
		});
		
		$('button[name="flush_products"]').bind('click', function(){
			if(confirm('<?php echo __('flush_products_confirm')?>')){
				window.location = '<?php echo url('admin/maintenance/flush')?>';
			}
			
			return false;
		});
		
		<?php if(isSet($_SESSION['update_reindex'])): ?>
		$('button[name="reindex"]').trigger('click');
		<?php unset($_SESSION['update_reindex']); endif; ?>
	});
	
</script>