<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>

<?php foreach(Menu::$items as $item): ?>
<li class="subnav-<?php echo $item['key']?>"><a href="<?php echo $item['url']?>" class="<?php echo $item['iconCls']?>"><?php echo $item['text']?></a></li>
<?php endforeach; ?>