<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><script src="<?php echo APPDIR?>/vendor/farbtastic/farbtastic.js"></script>
<link rel="stylesheet" href="<?php echo APPDIR?>/vendor/farbtastic/farbtastic.css">
<style>
	.tabwrap {
		width: 400px;
	}
	fieldset.optional {
		border: 1px solid #d6d6d6;
		margin: 15px 0;
		padding: 5px 10px;
	}
	fieldset.optional legend input {
		vertical-align: middle;
		margin-top: -1px;
	}
	.editorwrap .cke_skin_kama {
		margin-left: 135px;
	}
	.editorwrap textarea {
		height: 200px;
	}
	.watermark-holder {
		padding-left: 33%;
	}
</style>

<form class="form" action="<?php echo url('admin/superadmin')?>" method="post" enctype="multipart/form-data">
	<h2><?php echo __('superadmin')?></h2>

	<div class="buttons tbar">
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

	<div class="clearfix">
		<div class="tabsWrap">
			<ul class="tabs clearfix">
				<li class="active"><a href="#tab-general"><?php echo __('general')?></a></li>
			</ul>

			<div id="tab-general" class="tab active">
				<div class="tabwrap">
					<?php echo 
						forminput('text', 'webmex_product_limit', $config['webmex_product_limit'])
						.forminput('text', 'webmex_disk_space', $config['webmex_disk_space'])
						.forminput('text', 'webmex_plan_name', $config['webmex_plan_name'])
						.forminput('text', 'webmex_license_expiration', $config['webmex_license_expiration'], array('cls' => 'date medium', 'label' => __('license_expiration')))
					?>
				</div>
			</div>
		</div>
	</div>
</form>