<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><style>
	.updatestatus {
		background: #f0f0f0;
		border: 1px solid #d6d6d6;
		padding: 10px;
		line-height: 160%;
	}
	.updatestatus button {
		margin-top: 10px;
	}
	.updatestatus p.msg {
		background: #fff;
		padding: 10px;
		margin: 0 0 10px 0;
	}
	.updatestatus .updateinfo {
		width: auto;
		height: 80px;
		overflow-y: scroll;
		padding: 5px;
		font-family: monospace;
		white-space: nowrap;
		background: #fff;
		border: 1px solid #ddd;
		margin: 5px 0 0 0;
	}
	.updatestatus .item {
		background: #fff;
		padding: 10px;
		margin-bottom: 10px;
	}
	.updatestatus .item label {
		font-weight: bold;
	}
	.updatestatus .item .version {
		color: #777;
	}
	#ftp {
		margin-top: 15px;
		display: none;
	}
	#ftp fieldset {
		width: 300px;
	}
	#ftp p {
		margin-bottom: 10px;
	}
	.enable-beta {
		background: #f0f0f0;
		padding: 5px;
		margin-bottom: 10px;
		text-align: right;
		height: 30px;
	}
	.enable-beta .install {
		float: left;
		width: 350px;
	}
	.enable-beta .beta {
		margin: 7px 10px 0 10px;
	}
	.enable-beta .install .inputwrap {
		width: 300px;
		margin-bottom: 0 !important;
	}
	.enable-beta .install .inputwrap input {
		width: 30% !important;
	}
	.enable-beta .install .button {
		float: right;
	}
	.install-not-found {
		background: #ddd;
		padding: 10px;
		font-weight: bold;
		margin-bottom: 10px;
	}
</style>

	<h2><?php echo __('update')?></h2>

<div class="clearfix">

	<?php if($update !== null): ?>
	<form class="form" action="<?php echo url('admin/update')?>" method="post">
		<div class="enable-beta">
			<fieldset class="install clearfix label-left">
				<button type="submit" class="button"><?php echo  __('quick_install_check')?></button>
				<?php echo forminput('text', 'install', (! empty($_POST['install']) ? $_POST['install'] : ''), array('label' => __('quick_install')))?>
			</fieldset>

			<div class="beta">
				<?php echo forminput('checkbox', 'enable_beta_version', $beta)?>
			</div>
		</div>
    
		<?php if($dbver != $ver): ?>
		<p class="install-not-found"><?php echo __('update_force_tover', $dbver, $ver)?> <a href="<?php echo url('admin/update/updatedb')?>"><?php echo __('update_force_tover_link', $dbver, $ver)?></a></p>
		<?php endif; ?>    

		<?php if(! empty($_POST['install']) && ! $has_install): ?>
		<p class="install-not-found"><?php echo __('quick_install_not_found', $_POST['install'])?></p>
		<?php endif; ?>
	</form>
	<?php endif; ?>

	<form class="form update" action="<?php echo url('admin/update')?>" method="post">

		<div class="updatestatus">
			<?php if($msg): ?>
				<p class="msg"><?php echo $msg?></p>
			<?php endif; ?>

			<?php if($update && $update['items']): ?>

				<?php foreach($update['items'] as $item_name => $data):
					$is_service_pack = (bool) preg_match('/^SP_[\d\-\.]+$/', $item_name);
				?>
				<div class="item">
					<label>
						<?php if(! empty($data['install'])): ?>
							<input type="checkbox" name="update[<?php echo $item_name?>]" value="<?php echo (! empty($data['version_spec']) ? $data['version_spec'] : $data['version'])?>"<?php echo ($data['already_installed'] ? ' disabled="disabled"' : ' checked="checked"')?> />

							<?php echo __($data['already_installed'] ? 'quick_install_already_installed' : 'quick_install_install')?> &mdash;

						<?php else: ?>
							<input type="checkbox" checked="checked" name="update[<?php echo $item_name?>]" value="<?php echo (! empty($data['version_spec']) ? $data['version_spec'] : $data['version'])?>" />
						<?php endif; ?>

						<?php if($item_name == 'system'): ?>
							<?php echo __('system')?>
						<?php elseif($is_service_pack): ?>
							<?php echo __('service_pack').': '.$item_name?>
						<?php else: ?>
							<?php echo __('module').': '.($data['module'] ? $data['module']->getInfo('name') : $data['name'].' ('.$data['version'].')')?>
						<?php endif; ?>

					</label><br />

					<?php if(! $is_service_pack && empty($data['install'])): ?>
					<span class="version">
						<?php echo __('current_version')?>:

						<?php if($item_name == 'system'): ?>
							<?php echo Core::version?>
						<?php else: ?>
							<?php echo $data['module']->getInfo('version')?>
						<?php endif; ?>

						&nbsp;&nbsp;&nbsp;&nbsp;<?php echo __('available_update')?>: <strong><?php echo $data['version'].(! empty($data['version_spec']) ? ' ('.$data['version_spec'].')' : '')?></strong>
					</span><br />
					<?php endif; ?>

					<?php if($data['description']): ?>
					<div class="updateinfo"><?php echo nl2br($data['description'])?></div>
					<?php endif; ?>
				</div>
				<?php endforeach; ?>

				<button name="update" type="submit" class="button"><?php echo __('install')?></button>
			<?php elseif($update === null || $update === -1): ?>
      
				<strong><?php echo __('auto_update_disabled')?></strong><br />

			<?php elseif($update === -2): ?>
				<strong><?php echo __('update_version_error')?></strong><br />

			<?php else: ?>
				<em><?php echo __('no_update_available')?></em><br />
			<?php endif; ?>
		</div>

		<?php if($ftp_required && ! FS::$wrapper): ?>
		<div id="ftp">
			<p><?php echo __('update_ftp_help')?></p>
			<fieldset>
				<?php echo forminput('text', 'ftp_server', $ftp['ftp_server'])
				.forminput('text', 'ftp_port', $ftp['ftp_port'], array('cls' => 'short'))
				.forminput('text', 'ftp_dir', $ftp['ftp_dir'])
				.forminput('text', 'ftp_user', $ftp['ftp_user'])
				.forminput('text', 'ftp_password', $ftp['ftp_password'])
				.forminput('checkbox', 'ftp_save_cookie', 1)?>
			</fieldset>

			<button name="test" class="button"><?php echo __('test_connection')?></button>
			<button name="next" class="button" disabled="disabled"><?php echo __('next')?> &raquo;</button>
		</div>
		<?php endif; ?>


	</form>
</div>

<script>
	$(function(){

		$('#installbtn').bind('click', function(){
			var code = $(this).parent().find('input[name="install"]').val();

			if(code){
				window.location.href='<?php echo url('admin/update', array('install' => ''))?>'+code;
			}
		});

		$('input[name="enable_beta_version"]').bind('click', function(){
			window.location.href='<?php echo url('admin/update', array('beta' => ''))?>'+($(this).is(':checked') ? 1 : 0);
		});

		<?php if($ftp_required && ! FS::$wrapper): ?>
			$('button[name="update"]').bind('click', function(){
				$('#ftp').show();
				return false;
			});

			$('button[name="test"]').bind('click', function(){
				var btn = $(this);
				btn.html('Testing...').attr('disabled', true);

				$.post(_base+'admin/update/ajax_testConnection', {
					ftp_server: $('input[name="ftp_server"]').val(),
					ftp_port: $('input[name="ftp_port"]').val(),
					ftp_dir: $('input[name="ftp_dir"]').val(),
					ftp_user: $('input[name="ftp_user"]').val(),
					ftp_password: $('input[name="ftp_password"]').val()
				}, function(result){
					if(result == 'ok'){
						alert('<?php echo __('connection_ok')?>');
						$('button[name="next"]').removeAttr('disabled');

					}else if(result == 'invalid_dir'){
						alert('<?php echo __('connection_invalid_dir')?>');

					}else{
						alert('<?php echo __('connection_failed')?>');
					}

					btn.html('<?php echo __('test_connection')?>').removeAttr('disabled');
				});

				return false;
			});
		<?php endif; ?>

		$('form.update').bind('submit', function(){

			var values = {};
			var has_update = false;

			$(this).find('input').each(function(){

				if($(this).is(':checked') && this.name.match(/update/)){
					has_update = true;
				}

				if($(this).is(':checked') || $(this).is(':not([type="checkbox"])')){
					values[$(this).attr('name')] = $(this).val();
				}
			});

			if(! has_update){
				alert('<?php echo __('update_select_items')?>');
				return false;
			}

			var p = new progress(_lang.update_running);

			values['ftp_save_cookie'] = $(this).find('input[name="ftp_save_cookie"]').is(':checked') ? 1 : 0;

			p.request(_base+'admin/update/ajax_run', values, function(resp){
				p.setProgress(resp.progress);
				p.log(resp.log);

			}, function(){

				p.request(_base+'admin/update/ajax_run_db', {}, function(resp){
					p.setProgress(resp.progress);
					p.log(resp.log);

				}, function(){
					p.log(_lang.you_will_be_redirected);

					setTimeout(function(){
						window.location = window.location.href;
					}, 3000);
				});

			});

			return false;
		});

	});
</script>