<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>

<style>
	.result {
		background: #f0f0f0;
		padding: 10px;
		margin: 15px 0;
		line-height: 150%;
	}
</style>

<form class="form xmlimport" action="<?php echo url('admin/xmlimport/import')?>" method="post">
	<h2><?php echo __('xml_import')?></h2>

	<div class="clearfix">

		<?php if(! Core::$is_premium): ?>
		<p class="premium-info"><?php echo __('premium_info')?></p>
		<?php endif; ?>

		<?php if(! empty($result)): ?>
		<div class="result">
			<h4><?php echo __('xml_import_success')?>:</h4>
			<?php echo __('inserted')?>: <?php echo $result['insert']?><br />
			<?php echo __('updated')?>: <?php echo $result['update']?>
		</div>
		<?php endif; ?>

		<div style="width:300px;">

			<fieldset>
			   <?php echo forminput('select', 'schema', '', array('options' => $imports, 'label' => __('select_import_schema')))?>
			</fieldset>

			<div class="buttons buttons-foot">
				<button type="submit" class="button" name="do_import"<?php echo (! Core::$is_premium ? ' disabled="disabled"' : '') ?>><?php echo __('import')?> &rsaquo;</button>
			</div>
		</div>

	</div>

</form>

<h3 style="margin-top: 20px;"><?php echo __('cron_links')?></h3>
<table class="datagrid">
	<thead>
		<tr>
			<td width="120"><?php echo __('name')?></td>
			<td><?php echo __('url')?></td>
		</tr>
	</thead>

	<tbody>
		<?php foreach($imports as $basename => $name): ?>
		<tr>
			<td><?php echo $name?></td>
			<td><?php echo url('admin/xmlimport/import/'.$basename, array('k' => $key), true)?></td>
		</tr>
		<?php endforeach; ?>
	</tbody>
</table>


<script>
	$(function(){

		$('form.xmlimport').bind('submit', function(){
			var p = new progress(_lang.import_running);
			var schema = $('select[name="schema"]').val();

			var runImport = function(){
				var t = new Date();
				t = t.getTime();

				p.request(_base+'admin/xmlimport/import', { ajax: true, schema: schema, t: t }, function(resp){
					p.setProgress(resp.progress);
					if(resp.log){
						p.log(resp.log);
					}

					if(resp.nextStep){
						runImport();
					}

					if(resp.finished){
						p.setProgress(100);
						p.log(_lang.you_will_be_redirected);

						setTimeout(function(){
							window.location = window.location.href;
						}, 5000);
					}

				}, function(){});
			}

			runImport();

			return false;
		});

	});
</script>