<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>
<style>
	.orderproducts {
		margin-top: 30px;
	}
	.orderproducts .input .name {
		width: 99%;
	}
	.orderproducts tfoot {
		border: 1px solid #d6d6d6;
		border-bottom-color: #999;
		background: #f0f0f0;
	}
	.orderproducts tfoot td {
		padding: 5px 15px 5px 5px;
	}
	.orderproducts tfoot .total td {
		font-size: 120%;
		font-weight: bold;
	}
	.orderproducts .actions {
		width: 30px !important;
	}
	.orderproducts #newrow {
		display: none;
	}
	.orderproducts .stock {
		text-align: right;
		padding-right: 30px;
	}
	.company-ids .inputwrap {
		width: 35% !important;
	}
	.search-buttons {
		background: #f0f0f0 no-repeat right center;
		padding: 5px 0;
		margin-bottom: 15px;
		color: #999;
	}
	.search-buttons a {
		margin: 0 7px;
	}
	.search-buttons-searching {
		background-image: url(webmex/admin/template/default/images/loader.gif);
	}
</style>

<form class="form" action="<?php echo url('admin/invoices/edit/'.$invoice['id'])?>" method="post">

	<h2><a href="<?php echo url('admin/invoices')?>"><?php echo __('invoices')?></a> &rsaquo; #<?php echo $invoice['invoice_num']?></h2>

	<div class="buttons tbar">
		<?php if($invoice['last_change']): ?>
		<div class="log">
			<?php echo __('last_change')?>: <strong><?php echo fdate($invoice['last_change'], true)?></strong>, <strong><?php echo Core::$db->user[$invoice['last_change_user']]['username']?></strong>
		</div>
		<?php endif; ?>

		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

	<div class="clearfix">
		<fieldset style="width:350px;float:left;">
			<?php echo forminput('select', 'type', $invoice['type'], array('options' => array(
				'invoice' => __('invoice_type_invoice'),
				'proforma' => __('invoice_type_proforma')
			)))
			.forminput('select', 'status', $invoice['status'], array('options' => array(
				1 => __('invoice_status_1'),
				2 => __('invoice_status_2'),
				3 => __('invoice_status_3')
			)))
			.forminput('text', 'invoice_num', $invoice['invoice_num'])
			.forminput('text', 'date_issue', date('Y-m-d', $invoice['date_issue']), array('cls' => 'date medium', 'label' => __('invoice_issue_date')))
			.forminput('text', 'date_due', date('Y-m-d', $invoice['date_due']), array('cls' => 'date medium', 'label' => __('invoice_due_date')))
			.forminput('text', 'payment', $invoice['payment'])
			.forminput('text', 'delivery', $invoice['delivery'])?>
		</fieldset>

		<fieldset style="float:left;width:350px;margin-left:25px;" id="customer-details">

			<div class="inline company-ids clearfix">
				<?php echo forminput('text', 'company_id', $invoice['company_id'])
				.forminput('text', 'company_vat', $invoice['company_vat'])?>
			</div>

			<div class="search-buttons">
				<a href="#" class="ares"><?php echo __('search_in_ares')?></a><!-- | <a href="#"><?php echo __('find_customer')?></a> -->
			</div>

			<?php echo forminput('text', 'customer_name', $invoice['customer_name'])?>
			<?php echo forminput('textarea', 'address', $invoice['address'], array('rows' => 5))?>
			<?php echo forminput('textarea', 'shipping_address', $invoice['shipping_address'], array('rows' => 5, 'label' => __('shipping_address')))?>

			<fieldset class="toggleset">
			<legend><?php echo __('advanced_options')?></legend>

				<div class="wrap">
					<?php echo forminput('text', 'symbol', $invoice['symbol'], array('cls' => 'medium', 'label' => __('invoice_symbol')))
					.forminput('text', 'date_vat', date('Y-m-d', $invoice['date_vat']), array('cls' => 'date medium', 'label' => __('invoice_vat_date')))
					.forminput('textarea', 'note', $invoice['note'], array('rows' => 3, 'label' => __('comment')))?>
				</div>
			</fieldset>
		</fieldset>
	</div>


	<div class="orderproducts">
		<h3><?php echo __('invoice_items')?></h3>

		<table class="datagrid">
		<thead>
			<tr>
				<td width="140"><?php echo __('sku')?></td>
				<td><?php echo __('name')?></td>
				<td class="right" width="100"><?php echo __(PRICE_NAME)?></td>
				<?php if(Core::config('vat_payer')): ?>
					<td class="right" width="60"><?php echo __('vat')?> %</td>
				<?php endif; ?>
				<td class="center" width="60"><?php echo __('quantity')?></td>
				<td class="right" width="100"><?php echo __(Core::config('vat_payer') ? 'total_incl_vat' : 'total')?></td>
				<td class="actions">&nbsp;</td>
			</tr>
		</thead>

		<tbody>
			<?php

			if($invoice['id']):
				$products = $invoice->invoice_items();

				if(Core::$db_inst->_type == 'sqlite'){
					$products->order('rowid ASC');
				}

				foreach($products as $product): ?>
				<tr>
					<td class="input">
						<input type="text" name="product[<?php echo $product['id']?>][sku]" class="input-text" value="<?php echo $product['sku']?>" />
					</td>
					<td class="input">
						<input type="text" name="product[<?php echo $product['id']?>][name]" class="input-text name" value="<?php echo htmlspecialchars($product['name'])?>" />
					</td>
					<td class="input">
						<input type="text" name="product[<?php echo $product['id']?>][price]" class="input-text right" value="<?php echo fprice($product['price'])?>" />
					</td>
					<?php if(Core::config('vat_payer')): ?>
						<td class="input">
							<input type="text" name="product[<?php echo $product['id']?>][vat]" class="input-text right" value="<?php echo fprice($product['vat'])?>" />
						</td>
					<?php endif; ?>
					<td class="input">
						<input type="text" name="product[<?php echo $product['id']?>][quantity]" class="input-text center" value="<?php echo $product['quantity']?>" />
					</td>
					<td class="right">
						<span class="subtotal"></span>
					</td>
					<td class="actions">
						<a href="#" class="deleterow" title="<?php echo __('delete')?>">&nbsp;</a>
					</td>
				</tr>
				<?php
				endforeach;
			endif; ?>

			<tr id="newrow">
				<td class="input">
					<input type="text" name="product[0][sku]" class="input-text" value="" />
				</td>
				<td class="input">
					<input type="text" name="product[0][name]" class="input-text name" value="" />
				</td>
				<td class="input">
					<input type="text" name="product[0][price]" class="input-text right" value="" />
				</td>
				<?php if(Core::config('vat_payer')): ?>
					<td class="input">
						<input type="text" name="product[0][vat]" class="input-text right" value="<?php echo VAT_DEFAULT?>" />
					</td>
				<?php endif; ?>
				<td class="input">
					<input type="text" name="product[0][quantity]" class="input-text center" value="1" />
				</td>
				<td class="right">
					<span class="subtotal"></span>
				</td>
				<td class="actions">
					<a href="#" class="deleterow" title="<?php echo __('delete')?>">&nbsp;</a>
				</td>
			</tr>
		</tbody>

		<tfoot>
			<?php if(Core::config('vat_payer')): ?>
			<tr>
				<td colspan="2" rowspan="2">
					<button class="button" name="add_row"><?php echo __('add_row')?></button>
					<button class="button" name="add_product"><?php echo __('add_product')?></button>
				</td>
				<td class="right" colspan="3"><?php echo __('subtotal')?>:</td>
				<td class="right"><span id="subtotal"></span></td>
				<td rowspan="3" class="stock">

				</td>
			</tr>
			<tr>
				<td class="right" colspan="3"><?php echo __('vat')?>:</td>
				<td class="right"><span id="vat"></span></td>
			</tr>
			<tr class="total">
				<td colspan="5" class="right"><?php echo __('total')?>:</td>
				<td class="right"><span id="total"></span></td>
			</tr>


			<?php else: ?>
			<tr class="total">
				<td colspan="2">
					<button class="button" name="add_row"><?php echo __('add_row')?></button>
					<button class="button" name="add_product"><?php echo __('add_product')?></button>
				</td>
				<td class="right" colspan="2"><?php echo __('total')?>:</td>
				<td class="right"><span id="total"></span></td>
				<td>&nbsp;</td>
			</tr>

			<?php endif; ?>

		</tfoot>


	</table>
	</div>

	<div class="buttons bbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>


</form>

<script>
	$(function(){
		var toggleShipForm = function(enable){
			var f = $('#shippingaddr');

			if(! enable){
				f.find('input').attr('disabled', true);
				f.css('opacity', 0.5);

			}else{
				f.find('input').removeAttr('disabled');
				f.css('opacity', 1);
			}
		}

		var inp = $('input[name=shipping_as_billing]');

		inp.bind('click', function(){
			toggleShipForm(! this.checked);
		});

		toggleShipForm(! inp.is(':checked'));

		var recalc = function(){
			var subtotal = 0;
			var total = 0;
			var vat = 0;

			$('.orderproducts tbody tr:visible').each(function(){
				var psubtotal = 0, pvat = 0;
				var p = parseFloatNum($(this).find('input[name*="price"]').val() || 0);
				var v = parseFloatNum($(this).find('input[name*="vat"]').val() || 0) / 100;
				var q = parseFloatNum($(this).find('input[name*="quantity"]').val() || 1);

				if(_vat_payer){
					if(_vat_mode == 'exclude'){
						psubtotal = (p * q);
						pvat = (p * q * v);

					}else{
						var p_excl = p / (v + 1);
						psubtotal = (p_excl * q);
						pvat = (p - p_excl) * q;
					}

				}else{
					psubtotal = (p * q);
				}

				subtotal += psubtotal;
				vat += pvat;

				$(this).find('span.subtotal').html(displayPrice(psubtotal + pvat));
			});

			if(_vat_payer){
				$('#subtotal').html(displayPrice(subtotal));
				$('#vat').html(displayPrice(vat, (_vat_mode == 'exclude')));
			}

			total = subtotal + vat;

			total = Math.round(total * Math.pow(10, _order_round_decimals)) / Math.pow(10, _order_round_decimals);


			$('#total').html(displayPrice(total));
		}

		$('.orderproducts input').live('change', recalc);

		recalc();

		var newid = 0;

		$('button[name="add_row"]').bind('click', function(){
			var row = $('#newrow').clone();

			newid ++;

			row.find('input[name^="product[0]"]').each(function(){
				$(this).attr('name', $(this).attr('name').replace(/product\[0\]/, 'product[new_'+newid+']'));
			});

			$('#newrow').before(row);

			row.removeAttr('id').show();

			return false;
		});

		<?php if(! $invoice['id']): ?>
		$('button[name="add_row"]').trigger('click');
		<?php endif; ?>

		$('button[name="add_product"]').bind('click', function(){
			productfinder({
				callback: function(products){

					$.each(products, function(i, product){
						product.quantity = 1;

						var row = $('#newrow').clone();

						newid ++;

						row.find('input[name^="product[0]"]').each(function(){
							var name = this.name.match(/\[(\w+)\]$/)[1];

							$(this).attr('name', $(this).attr('name').replace(/product\[0\]/, 'product[new_'+newid+']'));
							$(this).val(product[name] || '');
						});

						$('#newrow').before(row);

						row.removeAttr('id').show();
					});

					recalc();
				}
			});
			return false;
		});

		$('.orderproducts a.deleterow').live('click', function(){
			if(confirm(_lang.confirm_delete)){
				$(this).parents('tr:first').remove();
				recalc();
			}
			return false;
		});

		$('button[name="create_invoice"]').bind('click', function(){
			var ret = $('#invoiceform').is(':visible');

			$('#invoiceform').show();

			return ret;
		});

		$('a.ares').bind('click', function(){
			var wrap = $('#customer-details');
			var company_id = $('input[name="company_id"]').val();

			if(! company_id){
				alert('<?php echo __('enter_company_id')?>');
				return false;
			}

			$('.search-buttons').addClass('search-buttons-searching');

			$.post(_base+'admin/invoices/ares', { company_id: company_id }, function(response){
				if(response && response.status && response.info){
					$('input[name="company_vat"]', wrap).val(response.info.dic || '');
					$('input[name="customer_name"]', wrap).val(response.info.name || '');
					$('textarea[name="address"]', wrap).val(response.info.street+"\n"+response.info.zip+' '+response.info.city+"\n"+response.info.country);

				}else if(response && response.msg == -1){
					alert('<?php echo __('ares_no_record_found')?>');

				}else{
					alert('Unknown error');
				}


				$('.search-buttons').removeClass('search-buttons-searching');

			}, 'json');

			return false;
		});
	});
</script>