<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><style>
	.inline .inputwrap {
		width: 100px !important;
	}
</style>

<form class="form" action="<?php echo url('admin/settings/country/'.$country['id'])?>" method="post">

	<h2><a href="<?php echo url('admin/settings/countries')?>"><?php echo __('countries')?></a> &rsaquo; <?php echo $country['name']?></h2>

	<div class="buttons tbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

	<div class="clearfix">
		<fieldset style="width:350px">
			<?php echo forminput('text', 'name', $country['name'])
			.forminput('text', 'position', $country['position'], array('cls' => 'short'))?>
		</fieldset>
	</div>

	<div class="buttons bbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>


</form>