<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><a href="<?php echo url('admin/settings/country/0')?>" class="addbtn"><?php echo __('new_country')?></a>

<h2><?php echo __('countries')?></h2>

<form class="form gridform" action="<?php echo url('admin/settings/availabilities')?>" method="post">

	<div class="buttons">
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

	<table class="datagrid">
		<thead>
			<tr>
				<td class="<?php echo ($order_by == 'name' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'name', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('name')?></a></td>
				<td width="60" class="<?php echo ($order_by == 'position' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'position', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('position')?></a></td>
				<td class="actions">&nbsp;</td>
			</tr>
		</thead>

		<tbody>
			<?php if(! count($countries)): ?>
				<tr class="norecords">
					<td colspan="8"><?php echo __('no_records')?></td>
				</tr>
			<?php endif; ?>

			<?php foreach($countries as $country): ?>
				<tr>
					<td><a href="<?php echo url('admin/settings/country/'.$country['id'])?>"><?php echo $country['name']?></a></td>
					<td class="center input">
						<input type="text" name="position[<?php echo $country['id']?>]" class="input-text center" value="<?php echo $country['position']?>" />
					</td>

					<td class="actions">
						<a href="<?php echo url('admin/settings/country/'.$country['id'])?>" class="edit" title="<?php echo __('edit')?>">&nbsp;</a>
						<a href="<?php echo url('admin/settings/country_delete/'.$country['id'])?>" class="delete" title="<?php echo __('delete')?>">&nbsp;</a>
					</td>
				</tr>
			<?php endforeach; ?>
		</tbody>
	</table>

	<div class="buttons buttons-foot">
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

</form>