/**
 * Webmex Homecredit module
 */

.homecredit-wrap {
	float: left;
	width: 230px;
	margin: 15px 0;
	border: 1px solid #e2383f;
	padding: 10px;
	background: url({@base}/etc/modules/webmex_homecredit/template/{@tplfolder}/resources/images/homecredit_logo.png) 5px center no-repeat;
}

.homecredit-wrap a {
	display:block;
	padding: 5px 0 5px 20px;
	text-align: right;
	color: #db002e;
}

.homecredit-wrap a:hover {
	color:#000;
}

.homecredit-error, #main .homecredit-error {
	background: #e2383f;
	color: #fff;
	padding: 5px 15px;
	border: 1px solid #eb1922;
	font-size: 13pt;
	margin: 30px 0;
	text-align:center;
}

.homecredit-error, #main .homecredit-error p {
	padding:5px 0;
	line-height: 1;
	margin: 0;
}

.homecredit-error, #main .homecredit-error p.ok {
	background: #c4eda0;
	border-color: #79b742;
	color: #000;
}

.homecredit-pay-box {
	border: 1px solid #eb1922;
	padding: 15px;
	margin: 30px 0;
	background: #f7f7f7;
	text-align: center;
}

.homecredit-pay-box .link {
	background: #fff url({@base}/etc/modules/webmex_homecredit/template/{@tplfolder}/resources/images/homecredit_logo.png) 5px center no-repeat;
	display: inline-block;
	height: 80px;
	line-height: 80px;
	padding: 0 20px 0 105px;
	border: 1px solid #d6d6d6;
	font-size: 13pt;
	color:#eb1922;
	text-decoration: none;
}

.homecredit-pay-box .link:hover {
	background-color:#ffefb7;
	color:#000;
}