<?php
$align = $align?: NULL;
$autosize = $autosize?: 2;

$files = Core::$db->page_files()->where('page_id', $page['id'])->order('position ASC');
if ($align) {
	$files->where('align', $align);
}

if (!count($files)) {
	return;
}
?>

<h4>Přiložené soubory</h4>
<ul class="files files-<?php echo ($align === null ? 'n' : $align)?>">
	<?php 
	$_autosize = $autosize;
	
	foreach($files as $i => $file): 
		$cls = '';
		
		if($file['is_image']):
			
			if($autosize == 'product' && $_autosize == $autosize){
				$_autosize = 3;
				
			}else if($autosize == 'product'){
				$_autosize = 1;
				if($file['size'] == -1){
					$cls = 'smallpic';
				}
			}
	?>
		<li class="picture fid-<?php echo $file['id']?> <?php echo $cls?>">
			<?php if($file['size'] != 0): ?>
				<a href="<?php echo imgsrc($file, 5)?>" class="lightbox" rel="pictures"><img src="<?php echo imgsrc($file, null, $_autosize)?>" alt="<?php echo $file['description']?>" /></a>
				
			<?php else: ?>
				<img src="<?php echo imgsrc($file, null, $_autosize)?>" alt="<?php echo $file['description']?>" />
			<?php endif; ?>
			
			<?php if($file['description']): ?>
			<br /><span class="desc"><?php echo $file['description']?></span>
			<?php endif; ?>
		</li>
		
		<?php else: ?>
		<li class="file ext-<?php echo substr($file['filename'], strrpos($file['filename'], '.') + 1)?>">
			<a href="<?php echo $base.$file['filename']?>" title="<?php echo $file['description']?>"><?php echo $file['filename']?></a>
		</li>
		<?php endif; ?>
	
	<?php endforeach; ?>
</ul>