
<?php 
use Nette\Utils\Strings;
?>


{if $page['enable_filter']}
	{var $_order_options = ['name', 'price', 'default']}
	{var $_producers = isSet($_GET[p])? (array)$_GET[p]: []}
	{var $_features = isSet($_GET[f])? (array)$_GET[f]: []}
    {var $_colors = isSet($_GET[c])? (array)$_GET[c]: []}

  
	
    
	<div class="productFilter filtr hide-xs" id="boxfilter">
		<form action="{url(true)}" method="get" class="formular clearfix">
			<input n:if="isSet($_GET[uri]) && !Core::$use_htaccess" type="hidden" name="uri" value="<?php echo $_GET[uri]?>" />
			<input n:if="isSet($_GET[q])" type="hidden" name="q" value="<?php echo $_GET[q]?>" />
			<input type="hidden" name="dir-{strtolower($_order_dir)}" value="" />
			<input type="hidden" name="view-{strtolower($_view)}" value="1" />

			<div class="row">
				<div class="col-md-2 col-sm-4 col-xs-12">
					{if isset($features[1]) && count($features[1]['options'])}
						<label for="filter-label select">Průměr:</label>
						<select name="f[1]" class="form-control">
							<option value="">Vyberte</option>
							{foreach $features[1]['options'] as $key => $option}
								<option value="{$key}" {if $_GET['f'][1] == $key} selected {/if}>{$option['value']}</option>
							{/foreach}
						</select>
					{/if}
				</div>
				<div class="col-md-2 col-sm-4 col-xs-12">
					{if isset($features[2]) && count($features[2]['options'])}
						<label for="filter-label select">Délka:</label>
						<select name="f[2]" class="form-control">
							<option value="">Vyberte</option>
							{foreach $features[2]['options'] as $key => $option}
								<option value="{$key}" {if $_GET['f'][2] == $key} selected {/if}>{$option['value']}</option>
							{/foreach}
						</select>
					{/if}
				</div>
				<div class="col-md-2 col-sm-4 col-xs-12">
					{if isset($features[3]) && count($features[3]['options'])}
						<label for="filter-label select">Hmotnost:</label>
						<select name="f[3]" class="form-control">
							<option value="">Vyberte</option>
							{foreach $features[3]['options'] as $key => $option}
								<option value="{$key}" {if $_GET['f'][3] == $key} selected {/if}>{$option['value']}</option>
							{/foreach}
						</select>
					{/if}
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12">
					{if isset($features[4]) && count($features[4]['options'])}
						<label for="filter-label select">Ovládání:</label>
						<select name="f[4]" class="form-control">
							<option value="">Vyberte</option>
							{foreach $features[4]['options'] as $key => $option}
								<option value="{$key}" {if $_GET['f'][4] == $key} selected {/if}>{$option['value']}</option>
							{/foreach}
						</select>
					{/if}
				</div>
				<div class="col-md-2 col-sm-4 col-xs-12">
					{if isset($features[5]) && count($features[5]['options'])}
						<label for="filter-label select">Větruodolnost:</label>
						
						<select name="f[5]" class="form-control">
							<option value="">Vyberte</option>
							{foreach $features[5]['options'] as $key => $option}
								<option value="{$option['value']}" {if $_GET['f'][5] == $option['value']} selected {/if}>{$option['value'] == 1 ? 'Ano' : 'Ne'}</option>
							{/foreach}
						</select>
					{/if}
				</div>

    			{if isset($colors) && count($colors['options'])}
				<div class="col-xs-2 clearfix filterColors">
					Barva:
				</div>
				<div class="col-xs-10 clearfix filterColors">
                        {foreach $colors['options'] as $key => $option}
                            {var $style = ''}
                            {if !empty($option['code']) && file_exists('files/colors/'.$option['code'].'.jpg')}
                                {var $style = 'style="background: url(files/colors/'.$option['code'].'.jpg) repeat 0 0"'} 
                            {elseif !empty($option['rgb'])}
                                {var $style = 'style="background-color:#'.$option['rgb'].';"'}
                            {/if}
                            <label class="color" {!$style} title="{$option['value']}"><input type="checkbox" name="c[]" value="{$option['id']}" {if in_array($option['id'], $_GET['c'])}checked{/if}> {if empty($style)}{$option['value']}{/if}</label>
                        {/foreach}
				</div>
    			{/if}                    
				

				<div class="col-sm-9 col-xs-12 clearfix">
					<div class="priceSlider">
						<span id="slider-price-from">{!price($min_max_prices['min_selected'])}</span>
						<div id="price-range-slider">
							<div id="slider-range"></div>
							<input type="hidden" name="price_from" class="jq-slider-from" value="{if $min_max_prices['min']==$min_max_prices['max']}0{else}{$min_max_prices['min_selected']}{/if}">
							<input type="hidden" name="price_to" class="jq-slider-to" value="{if $min_max_prices['min']==$min_max_prices['max']}0{else}{$min_max_prices['max_selected']}{/if}">
						</div>
						<span id="slider-price-to">{!price($min_max_prices['max_selected'])}</span>
					</div>
						
					<script>
						$(function() {
							$("#slider-range").slider({
								range: true,
								min: {$min_max_prices['min']},
								max: {$min_max_prices['max']},
								values: [ {$min_max_prices['min_selected']}, {$min_max_prices['max_selected']} ],
								step: 1,
								slide: function(event, ui) {
									$('#slider-price-from').html(displayPrice(ui.values[0]));
									$('#slider-price-to').html(displayPrice(ui.values[1]));
									$('input.jq-slider-from').val(ui.values[0]);
									$('input.jq-slider-to').val(ui.values[1]);
								},
								stop: function(){
									/*$('#filter .filter-ajax-wrap').animate({
										'opacity' : 0.2
									}, 300);*/
									//$('#filter #filter-ajax-overlay').fadeIn(400);
									//updateFilter();
									/*jQuery('.filtr select').change(function(){
										jQuery('.filtr form').trigger('submit');
									});*/
								},
								change: function(event, ui) {
						            $(".filtr form").trigger('submit');
						        }
							});

						});
					</script>		
				</div><!-- price slider -->
				<div class="col-sm-3 col-xs-12">
					<div class="checkbox">
        				<label>
          					<input type="checkbox"> Pouze skladem
        				</label>
      				</div>
				</div>
			<div class="buttons">
				<button type="submit" class="button">{*__('*}filter_products{*')*}</button>
				<a href="{url($page)}" class="button">{*__('*}filter_reset{*')}*}</a>
			</div>
		</div>

			<script>
			// Auto-send handlers
			jQuery('.filtr select').change(function(){
				jQuery('.filtr form').trigger('submit');
			});
			jQuery('.filtr input[type="checkbox"]').change(function(){
				jQuery('.filtr form').trigger('submit');
			});            
			jQuery('.filtr .buttons').hide();
			</script>

		</form>
	</div>
{/if}
  