
<div class="textContentIndex">
	<h1>{$page['seo_title']}</h1>
	{!$page[description_short]}

	{*
	<ul class="boxVyhody">
				<li><img src="{$base}{$tplbase}i/ico_benefit-01.png" alt="Doprava zdarma"><span><strong>Doprava zdarma</strong>Při objednávce nad XX&nbsp;Kč</span></li>
				<li><img src="{$base}{$tplbase}i/ico_benefit-02.png" alt="Autorizovaný prodejce"><span><strong>Autorizovaný prodejce</strong></span></li>
				<li><img src="{$base}{$tplbase}i/ico_benefit-03.png" alt="Rychle a levně"><span><strong>Rychle a levně</strong>Doprava objednávky již od XX&nbsp;Kč</span></li>
				<li><img src="{$base}{$tplbase}i/ico_benefit-04.png" alt="Garance nákupu"><span><strong>Garance nákupu</strong>Možnost výměny i&nbsp;vrácení&nbsp;peněz</span></li>
			</ul>
	*}
</div>

{if count($products) || !empty($_GET['f'])}
	<h2>Doporučujeme vám</h2>
	{include '../@page/@products.latte', products=>$products, page => $page, producers => $producers, features => $features, colors=>$colors, min_max_prices => $min_max_prices}
{/if}

<div class="textContent">
	{!$page[description]}
</div>