{var $manufacturers = getFilesFromPath('files/znacky/')}

{if count($manufacturers) > 0}
<div id="mnfCarousel">

    <a class="buttons prev" href="#"><i class="glyphicon"></i></a>

    <div class="viewport">
        <ul class="overview">
        {foreach $manufacturers as $m}
            {if !empty($m)}
                <li class="item ">
                   <img src="{$m}" alt=""  />
                </li>
            {/if}
        {/foreach}
        </ul>
    </div>
    <a class="buttons next" href="#"><i class="glyphicon"></a>
    
</div>
{/if}
