{if Core::$current_page[id] <> PAGE_INDEX}
<div class="row">
<div class="col-xs-6">
    <div class="show-xs">
            <button class="btn btn-primary collapsed" data-toggle="collapse" data-target="#boxfilter">
                <span class="show-ctrl">
                   Filtrovat produkty
                </span>
                <span class="hide-ctrl">
                    Skrýt filtr
                </span>
            </button>
        </div>
    </div>
    <div class="col-xs-6">
    <div class="show-xs">
        <button class="btn btn-primary collapsed" data-toggle="collapse" data-target="#boxOrder">
            <span class="show-ctrl">
               Řadit produkty
            </span>
            <span class="hide-ctrl">
                Skrýt řazení 
            </span>
        </button>
    </div>
</div>
</div>
{/if}

{*
{if Core::$current_page[id] <> PAGE_INDEX}
    {include '@filter.latte', features=>$features, colors=>$colors, min_max_prices=>$min_max_prices}
{/if}
*}

{if Core::$current_page[id] <> PAGE_INDEX}
    {if $_order == 'default'}
        {var $_order = ''}
    {/if}
    <ul class="nav nav-tabs nav-tabs-productsort hide-xs" id="boxOrder">
        <li role="presentation" {if ($_order == 'position' && $_order_dir == 'ASC') || empty($_order)} class="active"{/if}><a href="{url(true, array_merge($_GET, array('order' => 'position', 'dir-desc' => '', 'dir-asc' => 1)))}" title="Doporučujeme">Doporučujeme</a></li>
        <li role="presentation" {if $_order == 'sales'} class="active"{/if}><a href="{url(true, array_merge($_GET, array('order' => 'sales', 'dir-desc' => 1, 'dir-asc' => '')))}" title="Nejprodávanější">Nejprodávanější</a></li>
        <li role="presentation" {if $_order == 'price' && $_order_dir == 'ASC'} class="active"{/if}><a href="{url(true, array_merge($_GET, array('order' => 'price', 'dir-desc' => '', 'dir-asc' => 1)))}" title="Nejlevnější">Od nejlevnějšího</a></li>
        <li role="presentation" {if $_order == 'price' && $_order_dir == 'DESC'} class="active"{/if}><a href="{url(true, array_merge($_GET, array('order' => 'price', 'dir-desc' => 1, 'dir-asc' => '')))}" title="Nejdražší">Od nejdražšího</a></li>
        <li role="presentation" {if $_order == 'id' && $_order_dir == 'DESC'} class="active"{/if}><a href="{url(true, array_merge($_GET, array('order' => 'id', 'dir-desc' => 1, 'dir-asc' => '')))}" title="Nejnovější">Od nejnovějšího</a></li>
        
    </ul>
{/if}
    
    
<div class="row rowListProdukty">
<table class="table">
<?php $flash = $_SESSION["flash"]; ?>
<?php unset($_SESSION['flash']); ?>

{include '../blocks/basket-modal.latte'}
<script>
    var _flashBasket = {? echo (isset($flash)) ? 1 : 0};
    console.log(_flashBasket);
    $(document).ready(function() {
    if (_flashBasket == 1){
	console.log("test");
	setTimeout(function() {
	    $('#basket-modal').modal('hide');
	}, 3000);
	
	$('#basket-modal').modal('toggle');
    }
});
</script>

        <tr n:foreach="$products as $product" itemtype="http://schema.org/ItemList" class="listProdukt">
            {var $url = url($product)}
            {var $name = trim($product['name'].' '.$product['nameext'])}
            {var $availability = getProductAvailability($product)}
            <input type='hidden' name='product_id' value="$product['id']">
	    <input type="hidden" name="redirect_page" value="{$_SERVER[HTTP_HOST].$_SERVER[REQUEST_URI]}">
	    
            <td class="img"><span n:if="($img = productImg($product, 3, 0)) !== NULL" href="{$url}"  itemprop="url">
                            <img src="{$img}" alt="{$name}" itemprop="image">
                        </span></td>
            <td>
                <h4><a href="{$url}" title="{$name}">{$name}</a></h4>


                    {if $product['show_sku'] && $product['sku']}
                        <span>Kód: {$product['sku']}</span> 
                    {/if}
                
            </td>

	    {if !Core::config('hide_prices_to_visitors') || (Core::config('hide_prices_to_visitors') && (User::$logged_in || Customer::$logged_in))}
             <td class="price">
            {if $product['discount_price'] > 0}
                <strong class="unvat" data-cena="{!price_unvat($product)->price}">{!price_unvat(array($product, $product['discount_price']))}</strong><br />
                <span style="text-decoration: line-through;">{!price_unvat(array($product, $product['price']))}</span>                
            {else}
                <strong class="unvat" data-cena="{!price_unvat($product)->price}">{!price_unvat(array($product, $product['price']))}</strong>
            {/if}            
            {if $product['discount'] != null}
               <br><strong style="text-decoration: line-through;">{!price_unvat(array($product, $product['pricebeforediscount']))}</strong>
            {/if}
            <br>
                 bez DPH
            </td>
	    {/if}
            <td>
                <span class="dostupnost" {if $availability[hex_color]}style="color: #{$availability[hex_color]};"{/if}>
                                        {$availability['name']}
                                    </span>
            </td>
           {if !Core::config('hide_prices_to_visitors') || (Core::config('hide_prices_to_visitors') && (User::$logged_in || Customer::$logged_in))}
            <td width="140" class="button">
                <form action="{url(PAGE_BASKET)}" method="post" n:if="!Core::config('suspend_no_stock') || $product['stock'] > 0">
                <input type="text" class="form-control pull-left" name="qty" value="1" width="10">
                <input type="hidden" name="product_id" value="{$product['id']}">
		<input type="hidden" name="redirect_page" value="{$_SERVER[HTTP_HOST].$_SERVER[REQUEST_URI]}">
                <?php 
                    $enable_buy = true;
                    $attrbs = $product->product_attributes()->order('name ASC, id ASC');
                    if ((int) Core::config('suspend_no_stock') && $product['stock'] !== null && $product['stock'] !== '' && $product['stock'] <= 0) {
                        $enable_buy = false;
                    }
                    if($enable_buy && count($attrbs)>0) {
                        $enable_buy = false;
                    }
                ?>
                <?php if ($enable_buy) {
                    ?> 
                    <!--a href="{url(PAGE_BASKET, [buy => $product[id]])}" class="btn btn-red pull-right cboxElement" data-product_name="{$product['name']}">koupit</a--> 
                    <button type="submit" data-product_name="{$product['name']}" data-img_src="{*todo*}" name="buy" class="btn btn-green">koupit</button>
                    <?php
                } else {
                    ?> <a href="{$url}" class="btn btn-red cboxElement" data-product_name="{$product['name']}" data-img_src="{$img}">koupit</a> <?php
                }
                ?>
                </form>
            </td>
	    {/if}
        </tr>
    </table>
        

    {if count($products)}
        {if !in_array(Core::$current_page[id], [1])}
            {include '../@pagination.latte', count => $products_count, class => 'bottom'}
        {/if}
        {elseif !empty($_GET['p']) || !empty($_GET['f'])}
            <p>{_'no_products_found'}</p>
    {/if}

</div>