{var $limit = 20}
{var $params = $_GET}
{var $page = Core::$controller->pagination_page}
{var $totalPages = ceil(500 / $limit)}
{var $class = $class?: ''}


{var $i = ($page-1) * $limit}
{var $maxLimitPage = ($i+$limit)-1}

<div id="heureka_reviews_box">
    <?php
        $heureka = simplexml_load_file('http://www.heureka.cz/direct/dotaznik/export-review.php?key=943624bbe60020db9ef75bfa9ec10a81');
        $sum = 0;
        $count = 0;
        $countAll = 0;
        foreach ($heureka->review as $review) {
            if (isset($review->total_rating)) {
                $sum += $review->total_rating;
                $count++;
            }
            $countAll++;
        }
        $average = round($sum / $count, 2);

        $score = Heureka::getScore('kvalitnidestniky-cz');

        $satisfaction = round(($average / (0.05)));
        
        $r = 0; // Pocita celkovy pocet zaznamu
    ?>
    
    {foreach $heureka->review as $review}
        <?php
            $r++;
            
            if ($r < $i) { 
                continue; // Preskoci predchazejici zaznamy
            } else {
                $i++; // Pocita pocet zanamu v aktualnim intervalu
            }
            if ($i > $maxLimitPage) break;
        ?>

        <?php 
            $authordate = 'Přidáno:';

            if(!empty($review->unix_timestamp)) {
                $authordate .= ' ' . date('d.m.Y', (float)$review->unix_timestamp);
            }

        ?>
        
        <p class="date">{$authordate}</p>
        
        <div class="box_rev">
            <div id="user_img_box">
                <p id="cust_img_description"><span>{if $review->name}{$review->name}{else}Ověřený zákazník{/if}</strong></p>            
            </div>    

            <div id="rev_text">
                <ul class="stars">
                    <li class="eval">
                        <span class="rating">
                            <span class="hidden">Hodnocení: {$review->total_rating} hvězdičky z 5</span>
                            <span class="over" title="Hodnocení: {$review->total_rating} hvězdičky z 5">
                                {var $width = (floatval($review->total_rating)/5) * 100}
                                <span style="width: {!$width}px;"></span>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span class="rating">
                            <span class="hidden">Hodnocení: {$review->delivery_time} hvězdičky z 5</span>
                            <span class="over" title="Hodnocení: {$review->delivery_time} hvězdičky z 5">
                                {var $width = (floatval($review->delivery_time)/5) * 65}
                                <span style="width: {!$width}px;"></span>
                            </span>
                            <span>&nbsp;dodací lhůta</span>
                        </span>
                    </li>
                    <li>
                        <span class="rating">
                            <span class="hidden">Hodnocení: {$review->web_usability} hvězdičky z 5</span>
                            <span class="over" title="Hodnocení: {$review->web_usability} hvězdičky z 5">
                                {var $width = (floatval($review->web_usability)/5) * 65}
                                <span style="width: {!$width}px;"></span>
                            </span>
                            <span>&nbsp;přehlednost obchodu</span>
                        </span>
                    </li>
                    <li>
                        <span class="rating">
                            <span class="hidden">Hodnocení: {$review->communication} hvězdičky z 5</span>
                            <span class="over" title="Hodnocení: {$review->communication} hvězdičky z 5">
                                {var $width = (floatval($review->communication)/5) * 65}
                                <span style="width: {!$width}px;"></span>
                            </span>
                            <span>&nbsp;kvalita komunikace</span>
                        </span>
                    </li>
                    
                    
                </ul>
                <p id="summary_text">{if $review->summary}{$review->summary}{/if}</p>                            
                <div class="pros">{if $review->pros}<h2>Pro: </h2><p>{$review->pros}</p>{else}<p>&nbsp;</p>{/if}</div>            
                <div class="cons">{if $review->cons}<h2>Proti: </h2><p>{$review->cons}</p>{else}<p>&nbsp;</p>{/if}</div>            
                
                <div class="our-reaction">
                    <h2>Vyjádření našeho obchodu</h2>
                    {if $review->reaction}{$review->reaction}{/if}
                </div>
            </div>            

        </div>

    {/foreach}
</div>


<div class="productsPagination clearfix">

<ul n:if="$totalPages > 0" class="pagination pull-left">
	<li><a href="#top">Nahoru <span class="glyphicon glyphicon-chevron-up"></span></a></li>
</ul>

<ul n:if="$totalPages > 1" class="pagination {$class} pull-right">
	
	<li n:if="$page != 1"><a href="{url(true, array_merge($params, array('page' => $page - 1)))}"><span class="glyphicon glyphicon-chevron-left"></span> Předchozí</a></li>
		{for $i = 1; $i <= $totalPages; $i ++}
			{if abs($i - $page) > 3 && $i != $totalPages && $i != 1}
				{if $i == 2}
					<li><span>…</span></li>
				{/if}
				{if $i == $totalPages - 1}
					<li><span>…</span></li>
				{/if}
				{?continue;}
			{/if}
			
			{if $page == $i}
				<li class="active"><a href="{url(true, array_merge($params, array('page' => $i)))}">{$i}</a></li>
			{else}
				<li>
					<a href="{url(true, array_merge($params, array('page' => $i)))}">{$i}</a>
				</li>
			{/if}
		{/for}

		<li n:if="$page != $totalPages"><a href="{url(true, array_merge($params, array('page' => $page + 1)))}">Další  <span class="glyphicon glyphicon-chevron-right"></span></a></li>
	</ul>
</div>