<?php 
require_once(__DIR__ . '/../modules/webmex_delivery_info/libs/helpers.php');

$availability = getProductAvailability($product, $attribute);

$storage = Core::module('webmex_delivery_info')->getStorage();
$view->override = false;

// Pokud u produktu neni cena, nezobrazujeme
if((!SHOW_PRICES || $product['price'] == null || (float) $product['price'] == 0) && ((($availability != $product->availability) && !$availability['name']) || ($availability != $product['bestAvailability'])))
	return false;

if((int) $availability['delivery_included'] == 0)
	return false;



$customer = null;
if (Customer::$logged_in) {
	View::$global_data['order'] = Customer::get();
	$customer = Core::$db->customer[Customer::get('id')];
}

if($product['price'] !== null && $product['vat']) {
	$total_price = ($product['price']+$product['recycling_fee']) / 100 * $product['vat'] + $product['price']+$product['recycling_fee'];
}else{
	$total_price = $product['price']+$product['recycling_fee'];
}

$deliveries = webmex_delivery_info_get_deliveries($customer, $total_price, $product['weight'], $storage, $availability);

$minDeliveryDate = NULL;
$actDate = new DateTime(); $actDate->setTime(0, 0);
$i = 0;
foreach ($deliveries['deliveries'] as $delivery) {
	$i++; 

	if ($delivery['delivery_date'] < $minDeliveryDate || $i == 1) {
		$minDeliveryDate = $delivery['delivery_date'];
	}
}
?>



{* 
	 ####                     #               
	 #   #   ###   # ##    ####   ###   # ##  
	 ####   #####  ##  #  #   #  #####  ##    
	 # #    #      #   #  #   #  #      #     
	 #  ##   ###   #   #   ####   ###   #     
*}



<?php 
$view->slot_start(); 
?>


<div n:if="count($deliveries['deliveries'])" class="deliveryBox kdy">

	<div n:if="$minDeliveryDate" class="title">
		Zboží u vás již 
		<?php 
		if ($minDeliveryDate == $actDate && $storage['today_text']) {
			echo lcfirst($storage['today_text']);

		} elseif ($minDeliveryDate == $actDate->modify('+1 days') && $storage['tommorow_text']) {
			echo lcfirst($storage['tommorow_text']);

		} else {
			echo $minDeliveryDate->format('j. n. Y');
		}
		?>
	</div>
	<div id="avtable">
		<div class="cont">
			{include 'table.latte'}
		</div>
	</div>

	<script>
	jQuery(document).ready(function($) {
		// Show on hover
        /*
    	$("#avtable .cont").css("display", "none");        
		$('#qm-dostupnost').hover(function(){
			$('#avtable .cont').fadeIn('fast');
		}, function(){
			$('#avtable .cont').fadeOut('fast');
		});
        */
		// Update table when attribute change
		jQuery('select[name="attributes[]"]').change(function(e){
			jQuery.ajax({
				url: '/webmex_delivery_info/table/{!$product[id]}/' + jQuery(this).val(),
				method: 'GET',
				success: function(response){
					jQuery('#avtable .cont').html(response);
				}
			});
		});
	});
	</script>                        
</div>

<?php
$link = $view->slot_stop();
$view->find('.produkt-dostupnost-panel')->after($link);
?>