<?php 
require_once(__DIR__ . '/../modules/webmex_delivery_info/libs/helpers.php');


$availability = getProductAvailability($product, $attribute);

$storage = Core::module('webmex_delivery_info')->getStorage();

// Pokud u produktu neni cena, nezobrazujeme
if((!SHOW_PRICES || $product['price'] == null || (float) $product['price'] == 0) && ((($availability != $product->availability) && !$availability['name']) || ($availability != $product['bestAvailability'])))
	return false;



$customer = null;
if (Customer::$logged_in) {
	View::$global_data['order'] = Customer::get();
	$customer = Core::$db->customer[Customer::get('id')];
}

if($product['price'] !== null && $product['vat']) {
	$total_price = ($product['price']+$product['recycling_fee']) / 100 * $product['vat'] + $product['price']+$product['recycling_fee'];
}else{
	$total_price = $product['price']+$product['recycling_fee'];
}

$deliveries = webmex_delivery_info_get_deliveries($customer, $total_price, $product['weight'], $storage, $availability);
?>


{if count($deliveries['deliveries'])}
	<div class="box_deliveryInfo">
		<table>
			<tr n:foreach="$deliveries['deliveries'] as $delivery">
				<th class='item1'><?php echo $delivery['name']?></th>
				<td class='item2'><?php echo $delivery['delivery_to']?><?php echo ($deliveries['order_to_info']) ? ' *' : '';?></td>
			</tr>
		</table>
		<div n:if="$deliveries['order_to_info']" class="webmex-delivery-info">
			* {= __('web_module_delivery_info_text') . ' ' . $storage['order_to_hour']}
		</div>
	</div>
{/if}