/**
 * Steps
 */
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
  margin: 0 0 40px 0;
}
.stepwizard .stepwizard-row {
  display: table-row;
}
.stepwizard .stepwizard-row .stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
  width: 25%;
}
.stepwizard .stepwizard-row .stepwizard-step.active {
  font-weight: bold;
}
.stepwizard .stepwizard-row .stepwizard-step p {
  margin-top: 10px;
}
.stepwizard .stepwizard-row .stepwizard-step button {
  cursor: default;
}
.stepwizard .stepwizard-row .stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  cursor: default;
}
.stepwizard .stepwizard-row:before {
  top: 25px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}
.stepwizard .btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  /* line-height: 1.428571429; */
  line-height: 37px;
  border-radius: 200px;
  font-size: 1.3em;
  border-color: #ccc;
  background-color: #fff;
}
.stepwizard .stepwizard-step.active .btn-circle {
  background-color: #428bca;
  border-color: #357ebd;
}


/**
 * Order precess
 */
.order-process .j-select-payment,
.order-process .j-select-delivery {
  cursor: pointer;
  width: 98%;
}
.order-process .j-select-payment.disable,
.order-process .j-select-delivery.disable {
  cursor: default;
  color: #ccc;
}
.order-process .vertical-middle {
  vertical-align: middle;
}
.order-process .big-price {
  color: #DA4453;
  font-size: 1.7em;
}
.order-process .help-box table {
  color: #4FC1E9;
}
.order-process .help-box table th,
.order-process .help-box table td {
  vertical-align: middle;
}
.order-process .help-box table td a {
  color: #4fc1e9 !important;
}
.order-process .help-box table th {
  text-align: center;
  color: #434A54;
}
.order-process .help-box table td {
  font-size: 1.2em;
  font-weight: bold;
}
.order-process .delivery-description, 
.order-process .payment-description {
  line-height: 40px;
}
.order-process .payments .notice {
  padding: 1em;
}



/**
 * Page basket
 */
.basket-of-products table {
  width: 100%;
}
.basket-of-products table .image a {
  display: inline-block;
}
.basket-of-products table .quantity {
  width: 100px;
}
.basket-of-products table .actions a {
  background: #FC6E51;
  color: #fff;
  display: inline-block;
  line-height: 0.8;
  padding: 3px;
}
.basket-of-products table .actions a i {
  line-height: 0.8;
}
.basket-of-products table .actions a:hover {
  background: #E9573F;
}
.basket-of-products table thead {
  background: #E6E9ED;
}
.basket-of-products table.no-thead-bg thead {
  background: none;
}
.basket-of-products table tfoot {
  font-weight: bold;
  background: #E6E9ED;
  vertical-align: middle;
}
.basket-of-products table tfoot .total .value {
  font-size: 1.7em;
  color: #DA4453;
}
