<?php defined('WEBMEX') or die('No direct access.');
$view->override = false; 
?>



<?php /********************* GET DATA *********************/ ?>
<?php
$branchId = $order['zasilkovna_branch_id'];
$branch = Core::$db->zasilkovna_branch()->where('id', $branchId)->fetch();
?>



<?php /********************* RENDER *********************/ ?>
<?php if ($branchId): ?>
	<?php
	$view->slot_start();
	?>

	<div class="zasilkovna-branch">
		<span>Pobočka: </span>
		<?php echo $branch? $branch['name_street']: '<i>pobočka neexistuje</i>'; ?>
	</div>

	<?php
	$content = $view->slot_stop();
	$view->find(".ordersummary li:contains('Doprava:')")->append($content);
	?>
<?php endif; ?>