<?php
$files = Core::$db->product_files()->where('product_id', $product['id'])->order('position ASC');
$files->where('align', $align);

$autosize = $autosize?: 2;
?>

{**
 * @var $product
 * @var $files
 * @var $align
 * @var $autosize
 *}


{foreach $files as $file}
	<div><figure><img src="{imgsrc($file, 8)}" alt=""></figure></div>
{/foreach}