<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><style>
	.inline .inputwrap {
		width: 100px !important;
	}
	#driverconfig {
		padding-bottom: 20px;
	}
	.loading {
		background: url(<?php echo $tplbase?>images/loader.gif) no-repeat left top;
	}
</style>

<form class="form" action="<?php echo url('admin/banners/edit/'.$banner['id'])?>" method="post">

	<h2><a href="<?php echo url('admin/banners')?>"><?php echo __('banners')?></a> &rsaquo; <?php echo $banner['name']?></h2>

	<div class="buttons tbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

	<div class="clearfix">
		<div class="rightcol">
			<div class="tabsWrap label-left">
				<ul class="tabs clearfix">
					<li class="active"><a href="#tab-options"><?php echo __('options')?></a></li>
				</ul>

				<div id="tab-options" class="tab active">
					<?php echo forminput('checkbox', 'status', $banner['status'])
					.forminput('select', 'type', $banner['type'], array('options' => Core::$def['banner_types']))?>
				</div>
			</div>
		</div>

		<div class="leftcol">

			<fieldset>
				<?php echo forminput('text', 'name', $banner['name'], array('required' => true))
				.forminput('textarea', 'text', $banner['text'], array('cls' => 'inp-text editor full', 'rows' => 20))
				.forminput('text', 'flash_width', $banner['flash_width'], array('cls' => 'inp-flash'))
				.forminput('text', 'flash_height', $banner['flash_height'], array('cls' => 'inp-flash'))
				.forminput('text', 'image_link', $banner['image_link'])
				.forminput('checkbox', 'link_new_window', $banner['link_new_window'])
				.forminput('text', 'image', $banner['image'])?>
				<button class="button filemanager inp-button"><?php echo __('select_from_server')?></button>
			</fieldset>

			<fieldset id="driverconfig"></fieldset>

		</div>
	</div>

	<div class="buttons bbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>


</form>

<script>
	$(document).ready(function($) {

		// Image finder
		$('.filemanager').bind('click', function(){
			var pushFile = function(file){
				$('#inp-image').val(String(file));
				window._fm_window.close();
			}

			filemanager({
				callback: function(file_path){
					if(file_path.length > 1) {
						alert('<?php echo __("choose_only_one")?>');
						return false;
					}
					pushFile(String(file_path));
				}
			});
			return false;
		});

		// Type change
		function changeType(el) {
			if(el.val() == "0") {
				$('#inp-image').parent().hide();
				$('#inp-image_link').parent().hide();
				$('#inp-link_new_window').parent().hide();
				$('.inp-image').hide();
				$('#inp-flash_width').parent().hide();
				$('#inp-flash_height').parent().hide();
				$('.inp-flash').hide();
				$('#inp-text').parent().show();
				$('.inp-button').hide();
			}else if(el.val() == "1") {
				$('#inp-image').parent().show();
				$('#inp-image_link').parent().show();
				$('#inp-link_new_window').parent().show();
				$('.inp-image').show();
				$('#inp-flash_width').parent().hide();
				$('#inp-flash_height').parent().hide();
				$('.inp-flash').hide();
				$('#inp-text').parent().hide();
				$('.inp-button').show();
			}else if(el.val() == "2") {
				$('#inp-image').parent().show();
				$('#inp-image_link').parent().hide();
				$('#inp-link_new_window').parent().hide();
				$('.inp-image').hide();
				$('#inp-flash_width').parent().show();
				$('#inp-flash_height').parent().show();
				$('.inp-flash').show();
				$('#inp-text').parent().hide();
				$('.inp-button').show();
			}
		}
		$('#inp-type').change(function(){
			changeType($(this));
		});
		changeType($('#inp-type'));
	});

	
</script>