<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><a href="<?php echo url('admin/banners/edit/0')?>" class="addbtn"><?php echo __('new_banner')?></a>

<h2><?php echo __('banners')?></h2>

<form class="form gridform" action="<?php echo url('admin/banners')?>" method="post">

	<div class="buttons">
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

	<table class="datagrid">
		<thead>
			<tr>
				<td><?php echo __('name')?></td>
				<td width="120"><?php echo __('type')?></td>
				<td class="center" width="60"><?php echo __('active')?></td>
				<td class="actions">&nbsp;</td>
			</tr>
		</thead>

		<tbody>
			<?php foreach($banners as $banner): ?>
				<tr>
					<td><a href="<?php echo url('admin/banners/edit/'.$banner['id'])?>"><?php echo $banner['name']?></a></td>
					<td><?php echo __('banner_type_'.$banner['type'])?></td>
					<td class="center input">
						<input type="checkbox" name="status[<?php echo $banner['id']?>]" class="input-checkbox"<?php echo ($banner['status'] ? ' checked="checked"' : '')?> />
						<input type="hidden" name="banner[<?php echo $banner['id']?>]" value="<?php echo $banner['id']?>">
					</td>
					<td class="actions">
						<a href="<?php echo url('admin/banners/edit/'.$banner['id'])?>" class="edit" title="<?php echo __('edit')?>">&nbsp;</a>
					</td>
				</tr>
			<?php endforeach; ?>
		</tbody>
	</table>

	<div class="buttons buttons-foot">
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

</form>