* { background: transparent !important; color: #444 !important; text-shadow: none; }

a, a:visited { color: #444 !important; text-decoration: underline; }

pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

img { page-break-inside: avoid; }

p, h2, h3 { orphans: 3; widows: 3; }

h2, h3{ page-break-after: avoid; }
