<ul class="features">
    {foreach $features as $feature}
        {var $res = Core::$db->page_features_not_display()->where('page_id IN ('.join(', ', $pages).')')->where('feature_id', $feature['id'])->limit(1)->fetch()}
        {if !$res}
            {if !empty($feature['value']) && $feature['value'] != '0' && $feature['value']}
                
                <li>
                    <strong>{!$feature['name']}:</strong> <span>{!$feature['value']} {!$feature['unit']}</span>
                </li>
                
            {/if}
        {/if}
    {/foreach}
            
</ul>