<?php
$files = Core::$db->product_files()->where('product_id', $product['id'])->order('position ASC, id ASC');
$files->where('align', $align);

$autosize = $autosize?: 2;
?>

{**
 * @var $product
 * @var $files
 * @var $align
 * @var $autosize
 *}

<div class="detailImg">
    <ul> 
        {var $i=0}
        {foreach $files as $file}
            {if $iterator->first} {include #image, file => $file, autosize => $autosize, first => true} {/if}  {*first image show twice, for large preview*}
            {include #image, file => $file, autosize => $autosize, position => $i}
            {var $i++}
        {/foreach}
    </ul>
    {if count($files) > 3}<div class="allImgs"><a href="#">Zobrazit všechny obrázky ({count($files)})</a></div>{/if}
</div>

{define #image}
	{var $src = imgsrc($file, 8)}
    {var $src1 = imgsrc($file, 8)}
    {var $src2 = imgsrc($file, 2)}
	<li {if $position > 2}style="display:none"{/if}>
		<a href="{$src}" class="fancybox" data-fancybox-group="gallery" title="{$file['description']}">
            <span></span>
			<img  itemprop="image" src="{if $first}{$src1}{else}{$src2}{/if}" alt="{$file['description']}">
		</a>
	</li>
{/define}



