{if $related_products}
    <ul class="listProdukty list-unstyled listProduktyPodobne">
        <li n:foreach="$related_products as $related" itemtype="http://schema.org/ItemList">
            <div class="col-md-4 col-md-6 col-sm-6 col-xs-12" >
                <div class="listProdukt" itemscope itemtype="http://schema.org/Product">
                    <link itemprop="url" href="{$url}" />
                    {var $url = url($related)}
                    {var $name = trim($related['name'].' '.$related['nameext'])}
                    {var $availability = getProductAvailability($related)}
                    <input type='hidden' name='product_id' value="$product['id']">
		    <input type="hidden" name="redirect_page" value="{$_SERVER[HTTP_HOST].$_SERVER[REQUEST_URI]}">
                    <div class="img">
                       <a title="{$name}" n:if="($img = imgsrc($related, 3, 2, $alt)) !== NULL" href="{$url}"  itemprop="url"><img src="{$img}" alt="{$name}" itemprop="image" height="250"></a>
                       <div class="productStitky">
                        <span
                            n:foreach="$related->product_labels() as $label"
                            class="akce"
                            style="background-color: #{$label->label['color']}"
                        >
                            {$label->label['name']}
                        </span>&nbsp;
                        </div>  
                    </div>
                    <h2 itemprop="name"><a href="{$url}" title="{$name}">{$name}</a></h2>

                    <div class="row">
                        <div class="col-xs-12">
                            <span n:if="Core::config('display_stock')">
                                <span class="dostupnost" {if $availability[hex_color]}style="color: #{$availability[hex_color]};"{/if}>
                                    {$availability['name']}
                                </span>
                            </span>
                        </div>
                        <div class="button row">
                            <div class="col-xs-6">
                                <span class="cena"  itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <meta itemprop="priceCurrency" content="Kč" />
                                    {if !Core::config('hide_prices_to_visitors') || Core::config('hide_prices_to_visitors') && User::$logged_in}
                                        <strong  itemprop="price">{!price_unvat($related)}</strong> <br /><small>bez DPH</small>
                                    {else}
                                        {_'hide_prices_to_visitors'}
                                    {/if}
                                    <link itemprop="availability" href="http://schema.org/InStock"/>     
                                </span>
                            </div>
                            <div class="col-xs-6 text-right">
                               {var $vyrobce = false}
                                {foreach $related->product_pages() as $page}
                                    {if $page->page['menu'] == 3}
                                        {var $file = Core::$db->page_files()->where('page_id', $page['page_id'])->where('is_image', 1)->limit(1)->fetch();}
                                        {if $file}
                                            <a href="{!url($page->page)}"><img src="{$file['filename']}" alt="{$page->page['name']}" width="50" /></a>
                                        {else}    
                                            {!pageFullPath($page->page, true)}
                                        {/if}
                                        {var $vyrobce = true}
                                    {/if}
                                {/foreach}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                {var $hmotnost = $related->getFeature('Hmotnost')}
                {var $prumerstrechy = $related->getFeature('Průměr střechy')}
                {var $delka = $related->getFeature('Délka')}
                {var $otevirani = $related->getFeature('Otevírání')}
                {var $vetruodolnost = $related->getFeature('Větruodolnost') ? 'Ano' : 'Ne'}
                {if $hmotnost or $prumerstrechy or $delka or $otevirani}
                    <div class="hiddenDesc">
                        <span class="bg"></span>
                        <ul>
                            {if $prumerstrechy}
                                <li><strong>Průměr střechy:</strong> {$prumerstrechy}</li>
                            {/if}
                            {if $delka}
                                <li><strong>Délka:</strong> {$delka}</li>
                            {/if}
                            {if $hmotnost}
                                <li><strong>Hmotnost:</strong> {$hmotnost}</li>
                            {/if}
                            {if $otevirani}
                                <li><strong>Otevírání:</strong> {$otevirani}</li>
                            {/if}
                            {if $vetruodolnost}
                                <li><strong>Větruodolnost:</strong> {$vetruodolnost}</li>
                            {/if}
                        </ul>
                    </div>
                {/if}
            </div>
        </li>
    </ul>
{/if}

