/**
 * Webmex Delivery info
 */

.webmex-delivery-info {
	font-style: italic;
	padding: 0;
	margin: 0 0 10px 0;
}

#main {
	.webmex-delivery-info-table {
		table {
			width:100%;
			margin:0 0 10px 0;

			th,td {
				padding:4px 0;
				text-align: left;
				border-bottom: 1px solid #e9e9e9;
			}
		}

		h4 {
			&.webmex-delivery-info-title {
				font-size:11pt;
				margin:20px 0 5px 0;
			}
		}
	}
}

.reset {
	clear: both;
}


@header_color: #751414;

.modal.fade {
	top: -70% !important;
}

.modal.fade.in {
	top: 5% !important;
}

#mezikrok-modal {
	overflow: hidden;
	color: #191717;

	.modal-header {
		background: @header_color;
		color: #fff;
		position: relative;
		background: #DA2F00 linear-gradient(#E63100, #CE2D01) repeat-x;
		padding: 32px 28px 22px 28px;


		button {
			position: absolute;
			cursor: pointer;
			background: none;
			color: #fff;
			font-weight: bold;
			top: 6px;
			right: 6px;
			border: none;
			font-size: 15px;
			text-indent: -9999px;
			padding: 0;
			margin: 0;
			width: 12px;
			height: 12px;
			background: transparent url({@base}etc/modules/mezikrok/template/tech/resources/images/close.png) no-repeat center center;
		}

		.has-added {
			padding-left: 32px;
			margin-bottom: 0;
			background: transparent url({@base}etc/modules/mezikrok/template/tech/resources/images/header-bg.png) no-repeat left top;

			span {
				display: inline;
				font-size: 17px;
				line-height: 18px;
				font-weight: bold;
				font-family: 'Open Sans';
				text-transform: uppercase;

			}
			strong {
				display: block;
				font-weight: normal;
				font-size: 16px;
				opacity: 0.5;
			}
		}
	}

	.doprava-zdarma {
		display: none;
		margin: 0 auto;
		text-align: left;
		padding: 20px 24px 10px 64px;
		background: transparent url({@base}etc/modules/mezikrok/template/tech/resources/images/car.png) no-repeat 24px 34px;

		.title {
			display: block;
			font-size: 14px;
			font-family: 'Open Sans';
			color: #4E4E4E;

			em {
				color: #3C9709;
				font-weight: bold;
				font-style: normal;
			}
		}

		.bar {
			height: 10px;
			-webkit-border-radius: 5px;
			border: 1px solid #E0E0E0;
			border-radius: 5px;
			background: #fff;
			margin: 5px 0;
			overflow: hidden;

			.line {
				background: #6BA017 url({@base}etc/modules/mezikrok/template/tech/resources/images/progress-bg.png) repeat-x left center;
				height: 10px;
			}
		}

		.zero-doprava {
			float: left;
		}
		.full-doprava {
			float: right;
		}
	}

	.modal-body {
		padding: 0 0 2px 0;
	}

	.want-to-buy {
		display: none;
		box-shadow: inset 0px 20px 20px 0px rgba(225, 225, 225, 0.5);
		border-top: 1px solid rgba(68, 68, 68, 0.1);
		padding: 20px 29px;

		h3 {
			font-size: 14px;
			font-family: 'Open Sans';
			color: #444444;
			font-weight: bold;
			margin: 0;
			padding: 0 0 15px 0;
		}

		.related-products {
			width: auto;
			float: none;
			margin: 0;
			padding: 0;

			.item {
				padding: 0 5px;
				border: 1px solid #E5E5E5;

				h4 {
					font-weight: bold;
					margin: 0;
					padding: 0 5px 8px 5px;
					display: block;
					text-align: left;
					font-size: 12px;
					height: 30px;
					color: #444444;
					text-align: center;
					overflow: hidden;
				}

				.image {
					display: block;
					text-align: center;
					margin-bottom: 8px;
					height: 130px;
					overflow: hidden;
					display: table-cell;
					vertical-align: middle;

					img {
						max-width: 100%;
					}
				}

				.availability {
					display: block;
					text-align: center;
					font-weight: bold;
					font-size: 14px;
					padding: 8px 0 8px 0;
				}

				.prices {
					.price_vat {
						font-weight: bold;
						font-size: 14px;
						display: block;
						color: #E53100;
						text-align: center;
					}

					margin-bottom: 0 !important;
				}

				.buy-btn {
					text-align: center;
					padding: 10px 0 0 0;

					a.buy {
						display: inline-block;
						background: #6aae00;
						border: 1px solid #26760A;
						padding: 0 28px;
						line-height: 28px;
						text-decoration: none;
						font-family: 'Open Sans';
						color: #FFFFFF !important;
						text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
						margin-bottom: 10px;

						&:hover {
							background: #5a9600; /* Old browsers */
							background: -moz-linear-gradient(top,  #5a9600 0%, #29770a 100%); /* FF3.6+ */
							background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a9600), color-stop(100%,#29770a)); /* Chrome,Safari4+ */
							background: -webkit-linear-gradient(top,  #5a9600 0%,#29770a 100%); /* Chrome10+,Safari5.1+ */
							background: -o-linear-gradient(top,  #5a9600 0%,#29770a 100%); /* Opera 11.10+ */
							background: -ms-linear-gradient(top,  #5a9600 0%,#29770a 100%); /* IE10+ */
							background: linear-gradient(to bottom,  #5a9600 0%,#29770a 100%); /* W3C */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a9600', endColorstr='#29770a',GradientType=0 ); /* IE6-9 */
						}
					}
				}
			}
		}
	}

	.modal-footer {
		background: #ebe9e9;
		padding: 20px 30px;

		.continue {
			border: 1px solid #BB2B05;
			border-radius: 0px;
			font-family: 'Open Sans';
			color: #FFFFFF !important;
			font-size: 14px;
			text-decoration: none;
			background: #DA2F01 linear-gradient(#E63100, #CE2D01);

			display: inline-block;
			float: left;
			padding: 15px 20px;
			text-align: center;

			&:hover {
				text-decoration: underline;
			}
		}

		.go-basket {
			border-radius: 0px;
			font-family: 'Open Sans';
			color: #FFFFFF !important;
			font-size: 14px;
			text-decoration: none;
			background: #124A8F linear-gradient(#1353A2, #11427E);

			display: inline-block;
			float: right;
			padding: 15px 20px;
			text-align: center;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}



#main .productdetail .producthead .productinfo .basket .modal button.close {
	background: url("{@base}etc/modules/mezikrok/template/tech/resources/images/close.png") no-repeat scroll center center rgba(0, 0, 0, 0);
	height: 12px;
	padding: 0;
	width: 12px;
}