<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><style>
	.inline .inputwrap {
		width: 100px !important;
	}
	.inline .name .inputwrap,
	.feature .default .inputwrap {
		width: 30% !important;
	}
	.feature {
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #c0c0c0;
		padding: 5px 0 0 10px;
		margin: 10px 0 0 0;
		background: #f6f6f6;
	}
	.feature .default {
		clear: left;
	}
	.feature .default .inputwrap {
		margin-left: 120px;
	}
	.feature .default .help {
		display: block;
		clear: left;
		font-size: 90%;
		color: #777;
		margin: 0 0 5px 120px;
	}
	.template {
		display: none;
	}
	.yesnobox {
		display: block;
	}
	.checkboxes .inputwrap {
		margin: 20px 0 0 0 !important;
	}
</style>

<script>
	var _default_values = {};
	var _filter_values = {};
</script>

<form class="form" action="<?php echo url('admin/features/edit/'.$featureset['id'])?>" method="post">

	<h2><a href="<?php echo url('admin/products')?>"><?php echo __('products')?></a> &rsaquo; <a href="<?php echo url('admin/features')?>"><?php echo __('features')?></a> &rsaquo; <?php echo $featureset['name']?></h2>

	<div class="buttons tbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>
	
	<div class="clearfix">
		<fieldset style="width:350px">
			<?php echo forminput('text', 'name', $featureset['name'], array('label' => __('featureset_name')))?>
		</fieldset>
		
		<div class="features">
			<?php if(is_object($featureset) && count($featureset->feature())): foreach($featureset->feature()->order('position ASC, id ASC') as $feature): ?>
			<fieldset class="inline feature">
				<?php echo forminput('select', 'feature['.$feature['id'].'][type]', $feature['type'], array('label' => __('type'), 'cls' => 'feature-type disabled', 'options' => array(
					'string' => __('feature_type_string'),
					'text' => __('feature_type_text'),
					'number' => __('feature_type_number'),
					'yesno' => __('feature_type_yesno'),
					'select' => __('feature_type_select'),
				)))?>
				
				<div class="name">
				<?php echo forminput('text', 'feature['.$feature['id'].'][name]', $feature['name'], array('label' => __('name')))?>
				</div>
				
				<?php echo forminput('text', 'feature['.$feature['id'].'][unit]', $feature['unit'], array('label' => __('unit')))
				.forminput('text', 'feature['.$feature['id'].'][position]', $feature['position'], array('label' => __('position'), 'cls' => 'short center'))?>
				
				<div class="default"></div>
			</fieldset>
			
			<script>
				_default_values[<?php echo $feature['id']?>] = <?php echo json_encode($feature['value'])?>;
				_filter_values[<?php echo $feature['id']?>] = <?php echo (int) $feature['filter']?>;
			</script>
			<?php endforeach; endif; ?>
			
			<fieldset class="inline feature">
				<?php echo forminput('select', 'feature[00][type]', 'string', array('label' => __('type'), 'cls' => 'feature-type', 'options' => array(
					'string' => __('feature_type_string'),
					'text' => __('feature_type_text'),
					'number' => __('feature_type_number'),
					'yesno' => __('feature_type_yesno'),
					'select' => __('feature_type_select'),
				)))?>
				
				<div class="name">
				<?php echo forminput('text', 'feature[00][name]', '', array('label' => __('name')))?>
				</div>
				
				<?php echo forminput('text', 'feature[00][unit]', '', array('label' => __('unit')))
				.forminput('text', 'feature[00][position]', '', array('label' => __('position'), 'cls' => 'short center'))?>
				
				<div class="default"></div>
			</fieldset>
			
			<button class="button" name="add_feature" style="margin-top:10px;"><?php echo __('add_feature')?></button>
		</div>
	</div>
	
	<div class="buttons bbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

	
</form>

<div class="template" id="tpl-string">
	<?php echo forminput('text', 'feature[0][value]', '', array('label' => __('feature_default_value')))?>
	
	<div class="checkboxes">
		<?php echo forminput('checkbox', 'feature[0][filter]', 0, array('label' => __('filter'), 'premium' => true))?>
	</div>
</div>

<div class="template" id="tpl-text">
	<?php echo forminput('textarea', 'feature[0][value]', '', array('label' => __('feature_default_value')))?>
</div>

<div class="template" id="tpl-number">
	<?php echo forminput('text', 'feature[0][value]', '', array('label' => __('feature_default_value'), 'cls' => 'medium right'))?>
	
	<div class="checkboxes">
		<?php echo forminput('checkbox', 'feature[0][filter]', 0, array('label' => __('filter'), 'premium' => true))?>
	</div>
</div>

<div class="template" id="tpl-yesno">
	<?php echo forminput('select', 'feature[0][value]', '', array('label' => __('feature_default_value'), 'cls' => 'yesnobox medium', 'options' => array(
		'0' => __('no'),
		'1' => __('yes')
	)))?>
	
	<div class="checkboxes">
		<?php echo forminput('checkbox', 'feature[0][filter]', 0, array('label' => __('filter'), 'premium' => true))?>
	</div>
</div>

<div class="template" id="tpl-select">
	<?php echo forminput('textarea', 'feature[0][value]', '', array('label' => __('feature_options')))?>
	
	<div class="checkboxes">
		<?php echo forminput('checkbox', 'feature[0][filter]', 0, array('label' => __('filter'), 'premium' => true))?>
	</div>
	
	<p class="help"><?php echo __('feature_select_help')?></p>
</div>

<script>
	$(function(){
		var newId = 1;
		
		$('select.feature-type').live('change', function(){
			var t = this.value;
			var id = this.name.match(/^feature\[(\d+)\]/)[1];
			var tpl = $('#tpl-'+t);
			var wrap = $(this).parents('fieldset:first').find('.default');
			
			wrap.html('');
			
			if(tpl.length){
				var el = tpl.clone().removeAttr('id').removeClass('template');
				
				el.find('label').each(function(){
					$(this).attr('for', $(this).attr('for').replace(/feature\[0\]/, 'feature['+id+']'));
				});
				
				el.find('input, select, textarea').each(function(){
					var n = this.name.match(/\[(\w+)\]$/)[1];
					$(this).attr('name', this.name.replace(/^feature\[0\]/, 'feature['+id+']'));
					$(this).attr('id', this.id.replace(/feature\[0\]/, 'feature['+id+']'));
					
					if(n == 'value' && typeof _default_values[id] != 'undefined'){
						this.value = _default_values[id];
						
					}else if(n == 'filter' && typeof _filter_values[id] != 'undefined'){
						if(_filter_values[id] == 1){
							this.checked = true;
							
						}else{
							this.checked = false;
						}
					}
				});
				
				wrap.append(el);
			}
			
		}).trigger('change');	
		
		$('button[name="add_feature"]').bind('click', function(){
			var el = $('fieldset.feature:first').clone();
			var nid = newId++;
			
			el.find('label').each(function(){
				$(this).attr('for', $(this).attr('for').replace(/feature\[\d+\]/, 'feature[0'+nid+']'));
			});
			
			el.find('input, select, textarea').each(function(){
				this.value = '';
				this.name = this.name.replace(/^feature\[\d+\]/, 'feature[0'+nid+']');
				this.id = this.id.replace(/feature\[\d+\]/, 'feature[0'+nid+']');
				$(this).removeAttr('disabled');
			});
			
			$(this).before(el);
			
			el.find('select.feature-type').trigger('change');
			
			return false;
		});
		
		$('select.disabled').attr('disabled', true);
	});
</script>