<?php defined('WEBMEX') or die('No direct access.');
$view->override = false; 
?>



<?php /********************* GET DATA *********************/ ?>
<?php
$branch = Core::$db->zasilkovna_branch()
			->where('id', $order['zasilkovna_branch_id'])
			->fetch();
?>



<?php /********************* RENDER *********************/ ?>
<?php if ($order['zasilkovna_branch_id']): ?>
	<?php
	/*
	 * Render SK
	 */
	$view->slot_start();
	?>


	<div class="zasilkovna-branch"><?php echo $branch? $branch['name_street']: '<i>pobočka neexistuje</i>'; ?></div>

	<?php if (!$order['track_num'] && User::has('orders')): ?>
		<input type="submit" name="zasilkovna_createPacket" value="Odeslat data do zásilkovny">
	<?php endif; ?>

	<?php if ($order['track_num']): ?>
		<a href="<?php echo url('admin/zasilkovna/barcode/' . $order['id']); ?>" target="_blank" class="print-barcode">Vytisknout čárový kód</a>

		<script>
		jQuery(function(){
			jQuery('a.print-barcode').click(function(e){
				var $this = jQuery(this);
				
				var printWindow = window.open($this.attr('href'), 'Print barcode', 'width=242,height=80');
				printWindow.focus();
				printWindow.print();

				e.preventDefault();
				return false;
			});
		});
		</script>
	<?php endif; ?>


	<?php
	$content = $view->slot_stop();
	$view->find(".ordersidebar>strong:eq(1)")->after($content);
	?>
<?php endif; ?>