<?php defined('WEBMEX') or die('No direct access.');
$view->override = false; 
?>



<?php /********************* GET DATA *********************/ ?>
<?php
?>



<?php /********************* RENDER BULK OPERATIONS *********************/ ?>
<?php
$view->slot_start();
?>


<option value="zasilkovna_createPackets">Zásilkovna.cz - Odeslat do Zasilkovna.cz</option>
<option value="zasilkovna_printBarcodes">Zásilkovna.cz - Vytisknout čárové kódy</option>


<?php
$content = $view->slot_stop();
$view->find("select.action[name=action]")->append($content);
?>



<?php /********************* RENDER ZASILKOVNA ICON *********************/ ?>
<?php foreach ($orders as $order): if ($order['zasilkovna_branch_id']): ?>
	<?php
	$view->slot_start();
	?>


	<a style="background-image: url('<?php echo url('etc/modules/zasilkovna/zasilkovna.ico'); ?>'); width: 3px; height: 16px;" class="zasilkovna" title="Způsob dopravy: zasilkovna.cz" href="#" onclick="return false;"></a>


	<?php
	$content = $view->slot_stop();
	$view->find(
		"table.datagrid tbody " . 
		"tr:has(td:eq(1):contains('$order[id]')):has(td:contains('" . fdate($order['received'], TRUE) . "')) " . 
		"td:has(a.zoom)"
	)->append($content);
	?>
<?php endif; endforeach; ?>

<?php
$content = $view->slot_stop();
$view->find("table.datagrid td.actions")->attr('style', 'width: 80px;');
?>