<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>

<style>
    #translation-table tr:nth-child(even) {background: #F6F6F6}

    #translation-table  tr.changed {
    	background-color: #ffffde;
    }

    #translation-table td {
    	padding: 4px;
    }

    #translation-table td.langkey {
    	color: #777;
    }

    .info {
    	background: #f0f0f0;
    	margin-bottom: 10px;
    }

     .info p {
     	padding: 15px;
     }

    .info .buttons {
    	background: #ddd;
    	padding: 10px 15px;
    	font-weight: bold;
    	text-align: left;
    }
</style>

<h2><a href="<?php echo url('admin/translations')?>"><?php echo __('translations')?></a> &raquo; <?php echo __('language_'.$lang) ?></h2>

<form class="form gridform" action="<?php echo url('admin/translations/edit/'.$lang)?>" method="post">

    <div class="buttons tbar">
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

	<div class="info">
		<p><?php echo __('translation_help')?></p>

		<div class="buttons">
			<a href="#" class="reset-translation"><?php echo __('reset_translation')?></a>
		</div>
	</div>

    <table id="translation-table" class="datagrid">
        <thead>
            <tr>
                <td><?php echo __('translation_key') ?></td>
                <td><?php echo __('translation_localization') ?></td>
            </tr>
        </thead>

        <tbody>
            <?php foreach($translations as $key => $localization):
            	$custom = @$custom_18n[$key];

            	if($custom){
            		$localization = $custom;
            	}
            ?>
            <tr<?php echo ($custom ? ' class="changed"' : '')?>>
                <td class="langkey"><?php echo $key ?></td>
                <td class="jsinput">
                	<input type="hidden" name="i18n[<?php echo $key?>]" value="<?php echo htmlspecialchars((string) $localization)?>" />
                	<span class="replace"><?php echo htmlspecialchars((string) $localization)?></span>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>

    <div class="buttons bbar">
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

</form>

<script>
	$(function(){

		$('#translation-table td.jsinput').bind('click', function(){
			var td = $(this);
			var inp = td.find('input');
			var old_text = inp.val();
			var replace = td.find('.replace');
			var txt = $('<textarea class="input-textarea" />').val(old_text);

			replace.replaceWith(txt);

			txt.focus();

			txt.bind('blur', function(){
				var new_text = $(this).val();

				inp.val(new_text);
				txt.replaceWith(replace.html(new_text));

				if(new_text != old_text){
					td.parent().addClass('changed');
				}
			});
		});

		$('a.reset-translation').bind('click', function(){
			if(confirm('<?php echo __('confirm_translation_reset')?>')){
				window.location = '<?php echo url('admin/translations/reset/'.$lang)?>';
			}

			return false;
		});

	});
</script>