.webmex-basket-free-shipping-wrapper {
	padding: 15px;
	text-align: center;
	color: #50a000;
	font-size: 1.1em;
	background: #e6f2ca;
	border: 2px solid #b3ce74;
	margin-bottom: 30px;
	font-weight: bold;
}

.webmex-basket-free-shipping-wrapper strong {
	font-size: 1.2em;
	color: #478a00;
}