<?php
$bpages = array(4,5,9,6);

if(count(array_keys($bpages, Core::$current_page[id])) > 0) {
    $keys = array_keys($bpages, Core::$current_page[id]);
    $keyPage = $keys[0];
}
?>

{var $_p_basket = Core::$db->page[PAGE_BASKET]}
{var $_p_step1 = Core::$db->page[PAGE_ORDER]}
{var $_p_step2 = Core::$db->page[PAGE_ORDER2]}
{var $_p_finish = Core::$db->page[PAGE_ORDER_FINISH]}

<ul class="basketPagination">
	<li {if isset($keyPage) && $keyPage > -1}class="active"{/if}>
		{if isset($keyPage) && $keyPage > 0}
			<a href="{url(PAGE_BASKET)}"><span>1</span> <em>{$_p_basket[name]}</em></a>
		{else}
			<span>1</span> <em>{$_p_basket[name]}</em>
		{/if}
	</li>
	<li {if isset($keyPage) && $keyPage > 0}class="active"{/if}>
		{if isset($keyPage) && $keyPage > 1}
			<a href="{url(PAGE_ORDER)}"><span>2</span> <em>{$_p_step1[name]}</em></a>
		{else}
			<span>2</span> <em>{$_p_step1[name]}</em>
		{/if}
	</li>
	<li {if isset($keyPage) && $keyPage > 1}class="active"{/if}>
		{if isset($keyPage) && $keyPage > 2}
			<a href="{url(PAGE_ORDER2)}"><span>3</span> <em>{$_p_step2[name]}</em></a>
		{else}
			<span>3</span> <em>{$_p_step2[name]}</em>
		{/if}
	</li>
	<li {if isset($keyPage) && $keyPage > 2}class="active"{/if}>
		{if isset($keyPage) && $keyPage > 3}
			<a href="{url(PAGE_ORDER_FINISH)}"><span>4</span> <em>{$_p_finish[name]}</em></a>
		{else}
			<span>4</span> <em>{$_p_finish[name]}</em>
		{/if}
	</li>
</ul>

