<div class="boxPoradime">
	<div class="pull-left">
		<h4>Poradím Vám s výběrem</h4>
		<h4>Potřebujete poradit s objednávkou?</h4>
				
				<p class="phone"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>CZ: +420 775 550 155,  +420 777 716 551</p>
				<p class="phone"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>SK: +421 944 455 855</p>
				<p class="email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:info@4tel.cz">info@4tel.cz</a></p>

	</div>
	
</div>