<div class="modal fade" id="basket-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 900px;">
	<div class="modal-content">
	    <div class="modal-body" style="text-align: center; color: #3c763d; font-size: 21px;">
		Zboží bylo úspěšně přidáno do košíku!
	    </div>
	</div>
    </div>
</div> 