<div class="contact">
	<form action="#" method="post">		
		<p n:if="$sent" class="alert alert-success">{__('message_sent')}</p>
		<p n:if="$error" class="alert alert-danger">{$error}</p>

		<div class="form-group">
			<label for="bc-contact">{__('your_contact')}:</label>
			<input type="text" name="contact-contact" id="bc-contact" value="{@$values[contact-contact]}" class="form-control">
		</div>

		<div class="form-group">
			<label for="bc-text">{__('your_message')}:</label>
			<textarea name="contact-text" id="bc-text" cols="40" rows="5" class="form-control form-control-square">{@$values[contact-text]}</textarea>
		</div>
		
		{if $block->config['captcha'] && $captcha = Captcha::get('contact'.$block->block['id'])}
			<div class="form-group">
				<div class="bc-captcha" id="bc-captcha-{$block->block[id]}">
					<label for="bc-captcha">{__('captcha_verification_code')}:</label>
					<div class="row">
						<div class="col-md-5">
							<div class="bc-captchapic">
								<img src="{$captcha}" alt="" id="bc-captcha-img" class="bc-code">
							</div>
						</div>
						<div class="col-md-7">
							<div class="bc-captchainput">
								<input type="text" name="captcha" id="bc-captcha" value="" class="form-control">
								<a href="#" onclick="(el=document.getElementById('bc-captcha-img')).src=el.src.replace(/\/[\d\.]+$/, '')+'/'+Math.random();return false;" class="bc-reload">{__('captcha_reload')}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script>
				(function(){
					var captcha = document.getElementById('bc-captcha-{$block->block[id]}');
					
					{if empty($values['contact-contact'])}
					captcha.style.display = 'none';
					{/if}
					
					$(function(){
						var wrap = $(captcha).closest('form');
						
						wrap.find('input, textarea').bind('focus', function(){
							$(captcha).slideDown();
						});
						
						wrap.parents('form:first').bind('submit', function(){
							var input = $(this).find('input[name="captcha"]');
							
							if (!input.val()) {
								$(captcha).show();
								input.focus();
								return false;
							}
							
							$(this).attr('action', {url(true, ['js' => 1])});
						});
					});	
				})();
				
				$(function(){ $('input[name="bcc_{$block->block[id]}"]').val({$block->block[id]}); });
			</script>
		{/if}
		
		<button type="submit" name="send" class="btn btn-square btn-primary">{__('send_message')}</button>
			
		<input type="text" name="contact-email" value="" class="bc-email">
		<input type="hidden" name="block_id" value="{$block->block[id]}">
		<input type="hidden" name="bcc_{$block->block[id]}" value="0">
	</form>
</div>