<div class="col-xs-12 newsletter">
    <form class="form-inline formNewsletter text-center" action="{url('newsletter')}" method="post">
        {$block->getTitle()}
        <div class="input-group">
            <input type="text" placeholder="váš email" class="form-control" name="newsletter_email" id="newsletter_email">
            <div class="input-group-btn">
                <button type="submit" name="signup" class="btn btn-default">Přihlásit k odběru</button>
            </div>
        </div>
    </form>
</div>        