<div class="menu-holder-item">
<nav>
    <ul class="mainnav">
        <li n:foreach="$pages as $page" class="l0">
            <a href="{url($page)}" title="{$page[name]}" n:class="(Core::$current_page && Core::$current_page[id] == $page[id] || Core::$current_page[parent_page] == $page[id])? active">{$page[name]}</a>
            {if (Core::$current_page && Core::$current_page[id] == $page[id] || Core::$current_page[parent_page] == $page[id])}
            {var $subpages = Core::$db->page()->where('parent_page', $page['id'])->where('status', 1)->order('position ASC')}
            <li n:foreach="$subpages as $subpage" class="l1">
                <a href="{!url($subpage)}" n:class="(Core::$current_page && Core::$current_page[id] == $subpage[id] || Core::$current_page[parent_page] == $subpage[id])? active">{$subpage[name]}</a>
            </li>
            {/if}
        </li>
    </ul>
</nav>
</div>
