{if count($pages)}
	<option disabled="disabled" selected="selected">{_'select_option'}</option>
	{foreach $pages as $page}
		<option value="{url($page)}" {if Core::$current_page[id] == $page[id]} selected="selected"{/if}>{$page[name]}</option>
	{/foreach}
{/if}