/**
 * Webmex Delivery info
 */

.webmex-delivery-info {
	font-style: italic;
	padding: 0;
	margin: 0 0 10px 0;
}

#main {
	.webmex-delivery-info-table {
		table {
			width:100%;
			margin:0 0 10px 0;

			th,td {
				padding:4px 0;
				text-align: left;
				border-bottom: 1px solid #e9e9e9;
			}
		}

		h4 {
			&.webmex-delivery-info-title {
				font-size:11pt;
				margin:20px 0 5px 0;
			}
		}
	}
}

#avtable .cont::after {
	display: block;
	content: '';
	clear: both;
}