<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><form class="form" action="<?php echo url('admin/users/edit/'.$user['id'])?>" method="post">
	<a href="#" class="toggletabs"><span class="hide"><?php echo __('hide_tabs')?> &raquo;</span><span class="show">&laquo; <?php echo __('show_tabs')?></span></a>

	<h2><a href="<?php echo url('admin/users')?>"><?php echo __('users')?></a> &rsaquo; <?php echo ($user['id'] ? $user['username'] : __('new_user'))?></h2>

	<div class="buttons tbar">
		<?php if($user['last_change']): ?>
		<div class="log">
			<?php echo __('last_change')?>: <strong><?php echo fdate($user['last_change'], true)?></strong>, <strong><?php echo Core::$db->users[$user['last_change_user']]['username']?></strong>
		</div>
		<?php endif; ?>

		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

	<div class="clearfix">
		<div class="rightcol">
			<div class="tabsWrap label-left">
				<ul class="tabs clearfix">
					<li class="active"><a href="#tab-options"><?php echo __('options')?></a></li>
				</ul>

				<div id="tab-options" class="tab active">
					<?php if($user['id'] == 1): ?>
					<p><?php echo __('admin_user_help')?></p>
					<?php else: ?>
					<?php echo forminput('checkbox', 'enable_login',$user['enable_login'])
					.forminput('select', 'permissions[]', '', array('multiple' => 15, 'options' => $permissions, 'label' => __('permissions')))?>
					<?php endif; ?>
				</div>

			</div>
		</div>

		<div class="leftcol">

			<fieldset style="width:240px;">
				<?php echo forminput('text', 'name', $user['name'], array('label' => __('fullname')))
				.forminput('text', 'username', $user['username'], array('required' => true))
				.forminput('text', 'email', $user['email'], array('required' => true))?>
			</fieldset>

			<hr class="hline" />

			<fieldset class="inline clearfix">
				<?php echo forminput('password', 'password1', '')
				.forminput('password', 'password2', '')?>
			</fieldset>

		</div>
	</div>

	<div class="buttons bbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

</form>