<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><a href="<?php echo url('admin/users/edit/0')?>" class="addbtn"><?php echo __('new_user')?></a>


<h2><?php echo __('users')?></h2>

<form class="form gridform" action="<?php echo url('admin/users')?>" method="post">

	<table class="datagrid">
		<thead>
			<tr>
				<td class="<?php echo ($order_by == 'name' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'name', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('fullname')?></a></td>
				<td class="<?php echo ($order_by == 'username' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'username', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('username')?></a></td>
				<td class="<?php echo ($order_by == 'email' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'email', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('email')?></a></td>
				<td width="120"><?php echo __('last_login')?></td>
				<td class="actions">&nbsp;</td>
			</tr>
		</thead>

		<tbody>
			<?php if(! count($users)): ?>
				<tr class="norecords">
					<td colspan="8"><?php echo __('no_records')?></td>
				</tr>
			<?php endif; ?>

			<?php foreach($users as $user): ?>
				<tr>
					<td><?php echo $user['name']?></td>
					<td><a href="<?php echo url('admin/users/edit/'.$user['id'])?>"><?php echo $user['username']?></a></td>
					<td><?php echo $user['email']?></td>
					<td><?php echo ($user['last_login'] ? fdate($user['last_login'], true) : '&mdash;')?></td>

					<td class="actions">
						<a href="<?php echo url('admin/users/edit/'.$user['id'])?>" class="edit" title="<?php echo __('edit')?>">&nbsp;</a>

						<?php if($user['id'] != 1): ?>
						<a href="<?php echo url('admin/users/delete/'.$user['id'])?>" class="delete" title="<?php echo __('delete')?>">&nbsp;</a>
						<?php endif; ?>
					</td>
				</tr>
			<?php endforeach; ?>
		</tbody>
	</table>

</form>