<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>
<style>
	a.filemanager {
		float: left;
		padding: 0 0 0 20px;
		margin: 22px 0 0 0;
		background: url(./core/admin/template/default/icons/filemanager.png) no-repeat left center;
		text-decoration: none;
	}
</style>
<form class="form" action="<?php echo url('admin/dataimport/create')?>" method="post">
	<h2><a href="<?php echo url('admin/dataimport')?>"><?php echo __('dataimport')?></a> &rsaquo; <?php echo __('dataimport_create_schema')?></h2>

	<div class="clearfix">

		<?php if($error): ?>
		<p class="error"><?php echo $error?></p>
		<?php endif; ?>

		<fieldset class="inline">
		<?php echo forminput('text', 'file', '', array('label' => __('dataimport_file')))?>
		<a href="#" class="filemanager" title="<?php echo __('filemanager')?>">&nbsp;</a>
		</fieldset>

		<button type="submit" name="next" class="button"><?php echo __('next')?> &raquo;</button>

	</div>

</form>
<script>
	$(function(){
		$('a.filemanager').bind('click', function(){

			filemanager({
				callback: function(file){
					if(file){

						if($.isArray(file)){
							file = file[0];
						}

						file = file.substr(file.indexOf(_fm_root)).replace(/^\//, '');
						$('input[name="file"]').val(file);

						if(window._fm_window){
							window._fm_window.close();
						}
					}
				}
			});

			return false;
		});
	});
</script>