<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>

<style>
	#status {
		font-size: 120%;
		display: inline;
		float: left;
		line-height: 27px;
		margin-left: 10px;
		padding-left: 20px;
		background: url(./core/admin/template/default/images/loader.gif) no-repeat left center;
	}
	.preview .after,
	.preview .stats {
		background: #f0f0f0;
		border: 1px solid #ddd;
		margin-bottom: 10px;
	}
	.preview .after .content {
		padding: 10px;
		height: 350px;
		overflow-y: auto;
	}
	.preview .stats .content {
		height: 70px;
		padding: 10px;
	}
	.preview .title {
		margin: 0;
		padding: 5px 10px;
		background: #ddd;
	}
	.preview ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.preview ul li {
		padding: 3px 0;
		color: #777;
	}
	.preview ul li .value {
		float: right;
		width: 85%;
		color: #444;
	}
	.preview ul li .value .img img {
		max-height: 60px;
		max-width: 60px;
		float: left;
		margin-right: 5px;
		border: 1px solid #ddd;
	}
	.preview .features {
		width: 100%;
	}
	.preview .features th {
		background: #e6e6e6;
	}
	.preview .features th,
	.preview .features td {
		padding: 3px;
		text-align: left;
		font-weight: normal;
		border: 1px solid #ddd;
	}
	.import-premium-info {
		background: #ddd;
		padding: 20px;
		margin-bottom: 15px;
		font-weight: bold;
	}
</style>

<form class="form dataimport" action="<?php echo url('admin/dataimport/setup')?>" method="post">
	<h2><a href="<?php echo url('admin/dataimport')?>"><?php echo __('dataimport')?></a> &rsaquo; <?php echo __('dataimport_confirm_import')?></h2>

	<div class="clearfix">

		<?php if(! Core::$is_premium): ?>
		<p class="import-premium-info"><?php echo __('import_premium_info')?></p>
		<?php endif; ?>

		<div class="buttons tbar">
			<div id="status">
				<p>&nbsp;</p>
			</div>

			<a href="<?php echo url('admin/dataimport')?>" style="margin-right:30px;"><?php echo __('back')?></a>

			<button type="submit" class="button" name="doimport" <?php echo (! Core::$is_premium ? ' disabled="disabled"' : '') ?>><?php echo __('dataimport_run_import')?> &rsaquo;</button>
		</div>

		<div class="preview">
			<div class="stats">
				<div class="title"><?php echo __('dataimport_stats')?></div>

				<div class="content">
					<ul></ul>
				</div>
			</div>

			<div class="after">
				<div class="title"><?php echo __('dataimport_product_preview')?></div>

				<div class="content">
					<ul></ul>
				</div>
			</div>
		</div>
	</div>

</form>

<script>

	var fields = {};

	<?php foreach($controller->fields as $field => $name): ?>
	fields['<?php echo $field?>'] = '<?php echo $name?>';
	<?php endforeach; ?>

	$(function(){
		var data = {};

		var showStatus = function(msg){
			$('#status').css('opacity', 1).find('p').html(msg);
		}

		var hideStatus = function(){
			$('#status').animate({
				opacity: 0
			}, 500);
		}

		var disableInputs = function(){
			$('form.dataimport').find('input, select, button').attr('disabled', true).css('opacity', 0.7);
		}

		var enableInputs = function(){
			<?php if(Core::$is_premium): ?>
			$('form.dataimport').find('input, select, button').removeAttr('disabled').css('opacity', 1);
			<?php endif; ?>
		}

		var renderStats = function(){
			var html = '';

			html += '<li><?php echo __('dataimport_filesize')?>:<div class="value">'+data.filesize+' MB</div></li>';
			html += '<li><?php echo __('dataimport_product_count')?>:<div class="value">'+data.product_count+'</div></li>';

			if(data.product_element){
				html += '<li><?php echo __('dataimport_product_element')?>:<div class="value">'+data.product_element+'</div></li>';
			}

			$('div.stats > .content ul').html(html);
		}

		var renderPreview = function(preview_data){
			var html = '', categories, files;

			$.each(preview_data, function(name, value){

				if(name == 'categories' && $.isArray(value)){
					categories = [];

					$.each(value, function(i, v){
						if($.isArray(v)){
							categories.push(v.join(' &rsaquo; '));

						}else{
							categories.push(v);
						}
					});

					value = categories.join('<br />');

				}else if(name == 'features'){
					features = [];

					$.each(value, function(i, v){
						features.push('<tr><th>'+v[0]+'</th><td>'+v[1]+'</td></tr>');
					});

					value = '<table class="features">'+features.join('')+'</table>';

				}else if(name == 'files' && $.isArray(value)){
					files = [];

					$.each(value, function(i, path){
						if($.isArray(path)){
							path = path[0];
						}

						var src = String(path);

						if(! src.match(/^https?\:\/\//)){
							src = _url+src.replace(/^\//, '');
						}

						files.push('<div class="img"><img src="'+src+'" alt="" width="60" /> '+path+'</div>');
					});

					value = files.join('');
				}

				html += '<li class="clearfix">'+fields[name]+':<div class="value">'+value+'</div></li>';
			});

			$('div.after > .content > ul').html(html);
		}

		var preview = function(random_product){
			disableInputs();
			showStatus('<?php echo __('dataimport_building_preview')?>');

			$.post(_base+'admin/dataimport/ajax_preview', {}, function(response){

				if(response && response.status){
					hideStatus();
					enableInputs();

					renderPreview(response.data);

				}else{
					showStatus('Error: '+response.error);
				}

			}, 'json');
		}

		var download = function(){
			disableInputs();
			showStatus('Stahuji soubor...');

			$.post(_base+'admin/dataimport/ajax_download', {}, function(response){

				if(response && response.status){
					analyze();

				}else{
					showStatus('<?php echo __('dataimport_download_error')?>: '+response.error);
				}

			}, 'json');
		}

		var analyze = function(){
			disableInputs();
			showStatus('<?php echo __('dataimport_analyzing')?>');

			$.post(_base+'admin/dataimport/ajax_analyze', {}, function(response){

				if(response && response.status){
					hideStatus();

					data = response.data;

					renderStats();
					enableInputs();

					preview();

				}else{
					showStatus('Error: '+response.error);
				}

			}, 'json');
		}

		var doImport = function(){
			var p = new progress(_lang.import_running);

			var runImport = function(){
				var t = new Date();
				t = t.getTime();

				p.request(_base+'admin/dataimport/ajax_import/<?php echo $schema?>', { t: t }, function(resp){
					p.setProgress(resp.progress);
					if(resp.log){
						p.log(resp.log);
					}

					if(resp.nextStep){
						runImport();
					}

					if(resp.finished){
						p.setProgress(100);
						p.log(_lang.you_will_be_redirected);

						setTimeout(function(){
							window.location = '<?php echo url('admin/dataimport', array('finished' => 1), true)?>';
						}, 3000);
					}

				}, function(){});
			}

			runImport();
		}

		$('button[name="doimport"]').bind('click', function(){
			doImport();
			return false;
		});

		download();
	});
</script>