<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>
<style>
	.addschema {
		padding: 0 0 0 20px;
		margin-left: 30px;
		background: url(./core/admin/template/default/icons/add.png) no-repeat left center;
	}
	.schemasaved,
	.importfinished {
		background: #f0f0f0;
		padding: 15px;
		margin-bottom: 20px;
	}
</style>
<form class="form" action="<?php echo url(true)?>" method="post" enctype="multipart/form-data">
	<h2><?php echo __('dataimport')?></h2>

	<div class="clearfix">

		<?php if(! empty($_SESSION['saved_schema_name']) && ($saved_schema = $_SESSION['saved_schema_name'])): ?>
		<p class="schemasaved"><?php echo __('dataimport_schema_saved_as', $_SESSION['saved_schema_name'])?></p>
		<?php unset($_SESSION['saved_schema_name']); endif; ?>

		<?php if(! empty($_GET['finished'])): ?>
		<p class="importfinished"><?php echo __('dataimport_finished')?></p>
		<?php endif; ?>

		<div style="width:400px;float:left;">

			<fieldset>
			   <?php echo forminput('select', 'schema', isset($saved_schema) ? $saved_schema : '', array('options' => $imports, 'label' => __('select_import_schema')))?>
			</fieldset>

			<div class="buttons buttons-foot">
				<button type="submit" class="button" name="do_import"<?php echo (! count($imports) ? ' disabled="disabled"' : '') ?>><?php echo __('import')?> &rsaquo;</button>

				<button type="submit" class="button" name="edit"><?php echo __('edit')?> &rsaquo;</button>

				<a href="<?php echo url('admin/dataimport/create')?>" class="addschema"><?php echo __('dataimport_create_schema')?></a>
			</div>
		</div>

		<div style="width:300px;float:left;margin-left:50px;">
			<fieldset>
			    <?php echo forminput('file', 'import_file', '', array('label' => __('dataimport_quick_import')))?>
			</fieldset>

			<div class="buttons buttons-foot">
				<button type="submit" class="button" name="upload_import"><?php echo __('upload_import')?> &rsaquo;</button>
			</div>
		</div>

	</div>

</form>

<h3 style="margin-top: 20px;"><?php echo __('cron_links')?></h3>
<table class="datagrid">
	<thead>
		<tr>
			<td width="120"><?php echo __('name')?></td>
			<td><?php echo __('url')?></td>
		</tr>
	</thead>

	<tbody>
		<?php foreach($imports as $basename => $name): ?>
		<tr>
			<td><?php echo $name?></td>
			<td><?php echo Core::$url.'core/cron.php?'.http_build_query(array('k' => $key, 'job' => 'dataimport', 'schema' => $basename))?></td>
		</tr>
		<?php endforeach; ?>
	</tbody>
</table>


<script>
	$(function(){

		$('form.xmlimport').bind('submit', function(){
			var p = new progress(_lang.import_running);
			var schema = $('select[name="schema"]').val();

			var runImport = function(){
				var t = new Date();
				t = t.getTime();

				p.request(_base+'admin/xmlimport/import', { ajax: true, schema: schema, t: t }, function(resp){
					p.setProgress(resp.progress);
					if(resp.log){
						p.log(resp.log);
					}

					if(resp.nextStep){
						runImport();
					}

					if(resp.finished){
						p.setProgress(100);
						p.log(_lang.you_will_be_redirected);

						setTimeout(function(){
							window.location = window.location.href;
						}, 5000);
					}

				}, function(){});
			}

			runImport();

			return false;
		});

	});
</script>