<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>

<style>
	#status {
		font-size: 120%;
		display: inline;
		float: left;
		line-height: 27px;
		margin-left: 10px;
		padding-left: 20px;
		background: url(./core/admin/template/default/images/loader.gif) no-repeat left center;
	}
	.col {
		width: 33%;
		float: left;
	}
	.settings {
		background: #f0f0f0;
		border: 1px solid #ddd;
		padding: 0;
		margin-left: 5px;
	}
	.result {
		float: right;
		background: #f8f5e6;
		border: 1px solid #ebe6ce;
		padding: 0;
	}
	.result .title {
		margin: 0;
		padding: 5px 10px;
		background: #ebe6ce;
	}
	.result .title .preview_refresh,
	.result .title .preview_random {
		float: right;
		margin-left: 5px;
	}
	.settings .title {
		margin: 0;
		padding: 5px 10px;
		background: #ddd;
	}
	.settings .content,
	.result .content {
		padding: 10px;
		height: 350px;
		overflow-y: auto;
	}
	.result ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.result ul li {
		padding: 3px 0;
		color: #777;
	}
	.result ul li .value {
		float: right;
		width: 80%;
		color: #444;
	}
	.result ul li .value .img img {
		max-height: 60px;
		max-width: 60px;
		float: left;
		margin-right: 5px;
		border: 1px solid #ddd;
	}
	.result .features,
	.result .attributes {
		width: 100%;
	}
	.result .features th,
	.result .attributes th {
		background: #eeead7;
	}
	.result .features th,
	.result .features td,
	.result .attributes th,
	.result .attributes td  {
		padding: 3px;
		text-align: left;
		font-weight: normal;
		border: 1px solid #e4e0ca;
	}
	.elements .inputwrap {
		margin: 10px 0 0 0;
	}
	.elements .inputwrap label {
		width: 30%;
		float: left;
		line-height: 150%;
	}
	.elements .inputwrap select,
	.elements .inputwrap .text {
		width: 63%;
		margin: 0;
	}
	.elements .inputwrap .text {
		width: 62%;
	}
	.elements .inputwrap .inp-function {
		background: url(./core/admin/template/default/icons/function.png) no-repeat 2px center;
		text-indent: 25px;
	}
	.elements .inputwrap .inp-static {
		background: url(./core/admin/template/default/icons/textfield.png) no-repeat 2px center;
		text-indent: 25px;
	}
	.elements .inputwrap .inp-expression {
		background: url(./core/admin/template/default/icons/edit-mathematics.png) no-repeat 2px center;
		text-indent: 25px;
	}
	#elements {
		margin-top: 10px;
		border-top: 1px solid #ddd;
	}
	.no-product-element #elements {
		border-top: none;
		margin-top: 0;
	}
	#elements .element .removeelement {
		float: right;
		background: url(./core/admin/template/default/icons/delete.png) no-repeat center center;
		text-decoration: none;
		margin: 2px 5px 0 0;
		padding: 0 5px;
	}
	#elements .element .elementname {
		width: 30%;
		float: left;
		margin-top: 10px;
	}
	#elements .element .elementname .inputwrap {
		margin: 0;
	}
	#elements .element .elementname .inputwrap select {
		width: 90%;
	}
	#elements .element .inputwrap label {
		display: none;
	}
	#elements .addelement {
		display: inline-block;
		margin-top: 10px;
		padding: 5px 0 5px 22px;
		background: url(./core/admin/template/default/icons/add.png) no-repeat left center;
	}
	.stats-title {
		background: #ddd;
		padding: 5px 11px;
		margin: 30px 15px 0 0;
		font-weight: normal;
	}
	.stats-title a.show_sample {
		float: right;
	}
	#stats {
		border: 1px solid #ddd;
		padding: 10px;
		height: 120px;
		overflow: auto;
		margin: 0 15px 0 0;
	}
	#stats ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	#stats ul li {
		padding: 3px 0;
		overflow: hidden;
	}
	#stats ul li span {
		float: left;
		width: 40%;
		color: #777;
	}
	#stats ul li .list {
		float: left;
	}
	#sampleproduct {
		height: 250px;
		overflow: auto;
		background: #f0f0f0;
		margin-bottom: 10px;
		display: none;
	}
	#sampleproduct pre {
		white-space: pre;
		font-family: monospace;
		padding: 10px;
	}
	#sampleproduct .close_sample {
		float: right;
		background: url(./core/admin/template/default/icons/delete.png) no-repeat center center;
		padding: 0 5px;
		margin: 5px;
		text-decoration: none;
		font-weight: bold;
	}
</style>

<form class="form dataimport" action="<?php echo url('admin/dataimport/setup')?>" method="post">
	<h2><a href="<?php echo url('admin/dataimport')?>"><?php echo __('dataimport')?></a> &rsaquo; <?php echo __('dataimport_create_schema')?></h2>

	<div class="clearfix">

		<div class="buttons tbar">
			<div id="status">
				<p>&nbsp;</p>
			</div>

			<a href="<?php echo url($edit_schema ? 'admin/dataimport' : 'admin/dataimport/create')?>" style="margin-right:30px;"><?php echo __('back')?></a>
			<button type="submit" class="button" name="next"><?php echo __('save')?> &rsaquo;</button>
		</div>

		<div id="sampleproduct">
			<a href="#" class="close_sample">&nbsp;</a>
			<pre><code></code></pre>
		</div>

		<div class="col elements">
			<div class="content">
				<?php echo forminput('select', 'product_element', '', array('options' => array(), 'label' => __('dataimport_product_element')))?>

				<div id="elements">
					<div class="element clearfix" style="display:none;">
						<a href="#" class="removeelement">&nbsp;</a>
						<div class="elementname"><?php echo forminput('select', 'custom_element[]', '', array('options' => $fields))?></div>
						<?php echo forminput('select', 'custom_element_value[]', '', array('options' => '<optgroup label="'.__('dataimport_value').'"><option value="_static">'.__('dataimport_static_value').'</option><option value="_function">'.__('dataimport_function').'</option><option value="_expression">'.__('dataimport_expression').'</option></optgroup><optgroup class="els" label="'.__('dataimport_elements').'"></optgroup>'))?>
					</div>

					<a href="#" class="addelement"><?php echo __('dataimport_add_element')?></a>
				</div>

				<h4 class="stats-title">
					<a href="#" class="show_sample"><?php echo __('dataimport_show_sample')?></a>
					<?php echo __('dataimport_stats')?>
				</h4>
				<div id="stats">
					<ul></ul>
				</div>
			</div>
		</div>

		<div class="col settings">
			<div class="title"><?php echo __('settings')?></div>

			<div class="content">
				<?php echo forminput('select', 'options[mode]', @$options['mode'], array('label' => __('dataimport_mode'), 'options' => array(
					'0' => __('dataimport_mode_0'),
					'1' => __('dataimport_mode_1'),
					'2' => __('dataimport_mode_2'),
				)))
				.forminput('select', 'options[delete_products]', @$options['delete_products'], array('label' => __('dataimport_delete_products'), 'options' => array(
					'0' => __('dataimport_delete_products_0'),
					'1' => __('dataimport_delete_products_1'),
					'4' => __('dataimport_delete_products_4'),
					'2' => __('dataimport_delete_products_2'),
					'3' => __('dataimport_delete_products_3'),
				)))
				.forminput('select', 'options[create_categories]', isSet($options['create_categories']) ? $options['create_categories'] : 1, array('label' => __('dataimport_create_categories'), 'options' => array(
					'0' => __('no'),
					'1' => __('yes'),
				)))
				.forminput('select', 'options[variant_element]', '', array('label' => __('dataimport_variant_element'), 'options' => array(
					'' => __('none')
				)))
				.forminput('text', 'options[category_parent]', @$options['category_parent'], array('label' => __('dataimport_category_parent')))
				.forminput('text', 'options[files_target]', @$options['files_target'], array('label' => __('dataimport_target_dir')))
				.forminput('text', 'options[product_unique]', @$options['product_unique'], array('label' => __('dataimport_product_unique')))
				.forminput('text', 'options[encoding]', @$options['encoding'], array('label' => __('dataimport_encoding')))?>
			</div>
		</div>

		<div class="col result">
			<div class="title">
				<a href="#" class="preview_refresh"><?php echo __('dataimport_refresh')?></a>
				<a href="#" class="preview_random"><?php echo __('dataimport_random')?></a>
			<?php echo __('dataimport_preview')?>
		</div>

			<div class="content">
				<ul></ul>
			</div>
		</div>

	</div>

</form>

<script>
	var fields = {};

	<?php foreach($controller->fields as $field => $name): ?>
	fields['<?php echo $field?>'] = '<?php echo $name?>';
	<?php endforeach; ?>

	$(function(){
		var data;

		var showStatus = function(msg){
			$('#status').css('opacity', 1).find('p').html(msg);
		}

		var hideStatus = function(){
			$('#status').animate({
				opacity: 0
			}, 500);
		}

		var disableInputs = function(){
			$('form.dataimport').find('input, select, button').attr('disabled', true).css('opacity', 0.7);
		}

		var enableInputs = function(){
			$('form.dataimport').find('input, select, button').removeAttr('disabled').css('opacity', 1);
		}

		var addCustomElement = function(param, element){
			var el = $('#elements .element:last').clone();

			el.find('select').val('');

			if(param){
				el.find('select[name^="custom_element["]').val(param);
			}

			if(element){
				el.find('select[name^="custom_element_value["]').val(element);

				var matches = String(element).match(/^(static|function|expression)\((.*)\)$/);

				if(matches){
					el.find('select[name^="custom_element_value["]').replaceWith('<input type="text" name="custom_element_value[][_'+matches[1]+']" value="'+matches[2]+'" class="text inp-'+matches[1]+'" />');
				}

			}else{
				el.find('select[name^="custom_element_value["] optgroup:eq(1) option:first').attr('selected', true);
			}

			$('#elements .element:last').before(el);
			el.show();
		}

		var setElements = function(){
			var options = '';

			$.each(data.elements, function(i, el){
				var k = $.isArray(el) ? el[el.length - 1] : i;
				var v = $.isArray(el) ? el[el.length - 1] : el;

				if(data.datatype == 'csv' || data.datatype == 'xls' || data.datatype == 'xlsx'){
					v += ' ['+i+']';
				}

				options += '<option value="'+k+'">'+v+'</option>';
			});

			$('select[name="product_element"]').html(options);
			$('select[name="options[variant_element]"]').append(options);

			if(! data.product_element){
				$('.elements').addClass('no-product-element');
				$('select[name="product_element"]').parent().hide();
			}
		}

		var setProductElements = function(product_el){
			if(! product_el){
				product_el = $('select[name="product_element"]').val();
			}

			var options = '';

			$.each(data.elements, function(i, el){
				if($.isArray(el)){
					var elname = el[el.length - 1];
					var startpos = Math.max(0, $.inArray(product_el, el) + 1);
					var path = el.slice(startpos).join('/');

					if($.inArray(product_el, el) >= 0 && elname != product_el){
						options += '<option value="'+path+'">'+path+'</option>';
					}

				}else{
					if(data.datatype == 'csv' || data.datatype == 'xls' || data.datatype == 'xlsx'){
						el += ' ['+i+']';
					}

					options += '<option value="'+i+'">'+el+'</option>';
				}
			});

			$('select[name^="element["], select[name^="custom_element_value["] optgroup.els').html(options);
		}

		var setDefault = function(){
			if(data.product_element){
				$('select[name="product_element"]').val(data.product_element);
			}

			if(data.suggest){
				$.each(data.suggest, function(param, el){
					addCustomElement(param, el);
				});
			}

			if(data.unique){
				$('input[name="options[product_unique]"]').val(data.unique);
			}

			if(data.variant_element !== null){
				$('select[name="options[variant_element]"]').val(data.variant_element);
			}

			if(data.encoding){
				$('input[name="options[encoding]"]').val(data.encoding);
			}
		}

		var showSample = function(){
			$('#sampleproduct code').html(data.sample);
			$('#sampleproduct').slideDown();
		}

		var hideSample = function(){
			$('#sampleproduct').slideUp();
		}

		var renderStats = function(){
			var html = '';

			if(data.source){
				html += '<li><span><?php echo __('dataimport_source')?>:</span>'+data.source+'</li>';
			}

			html += '<li><span><?php echo __('dataimport_filesize')?>:</span>'+data.filesize+' MB</li>';
			html += '<li><span><?php echo __('dataimport_product_count')?>:</span>'+data.product_count+'</li>';

			if(data.product_element){
				html += '<li><span><?php echo __('dataimport_product_element')?>:</span>'+data.product_element+'</li>';
			}

			$('#stats > ul').html(html);
		}

		var renderPreview = function(preview_data){
			var html = '', categories, files, features;

			$.each(preview_data, function(name, value){

				if(name == 'categories' && $.isArray(value)){
					categories = [];

					$.each(value, function(i, v){
						if($.isArray(v)){
							categories.push(v.join(' &rsaquo; '));

						}else{
							categories.push(v);
						}
					});

					value = categories.join('<br />');

				}else if(name == 'features'){
					features = [];

					$.each(value, function(i, v){
						features.push('<tr><th>'+v[0]+'</th><td>'+v[1]+'</td></tr>');
					});

					value = '<table class="features">'+features.join('')+'</table>';

				}else if(name == 'attributes'){
					attrs = [];

					$.each(value, function(i, v){
						attrs.push('<tr><th>'+v.name+'</th><td>'+v.value+'</td><td>'+v.price+'</td></tr>');
					});

					value = '<table class="attributes">'+attrs.join('')+'</table>';

				}else if(name == 'files' && $.isArray(value)){
					files = [];

					$.each(value, function(i, path){
						if($.isArray(path)){
							path = path[0];
						}

						var src = path;

						if(! src.match(/^https?\:\/\//)){
							src = _url+src.replace(/^\//, '');
						}

						files.push('<div class="img"><img src="'+src+'" alt="" width="60" /> '+path+'</div>');
					});

					value = files.join('');
				}

				html += '<li class="clearfix">'+fields[name]+':<div class="value">'+value+'</div></li>';
			});

			$('div.result > .content > ul').html(html);
		}

		var preview = function(random_product){
			disableInputs();
			showStatus('<?php echo __('dataimport_building_preview')?>');

			var postdata = {
				product_element: $('select[name="product_element"]').val(),
				elements: {},
				options: {},
				random_product: random_product ? 1 : 0
			};

			$('select[name^="element["]').each(function(i, el){
				postdata.elements[$(this).attr('name').match(/\[(.*)\]$/)[1]] = $(this).val();
			});

			$('*[name^="options["]').each(function(i, el){
				postdata.options[$(this).attr('name').match(/\[(.*)\]$/)[1]] = $(this).val();
			});

			$('select[name^="custom_element["]').each(function(i, el){
				if($(this).val()){
					var inp = $('*[name^="custom_element_value["]:eq('+i+')');

					if(inp.attr('name').match(/_static/)){
						var v = 'static('+inp.val()+')';

					}else if(inp.attr('name').match(/_expression/)){
						var v = 'expression('+inp.val()+')';

					}else if(inp.attr('name').match(/_function/)){
						var v = 'function('+inp.val()+')';

					}else{
						var v = inp.val();
					}

					postdata.elements[$(this).val()] = v;
				}
			});

			$.post(_base+'admin/dataimport/ajax_preview', postdata, function(response){
				enableInputs();

				if(response && response.status){
					hideStatus();

					renderPreview(response.data);

				}else{
					showStatus('Error: '+response.error);
				}

			}, 'json');
		}

		var analyze = function(){
			disableInputs();
			showStatus('<?php echo __('dataimport_analyzing')?>');

			$.post(_base+'admin/dataimport/ajax_analyze', {}, function(response){

				if(response && response.status){
					hideStatus();

					data = response.data;

					renderStats();
					enableInputs();
					setElements();
					setProductElements(data.product_element);
					setDefault();

					preview();

				}else{
					showStatus('Error: '+response.error);
				}

			}, 'json');
		}

		var download = function(){
			disableInputs();
			showStatus('<?php echo __('dataimport_downloading')?>');

			$.post(_base+'admin/dataimport/ajax_download', {}, function(response){

				if(response && response.status){
					analyze();

				}else{
					showStatus('<?php echo __('dataimport_download_error')?>: '+response.error);
				}

			}, 'json');
		}

		$('select[name="product_element"]').bind('change', function(){
			setProductElements();
		});

		$('select[name^="custom_element_value["]').live('change', function(){
			var val = $(this).val();

			if(val == '_static' || val == '_function' || val == '_expression'){
				$(this).replaceWith('<input type="text" name="custom_element_value[]['+val+']" value="" class="text inp-'+val.substring(1)+'" />');
			}
		});

		$('a.addelement').bind('click', function(){
			addCustomElement();
			return false;
		});

		$('a.removeelement').live('click', function(){
			$(this).parent().remove();
			return false;
		});

		$('a.preview_refresh').bind('click', function(){
			preview();
			return false;
		});

		$('a.preview_random').bind('click', function(){
			preview(true);
			return false;
		});

		$('a.show_sample').bind('click', function(){
			showSample();
			return false;
		});

		$('a.close_sample').bind('click', function(){
			hideSample();
			return false;
		});

		download();
	});
</script>