<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><form class="form" action="<?php echo url('admin/pages/edit/'.$page['id'])?>" method="post">
	<a href="#" class="toggletabs"><span class="hide"><?php echo __('hide_tabs')?> &raquo;</span><span class="show">&laquo; <?php echo __('show_tabs')?></span></a>
	
	<h2><a href="<?php echo url('admin/pages')?>"><?php echo __('pages')?></a> &rsaquo; <?php echo $page['name']?>
		<?php if($page['id']): ?>
		<a href="<?php echo url($page)?>" target="_blank" class="itempreview" title="<?php echo __('frontend_preview')?>">&nbsp;</a>
		<?php endif; ?>
	</h2>

	<div class="buttons tbar">
		<?php if($page['last_change']): ?>
		<div class="log">
			<?php echo __('last_change')?>: <strong><?php echo fdate($page['last_change'], true)?></strong>, <strong><?php echo Core::$db->user[$page['last_change_user']]['username']?></strong>
		</div>
		<?php endif; ?>
		
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>
	
	<div class="clearfix">
		<div class="rightcol">
			<div class="tabsWrap label-left">
				<ul class="tabs clearfix">
					<li class="active"><a href="#tab-options"><?php echo __('options')?></a></li>
					<li><a href="#tab-margin"><?php echo __('margin')?></a></li>
					<li><a href="#tab-discounts"><?php echo __('discounts')?></a></li>
					<li><a href="#tab-design"><?php echo __('design')?></a></li>
					<li><a href="#tab-files"><?php echo __('files')?></a></li>
					<li><a href="#tab-seo"><?php echo __('seo')?></a></li>
				</ul>
				
				<div id="tab-options" class="tab active">
					
					<?php echo forminput('checkbox', 'status', $page['status'])
					.forminput('checkbox', 'products', $page['products'])
					.forminput('checkbox', 'rss', $page['rss'])
					.forminput('checkbox', 'authorization', $page['authorization'], array('premium' => true))
					.forminput('text', 'position', $page['position'], array('cls' => 'short center'))
					.forminput('select', 'parent_page', $page['parent_page'], array('options' => $pagetree))
					.forminput('select', 'menu', $page['menu'], array('options' => Core::$def['page_types']))
					.forminput('text', 'external_url', $page['external_url'])
					.forminput('text', 'pubdate', $page['pubdate'] ? date('Y-m-d', $page['pubdate']) : '', array('cls' => 'date medium'))?>
				</div>

				<div id="tab-margin" class="tab">
				
					<?php echo forminput('text', 'margin', $page['margin'], array('cls' => 'right short', 'label' => __('margin').' %'))?>
				
				</div>
                
				<div id="tab-discounts" class="tab">
				
					<?php echo forminput('text', 'discount', $page['discount'], array('cls' => 'right short', 'label' => __('discount').' %', 'premium' => true))
					.forminput('text', 'discount_date', $page['discount_date'] ? date('Y-m-d', $page['discount_date']) : '', array('cls' => 'medium date', 'premium' => true))?>
				
				</div>
				
				<div id="tab-design" class="tab">
					<?php echo forminput('select', 'subpages', isSet($page['subpages']) ? $page['subpages'] : 'list', array('options' => array(
						'' => __('view_hidden'),
						'list' => __('view_list'),
						'columns' => __('view_columns'),
						'list_photo' => __('view_list_photo'),
						'gallery' => __('view_gallery'),
					)))
					.forminput('select', 'subpages_position', $page['subpages_position'] ? $page['subpages_position'] : 1, array('options' => array(
						'1' => __('subpages_position_1'),
						'2' => __('subpages_position_2')
					)))
					.forminput('select', 'layout_columns', $page['layout_columns'] ? $page['layout_columns'] : 3, array('options' => array(
						'1' => __('columns_1'),
						'2' => __('columns_2'),
						'3' => __('columns_3'),
					)))
					.forminput('select', 'product_columns', $page['product_columns'] ? $page['product_columns'] : 2, array('options' => array(
						'1' => __('columns_1'),
						'2' => __('columns_2'),
						'3' => __('columns_3'),
						'4' => __('columns_4'),
						'-1' => __('columns_list'),
					)))
					.forminput('checkbox', 'inherit_products', $page['inherit_products'])
					.forminput('checkbox', 'enable_filter', $page['enable_filter'])
					.forminput('select', 'featureset_id', $page['featureset_id'], array('options' => $featuresets, 'label' => __('featureset'), 'premium' => true))
					.forminput('select', 'content_file', $page['content_file'], array('options' => $content_files))
					.forminput('select', 'menu_image', $page['menu_image'], array('options' => $files))?>
				</div>
				
				<div id="tab-files" class="tab files">
					<div class="head clearfix">
						<span class="delete"><?php echo __('delete')?></span>
						<span class="desc"><?php echo __('description')?></span>
						<span class="position"><?php echo __('position')?></span>
					</div>
					
					<div class="fileswrap"></div>
					
					<div class="buttons">
						<button class="button filemanager"><?php echo __('select_from_server')?></button>
						
						<span class="uploadbtn">
			    			<button class="button" name="upload"><?php echo __('upload')?></button>
			    			
			    			<span id="upload"></span>
			    		</span>
					</div>
					
					<div class="uploadprogress clearfix">
		    			<div class="pbar"><span></span></div>
		    			<span class="status"></span>
		    		</div>
    		
				</div>
				
				<div id="tab-seo" class="tab">
					<?php 
					echo forminput('text', 'sef_url', $page['sef_url'], array('cls' => ($page['id'] ? 'locked' : '')))
						.forminput('text', 'seo_title', $page['seo_title'])
						.forminput('text', 'title', $page['title'])
						.forminput('text', 'meta_description', $page['meta_description'])
						.forminput('text', 'meta_keywords', $page['meta_keywords'])
						.forminput('select', 'sitemap_changefreq', $page['sitemap_changefreq'], array(
							'options' => array(
								'' => 'automaticky',
								'always' => 'vždy',
								'hourly' => 'každou hodinu',
								'daily' => 'každý den',
								'weekly' => 'týdně',
								'monthly' => 'měsíčně',
								'yearly' => 'ročně',
								'never' => 'nikdy',
							),
						))
						.forminput('text', 'sitemap_priority', $page['sitemap_priority'], array(
							'placeholder' => 'číslo 0.1 - 1, nebo prázdné',
						));
					?>
				</div>
			</div>
		</div>
		
		<div class="leftcol">
			
			<fieldset>
				<?php 
				echo forminput('text', 'name', $page['name'], array('cls' => 'dirify2sef_url', 'required' => true))
				?>

				<div class="inputwrap clearfix">
					<label for="heureka_category"><?php echo __('heureka_category') ?>:</label><br />
					<select name="heureka_category" id="heureka_category" style="min-width: 200px; width: 100%; min-width: 100%;">
						<option value="0">... žádná ...</option>
						<?php 
						function renderHeurekaCategoryOptions($tree, $actual = '', $depth = 0){
							foreach ($tree as $key => $category) {
								echo '
									<option 
										value="' . $category['fullname'] . '" 
										style="padding-left: ' . $depth . 'em;"
										' . (!$category['fullname']? 'disabled="disabled"': '') . '
										' . ($actual && $actual == $category['fullname']? 'selected="selected"': '') . '
									>
										' . $category['name'] . '
									</option>
								';

								if ($category['childs']) {
									renderHeurekaCategoryOptions($category['childs'], $actual, ++$depth);
								}
							}
						}

						renderHeurekaCategoryOptions(Heureka::getCategoryTree(), $page['heureka_category']);
						?>
					</select>
				</div>

				<?php
				echo forminput('textarea', 'description_short', $page['description_short'], array('cls' => 'editor'))
					.forminput('textarea', 'description', $page['description'], array('cls' => 'editor full', 'rows' => 25, 'label' => __('description_full')))
				?>
			</fieldset>
			
		</div>
	</div>
	
	<div class="buttons bbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>
</form>



<style>
.ui-autocomplete {
	max-height: 256px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
</style>



<script>
	// Files
	var page_files = [];
	
	<?php if($page['id']): foreach($page->page_files()->order('position ASC') as $file): ?>
	page_files.push(<?php echo json_encode($file->as_array())?>);
	<?php endforeach; endif; ?>
	

	$(function(){
		// Parent page change
		$('select[name="parent_page"]').bind('change', function(){
			if($(this).val() != 0){
				$('select[name="menu"]').attr('disabled', true).parent().hide();
				
			}else{
				$('select[name="menu"]').removeAttr('disabled').parent().show();
			}
		}).trigger('change');
		
		files($('#tab-files'), page_files);
	});
</script>