<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>
<style>
.label {
	width: 480px;
	background: #f0f0f0;
	padding: 10px;
	margin-bottom: 10px;
}
.label .inputwrap {
	float: left;
	width: 200px;
	margin: 0 20px 0 0;
}
.label .delete {
	text-decoration: none;
	float: right;
	width: 16px;
	height: 16px;
	margin: -5px -5px 0 0;
	background: url(./webmex/admin/template/default/icons/delete.png) no-repeat top right;
}
</style>
<h2><?php echo __('labels')?></h2>

<form class="form" action="<?php echo url('admin/labels')?>" method="post">

	<?php foreach($labels as $label): ?>
	<div class="label clearfix">
		<a href="<?php echo url('admin/labels/delete/'.$label['id'])?>" class="delete" title="<?php echo __('delete')?>">&nbsp;</a>

		<?php echo forminput('text', 'name['.$label['id'].']', $label['name'], array('label' => __('name')))
		.forminput('text', 'color['.$label['id'].']', $label['color'], array('label' => __('hex_color')))?>
	</div>
	<?php endforeach; ?>

	<div class="label clearfix">
		<a href="<?php echo url('admin/labels/delete/'.$label['id'])?>" class="delete" title="<?php echo __('delete')?>">&nbsp;</a>

		<?php echo forminput('text', 'name[0]', '', array('label' => __('name')))
		.forminput('text', 'color[0]', '', array('label' => __('hex_color')))?>
	</div>

	<div class="buttons ">
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

</form>
<script>
$(function(){
	$('.label a.delete').bind('click', function(){
		return confirm(_lang.confirm_delete);
	});
});
</script>