body {
	background: #e5e5e5;
	color:#616161;
}
a {
	text-decoration:underline
}

/* loginForm */
.form-signin.wrapper {	
	max-width: 800px;
	margin: 80px auto;
}
	.form-signin.wrapper a {
		color:#616161;
	}
	.form-signin .wrapperMain {
		padding:40px;
		background-color: #fff;
	}
		.form-signin form label {
			display:block;
			font-weight:normal;
		}
		.form-signin form input[type="text"],
		.form-signin form input[type="password"]		{
			border:1px solid #dddddd;
			width:100%;
			padding:10px 15px;
			margin-bottom:15px;
		}
		.form-signin img {
			display:block;
			margin-bottom:10px;
		}
		.form-signin .btn-link {
			margin:12px 15px 0 0;
		}
		.form-signin .btn-lg {
			padding-left:35px;
			padding-right:35px;
		}
		
	.form-signin footer {
		margin:10px 0 0 0;
		font-size:12px;
	}
	
.bg-danger {
	padding:15px;
}
	
