@import "../../../../template/system/css/font-awesome/less/font-awesome-admin.less";

.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}
.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}
.row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}
.row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}
.row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}
.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}
.row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}
.row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}
.row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}
.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}
.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}
.row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}
.row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}
.row-fluid .offset12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%;
}
.row-fluid .offset12:first-child {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%;
}
.row-fluid .offset11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%;
}
.row-fluid .offset11:first-child {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%;
}
.row-fluid .offset10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%;
}
.row-fluid .offset10:first-child {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%;
}
.row-fluid .offset9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%;
}
.row-fluid .offset9:first-child {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%;
}
.row-fluid .offset8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%;
}
.row-fluid .offset8:first-child {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%;
}
.row-fluid .offset7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%;
}
.row-fluid .offset7:first-child {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%;
}
.row-fluid .offset6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%;
}
.row-fluid .offset6:first-child {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%;
}
.row-fluid .offset5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%;
}
.row-fluid .offset5:first-child {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%;
}
.row-fluid .offset4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%;
}
.row-fluid .offset4:first-child {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%;
}
.row-fluid .offset3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%;
}
.row-fluid .offset3:first-child {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%;
}
.row-fluid .offset2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%;
}
.row-fluid .offset2:first-child {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%;
}
.row-fluid .offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%;
}
.row-fluid .offset1:first-child {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}
[class*="span"].hide,
.row-fluid [class*="span"].hide {
  display: none;
}
[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float: right;
}




html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, figure, footer, header,
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* END RESET CSS */

body { font:12px sans-serif; line-height:1.22; font-family: 'Open Sans'; }

table { font-size:inherit; font:100%; }

sexlect, input, textarea { font:100% sans-serif; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }



/*
 * minimal base styles
 */

body, select, input, textarea { color:#333; }

h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }

html { -webkit-font-smoothing: antialiased; }

a:hover, a:active { outline: none; }

a, a:active, a:visited { color:#333; outline: none; }
a:hover { text-decoration: none; }

ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; }

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre {
  padding: 15px;
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button { cursor: pointer; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

a:link { -webkit-tap-highlight-color: #FF5E99; }


/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

button {  width: auto; overflow: visible; font:12px sans-serif; }

.ie7 img { -ms-interpolation-mode: bicubic; }


/* for image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; }

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position:absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }


/*
 * SUPER.QUICKCART STYLES
 */

body {
	background-color: #e9e9e9;
}

#container {
	padding: 0 15px;
	position: relative;
	background: #e9e9e9 no-repeat top left;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e9e9e9));
	background-image: -moz-linear-gradient(#f7f7f7, #e9e9e9);
}
header {
	padding-top: 10px;
}
header h1 {
	font-size: 140%;
}
header h1 a {
	text-decoration: none;
}

.loading {
	background-image: url(@{tplbase}images/loader.gif);
}

#msg {
	position: absolute;
	top: 5px;
	left: 200px;
	background: #f4f4f4 no-repeat 6px center;
	border: 1px solid #ccc;
	padding: 6px 10px;
	text-align: center;
	min-width: 250px;
	font-size: 110%;
	font-weight: bold;
}
#msg.ok {
	background-color: #e7ffc8;
	background-image: url(@{tplbase}icons/tick.png);
	border-color: #b6e679;
}
#msg.error {
	background-color: #ffccc8;
	background-image: url(@{tplbase}icons/cross.png);
	border-color: #e67e79;
}

#toplinks {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;

}
#toplinks li {
	display: inline;
	padding-right: 5px;
	margin-right: 5px;
	border-right: 1px solid #ddd;
}
#toplinks li:last-child {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
}
#toplinks li.logout a {
	color: red;
}
#toplinks li .notify-count {
	background: red;
	color: #fff;
	font-weight: bold;
	padding: 0 4px;
	margin-left: 2px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#mainnav {
	margin-top: 10px;
}
#mainnav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#mainnav ul li {
	float: left;
	border: 1px solid #ccc;
	background: #f2f2f2 no-repeat top left;
	margin-right: -1px;
	position: relative;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f2f2f2));
	background-image: -moz-linear-gradient(#fafafa, #f2f2f2);
}
#mainnav ul li a {
	display: block;
	line-height: 38px;
	padding: 0 10px;
	color: #777;
	text-decoration: none;

	padding-left: 33px;
	background: no-repeat 10px center;
}
#mainnav ul li a.icon-orders {
	background-image: url(@{tplbase}icons/orders.png);
}
#mainnav ul li a.icon-products {
	background-image: url(@{tplbase}icons/products.png);
}
#mainnav ul li a.icon-pages {
	background-image: url(@{tplbase}icons/pages.png);
}
#mainnav ul li a.icon-customers {
	background-image: url(@{tplbase}icons/customers.png);
}
#mainnav ul li a.icon-statistics {
	background-image: url(@{tplbase}icons/stats.png);
}
#mainnav ul li a.icon-blocks {
	background-image: url(@{tplbase}icons/blocks.png);
}
#mainnav ul li a.icon-modules {
	background-image: url(@{tplbase}icons/modules.png);
}
#mainnav ul li a.icon-banners {
	background-image: url(@{tplbase}icons/banners.png);
}
#mainnav ul li a.icon-system {
	background-image: url(@{tplbase}icons/system.png);
}
#mainnav ul li:hover {
	border-top-color: #888;
}
#mainnav ul li.active {
	position: relative;
	background-color: #f4f4f4;
	border-top-color: #333;
	border-bottom-color: #f4f4f4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f4f4));
	background-image: -moz-linear-gradient(#fff, #f4f4f4);
}
#mainnav ul li:hover a,
#mainnav ul li.active a {
	color: #333;
}
#mainnav .subnavwrap {
	border: 1px solid #ccc;
	background: #f4f4f4;
	margin-top: -1px;
	height: 38px;
}
#mainnav ul.subnav {
	display: none;
}
#mainnav ul.active {
	display: block;
}
#mainnav ul.subnav li {
	border: none;
	background: transparent;
	margin: 0;
	padding: 7px 0;
}
#mainnav ul.subnav li a,
#mainnav ul.subnav li span.premium {
	text-decoration: underline;
	line-height: 24px;
	border-right: 1px solid #ddd;
	padding: 0 10px;
	background: transparent;
	color: #333;
}
#mainnav ul.subnav li span.premium {
	background: url(@{tplbase}images/premium.png) no-repeat 10px 0px;
	padding-left: 26px;
}
#mainnav ul.subnav li a:hover {
	text-decoration: none;
}
#mainnav ul.subnav li:last-child a {
	border-right: none;
}
#mainnav ul.subnav li.list a {
	color: #888;
}
#mainnav ul.subnav li.add a {
	padding-left: 30px;
	background: url(@{tplbase}icons/add.png) no-repeat 10px center;
}

#webmexlogo {
	float: right;
	margin: 10px 0 0 0;
	font-size: 150%;
	color: #c3c3c3;
	font-family: "Trebuchet MS";
	font-style: italic;
	text-decoration: none;
}

#main {
	background: #fff;
	border: 1px solid #ccc;
	border-top: none;
	padding: 10px;
}
#main h2 {
	font-size: 120%;
	margin-bottom: 10px;
	padding-bottom: 3px;
	border-bottom: 1px dotted #ccc;
}
#main h2 .itempreview {
	text-decoration: none;
	background: url(@{tplbase}images/link.gif) no-repeat center center;
	padding: 0 5px;
}
#main h3 {
	font-size: 110%;
	margin-bottom: 10px;
}
#main a.toggletabs {
	float: right;
	font-size: 90%;
}

footer {
	margin: 15px 0 30px 0;
	padding: 0 0 0 180px;
	height: 40px;
	line-height: 30px;
	font-size: 90%;
	background: url(@{tplbase}images/webmex-logo.png) no-repeat 10px top;
	color: #777;
}
footer .right {
	float: right;
}

#login {
	width: 450px;
	margin: 0 auto;
	padding-top: 120px;
}
#login form {
	padding: 10px;
	background: #fff no-repeat top left;
	position: relative;
	border: 1px solid #ccc;
	@boxshadow(0; 2px; 10px; #d0d0d0);

	behavior: url(@{tplbase}core/js/PIE.htc);
}
#login form .title {
	margin: -10px -10px 10px -10px;
	padding: 10px;
	font-size: 120%;
	color: #111;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	@gradient(#3f3f3f; #606060);
	border-bottom: 1px solid #ddd;
}
#login form .inputwrap {
	width: 47%;
	float: left;
	margin-right: 20px;
}
#login form .inputwrap:last-child {
	margin-right: 5px;
	float: right;
}
#login form .input-text {
	width: 96%;
}
/*#login form .buttons a {
	color: #666;
	margin-left: 5px;
}
#login form .buttons a {
	color: #666;
	margin-left: 5px;
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #E6E6E6 #E6E6E6 #A2A2A2;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 14px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
	border-radius: 3px 3px 3px 3px;
}
#login form .buttons a.lost_password:hover {
    background-color: #E6E6E6;
    background-position: 0 -15px;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}*/
#login form .button {
	background-color: #0074CC;
	background-image: -moz-linear-gradient(center top , #0088CC, #0055CC);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	padding: 0 10px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}
#login form .button:hover {
    background-color: #0044CC;
    background-position: 0 -15px;
    color: #fff;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}
#login p {
	font-size: 85%;
	margin-top: 10px;
	text-align: right;
}
#login p a {
	color: #777;
}
#login .msg {
	margin-bottom: 10px;
}

#filemanager {
	padding-top: 15px;
}
#filemanager .buttons {
	margin: 0 0 10px 0;
}
.uploadbtn {
	position: relative;
	display: inline;
	padding: 5px 0;
}
.uploadbtn #uploadUploader {
	position: absolute;
	top: -1px;
	left: 2px;
	cursor: pointer;
}
#filemanager .buttons .uploadprogress {
	float: right;
	width: 176px;
	border: 1px dotted #ccc;
	padding: 3px;
	background: #fff;
	display: none;
}
.uploadprogress .pbar {
	padding: 1px;
	font-size: 0;
	background: #f9f9f9;
	border: 1px solid #ddd;
}
.uploadprogress .pbar span {
	display: block;
	line-height: 8px;
	height: 8px;
	background: #37859e no-repeat top left;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6bc2de), to(#37859e));
	background-image: -moz-linear-gradient(#6bc2de, #37859e);
	width: 50%;
}
.uploadprogress .status {
	display: block;
	margin-top: 3px;
	font-size: 85%;
	overflow: hidden;
	white-space: nowrap;
}
.uploadprogress .status .percent {
	float: right;
	color: #777;
	margin-top: 2px;
}
#filemanager .files {
	border: 1px solid #ccc;
	margin-right: 200px;
	background: #fff;
}
#filemanager .files .path {
	padding: 5px 10px;
	color: #888;
	border-bottom: 1px solid #ccc;
	background: #e6e6e6 no-repeat top left;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#c8c8c8));
	background-image: -moz-linear-gradient(#e6e6e6, #c8c8c8);
	overflow: hidden;
}
#filemanager .files .path a {
	color: #333;
}
#filemanager .files .path .loader {
	width: 25px;
	height: 12px;
	float: right;
	background: url(@{tplbase}images/fm-loader.gif) no-repeat center bottom;
}
#filemanager .files .wrap {
	overflow-x: hidden;
	overflow-y: scroll;
}
#filemanager .files .wrap ul {
	margin: 0;
	padding: 10px;
	list-style: none;
}
#filemanager .files .wrap ul li {
	border-bottom: 1px dotted #ccc;
	padding: 5px 0 5px 20px;
	background: url(@{tplbase}icons/document.png) no-repeat left center;
	overflow: hidden;
}
#filemanager .files .wrap ul li:hover {
	background-color: #eef9fd;
}
#filemanager .files .wrap ul li span {
	float: right;
	margin-left: 20px;
	color: #777;
}
#filemanager .files .wrap ul li a.delete {
	float: right;
	line-height: 16px;
	padding: 0 8px;
	margin-left: 10px;
	background: url(@{tplbase}icons/delete.png) no-repeat center center;
	text-decoration: none;
}
#filemanager .files .wrap ul li.image {
	background-image: url(@{tplbase}icons/image.png);
}
#filemanager .files .wrap ul li.folder {
	background-image: url(@{tplbase}icons/folder.png);
}
#filemanager .info {
	position: relative;
	width: 162px;
	padding: 10px;
	float: right;
	border: 1px solid #ccc;
	background: #fff;
	overflow: hidden;
}
#filemanager .info .preview {
	width: 160px;
	height: 160px;
	text-align: center;
	line-height: 158px;
	border: 1px dotted #ccc;
}
#filemanager .info .preview img {
	vertical-align: middle;
	max-height: 158px;
	max-width: 158px;
}
#filemanager .info .preview .ext {
	font-size: 200%;
	color: #ccc;
}
#filemanager .info .name {
	display: block;
	margin: 10px 0;
	overflow: hidden;
	word-wrap: break-word;
}
#filemanager .info table {
	width: 100%;
	border-collapse: collapse;
}
#filemanager .info table tr td {
	border: 1px solid #ddd;
	padding: 3px;
	font-size: 85%;
}
#filemanager .info .infobuttons {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	padding: 5px;
	text-align: right;
}


.form label {
	display: inline;
}
.form .inputwrap {
	margin-bottom: 10px;
}
.form .inputhelp {
	display: block;
	text-align: right;
	font-size: 90%;
	color: #777;
	margin-top: 5px;
}
.form .input-text,
.form .input-file,
.form .input-textarea {
	display: block;
	width: 98%;
	background-color: #fff;
	padding: 4px 5px;
	margin: 3px 0 0 0;
	border-width: 1px;
	border-style: solid;
	border-color: #bababa #d9d9d9 #d9d9d9 #bababa;
	color: #555;
	line-height: 1.42857143;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	outline: none;
}
.form .input-text:focus,
.form .input-file:focus,
.form .input-textarea:focus
{
	border-color: #66afe9;
}
.form .monospace {
	font-family: monospace;
}
.form .input-file {
	padding: 1px;
}
.form .input-checkbox {
	vertical-align: top;
}
.form .input-select {
	width: 98%;
	margin: 3px 0 0 0;
}

.form .short {
	width: 40px;
}
.form .medium {
	width: 80px;
}
.form .cke_skin_kama {
	margin: 3px 0 0 0;
	width: 98%;
}
.form input.checkbox {
	width: auto;
	margin: 1px;
}
.form input.center {
	text-align: center;
}
.form input.right {
	text-align: right;
}
.form .rightcol {
	float: right;
	width: 35%;
}
.form .leftcol {
	margin-right: 37%;
}
.notabs .rightcol {
	display: none;
}
.notabs .leftcol {
	margin-right: 0;
}
.form .toggletabs .hide {
	display: inline;
}
.form .toggletabs .show {
	display: none;
}
.notabs .toggletabs .hide {
	display: none;
}
.notabs .toggletabs .show {
	display: inline;
}
.form .tbar,
.form .bbar {
	clear: both;
	background: #f4f4f4;
	border-bottom: 1px dotted #ccc;
	text-align: right;
	padding: 3px;
	margin: -10px 0 10px 0;
}
.form .bbar {
	border-top: 1px dotted #ccc;
	margin-top: 20px;
	margin-bottom: 0;
}
.form .tbar .log {
	float: left;
	font-size: 90%;
	color: #777;
	margin: 8px 0 0 10px;
}
.form .label-left label {
	float: left;
	width: 33%;
	margin-right: 5px;
	margin-top: 6px;
}
.form .label-left .inputwrap {
	margin-bottom: 5px;
}

.form .label-left .input-text,
.form .label-left .input-textarea,
.form .label-left .input-select {
	width: 60%;
    float: left;
}
.form .label-left .input-select {
	margin-top: 6px;
}
.form .label-left .input-checkbox {
	margin-top: 8px;
}
.form .label-left .short {
	width: 40px;
}
.form .label-left .medium {
	width: 80px;
}
.form .label-left .inputhelp {
	margin-left: 34%;
	text-align: left;
}
.form .files .head {
	font-size: 90%;
	color: #999;
	margin-bottom: 15px;
}
.form .files .head span {
	float: left;
}
.form .files .nofiles {
	padding: 5px 0 10px 0;
	margin-top: -5px;
	color: #888;
	border-top: 1px dotted #d6d6d6;
}
.form .files .file {
	display: block;
	clear: left;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.form .files .file:last-child {
	border-bottom: none;
}
.form .files .file input {
	display: inline;
}
.form .files .file .filename {
	display: block;
	margin-bottom: 5px;
	overflow: hidden;
}
.form .files .file .filename input {
	margin: 0 5px 0 0;
}
.form .files .file .size,
.form .files .head .delete {
	width: 22%;
}
.form .files .file .desc,
.form .files .head .desc {
	width: 34%;
	margin-left: 4px;
	margin-right: 4px;
}
.form .files .file .position,
.form .files .head .position {
	width: 10%;
}
.form .files .file .align,
.form .files .head .align {
	width: 20%;
}
.form .files .file .align {
	margin-left: 4px;
}
.form .files .head .desc,
.form .files .head .position {
	padding-left: 4px;
	padding-right: 4px;
}
.form .files .head .position {
	padding-right: 14px;
}
.form .files .file span.size {
	float: left;
}
.form .files .buttons {
	background: #f4f4f4;
	padding: 5px 10px;
	margin: 0 -10px -10px -10px;
}
.form .files .uploadprogress {
	background: #f4f4f4;
	padding: 5px 10px;
	margin: 10px -10px -10px -10px;
	display: none;
}
.form .inline .inputwrap {
	width: 100%;
	float: left;
	margin-right: 20px;
}
.form .prices .inputwrap {
	width: 109px;
}
.form hr.hline {
	height: 0;
	line-height: 0;
	border: none;
	border-top: 1px solid #d6d6d6;
	margin: 5px 0 10px 0;
}
.form .required label {
	font-weight: bold;
}
.form .required label .star {
	font-weight: bold;
	color: #c0392b;
}
.form .required input.error, .form .required select.error {
	border-color:red !important;
}
.form .premium-js label {
	color: #999;
}
.form .premium-js input.input-text,
.form .premium-js textarea {
	background: url(@{tplbase}images/premium.png) no-repeat 4px 4px;
}
.form .premium-js .premiumicon {
	background: url(@{tplbase}images/premium.png) no-repeat center bottom;
	padding: 2px 6px;
}
.form .label-left .premium-js .premiumicon {
	padding: 6px;
}

.button {
	color: #fff;
	padding: 0 10px;
	line-height: 26px !important;
	height: 27px;
	position: relative;

	border:1px solid #2986b9;
	background: #2986b9;
	outline: none;
	-webkit-transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
	-moz-transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
	transition: border-color 0.3s ease-out, background-color 0.3s ease-out;
}
.button:hover {
	border-color: #1b71a0;
	background-color: #1b71a0;
}
.button:focus {
	border-color: #115c85;
	background-color: #115c85;
}
.button:disabled {
	opacity: 0.3;
}


.msg {
	padding: 10px;
	background: #f4f4f4;
	border: 1px solid #ddd;
	font-weight: bold;
}
.msg-error {
	background-color: #ffe7e7;
	border-color: #e58282;
}

a.addbtn,
span.addbtn {
	float: right;
	background: url(@{tplbase}icons/add.png) no-repeat 10px center;
	padding-left: 30px;
	line-height: 16px;
}
.rightbtn {
	float: right;
	padding-left: 30px;
	line-height: 16px;
}


table.datagrid {
	width: 100%;
	border-collapse: collapse;
	border: 5px solid #ddd;
	border-top: 0;
}
table.datagrid thead tr td {
	padding: 6px;
	font-size: 90%;
	color: #777;
	font-weight: bold;
	background: #ddd;
	vertical-align: middle;
	border: 5px solid #ddd;
	border-width: 5px 0;
}
table.datagrid tbody tr td {
	border-top:1px solid #ddd;
	padding: 6px;
	vertical-align: middle;
}
table.datagrid tfoot tr td {
	padding: 6px;
	vertical-align: middle;
}
table.datagrid tbody tr.even td {
	background-color: #f6f6f6;
}
table.datagrid tr td .input-text {
	margin: 0;
	padding: 3px 4px;
	width: 87%;
}
table.datagrid tr td .input-checkbox {
	margin: 4px 0 0 0;
}
table.datagrid thead tr td.right,
table.datagrid tbody tr td.right,
table.datagrid tfoot tr td.right {
	text-align: right;
}
table.datagrid thead tr td.center,
table.datagrid tbody tr td.center,
table.datagrid tfoot tr td.center {
	text-align: center;
}
table.datagrid tr td.input {
	padding: 3px 6px;
	line-height: 18px;
}
table.datagrid thead tr td.input {
	padding: 0 6px;
}
table.datagrid tbody tr:hover td {
	background-color: #feffef;
}
table.datagrid tr.gridtitle td {
	background: #e3f4f9;
	border-bottom-color: #bfe1ec;
	font-weight: bold;
}
table.datagrid thead tr td.actions {
	width: 60px;
	text-align: center;
}
table.datagrid thead tr td.sort-ASC {
	background: #eee url(@{tplbase}images/sort-arrow-asc.gif) no-repeat right center;
}
table.datagrid thead tr td.sort-DESC {
	background: #eee url(@{tplbase}images/sort-arrow-desc.gif) no-repeat right center;
}
table.datagrid thead tr td.right.sort-ASC,
table.datagrid thead tr td.right.sort-DESC {
	padding-right: 12px;
}
table.datagrid tr td.actions a {
	float: left;
	line-height: 16px;
	padding: 0 8px;
	background: url(@{tplbase}icons/orders.png) no-repeat center center;
	text-decoration: none;
}
table.datagrid tr td.actions a.download {
	background-image: url(@{tplbase}icons/download.png);
}
table.datagrid tr td.actions a.edit {
	background-image: url(@{tplbase}icons/edit.png);
}
table.datagrid tr td.actions a.zoom {
	background-image: url(@{tplbase}icons/magnifier-zoom-in.png);
}
table.datagrid tr td.actions a.delete,
table.datagrid tr td.actions a.deleterow {
	background-image: url(@{tplbase}icons/delete.png);
}
table.datagrid tr td.actions a.copy {
	background-image: url(@{tplbase}icons/copy.png);
}
table.datagrid tr td.actions a.preview {
	background-image: url(@{tplbase}icons/magnifier.png);
}
table.datagrid tr.norecords td {
	background: #f0f0f0;
	font-size: 120%;
	color: #888;
	padding: 15px 20px;
}
table.datagrid thead tr td.rowselect {

}
table.datagrid tbody tr td.rowselect {
}

.gridform .buttons {
	background: #f0f0f0;
	padding: 3px;
	text-align: right;
}
.gridform .buttons-foot {
	border: none;
}
.gridform .buttons-foot .action {
	float: left;
	margin-right: 10px;
}
.gridform .buttons .button {
	line-height: 20px;
}
.gridform .buttons .pagination {
	float: left;
	margin: 0;
	padding: 0 5px;
	list-style: none;
	line-height: 27px;
}
.gridform .buttons .pagination li {
	display: inline;
	color: #888;
}
.gridform .buttons .pagination li a {
	margin: 0 2px;
}
.gridform .buttons .pagination li.active a {
	font-weight: bold;
	text-decoration: none;
}
.gridform .buttons .pagination li.split {
	border-right: 1px solid #d6d6d6;
	margin: 0 6px 0 5px;
}
.gridsearch {
	background: #f6f6f6;
	border: 1px solid #ddd;
	padding: 0 5px;
	margin-bottom: 10px;
}
.gridsearch fieldset {
	padding-left: 5px;
}
.gridsearch .inputwrap {
	width: 250px;
	float: left;
	margin: 3px 10px 0 0;
}
.gridsearch .inputwrap label {
	text-align: right;
	width: auto;
}
.gridsearch .inputwrap .input-text,
.gridsearch .inputwrap .input-select {
	width: 75%;
}
.gridsearch .button {
	margin-top: 4px;
}

.tabsWrap ul.tabs {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tabsWrap ul.tabs li {
	float: left;
	border: 1px solid #ccc;
	background: #f2f2f2 no-repeat top left;
	margin-right: -1px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f2f2f2));
	background-image: -moz-linear-gradient(#fafafa, #f2f2f2);
}
.tabsWrap ul.tabs li a {
	display: block;
	padding: 0 7px;
	line-height: 25px;
	color: #777;
	text-decoration: none;
}
.tabsWrap ul.tabs li:hover {
	border-top-color: #888;
}
.tabsWrap ul.tabs li.active {
	background-color: #fff;
	border-top-color: #333;
	border-bottom-color: #fff;
	background-image: none;
}
.tabsWrap ul.tabs li.active a {
	color: #333;
}
.tabsWrap .tab {
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: -1px;
	display: none;
}
.tabsWrap .active {
	display: block;
}

#dashboard .quicklinks {
	background: #f0f0f0;
	padding: 5px;
	margin: 10px 10px 0 10px;
}
#dashboard .quicklinks a {
	background-position: center 10px;
	background-repeat: no-repeat;
	padding: 10px;
	float: left;
}
#dashboard .quicklinks a:hover {
	background-color: #fff;
}

#dashboard .col {
	width: 50%;
	float: left;
}
#dashboard .widget {
	margin: 10px;
}
#dashboard .widget .widget-content {
	border: 5px solid #ddd;
	border-top: 0;
}
#dashboard .widget h3 {
	background: #ddd;
	color: #777;
	border: 1px solid #ddd;
	border-bottom: 0;
	padding: 5px;
	margin: 0;
	font-weight: bold;
	font-size: 100%;
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	background-image: -moz-linear-gradient(#eee, #ddd);
}
#dashboard .widget ul {
	margin: 0;
	padding: 5px 10px;
	list-style: none;
}
#dashboard .widget ul li {
	padding: 4px 0;
	border-bottom: 1px solid #eee;
	line-height: 160%;
}
#dashboard .widget ul li:last-child {
	border-bottom: none;
}
#dashboard .widget .info {
	color: #888;
}
#dashboard .widget ul li a {
	font-weight: bold;
}
#dashboard .widget ul li.order .status {
	float: left;
	width: 90px;
	text-align: center;
	background: #f0f0f0;
	margin-right: 15px;
}
#dashboard .widget ul li.order .s-1 {
	background-color: #ffebed;
}
#dashboard .widget ul li.order .s-2 {
	background-color: #def0ff;
}
#dashboard .widget ul li.order .s-3 {
	background-color: #e7ffe3;
}
#dashboard .widget ul li.order .s-4 {
	background-color: #e9e9e9;
}
#dashboard .widget ul li.order .date {
	color: #888;
	margin-left: 105px;
}
#dashboard .no-border {
	border: none;
}
#dashboard .no-border .widget-content {
	border: 0;
}
#dashboard .no-border h3 {
	border: 1px solid #ddd;
	border-bottom: none;
}
#dashboard .numstats {
	padding: 10px;
	margin-bottom: 5px;
	background: #f4f4f4;
}
#dashboard .numstats div {
	float: left;
	border-right: 1px solid #ddd;
	padding: 0 10px 0 0;
	margin-right: 10px;
}
#dashboard .numstats div:last-child {
	border-right: none;
}
#dashboard .numstats div span {
	color: #888;
	font-size: 90%;
}
#dashboard .numstats div big {
	display: block;
	margin-top: 3px;
	font-size: 130%;
}
#dashboard .orderstats {
	padding: 10px 10px 0 10px;
}
#dashboard .orderstats p {
	margin: 10px 0 5px 0;
	color: #888;
}
#dashboard .orderstats .row {
	margin-bottom: 5px;
}
#dashboard .orderstats .row .bar {
	background: #eef9fd;
	text-align: right;
	overflow: visible;
	white-space: nowrap;
	padding: 4px 0;
	border-right: 3px solid #d2e5ec;
	color: #3d93b2;
}
#dashboard .orderstats .row .bar em {
	font-style: normal;
	margin-right: 5px;
}
#dashboard .orderstats .row .bar span {
	float: left;
	color: #888;
	margin-left: 7px;
	margin-right: 10px;
}
#dashboard .news .date {
	float: left;
	width: 80px;
	color: #888;
}
#dashboard .news p {
	margin-left: 80px;
}
#dashboard .first-login {
	background: #f0f0f0;
	border: 2px solid #d6d6d6;
	margin: 0 10px;
	padding: 20px;
	font-size: 130%;
}
#dashboard .update {
	background: #f0f0f0;
	border: 2px solid #d6d6d6;
	margin: 0 10px;
	padding: 10px;
}

#designeditor {
	border: 1px solid #d6d6d6;
}
#designeditor .sidebar {
		position: relative;
	width: 200px;
	float: left;
	border-right: 1px solid #d6d6d6;
	height: 500px;
}
#designeditor .sidebar .colorpicker {
	position: absolute;
	width: 200px;
	bottom: 0;
	left: 0;
	background: #f0f0f0;
	border-top: 1px solid #d6d6d6;
}
#designeditor .sidebar .colorpicker .cpoverlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	display: none;
}
#designeditor .sidebar ul {
	height: 304px;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow-y: scroll;
}
#designeditor .sidebar ul li {

}
#designeditor .sidebar ul li a {
	display: block;
	padding: 3px 0 3px 17px;
	background: url(@{tplbase}images/toggle-plus.png) no-repeat left center;
	text-decoration: none;
}
#designeditor .sidebar ul li.active a {
	background-image: url(@{tplbase}images/toggle-minus.png);
}
#designeditor .sidebar ul li a:hover,
#designeditor .sidebar ul li.active a {
	background-color: #f0f0f0;
}
#designeditor .sidebar ul li .vars {
	background: #f0f0f0;
	padding: 5px 5px 5px 17px;
	font-size: 90%;
	border-bottom: 1px solid #ddd;
	display: none;
}
#designeditor .sidebar ul li.active .vars {
	display: block;
}
#designeditor .sidebar ul li .vars .var label {
	display: block;
	color: #666;
	cursor: default;
	margin-top: 3px;
}
#designeditor .sidebar ul li .vars .var input {
	width: 98%;
}
#designeditor .sidebar ul li .vars .var input.color,
#designeditor .sidebar ul li .vars .var input.image {
	width: 85%;
}
#designeditor .sidebar ul li .vars .var input.short {
	width: 34.5%;
}
#designeditor .sidebar ul li .vars .var input.pixels {
	width: 40px;
	text-align: right;
}
#designeditor .sidebar ul li .vars .var span.color {
	padding: 0 5px;
	background: red;
	border: 1px solid #ccc;
}
#designeditor .sidebar ul li .vars .var a.filemanager {
	padding: 0 6px 0 7px;
	display: inline;
	background: url(@{tplbase}icons/image.png) no-repeat center center;
}
#designeditor .preview {
	margin-left: 202px;
}
#designeditor .preview .toolbar {
	background: #f0f0f0;
	padding: 5px 5px 0 5px;
	border-bottom: 1px solid #d6d6d6;
	height: 33px;
}
#designeditor .preview iframe {
	width: 100%;
	height: 461px;
	border: none;
}

.modaldialog {
	background: #e9e9e9;
	padding: 10px;
}
.modaldialog h3 {
	font-size: 120%;
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 3px;
	color: #666;
	margin: 0 0 10px 0;
}
.modaldialog p {
	margin: 0 0 15px 0;
	line-height: 150%;
}
#webmex_about {
	padding: 0;
	background: #fff;
	overflow: hidden !important;
}
#webmex_about .logo {
	color: #aaa;
	height: 173px;
	background: #292929 url(@{tplbase}images/webmex-about-bg.png?v3) no-repeat right bottom;
}
#webmex_about .logo big {
	display: block;
	color: #eee;
	font-size: 200%;
	padding: 20px 0 5px 20px;
}
#webmex_about .logo small {
	display: block;
	font-size: 110%;
	padding: 0 0 0 20px;
}
#webmex_about .info {
	padding: 15px 0 0 0;
	font-size: 90%;
	color: #666;
}
#webmex_about .info p {
	margin-bottom: 5px;
}
#webmex_about .info .webmexlogo {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0.5;
}
#webmex_about .info .webmexlogo:hover {
	opacity: 1;
}
#webmex_premium ul {
	margin: 0 0 10px 0;
	padding: 0;
}
#webmex_premium ul li {
	padding: 5px 0 5px 25px;
	background: url(@{tplbase}images/tick.png) no-repeat left center;
	font-weight: bold;
}
#webmex_premium .buttons {
	background: #d6d6d6;
	border-top: 1px solid #bbb;
	padding: 5px;
	margin: 10px -10px -10px -10px;
	text-align: right;
}
.premium-info {
	background: url(@{tplbase}images/premium.png) no-repeat top left;
	color: #777;
	margin: 10px 0;
	padding: 0 0 0 20px;
}

#quicklaunch {
	position: absolute;
	z-index: 999;
	top: 30px;
	right: 15px;
	background: #E9E9E9;
	border: 1px solid #d0d0d0;
	padding: 0;
	margin-top: 5px;
	width: 184px;
}
#quicklaunch:hover {
	-webkit-box-shadow: 0 2px 3px #bbb;
	-moz-box-shadow: 0 2px 3px #bbb;
	box-shadow: 0 2px 3px #bbb;
}
#quicklaunch span {
	display: block;
	background: url(@{tplbase}images/toggle-plus.png) no-repeat right center;
	padding: 3px 20px 3px 5px;
	cursor: pointer;
	color: #777;
}
#quicklaunch:hover span {
	background-image: url(@{tplbase}images/toggle-minus.png);
}
#quicklaunch .dropdown {
	display: none;
}
#quicklaunch .dropdown button {
	font-size: 80%;
	margin: 0 3px 3px 3px;
}
#quicklaunch:hover .dropdown {
	display: block;
}
#quicklaunch .input-text {
	border: 1px solid #ddd;
	border-top-color: #aaa;
	border-left-color: #aaa;
	padding: 3px 3px 3px 25px;
	margin: 2px;
	display: block;
	width: 150px;
}
#quicklaunch .ql-orders {
	background: #fff url(@{tplbase}icons/orders.png) no-repeat 3px center;
}
#quicklaunch .ql-products {
	background: #fff url(@{tplbase}icons/products.png) no-repeat 3px center;
}
#quicklaunch .ql-pages {
	background: #fff url(@{tplbase}icons/pages.png) no-repeat 3px center;
}
#quicklaunch .ql-customers {
	background: #fff url(@{tplbase}icons/customers.png) no-repeat 3px center;
}

.toggleset {
	border: 1px solid #ccc;
	border-width: 1px 0 0 0;
	padding: 0;
}
.toggleset legend {
	padding: 0 5px 0 20px;
	margin: 0 5px;
	background: url(@{tplbase}images/toggle-plus.png) no-repeat left 0;
	cursor: pointer;
}
.toggleset .wrap {
	display: none;
	padding: 5px;
}
.toggleset-expanded legend {
	background-image: url(@{tplbase}images/toggle-minus.png);
}
.toggleset-expanded .wrap {
	display: block;
}

.progress {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	z-index: 9999;
}
.progress .dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	margin-left: -300px;
	margin-top: -100px;
	background: #f0f0f0;
	border: 1px solid #d6d6d6;
}
.progress .dialog h1 {
	padding: 5px;
	background: #f0f0f0;
	border-bottom: 1px solid #d6d6d6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	background-image: -moz-linear-gradient(#eee, #ddd);
}
.progress .dialog .log {
	border: 1px solid #ddd;
	margin: 5px;
	background: #fff;
}
.progress .dialog .log div {
	height: 130px;
	overflow-y: scroll;
	padding: 5px;
	font-family: monospace;
	font-size: 90%;
}
.progress .dialog .bar {
	position: relative;
	margin: 5px;
	padding: 2px;
	background: #fff;
}
.progress .dialog .bar div {
	font-size: 0;
	height: 20px;
	background: #333;
	width: 0;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
	background-image: -moz-linear-gradient(#666, #333);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.progress .dialog .bar span {
	position: absolute;
	width: 50px;
	text-align: center;
	top: 4px;
	left: 50%;
	margin-left: -25px;
	color: #bbb;
	text-shadow: 0 1px 0 #000;
}
.progress .dialog .time {
	margin: 5px;
	color: #888;
}
.progress .dialog .time .esttime {
	display: inline;
	margin-left: 50px;
}

#sessionalert {
	display: none;
	background: #ea6d36;
	color: #fff;
	padding: 8px 15px;
	font-weight: bold;
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
#sessionalert .time {
	margin-left: 15px;
	font-size: 120%;
}
#sessionalert a {
	color: #fff;
	margin-left: 30px;
}
#sessionalert a.logout {
	font-weight: normal;
	float: right;
}

/* IE 7 fixes */
.ie7 #dashboard .col {
	width: 49.9%;
}
.ie7 .gridsearch .inputwrap .input-text,
.ie7 .gridsearch .inputwrap .input-select {
	width: 70%;
	margin: 0;
}
.ie7 .tbar .button,
.ie7 .bbar .button {
	margin-left: 5px;
}
.ie7 ul.tabs li {
	z-index: 95;
	position: relative;
}
.ie7 #filemanager .files .wrap ul li {

}
.ie8 #filemanager .buttons .uploadprogress {
	margin-top: -3px;
}

.webmex-plupload {
	position: fixed;
	top: 100px;
	left: 100px;
	border: 1px solid #aaa;

	-webkit-box-shadow: 0 2px 4px #aaa;
	-moz-box-shadow: 0 2px 4px #aaa;
	box-shadow: 0 2px 4px #aaa;
}
.webmex-plupload .wrap {
	background: #fff;
}
.webmex-plupload .tbar,
.webmex-plupload .bbar {
	background: #d0d0d0;
	padding:10px;
}
.webmex-plupload .bbar input {
	margin: 0 5px 0 0;
}
.webmex-plupload .tbar {
	text-align: right;
	padding: 5px 10px;
}
.webmex-plupload .tbar a {
	margin-left: 10px;
}
.webmex-plupload .minimalized {
	background: #d0d0d0;
	padding: 5px;
	text-align: right;
	cursor: pointer;
}
.webmex-plupload .minimalized .bar {
	border: 1px solid #aaa;
	padding: 1px;
	background: #fff;
	width: 100px;
	float: left;
}
.webmex-plupload .minimalized .bar span {
	display: block;
	height: 11px;
	width: 0;
	background: #CDEB8B;
}
.webmex-plupload .minimalized em {
	font-style: normal;
}


.xdialog {
	position: absolute;
	top: 100px;
	left: 500px;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.dialog-blink {
	background-color: rgba(0, 0, 0, 0.25);
}
.xdialog .wrap {
	position: relative;
	margin: 7px;
	background: #fff;
	overflow: hidden;
}
.xdialog .wrap .scrollable {
	overflow: auto;
}
.xdialog .wrap h2 {
	margin: 0;
	background: #ddd;
	border-bottom: 1px dotted #999;
	padding: 6px 10px;
	font-size: 110%;
	-khtml-user-select: none;
	-moz-user-select: none;
}
.dialogDraggable .wrap h2 {
	cursor: move;
}
.xdialog .wrap h2 a {
	float: right;
	font-weight: normal;
	font-size: 90%;
}
.xdialog .wrap h3 {
	font-size: 110%;
	margin: 0 0 5px 0;
	padding: 0;
}
.xdialog .wrap .dbuttons {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #f0f0f0;
	border-top: 1px solid #ddd;
	padding: 5px;
}
.xdialog .wrap .dbuttons .button {
	margin-left: 5px;
}
.xdialog .wrap .content {
	position: relative;
	width: 600px;
	height: 400px;
	margin: 0;
	padding: 0 0 47px 0;
}
.xdialog .no-buttons .content {
	padding-bottom: 0;
}
.xdialog .wrap .content .mainIframe {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: none;
}
.xdialog .wrap .content .alert,
.xdialog .wrap .content .confirm {
	padding: 15px;
	font-size: 120%;
	text-align: center;
}
.xdialog .wrap .content p {
	line-height: 130%;
}
.xdialog .wrap .simpleForm {
	padding: 10px;
}
.xdialog .wrap .formWrap {
	padding: 10px;
	margin: 0;
}
.xdialog .wrap .formWrap label {
	display: block;
	margin-bottom: 5px;
}

/* Dialog tabs */
.xdialog .content-tabs {
	margin-top: 0;
}
.xdialog .tabs-wrap ul.tabs {
	margin: 0;
	padding: 0 4px;
	list-style: none;
	background: #f1f1f1;
	border-bottom: 1px solid #ccc;
	height: 25px;
}
.xdialog .tabs-wrap ul.tabs li {
	float: left;
	height: 19px;
	line-height: 19px;
	padding: 2px 10px 0 10px;
	margin: 4px 3px 0 0;
}
.xdialog .tabs-wrap ul.tabs li.clear {
	clear: left;
}
.xdialog .tabs-wrap ul.tabs li a {
	text-decoration: none;
	font-weight: bold;
}
.xdialog .tabs-wrap ul.tabs li.active {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: none;
	padding: 1px 9px 1px 9px;
}
.xdialog .tabs-wrap ul.tabs li.active a {
	color: #2a2a2a;
}
.xdialog .tabs-wrap .tabContent {
	display: none;
	padding: 10px;
	overflow: auto;
}
.xdialog .tabs-wrap .active {
	display: block;
}

.icon-tick {
	background-image: url(@{tplbase}icons/tick.png);
}
.icon-cross {
	background-image: url(@{tplbase}icons/cross.png);
}

.notify-msg {
	background: #fefdf0 url(@{tplbase}icons/exclamation.png) no-repeat 6px 6px;
	border: 1px solid #efecc0;
	padding: 6px 10px 6px 30px;
	margin: 5px 10px 0 10px;
	font-size: 110%;
}
.notify-msg-info {
	background-color: #ecf9fe;
	background-image: url(@{tplbase}icons/information.png);
	border-color: #c0e2ef;
}
.notify-msg-update {
	background-color: #f4f4f4;
	background-image: url(@{tplbase}icons/gear.png);
	border-color: #e0e0e0;
}
.notify-msg-payment {
	background-color: #f4feed;
	background-image: url(@{tplbase}icons/paid.png);
	border-color: #cff1b6;
}
.notify-msg .dtime {
	float: right;
	color: #999;
}
.notify-msg .dtime a {
	margin-left: 15px;
}

/*
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: #333 !important; text-shadow: none; }

  a, a:visited { color: #333 !important; text-decoration: underline; }

  a:after { content: " (" attr(href) ")"; }

  abbr:after { content: " (" attr(title) ")"; }

  .ir a:after { content: ""; }  /* Don't show links for images */

  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

  img { page-break-inside: avoid; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans: 3; widows: 3; }

  h2, h3{ page-break-after: avoid; }
}

/**
 * Bootstrap Popover
 * Bootstrap v2.3.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.popover-title:empty {
  display: none;
}
.popover-content {
  padding: 9px 14px;
}
.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow {
  border-width: 11px;
}
.popover .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right .arrow:after {
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.popover.bottom .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left .arrow:after {
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}

/*!
 * Bootstrap v2.3.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn {
	text-decoration: none;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc e("\9");
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}
.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #003399 e("\9");
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 e("\9");
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 e("\9");
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 e("\9");
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c e("\9");
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222222;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 e("\9");
}
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #0088cc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-link:hover,
.btn-link:focus {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: #333333;
  text-decoration: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.cke_reset {
	clear: both;
	margin: 10px 0 30px;
}


#new-dashboard {

	h1 {
		font-size: 250%;
		margin: 20px 0 30px 20px;
	}

	.dash-box {
		background: #428bca;
		color: #fff;
		padding: 15px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		border-radius: 2px;

		&.green {
			background: #1CAF9A;
		}

		&.red {
			background: #D9534F;
		}

		.fa {
			font-size: 60px;
		}

		h3 {
			&.title {
				font-weight: normal;
				text-transform: uppercase;
				padding: 0;
				margin: 0;
				display: block;
				font-size: 11px;
			}
		}

		.info {
			font-weight: bold;
			font-size: 40px;
		}

		.bottom {
			padding: 10px 0 0 0;

			h4 {
				&.title {
					font-weight: normal;
					text-transform: uppercase;
					padding: 0;
					margin: 0;
					display: block;
					font-size: 11px;
				}
			}

			.subinfo {
				font-weight: bold;
				font-size: 20px;
			}
		}
	}

	.select-date {
		float: right;
		display: block;
		border: 1px solid #e5e5e5;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
		padding: 8px 15px;
		font-size: 140%;
		margin: 20px 0 30px;
		width: 310px;
		background: url(@{tplbase}images/dashboard-select.png) right center no-repeat;
		cursor: pointer;
	}

	i.calendar {
		background-image: url(@{tplbase}icons/calendar.png);
		width: 16px;
		height: 16px;
		display: block;
		float: right;
		margin-top: 30px;
		margin-right: 5px;
	}

	a.refresh {
		background-image: url(@{tplbase}icons/refresh.png);
		width: 20px;
		height: 20px;
		display: block;
		float: right;
		margin-top: 28px;
		margin-left: 5px;
	}

	.minus-margin {
		margin: 0 -10px;
	}

	#last-fake {
		background: #fff url(@{tplbase}images/dashboard-bg.png) top repeat-x;
		border-top: 1px solid #fff;
		padding: 60px;
	}

	#guide {
		background: #fff url(@{tplbase}images/dashboard-bg.png) top repeat-x;
		border-top: 1px solid #fff;
		padding: 20px;
		border-bottom: 1px solid #d1d1d1;

		h2.title {
			font-size: 180%;
			margin: 20px 0 30px 0;
			border: none;
			padding: 0;
			background: url(@{tplbase}images/guide-icon.png) left center no-repeat;
			padding-left: 25px;
		}

		.item {
			background: #FBFBFB;
			border: 1px solid #d7d7d7;
			padding: 4px;
			margin: 8px;
			height: 42px;
			white-space: nowrap;
			overflow: hidden;

			.mark {
				display: inline-block;
				width: 40px;
				height: 40px;
				text-align: center;
				border: 1px solid #d7d7d7;
				line-height: 40px;
				margin-right: 22px;
				background-color: #FFFFFF;
				font-size: 22px;
				color: #333333;
				font-family: 'Open Sans';
				font-weight: bold;
			}
			.description {
				display: inline-block;
				height: 42px;
				line-height: 42px;
				font-family: 'Open Sans';
				font-size: 14px;
				color: #333333;
				position: relative;
				bottom: 3px;
			}
			
			&.success {
				background: #E6F4D0;
				.mark {
					text-indent: -9999px;
					background-image: url(@{tplbase}images/mark-success.png);
					background-position: center center;
					background-repeat: no-repeat;
				}
			}
		}
	}

	#notes {
		background: #fff url(@{tplbase}images/dashboard-bg.png) top repeat-x;
		border-top: 1px solid #fff;
		padding: 20px;
		border-bottom: 1px solid #d1d1d1;

		h2.title {
			font-size: 180%;
			margin: 20px 0 30px 0;
			border: none;
			padding: 0;
			background: url(@{tplbase}icons/dashboard-notes.png) left center no-repeat;
			padding-left: 25px;
		}

		#main-msg {
			position: relative;

			.enter-msg {
				border: 1px solid #c7c7c7;
				margin: 0;
				height: 60px;
				overflow: hidden;
				box-shadow:inset 0 0 15px #d9d9d9;
				background: #fff;
				display: block;
				font-family: Arial, sans-serif;
				color: #454545;
				font-size: 120%;
				padding: 22px 80px 22px 20px;
			}

			button {
				position: absolute;
				top:10px;
				right: 10px;
				font-size: 130%;

				background: #ebebeb; /* Old browsers */
				background: -moz-linear-gradient(top,  #ebebeb 0%, #cecece 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #ebebeb 0%,#cecece 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #ebebeb 0%,#cecece 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #ebebeb 0%,#cecece 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #ebebeb 0%,#cecece 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
				border: 1px solid #cecece;
				display: inline-block;
				padding: 10px 20px;
				color: #454545;
				text-shadow:1px 1px 0 #fff;
				font-weight: bold;
				text-align: center;
				line-height: 1;
			}
		}

		.labels {
			padding-top: 10px;

			label {
				display: block;
				height: 41px;
				position: relative;

				input {
					float: right;
					margin-top: 15px;
					margin-right: 5px;
				}

				&.l-yellow {
					background: #f6f4e1;
					&:hover {
						background: #efe694;
					}
				}

				&.l-red {
					background: #fadede;
					&:hover {
						background: #f36c6c;
					}
				}

				&.l-green {
					background: #e4f7d6;
					&:hover {
						background: #9ce963;
					}
				}

				&.l-blue {
					background: #e5f3f9;
					&:hover {
						background: #77cbef;
					}
				}
			}
		}

		#data-notes {
			padding-top: 20px;

			.note {
				border: 1px solid #cbcbcb;
				padding: 15px;
				color: #454545;
				margin-bottom: 20px;
				line-height: 160%;

				.date {
					padding-bottom: 4px;
				}

				.note-edit {
					background: url(@{tplbase}icons/note-edit.png) center center no-repeat;
					width: 16px;
					height: 16px;
					display: block;
					float: right;
				}

				.note-remove {
					background: url(@{tplbase}icons/note-remove.png) center center no-repeat;
					width: 16px;
					height: 16px;
					display: block;
					float: right;
					margin-left: 5px;
				}

				.edit {
					display: none;

					textarea {
						border: 1px solid #c7c7c7;
						margin: 0;
						box-shadow:inset 0 0 15px #d9d9d9;
						background: #fff;
						display: block;
						font-family: Arial, sans-serif;
						color: #454545;
						width: 100%;
						padding: 20px 10px 20px 10px;
						height: 200px;
					}

					button {
						font-size: 110%;
						background: #ebebeb; /* Old browsers */
						background: -moz-linear-gradient(top,  #ebebeb 0%, #cecece 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top,  #ebebeb 0%,#cecece 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top,  #ebebeb 0%,#cecece 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(top,  #ebebeb 0%,#cecece 100%); /* IE10+ */
						background: linear-gradient(to bottom,  #ebebeb 0%,#cecece 100%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
						border: 1px solid #cecece;
						display: inline-block;
						padding: 5px 10px;
						color: #454545;
						text-shadow:1px 1px 0 #fff;
						font-weight: bold;
						text-align: center;
						line-height: 1;
						float: right;
						margin: 5px 0 0 5px;

						&.cancel {
							background: #393939;
							color: #fff;
							text-shadow:1px 1px 0 #000;
							border-color: #151515;
						}
					}
				}
			}
		}
	}

	#stats {
		background: #fff url(@{tplbase}images/dashboard-bg.png) top repeat-x;
		border-top: 1px solid #fff;
		padding: 20px;
		border-bottom: 1px solid #d1d1d1;

		h2.title {
			font-size: 180%;
			margin: 20px 0 30px 0;
			border: none;
			padding: 0;
			background: url(@{tplbase}icons/dashboard-stats.png) left center no-repeat;
			padding-left: 25px;
		}

		.graph {
			width: 100%;
			height: 250px;
			position: relative;

			.remove {
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				bottom: 0;
				font-style: italic;
				color: #058dc7;
				text-align: center;
			}
		}
		.error-msg {
			margin: 0 20px;
			background: #da5d4c;
			border: 1px solid #9d2919;
			padding: 5px 10px;
			color: #fff;
			text-align: center;
		}

		.graph-fake {
			height: 240px;
			background: url(@{tplbase}images/ga.png) center center no-repeat;
			position: relative;
		}
	}

	.datagrid.table {
		border: none;

		thead {
			tr {
				td, th {
					color: #646464;
					font-weight: bold;
					padding: 12px 10px;
					font-size: 120%;
					text-align: left;
				}
			}
		}

		tbody {
			tr {
				td,th {
					padding: 10px;
				}

				&.top-tr {
					font-weight: bold;
					font-size: 140%;
				}

				&.hide-me {
					display: none;
				}
			}
		}

		tfoot {
			tr {
				td,th {
					padding: 10px;
					text-align: right;
					font-weight: bold;
					border-top: 1px solid #ddd;
				}
			}
		}
	}

	.tabsWrap {
		ul {
			padding-left: 20px;

			li {
				border: none;
				background: none;
				padding: 2px;

				a {
					padding: 7px 15px;
					color: #343434;
					font-weight: bold;
					background: none;
				}

				&.active {
					border: 1px solid #c9c9c9;
					border-bottom: 1px solid #fff;
					padding: 0;

					a {
						border: 1px solid #fff;
						background: #f3f3f3; /* Old browsers */
						background: -moz-linear-gradient(top,  #f3f3f3 0%, #ffffff 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top,  #f3f3f3 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top,  #f3f3f3 0%,#ffffff 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(top,  #f3f3f3 0%,#ffffff 100%); /* IE10+ */
						background: linear-gradient(to bottom,  #f3f3f3 0%,#ffffff 100%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
					}
				}
			}
		}

		.tab {
			background: none;
			border: none;
			border-top: 1px solid #c9c9c9;
		}
	}

	#orders-stats {
		border-top: 1px solid #d1d1d1;
		border-bottom: 1px solid #d1d1d1;
		padding-top: 1px;

		.order {
			display: block;
			text-decoration: none;
			background: #f3f3f3; /* Old browsers */
			background: #fff url(@{tplbase}images/dashboard-bg.png) top repeat-x;

			float: left;
			width: 16.66666666%;
			padding: 35px 0;

			.inner {
				border-right: 1px solid #fff;
				color: #1a171b;

				.border {
					border-right: 1px solid #d1d1d1;
					padding: 5px 10%;
				}

				.title {
					padding: 0 0 10px 0;
					color: #6d6d6d;
				}

				.price {
					font-size: 150%;
					font-weight: bold;
				}

				.orders {
					font-size: 140%;
				}
			}

			&:last-child {
				.inner {
					border-right: none;
				}
			}

			&:hover {
				background: #ccdeef; /* Old browsers */
				background: -moz-linear-gradient(top,  #ccdeef 0%, #cfdfee 12%, #d3e4f4 88%, #b4c6d7 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccdeef), color-stop(12%,#cfdfee), color-stop(88%,#d3e4f4), color-stop(100%,#b4c6d7)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #ccdeef 0%,#cfdfee 12%,#d3e4f4 88%,#b4c6d7 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #ccdeef 0%,#cfdfee 12%,#d3e4f4 88%,#b4c6d7 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #ccdeef 0%,#cfdfee 12%,#d3e4f4 88%,#b4c6d7 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #ccdeef 0%,#cfdfee 12%,#d3e4f4 88%,#b4c6d7 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccdeef', endColorstr='#b4c6d7',GradientType=0 ); /* IE6-9 */
			
				.title {
					color: #3979B0;
				}

				.inner {
					border-right: 1px solid #D1E1F1;
				}
			}
		}
	}
}

#flot-tooltip { 
	font-size: 14px; 
	position: absolute; 
	display: none; 
	border: 1px solid #22a2d8; 
	padding: 5px; 
	background-color: #e5f3f9;
	color: #058dc7;
	opacity: 0.8; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	border-radius: 5px;
}

.login-page {
	background: #e5e9ec !important;
	font-family: 'Open Sans';
	font-weight: 300;
	color: #505458;
	font-size: 13px;
	line-height: 1.5;

	p {
		padding: 5px 0;
	}

	.msg.msg-error {
		font-weight: 300;
	}
	
	::-moz-selection { background:#3498db; color:#fff; text-shadow: none; }
	::selection { background:#3498db; color:#fff; text-shadow: none; }

	h1 {
		font-weight: 300;
		line-height: 35px;
		font-size: 30px;
		padding: 0;
		margin: 5px 0 20px 0;
	}

	.wrapper {
		width: 990px;
		margin: 100px auto;
	}

	form {
		font-size: 14px;

		label {
			display: block;
			padding: 10px 0;
			margin: 0;
			font-weight: normal;
		}

		input {
			background: #fff;
			border: none;
			color:#505458;
			padding: 14px 5%;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			display: block;
			width: 90%;
			-webkit-transition: all 300ms ease-in;
			-moz-transition: all 300ms ease-in;
			-ms-transition: all 300ms ease-in;
			-o-transition: all 300ms ease-in;
			transition: all 300ms ease-in;
			outline: none;
			margin-bottom: 15px;

			&:focus {
				background:#f4f5f7;
			}
		}
	}

	.l-b {
		border-right: 1px solid #ddd;
	}

	.r-b {
		border-left: 1px solid #ddd;
	}

	/* Buttons Overwride */
	.btn {
	    display: inline-block;
	     padding: 9px 12px;
		 padding-top:7px ;
	    margin-bottom: 0;
	    font-size: 14px;
	    line-height: 20px;
	    color: #5e5e5e;
	    text-align: center;
	    vertical-align: middle;
	    cursor: pointer;
	    background-color: #d1dade;
	    -webkit-border-radius: 3px;
	     -webkit-border-radius: 3px;
	     -webkit-border-radius: 3px; 
		background-image:none !important;
		border: none;
		text-shadow: none;
		box-shadow:none;	
	    transition: all 0.12s linear 0s !important;
		font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;	
	}
	.btn:focus{
		outline:none;
	}
	.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	    background-color: #c1cace;
	}
	.btn-cons{	
		margin-right: 5px;
		min-width: 120px;
		margin-bottom: 8px;
	}
	/* only for demonstration */
	.btn-demo-space{
	  margin-bottom: 8px;
	}
	.demo-placeholder{
		width:100%;
		height:250px;
	}
	/* */
	.btn-social{
		font-size: 20px;
	    margin: 10px;
		
	}
	.btn-social:hover, .btn-social:focus, .btn-social:active, .btn-social.active, .btn-social.disabled, .btn-social[disabled] {
		color:#2d8ebf;
		text-decoration:none;
	}
	.btn-primary{
		color: #fff;
	    background-color: #0aa699;
	}
	.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	    background-color: #0b9c8f;
	}
	.btn-success{
		color: #fff;
	    background-color: #0090d9;
	}
	.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	    background-color: #1285d1;
	}
	.btn-info{
		color: #fff;
	    background-color: #1f3853;
	}
	.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	    background-color: #152639;
	}
	.btn-warning{
		color: #fff;
	    background-color: #FBB05E;
	}
	.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	    background-color: #f8a142;
	}

	.btn-danger{
		color: #fff;
	    background-color: #f35958;
	}
	.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	    background-color: #e94847;
	}

	.btn-danger-dark{
		color: #fff;
	    background-color: #b94141;
	}
	.btn-danger-dark:hover, .btn-danger-dark:focus, .btn-danger-dark:active, .btn-danger-dark.active, .btn-danger-dark.disabled, .btn-danger-dark[disabled] {
	    background-color: #e94847;
		color: #fff;
	}
	.btn-dark{
		color: #fff;
	    background-color: #333a49;
	}
	.btn-white{
		color: #5e5e5e;
	    background-color: #fff;
		border:1px solid #e5e9ec;
	}
	.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .btn-white.disabled, .btn-white[disabled] {
	    background-color: #fbfcfd;
		border:1px solid #b4b9be;
	}
	.btn-link{
		color: #5e5e5e;
	    background-color: transparent;
		border:none;
	}
	.btn-large {
	    padding: 11px 19px;
	    font-size: 16px;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	}

	.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .btn-link.disabled, .btn-link[disabled] {
	    background-color: transparent;
	}
	.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {
	    margin-top: 4px;
	}
	.btn-small {
	    padding:3px 12px;
	    font-size: 11.9px;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	}
	.btn-small [class^="icon-"], .btn-small [class*=" icon-"] {
	    margin-top: 0;
	}
	.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
	    margin-top: -1px;
	}
	.btn-mini {
	    padding:2px 9px;
	    font-size: 10.5px;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	}

	.btn-group.open .btn.dropdown-toggle {
	    background-color: #e6e6e6;
	}
	.btn-group.open .btn-primary.dropdown-toggle {
	    background-color: #0b9c8f;
	}
	.btn-group.open .btn-warning.dropdown-toggle {
	    background-color: #fbc01e;
	}
	.btn-group.open .btn-danger.dropdown-toggle {
	    background-color: #e94847;
	}
	.btn-group.open .btn-success.dropdown-toggle {
	    background-color: #0090d9;
	}
	.btn-group.open .btn-info.dropdown-toggle {
	    background-color: #152639;
	}
	.btn-group.open .btn-inverse.dropdown-toggle {
	    background-color: #222;
	}

	.btn-group.open .btn-white.dropdown-toggle {
	    background-color: #fbfcfd;
	}
	.btn-group > .btn + .dropdown-toggle{
		-webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
		border-left:1px #f7f7f7 solid;
	}
	.btn-block + .btn-block {
		margin-top: 8px;
	}
	.btn .caret{
		margin-left: 3px;
	}
}