<?php
$storage = Core::module('modal_window')->getStorage();
$view->override = false;
$view->slot_start();

$data = \Nette\Utils\Json::encode((array)$storage);
?>

{**
		'box_activate' => FALSE,

		/** time */
		'delay_time'	=> 0,

		'max_running_time' => 10,
		'endless_running' => FALSE,

		'redisplay' => FALSE,
		'redisplay_time' => 10,
		/** end */

		'title'	=> NULL,
		'body' => NULL,

		'show_header' => FALSE,
		'show_footer' => FALSE,

		'box_height' => NULL,
		'box_width'	=> NULL,
		'box_max_height' => NULL,
		'box_max_width'	=> NULL,
		'box_min_height' => NULL,
		'box_min_width'	=> NULL,

		'box_background_image' => NULL,
		'box_background_color' => NULL,
*}
{if $storage['box_activate']}
<!-- Modal -->
<div id='modalWindowModuleModalWindow' class="modal_window_module modal fade"
	tabindex="-1" role="dialog" data-storage={$data}>
	<div class="vertical-alignment-helper">
		<div class="modal-dialog vertical-align-center">

			<!-- Modal content-->
			<div class="modal-content"
				style="display:block;overflow: hidden;
				{if $storage['box_background_image'] || $storage['box_background_color']}
					background:{if $storage['box_background_color']} {$storage['box_background_color']}{/if}{if $storage['box_background_image']} url({$storage['box_background_image']}) center center no-repeat fixed{/if};
				{/if}
			">
				{if $storage['show_header']}
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{$storage['title']}</h4>
				</div>
				{/if}
				<div class="modal-body" style="display:block;overflow-y: auto;">
					{$storage['body']|noescape}
				</div>
				{if $storage['show_footer']}
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{__('Close')}</button>
				</div>
				{/if}
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="{$base}etc/modules/modal_window/template/{Core::config('template')}/resources/css/modal.css">
<script src="{$base}etc/modules/modal_window/template/{Core::config('template')}/resources/js/modal.js"></script>
<script n:syntax="off">
window.onload = function(){
	$('#modalWindowModuleModalWindow').each(setupModal);
};
</script>
<!-- End modal -->
{/if}

<?php
$html = $view->slot_stop();

$view->find('body')->append($html);
?>
