<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>
<style>
	.error {
		background: #f0f0f0;
		padding: 10px;
		margin-bottom: 15px;
		font-weight: bold;
	}
</style>
<form class="form" action="<?php echo url('admin/import/import_database')?>" method="post">
	<h2><?php echo __('import')?></h2>

	<div class="clearfix">

		<fieldset style="width:350px;">
			<?php if($error): ?>
			<div class="error"><?php echo $error?></div>
			<?php endif; ?>

			<div style="margin-bottom:5px;">
				<?php echo __('import_define_connection')?>
			</div>

			<?php echo forminput('text', 'mysql[server]', @$mysql['server'], array('label' => __('server')))
				.forminput('text', 'mysql[port]', @$mysql['port'], array('cls' => 'short', 'label' => __('port')))
				.forminput('text', 'mysql[dbname]', @$mysql['dbname'], array('label' => __('dbname')))
				.forminput('text', 'mysql[username]', @$mysql['username'], array('label' => __('username')))
				.forminput('text', 'mysql[password]', @$mysql['password'], array('label' => __('password')))?>
		</fieldset>

		<button type="submit" name="next" class="button"><?php echo __('next')?></button>

	</div>

</form>