<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>
<form class="form" action="<?php echo url('admin/import')?>" method="post">
	<h2><?php echo __('import')?></h2>

	<div class="clearfix">

		<fieldset class="inline">
		<?php echo forminput('select', 'import_app', '', array('options' => $apps))?>
		</fieldset>

		<button type="submit" name="next" class="button"><?php echo __('next')?></button>

	</div>

</form>