<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>
<style>
	.error {
		background: #f0f0f0;
		padding: 10px;
		margin-bottom: 15px;
		font-weight: bold;
	}
</style>
<form class="form" action="<?php echo url('admin/import/import_path')?>" method="post">
	<h2><?php echo __('import')?></h2>

	<div class="clearfix">

		<fieldset class="inline">
			<?php if($error): ?>
			<div class="error"><?php echo $error?></div>
			<?php endif; ?>

			<div style="margin-bottom:5px;">
				<?php echo __('import_define_path')?>
			</div>

			<?php echo forminput('text', 'path', $default_path, array('label' => __('directory')))?>
		</fieldset>

		<button type="submit" name="next" class="button"><?php echo __('next')?></button>

	</div>

</form>