<div class="basket">
	{if $basket_products === null || !count($basket_products)}
		<table class="table table-condensed j-basket-block-table" style="display:none;"></table>
		<p class="empty-basket j-basket-block-empty">{_'basket_is_empty'}</p>
	{else}
		{foreach $basket_products as $product}
			{first}<table class="table table-condensed j-basket-block-table"><tbody>{/first}
			<tr>
				<td>
					{$product['qty']}x <a href="{url($product['product'])}">{$product['product']['name']}</a>
					{if $product['attributes']}
						<small>{$product['attributes']}</small>
					{/if}
				</td>
				<td>{!price_vat(array($product['product'], $product['price']))}</td>
			</tr>
			{last}</tbody><tfoot>
			<tr>
				<th>{_'total'}</th>
				<th>{!price($total->total)}</th>
			</tr>
			</tfoot></table>{/last}
		{/foreach}
		
		<a href="{url(PAGE_BASKET)}" class="btn btn-danger pull-right" title="{_'checkout'}">{_'checkout'} <i class="fa fa-angle-double-right"></i></a>
	{/if}
</div>