<div class="customer">
	{if Customer::$logged_in}
		<div class="customerinfo">
			<strong>{Customer::get('first_name').' '.Customer::get('last_name')}</strong>
			<hr>
			<a href="{url('customer')}">{__('my_account')}</a><br>
			<a href="{url('customer/logout')}">{__('logout')}</a>
		</div>
	
	{else}
		<form action="{url('customer/login')}" method="post">

			<div class="form-group">
				<label for="customer-email">{__('email')}:</label>
				<input type="text" name="customer_email" id="customer-email" class="form-control" value="">
			</div>

			<div class="form-group">
				<label for="customer-pass">{__('password')}:</label>
				<input type="password" name="customer_email" id="customer-pass" class="form-control" value="">
			</div>

			<div class="form-group">
				<div class="col-lg-12">
					<div class="checkbox text-right">
						<input type="checkbox" name="customer_remember" value="1" id="customer-remember">
						<label for="customer-remember">{__('login_remember')}</label>
					</div>
				</div>
			</div>

			<div class="form-group">
				<button type="submit" name="login" class="btn btn-square btn-primary" style="display:block;width:100%">{__('login')}</button>
			</div>

			<hr>

			<a href="{url('customer/register')}">{__('register')}</a><br />
			<a href="{url('customer/lost_password')}">{__('lost_password')}</a>

			<input type="hidden" name="block_id" value="{$block->block[id]}" />
		</form>
	{/if}
</div>