<div class="newsletter">
	<form action="{url('newsletter')}" method="post">
		<div class="form-group">
			<label for="newsletter_email">{_'enter_your_email'}:</label>
			<input type="text" name="newsletter_email" id="newsletter_email" value="@" class="form-control form-control-square">
		</div>

		<button type="submit" name="signup" class="btn btn-square btn-primary">{_'newsletter_signup'}</button>
	</form>
</div>