{var $pageIcons = [
	32 => 'choditka-ico.png',
	91 => 'toaletni_kresla-ico.png',
	41 => 'vychazkove_hole-ico.png',
	48 => 'berle-ico.png',
	52 => 'antidebubitní_program-ico.png',
	59 => 'ivalidni_voziky-ico.png',
	55 => 'gelove_obklady-ico.png'
]}
<nav>
	<ul>
		<li n:foreach="$pages as $page" n:class="(Core::$current_page && Core::$current_page[id] == $page[id] || Core::$current_page[parent_page] == $page[id])? active">
			<a href="{url($page)}">
				<img n:if="isset( $pageIcons[$page[id]] )" alt="{$page[name]}" src="{$base}{$tplbase}images/{$pageIcons[$page[id]]}">
				{$page[name]}
			</a>

			{var $subpages = Core::$db->page()->where('parent_page', $page['id'])->where('status', 1)->order('position ASC')}
			<ul>
				<li n:foreach="$subpages as $subpage" n:class="(Core::$current_page && Core::$current_page[id] == $subpage[id] || Core::$current_page[parent_page] == $subpage[id])? active">
					<a href="{!url($subpage)}">{$subpage[name]}</a>

					{var $subpages2 = Core::$db->page()->where('parent_page', $subpage['id'])->where('status', 1)->order('position ASC')}
					<ul n:if="in_array($subpage['id'], $expanded) && count($subpages2)">
						<li n:foreach="$subpages2 as $subpage2">
							<a href="{url($subpage2)}">{$subpage2[name]}</a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</nav>