<div class="poll">
	<h5>{$block->config[question]}</h5>
	
	{var $total = $block->getTotalVotes()}

	{foreach $block->config['answers'] as $answer}
		{var $votes = (int) $answer['votes']}
		
		{if $answer['text']}
			{var $percent = $votes > 0 ? round(100 / $total * (int) $answer['votes']) : 0}

			{if $disabled}
				<strong>{$answer['text']}</strong>
			{else}
				<a href="<?php echo url(true, array('poll' => $block->block['id'], 'answer' => $i))?>" rel="nofollow"><?php echo $answer['text']?></a>
			{/if}

			<span class="pull-right">{$percent}%</span>

			<div class="progress">
				<div class="progress-bar progress-bar-success" role="" aria-valuenow="{$percent}" aria-valuemin="0" aria-valuemax="100" style="width: {$percent}%"></div>
			</div>
		{/if}
	{/foreach}

	<div>{_'total_votes'}: {$total}	
</div>