<div class="block-products">
	<div n:foreach="$products as $product" class="product">
		<h3><a href="{url($product)}">{$product[name].' '.$product[nameext]}</a></h3>
		
		<div n:if="($img = imgsrc($product)) !== null" class="picture">
			<a href="{url($product)}"><img src="{$img}" alt=""/></a>
		</div>
		
		<div n:if="SHOW_PRICES && $product['price'] !== null" class="price">
			{__('price')}: 
			<strong>{price_vat( array($product, $product['price'] + $product['recycling_fee']) )}</strong>
		</div>
		
	</div>
</div>