<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>
<style>
	.status {
		background: #f0f0f0;
		padding: 10px 10px 7px 10px;
		margin-bottom: 10px;
	}
	.status .inputwrap {
		margin-bottom: 0 !important;
	}
	.orders {
		height: 200px;
		padding: 5px;
		overflow-y: scroll;
		border: 1px solid #ddd;
	}
	.orders div {
		clear: left;
		padding: 3px;
		border-bottom: 1px solid #eee;
	}
	.orders div .oid,
	.orders div .odate {
		float: left;
		width: 70px;
	}
	.orders div .odate {
		width: 110px;
	}
	.generate {
		clear: both;
		font-size: 90%;
		margin: 0 0 15px 0;
	}
</style>

<form class="form" action="<?php echo url('admin/vouchers/edit/'.$voucher['id'])?>" method="post">

	<h2><a href="<?php echo url('admin/vouchers')?>"><?php echo __('vouchers')?></a> &rsaquo; <?php echo ($voucher['id'] ? $voucher['code'] : __('new_voucher'))?></h2>

	<div class="buttons tbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

	<div class="clearfix">

		<div style="width:48%;float:left;margin-right:30px;">
			<fieldset class="status">
				<?php echo forminput('checkbox', 'status', $voucher['id'] ? $voucher['status'] : 1, array('label' => __('active')))?>
			</fieldset>

			<fieldset class="inline">
				<?php echo forminput('text', 'code', $voucher['code'])
				.forminput('text', 'value', $voucher['value'], array('cls' => 'short right'))?>

				<div class="generate">
					<a href="#" id="generatecode"><?php echo __('voucher_generate_code')?></a>
				</div>
			</fieldset>

			<fieldset>
				<?php echo forminput('text', 'name', $voucher['name'], array('label' => __('description')))?>
			</fieldset>

			<hr class="hline" />

			<fieldset class="inline">
				<?php echo forminput('text', 'max_quantity', $voucher['max_quantity'], array('label' => __('voucher_max_quantity'), 'cls' => 'short center'))
				.forminput('text', 'min_price', $voucher['min_price'], array('label' => __('generator_min_price'), 'cls' => 'medium right'))
				?>
			</fieldset>

			<fieldset class="inline">
				<?php echo forminput('text', 'valid_from', $voucher['valid_from'] ? date('Y-m-d', $voucher['valid_from']) : '', array('cls' => 'date medium'))
				.forminput('text', 'valid_to', $voucher['valid_to'] ? date('Y-m-d', $voucher['valid_to']) : '', array('cls' => 'date medium'))?>
			</fieldset>

		</div>

		<div style="width:48%;float:left;">
			<h3><?php echo __('voucher_orders')?></h3>
			<div class="orders">
				<?php if($voucher['id']): foreach($voucher->voucher_orders() as $order): ?>
				<div>
					<span class="oid">#<a href="<?php echo url('admin/orders/edit/'.$order->order['id'])?>"><?php echo $order->order['id']?></a></span>
					<span class="odate"><?php echo fdate($order['date'], true)?></span>
					<?php echo $order->order['first_name'].' '.$order->order['last_name']?>
				</div>
				<?php endforeach; endif; ?>
			</div>
		</div>
	</div>

	<div class="buttons bbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>


</form>

<script>
	$(function(){
		var randomTxt = function(string_length){
			var chars = "23456789ABCDEFGHJKLMNPQRSTWXTZ";
			var randomstring = '';

			for (var i=0; i<string_length; i++) {
				var rnum = Math.floor(Math.random() * chars.length);
				randomstring += chars.substring(rnum,rnum+1);
			}

			return randomstring;
		}

		$('#generatecode').bind('click', function(){
			$('input[name="code"]').val(randomTxt(6));
			return false;
		});
	});
</script>