<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>
<style>
	.status {
		background: #f0f0f0;
		padding: 10px 10px 7px 10px;
		margin-bottom: 10px;
	}
	.status .inputwrap {
		margin-bottom: 0 !important;
	}
	.orders {
		height: 200px;
		padding: 5px;
		overflow-y: scroll;
		border: 1px solid #ddd;
	}
	.orders div {
		clear: left;
		padding: 3px;
		border-bottom: 1px solid #eee;
	}
	.orders div .code {
		float: left;
		width: 110px;
	}
	.generate {
		clear: both;
		font-size: 90%;
		margin: 0 0 15px 0;
	}
</style>

<form class="form" action="<?php echo url('admin/vouchers/generator_edit/'.$generator['id'])?>" method="post">

	<h2><a href="<?php echo url('admin/vouchers/generators')?>"><?php echo __('voucher_generators')?></a> &rsaquo; <?php echo ($generator['id'] ? $generator['name'] : __('new_voucher_generator'))?></h2>

	<div class="buttons tbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>
	
	<div class="clearfix">

		<div style="width:48%;float:left;margin-right:30px;">
			<fieldset class="status">
				<?php echo forminput('checkbox', 'status', $generator['id'] ? $generator['status'] : 1, array('label' => __('active')))?>
			</fieldset>
			
			<fieldset class="inline">
				<?php echo forminput('text', 'name', $generator['name'], array('label' => __('description')))
				.forminput('text', 'value', $generator['value'], array('cls' => 'short right'))?>
			</fieldset>
			
			<fieldset class="inline">
				<?php echo forminput('select', 'type', $generator['type'], array('options' => array(
					1 => __('voucher_generator_type_1'),
					2 => __('voucher_generator_type_2'),
				)))
				.forminput('select', 'event', ! empty($generator['event']) ? $generator['event'] : 'order_finish', array('options' => array(
					'order_submit' => __('voucher_generator_event_order_submit'),
					'order_finish' => __('voucher_generator_event_order_finish'),
					'customer_register' => __('voucher_generator_event_customer_register'),
					'newsletter_signup' => __('voucher_generator_event_newsletter_signup'),
				), 'label' => __('voucher_generator_event')))?>
			</fieldset>
			
			<hr class="hline" />
			
			<fieldset class="inline">
				<?php echo forminput('select', 'customer_group_id', $generator['customer_group_id'], array('label' => __('only_for_group'), 'options' => $groups))?>
			</fieldset>
			
			<fieldset class="inline">
				<?php echo forminput('text', 'valid_from', $generator['valid_from'] ? date('Y-m-d', $generator['valid_from']) : '', array('cls' => 'date medium'))
				.forminput('text', 'valid_to', $generator['valid_to'] ? date('Y-m-d', $generator['valid_to']) : '', array('cls' => 'date medium'))?>
			</fieldset>
			
			<fieldset class="inline">
				<?php echo forminput('text', 'max_quantity', $generator['max_quantity'], array('label' => __('generator_max_quantity'), 'cls' => 'short right'))
				.forminput('text', 'min_price', $generator['min_price'], array('label' => __('generator_min_price'), 'cls' => 'medium right'))?>
			</fieldset>
			
		</div>
		
		<div style="width:48%;float:left;">
			<h3><?php echo __('vouchers')?></h3>
			<div class="orders">
				<?php if($generator['id']): foreach($vouchers as $voucher): ?>
				<div>
					<span class="code"><a href="<?php echo url('admin/vouchers/edit/'.$voucher['id'])?>"><?php echo $voucher['code']?></a></span>
					<?php echo  __('value').': '.$voucher['value']?>
				</div>
				<?php endforeach; endif; ?>
			</div>
		</div>
	</div>
	
	<div class="buttons bbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

	
</form>

<script>
	$(function(){

	});
</script>