<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>
<a href="<?php echo url('admin/vouchers/generator_edit/0')?>" class="addbtn"><?php echo __('new_voucher_generator')?></a>

<h2><?php echo __('voucher_generators')?></h2>

<?php if(! Core::$is_premium): ?>
<p class="premium-info"><?php echo __('premium_info')?></p>
<?php endif; ?>

<form class="form gridform" action="<?php echo url('admin/vouchers/generators')?>" method="post">

	<div class="buttons clearfix">
		<?php echo gridpagination($total_count)?>
	</div>

	<table class="datagrid">
		<thead>
			<tr>
				<td class="rowselect center input" width="20">
					<input type="checkbox" name="all" value="1" class="check-all" />
				</td>
				<td class="right<?php echo ($order_by == 'id' ? ' sort-'.$order_dir : '')?>" width="40"><a href="<?php echo url(true, array('sort' => 'id', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('id')?></a></td>

				<td width="200" class="<?php echo ($order_by == 'value' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'value', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('value')?></a></td>

				<td class="<?php echo ($order_by == 'name' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'name', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('description')?></a></td>

				<td width="110" class="center<?php echo ($order_by == 'status' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'status', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('active')?></a></td>
				<td class="actions">&nbsp;</td>
			</tr>
		</thead>

		<tbody>
			<?php if(! count($generators)): ?>
				<tr class="norecords">
					<td colspan="8"><?php echo __('no_records')?></td>
				</tr>
			<?php endif; ?>

			<?php foreach($generators as $generator): ?>
				<tr>
					<td class="rowselect center input">
						<input type="checkbox" name="item[<?php echo $generator['id']?>]" value="1" />
					</td>
					<td class="right"><a href="<?php echo url('admin/vouchers/generator_edit/'.$generator['id'])?>"><?php echo $generator['id']?></a></td>
					<td><?php echo $generator['value']?> <small>(<?php echo __('voucher_generator_type_'.$generator['type'])?>)</small></td>

					<td><?php echo $generator['name']?></td>

					<td class="center"><?php echo __($generator['status'] ? 'yes' : 'no')?></td>

					<td class="actions">
						<a href="<?php echo url('admin/vouchers/generator_edit/'.$generator['id'])?>" class="edit" title="<?php echo __('edit')?>">&nbsp;</a>
						<a href="<?php echo url('admin/vouchers/generator_delete/'.$generator['id'])?>" class="delete" title="<?php echo __('delete')?>">&nbsp;</a>
					</td>
				</tr>
			<?php endforeach; ?>
		</tbody>
	</table>

	<div class="buttons buttons-foot clearfix">
		<select name="action" class="action">
			<option disabled="disabled" selected="selected"><?php echo __('marked_action')?></option>
			<option value="delete"><?php echo __('delete')?></option>
		</select>

		<?php echo gridpagination($total_count)?>
	</div>

</form>


<script>
	$(function(){
		$('.check-all').bind('click', function(){
			var inputs = $(this).parents('table:first').find('tbody').find('input[type="checkbox"]');

			if(this.checked){
				inputs.attr('checked', true);

			}else{
				inputs.removeAttr('checked', true);
			}
		});

		$('select[name="action"]').bind('change', function(){
			var action = $(this).val();
			var form = $(this).parents('form:first');

			if(action == 'delete'){
				if(confirm(_lang.confirm_delete)){
					form.submit();
				}

			}else{
				form.submit();
			}
		});
	});
</script>