<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?>
<a href="<?php echo url('admin/vouchers/edit/0')?>" class="addbtn"><?php echo __('new_voucher')?></a>

<h2><?php echo __('vouchers')?></h2>

<?php if(! Core::$is_premium): ?>
<p class="premium-info"><?php echo __('premium_info')?></p>
<?php endif; ?>

<form class="form" action="<?php echo url('admin/vouchers')?>" method="get">
	<?php if(Core::$fix_path): ?>
	<input type="hidden" name="uri" value="<?php echo Core::$orig_uri?>" />
	<?php endif; ?>

	<div class="gridsearch">
		<fieldset class="clearfix label-left">
			<?php echo forminput('text', 'search', ! empty($_GET['search']) ? $_GET['search'] : '')?>

			<button type="submit" class="button"><?php echo __('search')?> &rsaquo;</button>
		</fieldset>
	</div>
</form>

<form class="form gridform" action="<?php echo url('admin/vouchers')?>" method="post">

	<div class="buttons clearfix">
		<?php echo gridpagination($total_count)?>
	</div>

	<table class="datagrid">
		<thead>
			<tr>
				<td class="rowselect center input" width="20">
					<input type="checkbox" name="all" value="1" class="check-all" />
				</td>
				<td class="right<?php echo ($order_by == 'id' ? ' sort-'.$order_dir : '')?>" width="40"><a href="<?php echo url(true, array('sort' => 'id', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('id')?></a></td>

				<td width="140" class="<?php echo ($order_by == 'code' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'code', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('code')?></a></td>
				<td width="90" class="<?php echo ($order_by == 'value' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'value', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('value')?></a></td>

				<td width="90" class="center<?php echo ($order_by == 'used' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'used', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('voucher_used')?></a></td>

				<td class="<?php echo ($order_by == 'name' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'name', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('description')?></a></td>

				<td width="110" class="center<?php echo ($order_by == 'status' ? ' sort-'.$order_dir : '')?>"><a href="<?php echo url(true, array('sort' => 'status', 'dir' => ($order_dir == 'ASC' ? 'DESC' : 'ASC')))?>"><?php echo __('active')?></a></td>
				<td class="actions">&nbsp;</td>
			</tr>
		</thead>

		<tbody>
			<?php if(! count($vouchers)): ?>
				<tr class="norecords">
					<td colspan="8"><?php echo __('no_records')?></td>
				</tr>
			<?php endif; ?>

			<?php foreach($vouchers as $voucher): ?>
				<tr>
					<td class="rowselect center input">
						<input type="checkbox" name="item[<?php echo $voucher['id']?>]" value="1" />
					</td>
					<td class="right"><?php echo $voucher['id']?></td>
					<td><a href="<?php echo url('admin/vouchers/edit/'.$voucher['id'])?>"><?php echo $voucher['code']?></a></td>
					<td><?php echo $voucher['value']?></td>

					<td class="center"><?php echo $voucher['used']?> &times;</td>

					<td><?php echo $voucher['name']?></td>

					<td class="center"><?php echo __($voucher['status'] ? 'yes' : 'no')?></td>

					<td class="actions">
						<a href="<?php echo url('admin/vouchers/edit/'.$voucher['id'])?>" class="edit" title="<?php echo __('edit')?>">&nbsp;</a>
						<a href="<?php echo url('admin/vouchers/delete/'.$voucher['id'])?>" class="delete" title="<?php echo __('delete')?>">&nbsp;</a>
					</td>
				</tr>
			<?php endforeach; ?>
		</tbody>
	</table>

	<div class="buttons buttons-foot clearfix">
		<select name="action" class="action">
			<option disabled="disabled" selected="selected"><?php echo __('marked_action')?></option>
			<option value="delete"><?php echo __('delete')?></option>
		</select>

		<?php echo gridpagination($total_count)?>
	</div>

</form>


<script>
	$(function(){
		$('.check-all').bind('click', function(){
			var inputs = $(this).parents('table:first').find('tbody').find('input[type="checkbox"]');

			if(this.checked){
				inputs.attr('checked', true);

			}else{
				inputs.removeAttr('checked', true);
			}
		});

		$('select[name="action"]').bind('change', function(){
			var action = $(this).val();
			var form = $(this).parents('form:first');

			if(action == 'delete'){
				if(confirm(_lang.confirm_delete)){
					form.submit();
				}

			}else{
				form.submit();
			}
		});
	});
</script>