<?php defined('WEBMEX') or die('No direct access.'); ?>

<div class="rightcol">
	<div class="tabsWrap label-left">
		<ul class="tabs clearfix">
			<li class="active"><a href="#tab-default">{__('webmex_carousel_default_settings')}</a></li>
			<li><a href="#tab-box-time">{__('modal_window_module_tab_box_time')}</a></li>
			<li><a href="#tab-box-size">{__('modal_window_module_tab_box_size')}</a></li>
			<li><a href="#tab-box-background">{__('modal_window_module_tab_background')}</a></li>
		</ul>
		<div id="tab-default" class="tab active">
			<fieldset>
				<div class="inputwrap clearfix">
					<label for="inp-title">{__('modal_window_module_title')}:</label>
					<input name="title" id="inp-title" class="input-text" type="text" value="{$storage['title']}">
				</div>
				<div class="inputwrap clearfix">
					<label for="inp-show_header">{__('modal_window_module_show_header')}:</label>
					<input name="show_header" id="inp-show_header" class="input-checkbox" type="checkbox" value="1" {if $storage['show_header']}checked{/if}>
				</div>
				<div class="inputwrap clearfix">
					<label for="inp-show_footer">{__('modal_window_module_show_footer')}:</label>
					<input name="show_footer" id="inp-show_footer" class="input-checkbox" type="checkbox" value="1" {if $storage['show_footer']}checked{/if}>
				</div>
				<div class="inputwrap clearfix">
					<label for="inp-box_activate">{__('modal_window_module_box_activate')}:</label>
					<input name="box_activate" id="inp-box_activate" class="input-checkbox" type="checkbox" value="1" {if $storage['box_activate']}checked{/if}>
				</div>
			</fieldset>
		</div>
		<div id="tab-box-time" class="tab">
			<fieldset>
				<div class="inputwrap clearfix">
					<label for="inp-delay_time" data-label={__('modal_window_module_delay_time')}>
						{__('modal_window_module_delay_time')}&nbsp;[{$storage['delay_time']}s]:
					</label>
					<input name="delay_time" id="inp-delay_time" class="input-text" type="range" min="0" step="1" max="3600" value={$storage['delay_time']}>
				</div>
				<div class="inputwrap clearfix">
					<label for="inp-max_running_time" data-label={__('modal_window_module_max_running_time')}>
						{__('modal_window_module_max_running_time')}&nbsp;[{$storage['max_running_time']}s]:
					</label>
					<input name="max_running_time" id="inp-max_running_time" class="input-text" type="range" min="1" step="1" max="3600" value={$storage['max_running_time']}>
				</div>
				<div class="inputwrap clearfix">
					<label for="inp-endless_running">{__('modal_window_module_endless_running')}:</label>
					<input name="endless_running" id="inp-endless_running" class="input-checkbox" type="checkbox" value="1" {if $storage['endless_running']}checked{/if}>
				</div>
				<div class="inputwrap clearfix">
					<label for="inp-redisplay_time" data-label={__('modal_window_module_redisplay_time')}>
						{__('modal_window_module_redisplay_time')}&nbsp;[{$storage['redisplay_time']}s]:
					</label>
					<input name="redisplay_time" id="inp-redisplay_time" class="input-text" type="range" min="1" step="1" max="3600" value={$storage['redisplay_time']}>
				</div>
				<div class="inputwrap clearfix">
					<label for="inp-redisplay">{__('modal_window_module_redisplay')}:</label>
					<input name="redisplay" id="inp-redisplay" class="input-checkbox" type="checkbox" value="1" {if $storage['redisplay']}checked{/if}>
				</div>
			</fieldset>
		</div>
		<div id="tab-box-size" class="tab">
			<fieldset>
				<div class="inputwrap clearfix">
					<label for="inp-box_height" data-label={__('modal_window_module_box_height')}>
						{__('modal_window_module_box_height')}&nbsp;[{$storage['box_height']}px]:
					</label>
					<input name="box_height" id="inp-box_height" class="input-text" type="number" min="0" step="1" value={$storage['box_height']}>
				</div>
				<div class="inputwrap clearfix">
					<label for="inp-box_width" data-label={__('modal_window_module_box_width')}>
						{__('modal_window_module_box_width')}&nbsp;[{$storage['box_width']}px]:
					</label>
					<input name="box_width" id="inp-box_width" class="input-text" type="number" min="0" step="1" value={$storage['box_width']}>
				</div>
				<div class="inputwrap clearfix">
					<label for="inp-box_max_height" data-label={__('modal_window_module_box_max_height')}>
						{__('modal_window_module_box_max_height')}&nbsp;[{$storage['box_max_height']}px]:
					</label>
					<input name="box_max_height" id="inp-box_max_height" class="input-text" type="number" min="0" step="1" value={$storage['box_max_height']}>
				</div>
				<div class="inputwrap clearfix">
					<label for="inp-box_max_width" data-label={__('modal_window_module_box_max_width')}>
						{__('modal_window_module_box_max_width')}&nbsp;[{$storage['box_max_width']}px]:
					</label>
					<input name="box_max_width" id="inp-box_max_width" class="input-text" type="number" min="0" step="1" value={$storage['box_max_width']}>
				</div>
				<div class="inputwrap clearfix">
					<label for="inp-box_min_height" data-label={__('modal_window_module_box_min_height')}>
						{__('modal_window_module_box_min_height')}&nbsp;[{$storage['box_min_height']}px]:
					</label>
					<input name="box_min_height" id="inp-box_min_height" class="input-text" type="number" min="0" step="1" value={$storage['box_min_height']}>
				</div>
				<div class="inputwrap clearfix">
					<label for="inp-box_min_width" data-label={__('modal_window_module_box_min_width')}>
						{__('modal_window_module_box_min_width')}&nbsp;[{$storage['box_min_width']}px]:
					</label>
					<input name="box_min_width" id="inp-box_min_width" class="input-text" type="number" min="0" step="1" value={$storage['box_min_width']}>
				</div>
			</fieldset>
		</div>
		<div id="tab-box-background" class="tab">
			<fieldset>
				<div class="inputwrap clearfix">
					<label for="inp-box_background_image">{__('modal_window_module_box_background_image')}:</label>
					<input name="box_background_image" id="inp-box_background_image" class="input-text" type="text" value={$storage['box_background_image']}>
				</div>
				<div class="inputwrap clearfix">
					<label for="inp-box_background_color">{__('modal_window_module_box_background_color')}:</label>
					<input name="box_background_color" id="inp-box_background_color" class="input-text" type="text" value={$storage['box_background_color']}>
				</div>
			</fieldset>
		</div>
	</div>
</div>
<div class="leftcol">
	<fieldset>
		<div class="inputwrap clearfix">
			{**<label for="inp-body">{__('modal_window_module_body')}:</label>*}
			<textarea name="body" id="inp-body" class="input-textarea" rows="5">
				{$storage['body']}
			</textarea>
		</div>
	</fieldset>
</div>
<script type="text/javascript" n:syntax="off">

	window.onload = function(){

		$.fn.hasAttr = function(name){  
			return (typeof this.attr(name) !== 'undefined' && this.attr(name) !== false)
		};

		var changeTimeInLabel = function(){
			var label = $("label[for='" + this.id + "']");
			var text = label.data('label') + '&nbsp;[' + this.value + 's]';
			label.html(text);
		};

		$("#inp-delay_time").on("input", changeTimeInLabel);
		$("#inp-max_running_time").on("input", changeTimeInLabel);
		$("#inp-redisplay_time").on("input", changeTimeInLabel);



		var changeSizeInLabel = function(){
			var label = $("label[for='" + this.id + "']");
			var text = label.data('label') + '&nbsp;[' + this.value + 'px]';
			label.html(text);
		};

		$("#inp-box_height").on("input", changeSizeInLabel);
		$("#inp-box_width").on("input", changeSizeInLabel);

		$("#inp-box_max_height").on("input", changeSizeInLabel);
		$("#inp-box_max_width").on("input", changeSizeInLabel);

		$("#inp-box_min_height").on("input", changeSizeInLabel);
		$("#inp-box_min_width").on("input", changeSizeInLabel);



		var toogling = function(checkbox, dependent, mode){
			checkbox.each(function(){
				if(this.hasAttribute('checked') === mode){
					dependent.attr('disabled', 'disabled');
					dependent.parent().hide();
				}
			});
			checkbox.on('click', function(){
				if(this.hasAttribute('checked') === mode){
					dependent.removeAttr('disabled');
					dependent.parent().toggle(1000);
				}else{
					dependent.parent().toggle(1000);
					dependent.attr('disabled','disabled');
				};
			});
		};

		toogling($("#inp-endless_running"), $("#inp-max_running_time"), true);
		toogling($("#inp-redisplay"), $("#inp-redisplay_time"), false);



		CKEDITOR.config.toolbar = [
			['Styles','Format','Font','FontSize'],
			['Bold','Italic','Underline'],
			['Undo','Redo'],
			['Cut','Copy'],
			['Paste','Find','Replace'],
			['Print'],
			['Outdent','Indent'],
			['NumberedList','BulletedList'],
			['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
			['Image','Table'],
			['Link','TextColor','BGColor','Source']
		] ;
		CKEDITOR.replace('body');
	};
</script>
