<?php 

// 1) Setup
$view->override = false;

// 2) Load content to create changes
$dom = $view->find('> div:first');  // top first div of the given DOM
$newContent = (string)$dom;

// 3) Find marks & generate new content as string
$i = 1;

preg_match_all("/\\{"."carousel ([0-9]+)\\}/i", $newContent, $items);
foreach ($items[1] as $carousel_id) {	

	// A) Get carousel data

	$carousel = Core::$db->webmex_carousel[(int) $carousel_id];
	if (!$carousel) continue;

    $carouselPause = 500;
    if(isset($carousel['pause']) && !empty($carousel['pause'])) {
        $carouselPause = $carousel['pause'];
    }

	$citems = Core::$db->webmex_carousel_item()->where('carousel_id', $carousel_id);

	if (!$citems->count()) continue;

	// B) Build carousel HTML

	$html = "";
	$html .= '<div class="reset"></div><div id="webmex-carousel-'.$i.'" class="webmex-carousel"><a class="buttons prev" href="#"></a><div class="viewport"><ul class="overview">';

	foreach ($citems as $ci) {

		if (isset($ci['product']) 

			&& ($ci_product = Core::$db->product[(int) $ci['product']])

		){

			// Product

			$title = !empty($ci['title']) 

				? trim($ci['title']) 

				: trim($ci_product['name'].' '.$ci_product['nameext']);



			if (SHOW_PRICES && $ci_product['price'] !== null 

				&& (!(int)Core::config('suspend_no_stock') 

					|| !(notEmpty($ci_product['stock']) && $ci_product['stock'] == 0)

				) 

			){

				$btn = '<a href="'.url(PAGE_BASKET, array('buy' => $ci_product['id'])).'" class="button buy">'.__('add_to_basket').'</a>';

			} else {

				$btn = "";

			}



			$html .= '

				<li class="webmex-carousel-item webmex-carousel-product">

					<div class="webmex-carousel-product-bg-top">

						<div class="webmex-carousel-product-bg-bottom">

							<div class="webmex-carousel-cols clearfix">

								<div class="webmex-carousel-cols-left">

									<div class="webmex-carousel-padd">

										<h3><a href="'. url($ci_product) .'">'. $title .'</a></h3>

										<div class="webmex-carousel-desc">'. $ci_product['description_short'] .'</div>

										<strong class="webmex-carousel-price">'. price_vat($ci_product) .'</strong>

										'.$btn.'

									</div>

								</div>

								<div class="webmex-carousel-cols-right">

									<a href="'. url($ci_product) .'"><img src="'. imgsrc($ci_product, null, 4, $ci_product['name']) .'"></a>

								</div>

								<div class="reset"></div>

							</div>

						</div>

					</div>

				</li>

			';



		} else {

			// Image + Link

			$html .= '<li class="webmex-carousel-item webmex-carousel-image">';

			if(!empty($ci['link'])) $html .= '<a href="'.$ci['link'].'" title="'.$ci['title'].'">';

			$html .= '<img src="'.$ci['image'].'" alt="'.$ci['title'].'" />';

			if(!empty($ci['title']) || !empty($ci['description'])) $html .= '<span class="desc-wrap"><span class="bg"></span>';

			if(!empty($ci['title'])) $html .= '<span class="title">'.$ci['title'].'</span>';

			if(!empty($ci['description'])) $html .= '<span class="description">'.$ci['description'].'</span>';

			if(!empty($ci['title']) || !empty($ci['description'])) $html .= '</span>';

			if(!empty($ci['link'])) $html .= '</a>';

			$html .= '</li>';

		}

	}



	$html .= '</ul></div><a class="buttons next" href="#"></a></div><div class="reset"></div>';



	// C) Build JavaScript

	$html .= '
		<script>
			$(window).load(function(){

				var biggest = 0;
				$("#webmex-carousel-'.$i.' li img").each(function(){
					var img = new Image();
						img.src = $(this).attr("src");
					var h = img.height;

					if(h > biggest){
						biggest = h;
					}
				});



				$("#webmex-carousel-'.$i.' .title, #webmex-carousel-'.$i.' .description")
					.hide();
				$("#webmex-carousel-'.$i.' li").css({"width":$("#webmex-carousel-'.$i.'")
					.width()});
				$("#webmex-carousel-'.$i.', #webmex-carousel-'.$i.' .viewport, #webmex-carousel-'.$i.' li")
					.css({ "height": biggest });

				$("#webmex-carousel-'.$i.'").tinycarousel({ 
					interval: true,
                    intervalTime:'.$carouselPause.',
					duration: 500,
					callback: function(el, i) {
						$("#webmex-carousel-'.$i.' li").each(function(){
							if($(this) != $(el)){
								$(this).find(".title, .description").hide();
							}
						})
						$(el).find(".title, .description").fadeIn();
					}

				});
                
                var slider = $("#webmex-carousel-'.$i.'").data("plugin_tinycarousel");
                $("#webmex-carousel-'.$i.'").hover(function(){
                    slider.stop();
                }, function(){
                    slider.start();
                });                
                

			});

		</script>

	';

	

	// D) Replace mark with carousel code
	$newContent = preg_replace("/\\{"."carousel ".$carousel_id."\\}/i", $html, $newContent);

	$i++;

}



// 4) Put generated content into given DOM

$dom->replaceWith($newContent);