<?php
$storage = Core::module('mezikrok')->getStorage();
$view->override = false;
$view->slot_start(); 
?>




<div id="mezikrok-modal" class="modal">
	<div class="modal-header">
		<div class="has-added">
			<img alt="" src="{$base}{$tplbase}i/ok.png" style="width: 32px; height: 32px;">
			<span class="white"><?php echo __('module_mezikrok_product_added');?></span>
			<span id="mezikrok-buy-name"></span>
		</div>

		{*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="/etc/modules/mezikrok/template/mojepomucky/resources/images/close.png" alt="Zavřít"></button>*}
	</div>
	<div class="modal-body">
		<div class="doprava-zdarma">
			<img src="{$base}{$tplbase}i/icon-auto.png" class="iconauto" alt="">
			<span class="title"><?php echo __('module_mezikrok_delivery_free_left');?></span>
			<span class="doprava-zdarma-done" style="display: none;"><?php echo __('module_mezikrok_delivery_free_done'); ?></span>
			<div class="bar">
				<div class="line" style="width:50%"></div>
			</div>
			<div class="reset"></div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="#" class="btn btn-default btn-lg" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-chevron-left"></span> <?php echo __('module_mezikrok_continue');?></a>
			</div>
			<div class="col-md-6">
				<a href="<?php echo url(PAGE_BASKET)?>" class="btn btn-primary btn-lg pull-right"><span><?php echo __('module_mezikrok_shopping_cart');?></span></a>
			</div>
		</div>	
	</div>
	
	</div>
</div>
<script>
  	_base = '<?php echo url('')?>';
  	_basepath = '<?php echo preg_replace('/index\.php\/$/', '', url(''))?>';
  	_appdir = '<?php echo APPDIR?>';
  	_url = '<?php echo $base?>';
  	_session_id = '<?php echo session_id()?>';
  	_fm_root = '<?php echo Core::$def['filemenager_root']?>';
  	_is_premium = <?php echo (Core::$is_premium ? 'true' : 'false')?>;
	_price_format = <?php echo (Core::$config['price_format']) ?>;
	_currency = "<?php echo (Core::$config['currency']) ?>";
</script>
<script src="{$base}etc/modules/mezikrok/template/supo.cz/resources/js/basket.js"></script>
<link href="{$base}etc/modules/mezikrok/template/supo.cz/resources/css/style.css" type="text/css" rel="stylesheet">

<?php
$html = $view->slot_stop();
$view->find('.listProdukt .button .btn')->addClass('mezikrok-btn')->addClass('buy');
$view->find('.m-item button[name="buy"]')->addClass('mezikrok-btn')->addClass('buy');
$view->find('.detail button[name="buy"]')->addClass('mezikrok-btn')->addClass('buy');
$view->find('.detail form')->addClass('mezikrok-form');
$view->find('#mezikrok')->html($html);  // default template
//$view->find('form.basket div.buy')->after($html);  // elektronickeobojky.sk template


?>