<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */

?><form class="form" action="<?php echo url(true)?>" method="post">

	<h2><a href="<?php echo url('admin/emails')?>"><?php echo __('emails')?></a> &rsaquo; <?php echo $email['subject']?></h2>

	<div class="buttons tbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>
	
	<div class="clearfix">
		<fieldset style="width:400px">
			<?php echo forminput('text', 'subject', $email['subject'])
			.forminput('select', 'event', $email['key'], array('options' => $events))
			.forminput('select', 'template', $email['template'] ? $email['template'] : 'default', array('options' => $templates))?>
		</fieldset>
		
		<fieldset>
			<?php echo forminput('textarea', 'text', $email['text'], array('rows' => '20', 'cls' => 'editor'))?>
		</fieldset>
	</div>
	
	<div class="buttons bbar">
		<button type="submit" class="button" name="save_go"><?php echo __('save_go')?> &rsaquo;</button>
		<button type="submit" class="button" name="save"><?php echo __('save')?> &rsaquo;</button>
	</div>

</form>