<?php defined('WEBMEX') or die('No direct access.');
$view->override = false; 
?>


<?php /********************* GET DATA *********************/ ?>
<?php
$storage = Core::module('ulozenka')->getStorage();
$ulozenka = new UlozenkaApi($storage['shopId'], $storage['apiKey']);

$branch = $ulozenka->getBranch( $order['ulozenka_branch_id'] );

$delivery = $order->delivery;
?>

<?php /********************* RENDER *********************/ ?>
<?php if ($order['ulozenka_branch_id'] || ($delivery && $delivery['driver'] == 'ulozenka_dpd')): ?>
	<?php
	/*
	 * Render branch name
	 */

	$view->slot_start();
	?>

	<?php if ($order['ulozenka_branch_id']): ?>
		<div class="ulozenka-branch"><?php echo $branch? $branch->name: '<i>pobočka neznámá</i>'; ?></div>
	<?php endif; ?>

	<?php if (!$order['track_num'] && User::has('orders')): ?>
		<input type="submit" name="ulozenka_createPacket" value="Odeslat data do uloženky">
	<?php endif; ?>

	<?php if ($order['track_num']): ?>
		<a href="<?php echo $ulozenka->getBarcodesLink($order['track_num']); ?>" class="print-barcode">Vytisknout čárový kód</a>
	<?php endif; ?>


	<?php
	$content = $view->slot_stop();
	$view->find(".ordersidebar>strong:eq(1)")->after($content);
	?>


	<?php
	/*
	 * Render VS
	 */
	$view->slot_start();
	?>

	<hr>
	<div class="inputwrap clearfix premium">
		<label for="inp-ulozenka_vs"><?php echo __('webmex_module_ulozenka_vs'); ?></label>
		<?php
		$vs = '';
		if (($invoices = $order->invoice()) && ($invoice = $invoices->fetch()) && $invoice['invoice_num']) 
			$vs = $invoice['invoice_num'];
		if ($order['ulozenka_vs']) 
			$vs = $order['ulozenka_vs'];

		$disabled = '';
		if ($order['track_num'])
			$disabled = 'disabled="disabled" readonly="readonly"';
		?>
		<input type="text" class="input-text" id="inp-ulozenka_vs" value="<?php echo $vs; ?>" name="ulozenka_vs" <?php echo $disabled; ?>>
	</div>
	<div class="inputwrap clearfix premium">
		<label for="inp-ulozenka_note"><?php echo __('webmex_module_ulozenka_note'); ?></label>
		<input type="text" class="input-text" id="inp-ulozenka_vs" value="<?php echo $order['ulozenka_note']; ?>" name="ulozenka_note" <?php echo $disabled; ?>>
	</div>

	<?php
	$content = $view->slot_stop();
	$view->find(".ordersidebar > fieldset")->before($content);
	?>
<?php endif; ?>