<?php defined('WEBMEX') or die('No direct access.');
$view->override = false; 
?>



<?php /********************* GET DATA *********************/ ?>
<?php
?>



<?php /********************* RENDER BULK OPERATIONS *********************/ ?>
<?php
$view->slot_start();
?>


<option value="ulozenka_createPackets">Ulozenka.cz - Odeslat do Ulozenka.cz</option>
<option value="ulozenka_printBarcodes">Ulozenka.cz - Vytisknout čárové kódy</option>


<?php
$content = $view->slot_stop();
$view->find("select.action[name=action]")->append($content);
?>