<?php 
$pages = Core::$active_pages;
if (!in_array(PAGE_INDEX, $pages)) {
	$pages[] = PAGE_INDEX;
}
$pages = array_reverse($pages);
?>


<div n:if="count($pages) > 1" class="drobeckove">
	{foreach $pages as $i => $pageId}
		{if $page = Core::$db->page[(int) $pageId]}
			<a n:tag-if="!$iterator->last || $product" href="{url($page)}">
				{$page[name]}
			</a>
		{/if}
	{/foreach}

	<li n:if="$product">{$product[name]}</li>
</div>