<?php
$pages = Core::$db->page()->where('menu', $type)->where('status', 1)->order('position ASC');
?>

{if $type == 1}  {* Hlavní navigace *}
	<ul>
		<li n:foreach="$pages as $page"><a href="{url($page)}">{$page[name]}</a></li>
	</ul>



{elseif $type == 2}  {* Kategorie *}
	{** @see blocks/pages.latte *}



{elseif $type == 3}  {* Výrobci *}



{elseif $type == 4}  {* Sekundární navigace *}
	<ul class="menu-4">
		{var $i = 1}
		<li n:foreach="$pages as $page" class="menu-item-{$i}">
			<a href="{url($page)}">{$page[name]}</a>
			{?$i++}
		</li>
	</ul>



{elseif $type == 5}  {* Skryté stránky *}
	{* render nothing *}



{elseif $type == 6}  {* 1. menu v patičce *}
	<div n:foreach="$pages as $page" class="nav-item">
		<a href="{url($page)}" title="{$page['seo_title'] ?: $page[name]}">{$page[name]}</a>
	</div>



{elseif $type == 7}  {* 2. menu v patičce *}
	<div n:foreach="$pages as $page" class="nav-item">
		<a href="{url($page)}" title="{$page['seo_title'] ?: $page[name]}">{$page[name]}</a>
	</div>



{elseif $type == 8}  {* 3. menu v patičce *}
	<div n:foreach="$pages as $page" class="nav-item">
		<a href="{url($page)}" title="{$page['seo_title'] ?: $page[name]}">{$page[name]}</a>
	</div>



{elseif $type == 9}  {* 4. menu v patičce *}
	<div n:foreach="$pages as $page" class="nav-item">
		<a href="{url($page)}" title="{$page['seo_title'] ?: $page[name]}">{$page[name]}</a>
	</div>
{/if}