{include '@breadcrumb.latte'}
<div class="uvod_kategorie">
	<?php
	$imgs = Core::$db->page_files()->where('page_id', $page['id'])->order('position ASC')->limit(1);
	?>
	{foreach $imgs as $img}
		<img src="/{$img['filename']}" alt="produkt">
	{/foreach}
	<h1>{$page['name']}</h1>
	<p>{!$page['description_short']}</p>
</div>
<div class="kategorie">
	<?php
	$subcategories = Core::$db->page()->where('parent_page = ? AND status = 1', $page['id'])->order('position ASC');
	?>
	{foreach $subcategories as $subcategory}
		<a href="{url($subcategory)}">{$subcategory['name']}</a>
	{/foreach}
</div>