{* steps *}
{var $_p_basket = Core::$db->page[PAGE_BASKET]}
{var $_p_step1 = Core::$db->page[PAGE_ORDER]}
{var $_p_step2 = Core::$db->page[PAGE_ORDER2]}
{var $_p_finish = Core::$db->page[PAGE_ORDER_FINISH]}
<link rel="stylesheet" type="text/css" href="{$base}{$tplbase}styles/basket.css">
<div class="stepwizard">
	<div class="stepwizard-row clearfix">
		<div class="stepwizard-step active">
			<a href="{url(PAGE_BASKET)}" class="btn btn-primary btn-circle">1</a>
			<p>{$_p_basket[name]}</p>
		</div>
		<div class="stepwizard-step">
			<button type="button" class="btn btn-default btn-circle" disabled="disabled">2</button>
			<p>{$_p_step1[name]}</p>
		</div>
		<div class="stepwizard-step">
			<button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
			<p>{$_p_step2[name]}</p>
		</div> 
		<div class="stepwizard-step">
			<button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
			<p>{$_p_finish[name]}</p>
		</div> 
	</div>
</div>

<div class="basket basket-of-products">
	<form action="{url(PAGE_BASKET)}" method="post">
	
		{if isSet($basket_error)}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<p>{$basket_error}</p>
			</div>
		{/if}
		
		<div class="tablewrap panel panel-default">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>{_'name'}</th>
						<th>{_'quantity'}</th>
						<th>{_((int) Core::config('vat_payer') ? 'price_incl_vat' : 'price')}</th>
						<th>{_'total'}</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{if ($basket_products === null || !count($basket_products)) && ($basket_free_samples === null || !count($basket_free_samples))}
					<tr>
						<td colspan="6" class="basketempty">{_'basket_is_empty'}</td>
					</tr>
					{/if}
					
					{foreach $basket_products as $product}
						<tr data-productid="{$product['id']}">
							{* image *}
							<td class="image">
								{if isset($product['attribute_file_id'])}
									{var $img = imgsrcvariant($product['attribute_file_id'], $product['product'], 1)}
									{if $img !== null}
										<a href="{imgsrcvariant($product['attribute_file_id'], $product['product'], 9)}" class="thumbnail lightbox">
											<img src="{$img}" alt="{$product['product']['name']}">
										</a>
									{else}
										&nbsp;
									{/if}
								{else}
									{var $img = imgsrc($product['product'], 1)}
									{if $img !== null}
										<a href="{imgsrc($product['product'], 9)}" class="thumbnail lightbox">
											<img src="{$img}" alt="{$product['product']['name']}">
										</a>
									{else}
										&nbsp;
									{/if}
								{/if}
							</td>

							{* name *}
							<td>
								<a href="{url($product['product'])}">{$product['product']['name'].' '.$product['product']['nameext']}</a>
								
								{if $product['attributes']}
									<br><span class="label label-default">{$product['attributes']}</span>
								{/if}
							</td>

							{* quantity *}
							<td class="quantity">
								<div class="input-group">
									<input type="number" min="0" name="qty[{$product['id']}]" class="ajax-qty form-control" value="{$product['qty']}" size="2">
									<span class="input-group-addon">{$product['unit'] ?: Core::config('default_unit')}</span>
								</div>
							</td>

							{* price *}
							<td>
								{!price_vat(array($product['product'], $product['price']))}
							</td>

							{* total price *}
							<td class="total">
								<strong>{!price_vat(array($product['product'], ($product['price'] * $product['qty'])))}</strong>
							</td>

							{* actions *}
							<td class="actions">
								<a href="{url(true, array('delete' => $product['id']))}"><i class="fa fa-times"></i></a>
							</td>
						</tr>
					{/foreach}
					{foreach $basket_free_samples as $product}
						<tr data-productid="{$product['id']}">
							{* image *}
							<td class="image">
								{var $img = imgsrc($product['product'], 1)}
								{if $img !== null}
									<a href="{imgsrc($product['product'], 9)}" class="thumbnail lightbox">
										<img src="{$img}" alt="{$product['product']['name']}">
									</a>
								{else}
									&nbsp;
								{/if}
							</td>

							{* name *}
							<td>
								<a href="{url($product['product'])}">
									{$product['product']['name'].' '.$product['product']['nameext']} - VZOREK ZDARMA
								</a>
							</td>

							{* quantity *}
							<td class="quantity">
								<div class="input-group">
									<input type="number" name="qty[{$product['id']}]" class="ajax-qty form-control" value="{$product['qty']}" size="2" readonly="readonly" disabled="disabled">
									<span class="input-group-addon">{$product['unit'] ?: Core::config('default_unit')}</span>
								</div>
							</td>

							{* price *}
							<td>
								{!price_vat(0)}
							</td>

							{* total price *}
							<td>
								<strong>{!price_vat(0)}</strong>
							</td>

							{* actions *}
							<td class="actions">
								<a href="{url(true, array('delete' => $product['id']))}"><i class="fa fa-times"></i></a>
							</td>
						</tr>
					{/foreach}
				</tbody>
				
				{if $basket_products !== null && count($basket_products)}
					{var $total = Basket::total()}
					<tfoot>
						{if (int) Core::config('vat_payer')}
							<tr class="subtotal">
								<td>&nbsp;</td>
								<td class="" colspan="3">{_'total_excl_vat'}:</td>
								<td class="value">{!price($total->subtotal)}</td>
								<td class="remove">&nbsp;</td>
							</tr>
						{/if}
						
						{if $voucher = Basket::voucher()}
							<tr class="subtotal">
								<td>&nbsp;</td>
								<td class="" colspan="3">{_'voucher'} ({$voucher['code']}, <a href="{url(true, array('removevoucher' => 1))}" title="{_'remove'}"><i class="fa fa-times" style="color:#ED5565"></i></a>):</td>
								<td class="value">-{!price($total->discount)}</td>
								<td class="remove">&nbsp;</td>
							</tr>
						{/if}
						
						<tr class="total">
							<td>&nbsp;</td>
							<td class="" colspan="3">{_((int) Core::config('vat_payer') ? 'total_incl_vat' : 'total')}:</td>
							<td class="value">{!price($total->total)}</td>
							<td class="remove">&nbsp;</td>
						</tr>
					</tfoot>
				{/if}
			</table>
		</div>

		<hr>

		{if count($basket_products) || count($basket_free_samples)}
			
			<div class="row">
				<div class="col-md-6">
					{if Core::$is_premium && Core::config('enable_vouchers') && ! Basket::voucher()}
					<div class="panel panel-default">
						<div class="panel-heading">
							{_'voucher_info'}
						</div>
						<div class="panel-body">
							<div class="input-group">
								<input type="text" name="voucher" class="form-control" value="">
								<div class="input-group-btn">
									<button type="submit" name="use_voucher" class="btn btn-primary">{_'use_voucher'}</button>									
								</div>
							</div>
						</div>
					</div>
						
						
					{/if}
				</div>
				<div class="col-md-6">
					<button type="submit" name="update_qty" class="button update">{_'update_qty'}</button>
					<button type="submit" name="checkout" class="btn btn-danger pull-right btn-lg">{_'continue_to_step_1'} <i class="fa fa-angle-double-right"></i></button>
				</div>
			</div>
		{/if}
	</form>
</div>