{*!breadcrumb()*}

{if $registration_complete}
	<div class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		Registrace proběhla úspěšně.
	</div>
{/if}

<h1>{_'client_center'}</h1>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{_'my_orders'}
				{if count($orders)}
					<a href="{url('customer/orders')}" class="btn pull-right btn-xs btn-primary">{_'show_all'} <i class="fa fa-angle-double-right"></i></a>
				{/if}
			</div>
			{if count($orders)}
				{foreach $orders as $order}
					{first}<table class="table">{/first}
						<tr>
							<th>
								<a href="{url('customer/order/'.$order['id'])}">{$order['id']}</a>
							</th>
							<td>{fdate($order['received'])}</td>
							<td>{!price($order['total_incl_vat'], $order['currency'])}</td>
							<td>{_('status_'.Core::$def['order_status'][$order['status']])}</td>
						</tr>
					{last}</table>{/last}
				{/foreach}
			{else}
				<div class="panel-body">
					Nemáte zatím vytvořené žádné objednávky
				</div>
			{/if}
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{_'my_account'}
				<a href="{url('customer/settings')}" class="btn pull-right btn-xs btn-primary">změnit údaje <i class="fa fa-angle-double-right"></i></a>
			</div>
			<table class="table">
				<tr>
					<th>{_'first_name'}</th>
					<td>{$customer[first_name].' '.$customer[last_name]}</td>
				</tr>
				<tr>
					<th>{_'email'}</th>
					<td>{$customer[email]}</td>
				</tr>
				<tr>
					<th>{_'last_login'}</th>
					<td>{fdate($customer[last_login], true)}</td>
				</tr>
			</table>
		</div>
	</div>
</div>