{*!breadcrumb()*}

<h1>{_'my_account'}</h1>

<form action="<?php echo url(true)?>" method="post" class="order-process validate-form">
	{if isSet($customer_errors)}
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			{foreach $customer_errors as $error}
				<strong>{$error[1]}</strong> - {_($error[0])}<br>
			{/foreach}
		</div>
	{/if}

	<div class="panel panel-default">
		<div class="panel-heading">
			{_'billing_address'}
		</div>
		<div class="panel-body">
			
			<div class="row form-group">
				<div class="col-md-6">
					<div class="required">
						<label class="control-label" for="first_name">{_'first_name'}:</label>
						<input type="text" name="first_name" id="first_name" value="{$customer['first_name']}" class="form-control">
					</div>
				</div>
				<div class="col-md-6">
					<div class="required">
						<label class="control-label" for="last_name">{_'last_name'}:</label>
						<input type="text" name="last_name" id="last_name" value="{$customer['last_name']}" class="form-control">
					</div>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-6">
					<div class="required">
						<label class="control-label" for="street">{_'street'}:</label>
						<input type="text" name="street" id="street" value="{$customer['street']}" class="form-control">
					</div>
				</div>
				<div class="col-md-6">
					<div class="required">
						<label class="control-label" for="city">{_'city'}:</label>
						<input type="text" name="city" id="city" value="{$customer['city']}" class="form-control">
					</div>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-6">
					<div class="required">
						<label class="control-label" for="zip">{_'zip'}:</label>
						<input type="text" name="zip" id="zip" value="{$customer['zip']}" class="form-control">
					</div>
				</div>
				<div class="col-md-6">
					<div class="required">
						<label class="control-label" for="country">{_'country'}:</label>
						<select name="country" id="country" class="form-control">
							{foreach Core::$db->country() as $country}
								<option value="{$country['name']}"{if $cusotmer && $cusotmer['country'] == $country['name']} selected="selected"{/if}>{$country['name']}</option>
							{/foreach}
						</select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="checkbox">
						<input type="checkbox" id="buy_on_company" name="buy_on_company" class="j-buy-on-company-input"{if $customer['company'] || $customer['company_id'] || $customer['company_vat']} checked="checked"{/if}> <label for="buy_on_company">Zboží nakupuji na firmu (IČ)</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="checkbox">
						<input type="checkbox" name="shipping_as_billing" id="ship_as_bill" class="j-ship-as-bill-input"{if !$customer['ship_first_name'] && !$customer['ship_last_name'] && !$customer['ship_street'] && !$customer['ship_city'] && !$customer['ship_zip'] && !$customer['ship_country'] && !$customer['ship_company']} checked="checked"{/if}> <label for="ship_as_bill">Dodací adresa je shodná s fakturační</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default j-buy-on-company-wrapper">
		<div class="panel-heading">
			{_'company'}
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					<label class="control-label" for="company">{_'company'}:</label>
					<input type="text" name="company" id="company" value="{$customer['company']}" class="form-control">
				</div>
				<div class="col-md-3">
					<div class="{if $phone_required} required{/if}">
						<label class="control-label" for="company_id">{_'company_id'}:</label>
						<input type="text" name="company_id" id="company_id" value="{$customer['company_id']}" class="form-control">
					</div>
				</div>
				<div class="col-md-3">
					<div class="{if $phone_required} required{/if}">
						<label class="control-label" for="company_vat">{_'company_vat'}:</label>
						<input type="text" name="company_vat" id="company_vat" value="{$customer['company_vat']}" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			Kontaktní údaje
		</div>
		<div class="panel-body">
			<div class="row form-group">
				<div class="col-md-6">
					<div class="required">
						<label class="control-label" for="email">{_'email'}:</label>
						<input type="text" name="email" id="email" value="{$customer['email']}" data-rules="email" class="form-control"{if Customer::$logged_in} disabled="disabled"{/if}>
					</div>
				</div>
				<div class="col-md-6">
					<div class="{if $phone_required} required{/if}">
						<label class="control-label" for="phone">{_'phone'}:</label>
						<input type="text" name="phone" id="phone" value="{$customer['phone']}" class="form-control">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="checkbox">
						<input type="checkbox" name="newsletter" id="newsletter" value="1"{if $has_newsletter} checked="checked"{/if}>
						<label for="newsletter">{_'want_to_receive_newsletter'}</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default j-ship-as-bill-wrapper">
		<div class="panel-heading">
			{_'shipping_address'}
		</div>
		<div class="panel-body">
			<div class="row form-group">
				<div class="col-md-6">
					<div class="required">
						<label class="control-label" for="ship_first_name">{_'first_name'}:</label>
						<input type="text" name="ship_first_name" id="ship_first_name" value="{$customer['ship_first_name']}" class="form-control">
					</div>
				</div>
				<div class="col-md-6">
					<div class="required">
						<label class="control-label" for="ship_last_name">{_'last_name'}:</label>
						<input type="text" name="ship_last_name" id="ship_last_name" value="{$customer['ship_last_name']}" class="form-control">
					</div>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-6">
					<div class="required">
						<label class="control-label" for="ship_street">{_'street'}:</label>
						<input type="text" name="ship_street" id="ship_street" value="{$customer['ship_street']}" class="form-control">
					</div>
				</div>
				<div class="col-md-6">
					<div class="required">
						<label class="control-label" for="ship_city">{_'city'}:</label>
						<input type="text" name="ship_city" id="ship_city" value="{$customer['ship_city']}" class="form-control">
					</div>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-6">
					<div class="required">
						<label class="control-label" for="ship_zip">{_'zip'}:</label>
						<input type="text" name="ship_zip" id="ship_zip" value="{$customer['ship_zip']}" class="form-control" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="required">
						<label class="control-label" for="ship_country">{_'country'}:</label>
						<select name="ship_country" id="ship_country" class="form-control">
							{foreach Core::$db->country() as $country}
								<option value="{$country['name']}"{if $customer && $customer['ship_country'] == $country['name']} selected="selected"{/if}>{$country['name']}</option>
							{/foreach}
						</select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div>
						<label class="control-label" for="ship_company">{_'company'}:</label>
						<input type="text" name="ship_company" id="ship_company" value="{$customer['ship_company']}" class="form-control" />
					</div>
				</div>
			</div>
		</div>
	</div>

	{if !Core::config('customer_confirmation')}
		<div class="panel panel-default">
			<div class="panel-heading">
				{_'password'}
			</div>
			<div class="panel-body">
				<div class="row form-group">
					<div class="col-md-6">
						<label class="control-label" for="old_password">{_'current_password'}:</label>
						<input type="password" name="old_password" id="old_password" autocomplete="off" class="form-control">
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<label class="control-label" for="password1">{_'new_password'}:</label>
						<input type="password" name="password1" id="password1" class="form-control" autocomplete="off">
					</div>
					<div class="col-md-6">
						<label class="control-label" for="password2">{_'new_password_again'}:</label>
						<input type="password" name="password2" id="password2" class="form-control" autocomplete="off">
					</div>
				</div>
			</div>
		</div>
	{/if}

	<div class="row">
		<div class="col-md-12">
			<button type="submit" name="save" class="btn btn-danger pull-right btn-lg">{_'save'} <i class="fa fa-angle-double-right"></i></button>
		</div>
	</div>
</form>