{*!breadcrumb()*}

<h1>{_'order'} #{$order['id']}</h1>

<div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					{_'your_order'} #{$order['id']}
				</div>
				<table class="table">
					<tr>
						<th>{_'order_id'}</th>
						<td>#{$order['id']}</td>
					</tr>
					<tr>
						<th>{_'status'}</th>
						<td>{_('status_'.Core::$def['order_status'][$order['status']])}</td>
					</tr>
					<tr>
						<th>{_((int) Core::config('vat_payer') ? 'order_total_incl_vat' : 'order_total')}:</th>
						<td><strong style="color:#DA4453;">{!price($order['total_incl_vat'])}</strong></td>
					</tr>
					<tr>
						<th>{_'received'}</th>
						<td>{fdate($order['received'], true)}</td>
					</tr>

					{if Core::config('account_num') && strlen(Core::config('account_num')) > 0}
						<tr>
							<th>{_'account_num'}:</th>
							<td>{Core::config('account_num')}</td>
						</tr>
					{/if}

					{if (int) $order['payment_realized']}
						<tr>
							<th>{_'payment_realized'}:</th>
							<td>{fdate($order['payment_realized'], true)}</td>
						</tr>
					{/if}

					{if $invoice}
						<tr>
							<th>{_'invoice'}:</th>
							<td><a href="{url('customer/invoice/'.$invoice['id'])}">{_'download'}</a></td>
						</tr>
					{/if}

					{if (int) $order['payment_realized'] && $order['payment_session']}
						<tr>
							<th>{_'payment_session'}:</th>
							<td>{$order['payment_session']}</td>
						</tr>
					{/if}

					{* neni mozne nastavit zatim v administraci. sablona take neni nastylovana *}
					{*if (int) Core::config('allow_order_payment_change') && ! (int) $order['payment_realized'] && $order['status'] == 1}
						<tr>
							<th>&nbsp;</th>
							<td><a href="{url(PAGE_ORDER, array('payment' => 1, 'id' => $order['id'], 'hash' => $order->model->hash()), true)}">{_'select_different_payment'}</a></td>
						</tr>
					{/if*}

					{if $order['track_num'] && $delivery}
						<tr>
							<th>{_'track_num'}</th>
							<td><a href="{$delivery->getTrackLink($order['track_num'])}" target="_blank">{_'track_package'}</a></td>
						</tr>
					{/if}
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					{_'contact_info'}
				</div>
				<table class="table">
					<tr>
						<th>{_'email'}</th>
						<td>{$order['email']}</td>
					</tr>
					<tr>
						<th>{_'phone'}</th>
						<td>{$order['phone']}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					{_'billing_address'}
				</div>
				<table class="table">
					<tr>
						<th>{_'first_name'}</th>
						<td>{$order['first_name']}</td>
					</tr>
					<tr>
						<th>{_'last_name'}</th>
						<td>{$order['last_name']}</td>
					</tr>
					{if $order['company']}
						<tr>
							<th>{_'company'}</th>
							<td>{$order['company']}</td>
						</tr>
					{/if}
					{if $order['company_id']}
					<tr>
						<th>{_'company_id'}</th>
						<td>{$order['company_id']}</td>
					</tr>
					{/if}
					{if $order['company_vat']}
					<tr>
						<th>{_'company_vat'}</th>
						<td>{$order['company_vat']}</td>
					</tr>
					{/if}
					<tr>
						<th>{_'street'}</th>
						<td>{$order['street']}</td>
					</tr>
					<tr>
						<th>{_'city'}</th>
						<td>{$order['city']}</td>
					</tr>
					<tr>
						<th>{_'zip'}</th>
						<td>{$order['zip']}</td>
					</tr>
					<tr>
						<th>{_'country'}</th>
						<td>{$order['country']}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					{_'shipping_address'}
				</div>
				{if $order['ship_street']}
					<table class="table">
						<tr>
							<th>{_'first_name'}</th>
							<td>{$order['ship_first_name']}</td>
						</tr>
						<tr>
							<th>{_'last_name'}</th>
							<td>{$order['ship_last_name']}</td>
						</tr>
						{if $order['ship_company']}
							<tr>
								<th>{_'company'}</th>
								<td>{$order['ship_company']}</td>
							</tr>
						{/if}
						<tr>
							<th>{_'street'}</th>
							<td>{$order['ship_street']}</td>
						</tr>
						<tr>
							<th>{_'city'}</th>
							<td>{$order['ship_city']}</td>
						</tr>
						<tr>
							<th>{_'zip'}</th>
							<td>{$order['ship_zip']}</td>
						</tr>
						<tr>
							<th>{_'country'}</th>
							<td>{$order['ship_country']}</td>
						</tr>
					</table>
				{else}
					<div class="panel-body">
						{_'shipping_as_billing'}
					</div>
				{/if}
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					{_'delivery_payment'}
				</div>
				<table class="table">
					<tr>
						<th>{_'delivery'}:</th>
						<td>{$order->delivery['name']}</td>
					</tr>
					<tr>
						<th>{_'payment'}:</th>
						<td>{$order->payment['name']}</td>
					</tr>
				</table>
			</div>

			{if $order['comment']}
				<div class="panel panel-default">
					<div class="panel-heading">
						{_'comment'}
					</div>
					<div class="panel-body">
						{nl2br($order['comment'])}
					</div>
				</div>
			{/if}
		</div>
	</div>
	
	<div class="basket-of-products">
		<div class="panel panel-default">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>{_'product'}</th>
						<th>{_'quantity'}</th>
						<th>{_((int) Core::config('vat_payer') ? 'price_incl_vat' : 'price')}</th>
						<th>{_'total'}</th>
					</tr>
				</thead>
				<tbody>
					{foreach $order->order_products() as $product}
						<tr>
							{* image *}
							<td class="image">
								{if isset($product['attribute_file_id'])}
									{var $img = imgsrcvariant($product['attribute_file_id'], $product['product'], 1)}
									{if $img !== null}
										<a href="{imgsrcvariant($product['attribute_file_id'], $product['product'], 9)}" class="thumbnail lightbox">
											<img src="{$img}" alt="{$product['product']['name']}">
										</a>
									{else}
										&nbsp;
									{/if}
								{else}
									{var $img = imgsrc($product['product'], 1)}
									{if $img !== null}
										<a href="{imgsrc($product['product'], 9)}" class="thumbnail lightbox">
											<img src="{$img}" alt="{$product['product']['name']}">
										</a>
									{else}
										&nbsp;
									{/if}
								{/if}
							</td>

							{* name *}
							<td>
								{$product['name'].' '.$product['nameext']}
							</td>

							{* quantity *}
							<td class="quantity">
								{$product['quantity']} {$product['unit'] ?: Core::config('default_unit')}
							</td>

							{* price *}
							<td>
								{!price_vat($product['price'], $product['vat'], $order['currency'])}
							</td>

							{* total price *}
							<td>
								<strong>{!price_vat($product['price'] * $product['quantity'], $product['vat'], $order['currency'])}</strong>
							</td>
						</tr>
					{/foreach}

					{if $order['voucher_id'] && ($voucher = $order->voucher) && $voucher['id']}
						<tr>
							<td>&nbsp;</td>
							<td>{_'voucher'} ({$voucher['code']}):</td>
							<td>1 {Core::config('default_unit')}</td>
							<td>-{!price(estPrice($voucher['value'], $order->model->getTotal_incl_vat(true)), $order['currency'])}</td>
							<td><strong>-{!price(estPrice($voucher['value'], $order->model->getTotal_incl_vat(true)), $order['currency'])}</strong></td>
						</tr>
					{/if}
				</tbody>

				{var $total = Basket::total()}
				<tfoot>
					

					{if (int) Core::config('vat_payer')}
						<tr class="subtotal">
							<td>&nbsp;</td>
							<td class="" colspan="3">{_'total_excl_vat'}:</td>
							<td class="value">{!price($order['total_price'])}</td>
						</tr>
					{/if}
					
					<tr class="total">
						<td>&nbsp;</td>
						<td class="" colspan="3">{_((int) Core::config('vat_payer') ? 'total_incl_vat' : 'total')}:</td>
						<td class="value">{!price($order['total_incl_vat'])}</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
