{*!breadcrumb()*}

<h1>{_'register_customer'}</h1>

<form action="<?php echo url(true)?>" method="post" class="validate-form">

	{if isset($customer_errors)}
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			{foreach $customer_errors as $error}
				<strong>{$error[1]}</strong> - {_($error[0])}<br>
			{/foreach}
		</div>
	{/if}

	<div class="row">
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					{_'contact_info'}
				</div>
				<div class="panel-body">
					<div class="form-group required">
						<label class="control-label" for="email">{_'email'}</label>
						<input type="text" name="email" id="email" class="form-control required" data-rules="email" value="{$post[email] ?: ''}">
					</div>
					
					<div class="j-full-registration">
						<div class="form-group j-required-on-full">
							<label class="control-label" for="phone">{_'phone'}</label>
							<input type="text" name="phone" id="phone" class="form-control" autocomplete="off" value="{$post[phone] ?: ''}">
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group j-required-on-full">
									<label class="control-label" for="password1">{_'password'}</label>
									<input type="password" name="password1" id="password1" class="form-control" autocomplete="off">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group j-required-on-full">
									<label class="control-label" for="password2">{_'password_again'}</label>
									<input type="password" name="password2" id="password2" class="form-control" autocomplete="off">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<a href="#" class="j-full-registration-btn pull-left btn btn-primary btn-lg" data-registrationtype="simple" data-simpleregistertext="Rychlá registrace" data-fullregistertext="Kompletní registrace"><i class="fa fa-angle-double-down"></i> Kompletní registrace</a>
				<input type="hidden" name="registration_type" value="simple">

				<span class="j-simple-register">
					<button type="submit" name="save" class="btn btn-lg btn-danger pull-right">{_'register'} <i class="fa fa-angle-double-right"></i></button>
				</span>
			</div>
		</div>
		<div class="col-md-5">
			<div class="alert alert-warning">
				<h4>Jak se můžu registrovat?</h4>
				<p>Pokud nyní nemáte čas vyplňovat registrační formulář, zadejte pouze emailovou adresu a vytvoříme Vám uživatelský účet. Další údaje o svém účtu můžete doplnit později.</p>
				<p>Chcete mít registraci kompletní? Klikněte na tlačítko <strong>Kompletní registrace</strong> a vyplňte všechny povinné údaje. Později nebudete muset již nic doplňovat.</p>
			</div>
		</div>
	</div>
	
	<div class="j-full-registration">
		<div class="panel panel-default">
			<div class="panel-heading">
				{_'billing_address'}
			</div>
			<div class="panel-body">
				<div class="row form-group">
					<div class="col-md-6">
						<div class="j-required-on-full">
							<label class="control-label" for="first_name">{_'first_name'}:</label>
							<input type="text" name="first_name" id="first_name" class="form-control" value="{$post[first_name] ?: ''}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="j-required-on-full">
							<label class="control-label" for="last_name">{_'last_name'}:</label>
							<input type="text" name="last_name" id="last_name" class="form-control" value="{$post[last_name] ?: ''}">
						</div>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-6">
						<div class="j-required-on-full">
							<label class="control-label" for="street">{_'street'}:</label>
							<input type="text" name="street" id="street" class="form-control" value="{$post[street] ?: ''}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="j-required-on-full">
							<label class="control-label" for="city">{_'city'}:</label>
							<input type="text" name="city" id="city" class="form-control" value="{$post[city] ?: ''}">
						</div>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-6">
						<div class="j-required-on-full">
							<label class="control-label" for="zip">{_'zip'}:</label>
							<input type="text" name="zip" id="zip" class="form-control" value="{$post[zip] ?: ''}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="j-required-on-full">
							<label class="control-label" for="country">{_'country'}:</label>
							<select name="country" id="country" class="form-control">
								{foreach Core::$db->country() as $country}
									<option value="{$country['name']}"{if isset($post[country]) && $country[name] == $post[country]} selected="selected"{/if}>{$country['name']}</option>
								{/foreach}
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="checkbox">
							<input type="checkbox" name="buy_on_company" value="1" id="buy_on_company" class="j-buy-on-company-input"{if isset($post[buy_on_company])} checked="checked"{/if}> <label for="buy_on_company">Zboží nakupuji na firmu (IČ)</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="checkbox">
							<input type="checkbox" id="ship_as_bill" name="ship_as_bill" value="1" class="j-ship-as-bill-input"{if count($post) && isset($post[ship_as_bill])} checked="checked"{/if}> <label for="ship_as_bill">Dodací adresa je shodná s fakturační</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default j-buy-on-company-wrapper">
			<div class="panel-heading">
				{_'company'}
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6">
						<label class="control-label" for="company">{_'company'}:</label>
						<input type="text" name="company" id="company" class="form-control" value="{$post[company] ?: ''}">
					</div>
					<div class="col-md-3">
						<div class="{if $phone_required} required{/if}">
							<label class="control-label" for="company_id">{_'company_id'}:</label>
							<input type="text" name="company_id" id="company_id" class="form-control" value="{$post[company_id] ?: ''}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="{if $phone_required} required{/if}">
							<label class="control-label" for="company_vat">{_'company_vat'}:</label>
							<input type="text" name="company_vat" id="company_vat" class="form-control" value="{$post[company_vat] ?: ''}">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="j-ship-as-bill-wrapper">
			<div class="panel panel-default">
				<div class="panel-heading">
					{_'shipping_address'}
				</div>
				<div class="panel-body">
					<div class="row form-group">
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="ship_first_name">{_'first_name'}:</label>
								<input type="text" name="ship_first_name" id="ship_first_name" class="form-control" value="{$post[ship_first_name] ?: ''}">
							</div>
						</div>
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="ship_last_name">{_'last_name'}:</label>
								<input type="text" name="ship_last_name" id="ship_last_name" class="form-control" value="{$post[ship_last_name] ?: ''}">
							</div>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="ship_street">{_'street'}:</label>
								<input type="text" name="ship_street" id="ship_street" class="form-control" value="{$post[ship_street] ?: ''}">
							</div>
						</div>
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="ship_city">{_'city'}:</label>
								<input type="text" name="ship_city" id="ship_city" class="form-control" value="{$post[ship_city] ?: ''}">
							</div>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="ship_zip">{_'zip'}:</label>
								<input type="text" name="ship_zip" id="ship_zip" class="form-control" value="{$post[ship_zip] ?: ''}">
							</div>
						</div>
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="ship_country">{_'country'}:</label>
								<select name="ship_country" id="ship_country" class="form-control">
									{foreach Core::$db->country() as $country}
										<option value="{$country['name']}"{if isset($post[ship_country]) && $country[name] == $post[ship_country]} selected="selected"{/if}>{$country['name']}</option>
									{/foreach}
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div>
								<label class="control-label" for="ship_company">{_'company'}:</label>
								<input type="text" name="ship_company" id="ship_company" value="{$customer['ship_company']}" class="form-control" value="{$post[ship_company] ?: ''}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="controls">
						<button type="submit" name="save" class="btn btn-lg btn-danger pull-right">{_'register'} <i class="fa fa-angle-double-right"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

{if isset($post[registration_type]) && $post[registration_type] == "full"}
	<script>
		$(function(){
			$('.j-full-registration-btn').trigger('click');
		});
	</script>
{/if}