<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */
?>


<aside class="leftmenu">
	{include '@blocks.latte', column => 'left'}

	<div class="nakup_po_telefonu">
		Nákup po telefonu
		<a href="{url(28)}">607 777 700</a>
	</div>
</aside>

<section>
	{if isset(Core::$current_page) && !isset(Core::$current_product) && in_array(Core::$current_page[id], [1,36,37,99,100,101,102])}  {* slider + tabs *}
		 
		<a href="{url(84)}" class="slide">
			<img src="{$base}{$tplbase}images/slide.jpg" alt="berle">
		</a>
		
		<div class="vyhody">
			<a href="{url(83)}" class="prodejna">kamenná<br>prodejna</a>
			<a href="{url(81)}" class="odber">osobní<br>odběr</a>
			<a href="{url(82)}" class="skladem">vše<br>skladem</a>
			<a href="{url(89)}" class="doprava">doprava<br>zdarma</a>
		</div>

		<p class="popis index">
						Dříve než začnete pečovat o nemocného člověka v domácnosti ujistěte se, zda máte dostatek pomůcek, které Vám ulehčí péči v takové míře, aby jste neudělali pacienta sami ze sebe. Zdravotní pomůcka musí pomáhat nemocnému a šetřit zdraví pečovatele. Pacientovi ulehčí dny, které může trávit ve svém přirozeném a oblíbeném prostředí a pečovatel za to nezaplatí cenu nejvyšší - své zdraví.
		</p>
		
		<div class="triditko">
			<a href="{url(36)}" n:class="(Core::$current_page[id] == 36)? 'active'">Doporučujeme</a>
			<a href="{url(100)}" n:class="(Core::$current_page[id] == 100)? 'active'">Nejprodávanější</a>
			<a href="{url(101)}" n:class="(Core::$current_page[id] == 101)? 'active'">Nejlevnější</a>
			<a href="{url(102)}" n:class="(Core::$current_page[id] == 102)? 'active'">Nejdražší</a>
		</div>
			
		{!$content}
	
	{else}  {* default behaviour *}
		<section class="filtered vypis_productu" id="tabs">
			{!$content}
		</section>
	{/if}
</section>