<!DOCTYPE html>
<!--[if lt IE 8 ]><html lang="{Core::$language}" class="oldie ie7"><![endif]-->
<!--[if IE 8 ]><html lang="{Core::$language}" class="oldie"><![endif]-->
<!--[if IE 9 ]><html lang="{Core::$language}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="{Core::$language}"><!--<![endif]-->
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
		<meta name="robots" n:if="Core::config('meta_robots')" content="{Core::config('meta_robots')}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<link rel="stylesheet" type="text/css" href="{$base}{$tplbase}styles/style.css">
		<script type="text/javascript" src="{$base}{$tplbase}scripts/jquery/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="{$base}{$tplbase}scripts/jquery/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="{$base}{$tplbase}css/bootstrap.min.css">
		<link rel="stylesheet" href="{$base}{$tplbase}css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{$base}{$tplbase}css/bootstrap_repaire.css">
		<script src="{$base}{$tplbase}js/bootstrap.min.js"></script>
		<!--[if lte IE 9]><script type="text/javascript" src="{$base}{$tplbase}scripts/iefix/placeholders.js"></script><![endif]-->
		<!--[if lt IE 9]><script type="text/javascript" src="{$base}{$tplbase}scripts/iefix/html5.js"></script><![endif]-->
		<title>{vsprintf(Core::config('title'), $meta['title'] ? $meta['title'] : '')}</title>
	</head>
	<body>
		<header>
			<div class='center'>
				<a href='{$base}' class='logo'>
					<img src="{$base}{$tplbase}images/moje_pomucky.png" alt='Moje pomůcky'>
				</a>
				<div class='top_line'>
					<span class='cislo'>
						Potřebujete poradit?  <a href="{url(28)}">777 925 338</a>
					</span>
					<nav>
						{include '@menu.latte', type => 4}
					</nav>
				</div>
				<div class='bot_line'>
					<span class='moto'>
						specialista na prodej<br>
						zdravotnických pomůcek
					</span>
					<div class='hledani'>
						<form method='GET' action='{url(PAGE_SEARCH)}'>
							<input type='text' name='q' placeholder='Hledaný výraz'>
							<button type='submit'></button>
						</form>
					</div>
					<div class='kosik'><a href="{url(2)}" class='kos'></a>
						<span class='nadpis'>nákupní košík</span>
						{var $total = Basket::total()}
						{var $price = price($total->total)}
						{var $products = basket::products()}
						<span class='nakoupeno'>{count($products)} ks za {!$price}</span>
						<div class='zobraz'>
							{if $total}
							<table>
								{foreach $products as $product}
									<?php 
									$img = Core::$db->product_files()->where('product_id = ?', $product['product']['id'])->order('position ASC');
									?>
									<tr>
										<td class='img'><a href="{url($product['product'])}"><img src="/{$img[0]['filename']}" alt="produkt"></a></td>
										<td><a href="{url($product['product'])}">{$product['product']['name']}</a></td>
										<td class='ks'>{$product['qty']} ks</td>
										<td class='cena'>{!price($product['price'])}</td>
									</tr>
								{/foreach}
							</table>
							{/if}
							<a href="{url(2)}" class='zobrazit_kosik'>Zobrazit košík</a>
							<span class='celkem'>Celkem<span>{!$price}</span></span>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class='center'>
			<div class='obal'>
				{!$content}
			</div>
			<footer>
				<nav>
					<h2>Zákazník</h2>
					<ul class='zakaznik'>
						<li><a href="{url(5)}">Doprava a platba</a></li>
						<li><a href="{url(103)}">Reklamační řád</a></li>
						<li><a href="{url(28)}">Kontakt</a></li>
						<li><a href="{url(21)}">Možnosti platby</a></li>
						<li><a href="{url(23)}">Obchodní podmínky</a></li>
					</ul>
				</nav>
				<nav>
					<h2>Kategorie</h2>
					<ul>
						<li><a href="{$base}obklady-a32">Obklady</a></li>
						<li><a href="{$base}mozaiky-a91">Mozaiky</a></li>
						<li><a href="{$base}obklady-podle-pouziti-a41">Obklady podle použití</a></li>
						<li><a href="{$base}dlazba-a48">Dlažba</a></li>
						<li><a href="{$base}dlazby-podle-pouziti-a52">Dlažby podle použití</a></li>
						<li><a href="{$base}stavebni-chemie-a59">Stavební Chemie</a></li>
						<li><a href="{$base}antuka-a55">Antuka</a></li>
					</ul>
				</nav>
				<div class='kontakt'>
					<h2>Kontakt</h2>
					<a href='mailto:obchod@mojepomucky.cz' class='mail'>obchod@mojepomucky.cz</a>
					<a href='{url(28)}' class='tel'>+420 607 777 700</a>
					<p>
						<strong>Výdejní místo / provozovna:</strong><br>
						Petra Cingra 1174<br>
						735 14, Orlová - Lutyně
					</p>
				</div>
				<a href="{url(105)}" class='img_r'><img src="{$base}{$tplbase}images/heureka.png" alt='heureka'></a>
				<a href="{url(28)}" class='img_r'><img src="{$base}{$tplbase}/images/mapa.png" alt='mapa'></a>
			</footer>
		</div>
		<div style='display:none'>
			<div id='mezikrok'>
				<div class='pridan'>
					<img src="images/produkt2.png" alt=''>
					<p>
						<span>Produkt byl přidán do košíku</span>
						NÁSADEC PROTISKLUZOVÝ 5HROTÝ K BERLI FDI
					</p>
				</div>
				<div class='zbyva'>
					<span>Do dopravy zdarma Vám chybí nakoupit ještě za <strong>1 411,00 Kč</strong></span>
					<div class='mira'><div style='width: 46%'></div></div>
				</div>
				<div class='podobne'>
					<span class='nadpis'>Mohlo by Vás ještě zajímat</span>
					<div class='produkt'>
						<a href='#' class='img'><img src="images/produkt2.png" alt='produkt'></a>
						<a href=""><span class='nazev'>CA880 CHODÍTKO ČTYŘKOLOVÉ SKLÁDACÍ</span></a>
						<span class='cena'>7 580 Kč</span>
						<a href="#" class='dokosiku'>Do košíku</a>
					</div>
					<div class='produkt'>
						<a href='#' class='img'><img src="images/produkt2.png" alt='produkt'></a>
						<a href=""><span class='nazev'>CA880 CHODÍTKO ČTYŘKOLOVÉ SKLÁDACÍ</span></a>
						<span class='cena'>7 580 Kč</span>
						<a href="#" class='dokosiku'>Do košíku</a>
					</div>
					<div class='produkt'>
						<a href='#' class='img'><img src="images/produkt2.png" alt='produkt'></a>
						<a href=""><span class='nazev'>CA880 CHODÍTKO ČTYŘKOLOVÉ SKLÁDACÍ</span></a>
						<span class='cena'>7 580 Kč</span>
						<a href="#" class='dokosiku'>Do košíku</a>
					</div>
				</div>
				<div class='dalsi'>
					<a href="#" class='pokracovat'>Pokračovat v nákupu</a>
					<a href="{url(2)}" class='prejit_na_kosik'>Nákupní košík</a>
				</div>
			</div>
		</div>
	</body>
</html>