{var $tploptions = Registry::get('template_options')}

{* steps *}
{var $_p_basket = Core::$db->page[PAGE_BASKET]}
{var $_p_step1 = Core::$db->page[PAGE_ORDER]}
{var $_p_step2 = Core::$db->page[PAGE_ORDER2]}
{var $_p_finish = Core::$db->page[PAGE_ORDER_FINISH]}
<link rel="stylesheet" type="text/css" href="{$base}{$tplbase}styles/basket.css">
<div class="stepwizard">
	<div class="stepwizard-row">
		<div class="stepwizard-step">
			<a href="{url(PAGE_BASKET)}" type="button" class="btn btn-circle">1</a>
			<p>{$_p_basket[name]}</p>
		</div>
		<div class="stepwizard-step">
			<a href="{url(PAGE_ORDER)}" type="button" class="btn btn-circle">2</a>
			<p>{$_p_step1[name]}</p>
		</div>
		<div class="stepwizard-step active">
			<a href="{url(PAGE_ORDER2)}" type="button" class="btn btn-primary btn-circle">3</a>
			<p>{$_p_step2[name]}</p>
		</div> 
		<div class="stepwizard-step">
			<button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
			<p>{$_p_finish[name]}</p>
		</div> 
	</div>
</div>

<form action="{url(PAGE_ORDER2)}" method="post" class="order-process validate-form">
	
	{if isSet($order_errors)}
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			{foreach $order_errors as $error}
				<strong>{$error[1]}</strong> - {_($error[0])}<br>
			{/foreach}
		</div>
	{/if}

	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					{_'billing_address'}
				</div>
				<div class="panel-body">
					
					<div class="row form-group">
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="first_name">{_'first_name'}:</label>
								<input type="text" name="first_name" id="first_name" value="{$order['first_name']}" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="last_name">{_'last_name'}:</label>
								<input type="text" name="last_name" id="last_name" value="{$order['last_name']}" class="form-control">
							</div>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="street">{_'street'}:</label>
								<input type="text" name="street" id="street" value="{$order['street']}" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="city">{_'city'}:</label>
								<input type="text" name="city" id="city" value="{$order['city']}" class="form-control">
							</div>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="zip">{_'zip'}:</label>
								<input type="text" name="zip" id="zip" value="{$order['zip']}" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="country">{_'country'}:</label>
								<select name="country" id="country" class="form-control">
									{foreach Core::$db->country() as $country}
										<option value="{$country['name']}"{if $order && $order['country'] == $country['name']} selected="selected"{/if}>{$country['name']}</option>
									{/foreach}
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="checkbox">
								<input type="checkbox" id="buy_on_company" class="j-buy-on-company-input"> <label for="buy_on_company">Zboží nakupuji na firmu (IČ)</label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="checkbox">
								<input type="checkbox" id="ship_as_bill" class="j-ship-as-bill-input" checked="checked"> <label for="ship_as_bill">Dodací adresa je shodná s fakturační</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default j-buy-on-company-wrapper">
				<div class="panel-heading">
					{_'company'}
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="company">{_'company'}:</label>
								<input type="text" name="company" id="company" value="{$order['company']}" class="form-control">
							</div>
						</div>
						<div class="col-md-3">
							<div class="{if $phone_required} required{/if}">
								<label class="control-label" for="company_id">{_'company_id'}:</label>
								<input type="text" name="company_id" id="company_id" value="{$order['company_id']}" class="form-control">
							</div>
						</div>
						<div class="col-md-3">
							<div class="{if $phone_required} required{/if}">
								<label class="control-label" for="company_vat">{_'company_vat'}:</label>
								<input type="text" name="company_vat" id="company_vat" value="{$order['company_vat']}" class="form-control">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					Kontaktní údaje
				</div>
				<div class="panel-body">
					<div class="row form-group">
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="email">{_'email'}:</label>
								<input type="text" name="email" id="email" value="{$order['email']}" data-rules="email" class="form-control"{if Customer::$logged_in} disabled="disabled"{/if}>
							</div>
						</div>
						<div class="col-md-6">
							<div class="{if $phone_required} required{/if}">
								<label class="control-label" for="phone">{_'phone'}:</label>
								<input type="text" name="phone" id="phone" value="{$order['phone']}" class="form-control">
							</div>
						</div>
					</div>

					{if !Customer::$logged_in}
						<div class="row">
							<div class="col-md-6">
								{if Core::$is_premium && (int) Core::config('enable_customer_login')}
									<div class="checkbox">
										<input type="checkbox" name="create_account" id="create_account" value="1" checked="checked">
										<label for="create_account">{_'create_account'}</label>
									</div>
								{/if}
							</div>
							<div class="col-md-6">
								<div class="checkbox">
									<input type="checkbox" name="newsletter" id="newsletter" value="1" checked="checked">
									<label for="newsletter">{_'want_to_receive_newsletter'}</label>
								</div>
							</div>
						</div>
					{/if}
				</div>
			</div>

			<div class="panel panel-default j-ship-as-bill-wrapper">
				<div class="panel-heading">
					{_'shipping_address'}
				</div>
				<div class="panel-body">
					<div class="row form-group">
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="ship_first_name">{_'first_name'}:</label>
								<input type="text" name="ship_first_name" id="ship_first_name" value="{$order['ship_first_name']}" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="ship_last_name">{_'last_name'}:</label>
								<input type="text" name="ship_last_name" id="ship_last_name" value="{$order['ship_last_name']}" class="form-control">
							</div>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="ship_street">{_'street'}:</label>
								<input type="text" name="ship_street" id="ship_street" value="{$order['ship_street']}" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="ship_city">{_'city'}:</label>
								<input type="text" name="ship_city" id="ship_city" value="{$order['ship_city']}" class="form-control">
							</div>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="ship_zip">{_'zip'}:</label>
								<input type="text" name="ship_zip" id="ship_zip" value="{$order['ship_zip']}" class="form-control" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="required">
								<label class="control-label" for="ship_country">{_'country'}:</label>
								<select name="ship_country" id="ship_country" class="form-control">
									{foreach Core::$db->country() as $country}
										<option value="{$country['name']}"{if $order && $order['ship_country'] == $country['name']} selected="selected"{/if}>{$country['name']}</option>
									{/foreach}
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div>
								<label class="control-label" for="ship_company">{_'company'}:</label>
								<input type="text" name="ship_company" id="ship_company" value="{$order['ship_company']}" class="form-control" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					{_'order_note'}
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<label class="control-label" for="comment">{_'comment'}:</label>
							<textarea name="comment" id="comment" cols="90" rows="4" class="form-control"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">

			{* help *}
			{if Core::config('phone') || Core::config('email_sender')}
				<div class="panel panel-default">
					<div class="panel-heading">
						Potřebujete poradit?
					</div>
					<div class="help-box">
						<table class="table">
							<col width="70px">
							<col>
							{if Core::config('phone')}
								<tr>
									<th><i class="fa fa-phone fa-3x"></i></th>
									<td>{Core::config('phone')}</td>
								</tr>
							{/if}
							{if Core::config('email_sender')}
								<tr>
									<th><i class="fa fa-envelope fa-3x"></i></th>
									<td><a href="mailto:{Core::config('email_sender')}">{Core::config('email_sender')}</a></td>
								</tr>
							{/if}
						</table>
					</div>
				</div>
			{/if}

			{* basket products *}
			<div class="basket-of-products">
				<div class="panel panel-default">
					<div class="panel-heading">
						{_'ordering_products'}
					</div>
					<table class="table table-striped no-thead-bg">
						<tbody>
							{foreach $basket_products as $product}
								<tr>
									<td>
										<small>
											{$product['product']['name']} 
											({$product['qty']}x)
										</small>
									</td>
									<td class="text-right">
										<nobr>
											<strong><small>{!price_vat(array($product['product'], $product['price'] * $product['qty']))}</small></strong>
										</nobr>
									</td>
								</tr>
							{/foreach}
							{foreach $basket_free_samples as $product}
								<tr>
									<td>
										<small>{$product['product']['name']} - VZOREK</small>
									</td>
									<td class="text-right">
										<strong><small>{!price_vat(0)}</small></strong>
									</td>
								</tr>
							{/foreach}
						</tbody>
					</table>
				</div>
			</div>

			{* choosed delivery *}
			<div class="panel panel-default">
				<div class="panel-heading">
					Doprava a platba
				</div>
				<table class="table">
					<tbody>
						<tr>
							<td class="name j-delivery-name">{$delivery['name']}</td>
						</tr>
						<tr>
							<td class="name j-payment-name">{$payment['name']}</td>
						</tr>
					</tbody>
				</table>
			</div>

			{* final price *}
			<div class="panel panel-default">
				<div class="panel-heading">
					{_'final_price'}
				</div>
				<table class="table">
					<tbody>
						{if $basket_products !== null && count($basket_products)}
							{var $total = Basket::total()}
						{/if}
						{if $voucher = Basket::voucher()}
							<tr class="voucher">
								<td>{_'voucher'} ({$voucher['code']}):</td>
								<td class="text-right"><span id="discount">-{!price($total->discount)}</span></td>
							</tr>
						{/if}
						<tr>
							<td>{_'delivery_payment'}</td>
							<td class="text-right">
								<span class="j-delivery-payment-price" data-price="{(float) $dp_price_exclude_vat}">{$dp_price}</span>
							</td>
						</tr>
						{if (int) Core::config('vat_payer')}
							<tr>
								<td>{_'total_excl_vat'}</td>
								<td class="text-right">
									<strong class="j-total-exclude-vat" id="subtotal">{!price($total->subtotal)}</strong>
								</td>
							</tr>
						{/if}
						<tr>
							<td class="vertical-middle">
								{_((int) Core::config('vat_payer') ? 'total_incl_vat' : 'total')}
							</td>
							<td class="vertical-middle text-right">
								<strong class="j-total-include-vat big-price" id="total">{!price($total->total + (float)$dp_price)}</strong>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-12">
			<div class="pull-right">
				<div class="checkbox">
					<label for="terms"><input type="checkbox" name="terms" id="terms"> {_'i_accept_terms'}</label> <a href="{url(PAGE_TERMS)}" target="_blank" class="lightbox-ajax">{_'terms_link'}</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<a href="{url(PAGE_ORDER)}" class="btn btn-inverse btn-lg pull-left"><i class="fa fa-angle-double-left"></i> Zpět na výběr dopravy a platby</a>
			<button type="submit" name="submit_order" class="btn btn-danger pull-right btn-lg">Odeslat objednávku <i class="fa fa-angle-double-right"></i></button>
		</div>
	</div>
</form>

<script>
	var delivery = {};
	var _subtotal_excl_vat = {$total->subtotal};
	var _subtotal = {$total->_total_before_discount};
	
	{if $voucher}
		var _voucher_value = {$voucher['value']};
	{/if}

	var delivery = {};
	var payment = {};
	var delivery_payments = [];
	{foreach Core::$db->delivery_payments() as $dp}
		{var $dp_data = $dp->as_array()}
		delivery_payments.push({!json_encode($dp_data)});
	{/foreach}
</script>