{var $tploptions = Registry::get('template_options')}

{* steps *}
{var $_p_basket = Core::$db->page[PAGE_BASKET]}
{var $_p_step1 = Core::$db->page[PAGE_ORDER]}
{var $_p_step2 = Core::$db->page[PAGE_ORDER2]}
{var $_p_finish = Core::$db->page[PAGE_ORDER_FINISH]}
{var $_vat_delivery_id = Core::config('vat_delivery')}
{var $_vat_delivery = $_vat_delivery_id? Core::$db->vat[$_vat_delivery_id]['rate']: NULL}
<link rel="stylesheet" type="text/css" href="{$base}{$tplbase}styles/basket.css">
<div class="stepwizard">
	<div class="stepwizard-row">
		<div class="stepwizard-step">
			<a href="{url(PAGE_BASKET)}" type="button" class="btn btn-circle">1</a>
			<p>{$_p_basket[name]}</p>
		</div>
		<div class="stepwizard-step active">
			<a href="{url(PAGE_ORDER)}" type="button" class="btn btn-primary btn-circle">2</a>
			<p>{$_p_step1[name]}</p>
		</div>
		<div class="stepwizard-step">
			<button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
			<p>{$_p_step2[name]}</p>
		</div> 
		<div class="stepwizard-step">
			<button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button>
			<p>{$_p_finish[name]}</p>
		</div> 
	</div>
</div>

<form action="{url(PAGE_ORDER)}" method="post" class="order-process j-order-dp-form">

	<div class="row">
		<div class="col-md-8">
			{if isSet($order_errors)}
				<div class="alert alert-danger">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					{foreach $order_errors as $error}
						{$error[1]} - {_($error[0])}<br>
					{/foreach}
				</div>
			{/if}

			<script>
				var delivery = {};
				var payment = {};
			</script>

			{if $deliveries}
				<div class="panel panel-default deliveries">
					<div class="panel-heading">
						Způsob dodání zboží
					</div>
					{foreach $deliveries as $delivery}
						<label class="list-item j-select-delivery" for="delivery_{$delivery['id']}">
							<div class="row clearfix">
								<div class="col-md-1 delivery-radio">
									<div class="checkbox">
										<input type="radio" name="delivery" id="delivery_{$delivery['id']}" value="{$delivery['id']}" class="checkbox">
									</div>
									<div class="j-if-select-append-here"></div>
								</div>
								<div class="col-md-10 delivery-description">
									<strong class="j-delivery-name-source">{$delivery['name']}</strong>
									<strong class="label label-primary j-delivery-price">
										{if $delivery['price']}
											{!price_vat($delivery['price'], $_vat_delivery)}
										{else}
											ZDARMA
										{/if}
									</strong>
								</div>
							</div>
						</label>
						<script>delivery[{$delivery['id']}] = {(float) $delivery['price']};</script>
					{/foreach}
				</div>
			{/if}

			{if $payments}
				<div class="panel panel-default payments">
					<div class="panel-heading">
						Způsob platby
					</div>
					<div class="list-item notice j-remove-after-select-delivery">
						Nejdříve vyberte způsob dopravy.
					</div>
					{foreach $payments as $payment}
						<label class="list-item j-select-payment" for="payment_{$payment['id']}">
							<div class="row clearfix">
								<div class="col-md-1 payment-radio">
									<div class="checkbox">
										<input type="radio" name="payment" id="payment_{$payment['id']}" value="{$payment['id']}" class="checkbox">
									</div>
								</div>
								<div class="col-md-10 payment-description">
									<strong class="j-payment-name-source">{$payment['name']}</strong>
									<strong class="label label-primary j-payment-price" style="display:none">{!price($payment['price'])}</strong>
								</div>
							</div>
						</label>
						<script>payment[{$payment['id']}] = {(float) $payment['price']};</script>
					{/foreach}
				</div>
			{/if}

			<script>
				var delivery_payments = [];
				{foreach Core::$db->delivery_payments() as $dp}
					{var $dp_data = $dp->as_array()}
					delivery_payments.push({!json_encode($dp_data)});
				{/foreach}
			</script>
		</div>
		<div class="col-md-4 j-summary">

			{* help *}
			{if Core::config('phone') || Core::config('email_sender')}
				<div class="panel panel-default">
					<div class="panel-heading">
						Potřebujete poradit?
					</div>
					<div class="help-box">
						<table class="table">
							<col width="70px">
							<col>
							{if Core::config('phone')}
								<tr>
									<th>Tel.:</th>
									<td>{Core::config('phone')}</td>
								</tr>
							{/if}
							{if Core::config('email_sender')}
								<tr>
									<th>Email:</th>
									<td><a href="mailto:{Core::config('email_sender')}">{Core::config('email_sender')}</a></td>
								</tr>
							{/if}
						</table>
					</div>
				</div>
			{/if}
			
			{* basket products *}
			<div class="basket-of-products">
				<div class="panel panel-default">
					<div class="panel-heading">
						{_'ordering_products'}
					</div>
					<table class="table table-striped no-thead-bg">
						<tbody>
							{foreach $basket_products as $product}
								<tr>
									<td>
										<small>
											{$product['product']['name']} 
											({$product['qty']}x)
										</small>
									</td>
									<td class="text-right">
										<nobr>
											<strong><small>{!price_vat(array($product['product'], $product['price'] * $product['qty']))}</small></strong>
										</nobr>
									</td>
								</tr>
							{/foreach}
							{foreach $basket_free_samples as $product}
								<tr>
									<td>
										<small>{$product['product']['name']} - VZOREK</small>
									</td>
									<td class="text-right">
										<strong><small>{!price_vat(0)}</small></strong>
									</td>
								</tr>
							{/foreach}
						</tbody>
					</table>
				</div>
			</div>

			{* choosed delivery *}
			<div class="panel panel-default">
				<div class="panel-heading">
					Doprava a platba
				</div>
				<table class="table">
					<tbody>
						<tr>
							<td class="name j-delivery-name">
								<span style="color:#E9573F">{_'choose_delivery_first'}</span>
							</td>
							<td class="text-right j-delivery-price"></td>
						</tr>
						<tr>
							<td class="name j-payment-name">
								<span style="color:#E9573F">{_'choose_payment_first'}</span>
							</td>
							<td class="text-right j-payment-price"></td>
						</tr>
					</tbody>
				</table>
			</div>

			{* final price *}
			<div class="panel panel-default">
				<div class="panel-heading">
					{_'final_price'}
				</div>
				<table class="table">
					<tbody>
						{if $basket_products !== null && count($basket_products)}
							{var $total = Basket::total()}
						{/if}
						{if $voucher = Basket::voucher()}
							<tr class="voucher">
								<td>{_'voucher'} ({$voucher['code']}):</td>
								<td class="text-right"><span id="discount">-{!price($total->discount)}</span></td>
							</tr>
						{/if}
						<tr>
							<td>{_'delivery_payment'}</td>
							<td class="text-right">
								<span class="j-delivery-payment-price">
									<span style="color:#E9573F">---</span>
								</span>
							</td>
						</tr>
						{if (int) Core::config('vat_payer')}
							<tr>
								<td>{_'total_excl_vat'}</td>
								<td class="text-right">
									<strong class="j-total-exclude-vat" id="subtotal">{!price($total->subtotal)}</strong>
								</td>
							</tr>
						{/if}
						<tr>
							<td class="vertical-middle">
								{_((int) Core::config('vat_payer') ? 'total_incl_vat' : 'total')}
							</td>
							<td class="vertical-middle text-right">
								<strong class="j-total-include-vat big-price">{!price($total->total)}</strong>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-12">
			<a href="{url(PAGE_BASKET)}" class="btn btn-inverse btn-lg pull-left"><i class="fa fa-angle-double-left"></i> Zpět do košíku</a>
			<button type="submit" name="submit_order" class="btn btn-danger pull-right btn-lg">Pokračovat na zadání osobních údajů <i class="fa fa-angle-double-right"></i></button>
		</div>
	</div>

	<input type="hidden" name="dp_price" class="j-dp-price-to-save">
	<input type="hidden" name="total_price" class="j-total-price-to-save">
	<input type="hidden" name="delivery_name" class="j-dp-name-to-save">
</form>

<script>
	var _subtotal_excl_vat = {$total->subtotal};
	var _subtotal = {$total->_total_before_discount};
	
	{if $voucher}
	var _voucher_value = {$voucher['value']};
	{/if}
	
	$(function(){
		{if isset($_SESSION['order']['delivery'])}
			$('#delivery_{$_SESSION['order']['delivery']}').iCheck('check');
		{/if}
		{if isset($_SESSION['order']['payment'])}
			$('#payment_{$_SESSION['order']['payment']}').iCheck('check');
		{/if}
	});
</script>