{var $page_category = ($page[id] != PAGE_INDEX && !in_array($page[id], [34,36,37,99,100,101,102])) ? TRUE : FALSE} {* detail kategorie *}
<div class="vypis clearfix">

	<section class="intro">
		{if $page_category}
			{include '@page_category.latte'}		
		{else}
			{!$page[description_short]}
			{!$page[description].$page_file_content}
		{/if}
	</section>
	<div class="sharelinks">
		{!Core::config('sharelinks')}
	</div>

	<!-- page action top -->
	{!$page_action_top}

	<!-- filter -->
	{!$page_action_top}

	<!-- products -->
	{if count($products) || !empty($_GET['f'])}
		{include '@page/@products.latte', products=>$products, page => $page, producers => $producers, features => $features, colors=>$colors, min_max_prices => $min_max_prices}
	{/if}

	{if $page_category}
		<div class="popis kate">
			{!$page['description']}
		</div>
	{/if}
	
</div><!-- vypis -->

{!$page_action}