{include '@breadcrumb.latte', product => $product}

{var $unitSufix = $product[unit]? " / $product[unit]": ''}

<script>
var _product_discount = {? echo ($product[discount] && ! $product[price_old])? (float)$product[discount]: 0};
var _product_price_before_discount = {? echo (float)$product[pricebeforediscount]};
var _product_price = {? echo (float)$product[price]};
var _product_vat = {? echo (float)$product[vat]};

var _product_price_final = {? echo (float)$product[price]};
</script>

<section>
	<div class="fotky">
		{include '@product/@files_product.latte', product => $product, align => 2, autosize => 'product'}
	</div>
	<div class="info">
		<h1>{($product['name'].' '.$product['nameext'])|trim}</h1>
		{!$product['description_short']}
		{var $availability = getProductAvailability($product)}
		<table>
			<tbody><tr>
				<td>Dostupnost</td>
				<td class="dostupnost">{$availability['name']}</td>
			</tr>
			{*<tr>
				<td>Půvondí cena:</td>
				<td class="pred">17 899,00 Kč</td>
			</tr>
			<tr>
				<td>Ušetříte:</td>
				<td class="usetrite">6 309,00 Kč</td>
			</tr>*}
			<tr>
				<td>Vaše cena:</td>
				<td class="cena">{if (float)$product[units_in_pack]}
							{!price_vat($product[price] / $product[units_in_pack], $product->vat[rate])} {$unitSufix}
						{else}
							{!price_vat(array($product, $product['price']))}
						{/if}</td>
			</tr>
		</tbody></table>
		<form action="{url(PAGE_BASKET)}" method="post">
			<input type="hidden" name="product_id" value="{$product['id']}">
			{*<select>
				<option>Vyberze z 5 variant</option>
			</select>*}
			<div class="pridani_do_kosiku">
				<input type="number" name="qty" value="{*{(float)$product[units_in_pack]}*}1">
				<button type="submit" name="buy">Vložit do košíku</button>
			</div>
		</form>
	</div>
	<div class="triditko detail">
		<a href="?tab=1" n:class="($_GET['tab'] == 1 || !isset($_GET['tab'])) ? active">Popis produktu</a>
		<a href="?tab=2" n:class="$_GET['tab'] == 2 ? active">Komentáře</a>
		<a href="?tab=3" n:class="$_GET['tab'] == 3 ? active">Vlastnosti</a>
		<a href="?tab=4" n:class="$_GET['tab'] == 4 ? active">Soubory</a>
		<a href="#dotaz_na_produkt" class="dotaz inline cboxElement">Dotaz na produkt</a>
	</div>
	<div class="popis">
		{if $_GET['tab'] == 2} {* komentare *}
			<div id='webmex-product_comments'>
				
			</div>
		{elseif $_GET['tab'] == 3} {* vlastnosti *}
			{include '@product/@features.latte', features => $features}
		{elseif $_GET['tab'] == 4} {* soubory *}
			<?php
			$files = Core::$db->product_files()->where('product_id', $product['id'])->order('position ASC');
			?>
			{foreach $files as $file}
				<a href='/{$file['filename']}'>{$file['description']}</a>
			{/foreach}
			{if count($files) == 0}
				<p>Zboží nemá žádné soubory.</p>
			{/if}
		{else}
			{!$product['description']}
		{/if}
	</div>
</section>