{include '@breadcrumb.latte', product => $product}

{var $unitSufix = $product[unit]? " / $product[unit]": ''}

<script>
var _product_discount = {? echo ($product[discount] && ! $product[price_old])? (float)$product[discount]: 0};
var _product_price_before_discount = {? echo (float)$product[pricebeforediscount]};
var _product_price = {? echo (float)$product[price]};
var _product_vat = {? echo (float)$product[vat]};

var _product_price_final = {? echo (float)$product[price]};
</script>



<div class="product_detail clearfix">
	<div class="one-two fotos">
		{include '@product/@files_product.latte', product => $product, align => 2, autosize => 'product'}

		{* <div class="nevite-si-rady">
			<a href="#"><h2>Nevíte si rady s objednávkou? Zeptejte se nás?</h2></a>
		</div> *}
	</div>

	<div class="one-two details">
		<h1>{($product['name'].' '.$product['nameext'])|trim}</h1>
		{!$product['description_short']}

		<table>
			<tr>
				<td>Cena</td>
				<td>
					<strong {if !$product[units_in_pack]}id="product-price"{/}>
						{if (float)$product[units_in_pack]}
							<span n:class="$product[units_in_pack]? unit_price">{!price_vat($product[price] / $product[units_in_pack], $product->vat[rate])}</span> {$unitSufix}
						{else}
							<span>{!price_vat(array($product, $product['price']))}</span>
						{/if}
					</strong>
				</td>

				{if $product[weight]}
					<td>Hmotnost</td>
					<td><strong>{$product[weight]} kg {$unitSufix}</strong></td>
				{else}
					<td></td>
					<td><strong></strong></td>
				{/if}
			</tr>
			<tr>
				<td style="position: relative;">
					{if (float)$product[units_in_pack]}
						Cena 1 balení<br/>
						<small>&nbsp;</small>
						<small style="position: absolute; left: 0px; bottom: 10px; width: 400px;">(1 balení obsahuje {(float)$product[units_in_pack]} {$product[unit]})</small>
					{/if}
				</td>
				<td>
					{if (float)$product[units_in_pack]}
						<strong id="product-price">{!price_vat(array($product, $product['price']))}</strong>
					{/if}
				</td>
				
				{var $availability = getProductAvailability($product)}
				{if ($availability && $availability['name'])}
					<td>Dostupnost</td>
					<td>
						<span class="availability">
							{$availability['name']}
							<!--
							<?php var_dump(iterator_to_array($availability)); ?>
							-->
						</span>
					</td>
				{/if}
			</tr>
		</table>






		{if (int) Core::config('attributes_prices_change') || count($attributes) > 1}
			{if Core::config('attributes_prices_change')}
				{var $attr_total_prices = 0}
			{else}
				{var $attr_total_prices = 1}
			{/if}
		{/if}

		<form action="{url(PAGE_BASKET)}" method="post" class="formular">
			<div n:if="$product[free_sample]" class="vzorek_zdarma">
				<h2>Vzorek ZDARMA</h2>
				<a href="{url(PAGE_BASKET, [free_sample => $product[id]])}" class="btn">Vložit do košíku</a>
			</div>

			{foreach $attributes as $attr_name => $options}
				{var $i = $iterator->counter}

				<div class="vzorek_zdarma">
					<h2>{$attr_name}</h2>
					<select name="attributes[{$i}]">
						{foreach $options as $opt}
							<option 
								{if $opt['default'] && $opt['enable']}selected="selected"{/if}
								{if !$opt['enable']}disabled="disabled"{/if}
								value="{$opt[id]}"
							>
								{$opt[value]}
							</option>
						{/foreach}
					</select>

					{foreach $options as $opt}
						<script>
							attrPrices({$opt[id]}, {$opt[price]});
							{if $opt[file_id]}attrFiles({$opt[id]}, {$opt[file_id]});{/if}
						</script>
					{/foreach}
				</div>
			{/foreach}

			<div class="do_kosiku">
				<input type="hidden" name="product_id" value="{$product['id']}">
				
				<div class="horni_div clearfix" n:if="$product[units_in_pack]">
					<div class="spocitej first">
						<p>Počet {$product[unit]}</p>
						<div class="row">
							<input class="text" name="units" type="text" value="{(float)$product[units_in_pack]}" /> 
							<span style="white-space: nowrap; overflow: visible;">{$product[unit]} =</span>
						</div>
						<p class="package-count">
							Obdržíte <span class="packs">1</span> balení: 
							<span class="units">{(float)$product[units_in_pack]}</span> {$product[unit]}
						</p>
						<p class="total">
							Výsledná cena: 
							<strong class="total-price j-product-price">{!price_vat($product)}</strong>
						</p>
					</div>
					<div class="spocitej">
						<p>Balení</p>
						<div class="row">
							<input class="text" name="packs" type="text" value="1" readonly="readonly"/> <span>ks</span>
						</div>
					</div>
					<div class="tip"><span></span>
						<p>K potřebnému množství materiálu připočítejte 10% na pořezy</p>
					</div>

					<script>
					jQuery(function(){
						var unitsChanged = function(){
							var units = jQuery('input[name=units]').val()
								.replace(',', '.')
								.replace(' ', '')*1;
							var unitsInPack = {(float)$product[units_in_pack]};
							var packs = Math.ceil(units / unitsInPack);

							jQuery('input[name=packs]').val(packs);
							jQuery('input[name=qty]').val(packs);
							jQuery('span.packs').text(packs);
							jQuery('span.units').text( Math.round(packs * unitsInPack * 1000) / 1000 );
							jQuery('.spocitej strong.total-price').text( 
								number_format(packs * _product_price_final, 0, ',', ' ') + ' Kč'
							);
						};
						jQuery('input[name=units]').change(unitsChanged);
						jQuery('input[name=units]').keyup(unitsChanged);
						jQuery('#product-price').change(unitsChanged);
						
						jQuery('#product-price').change(function(){
							var unit_price = _product_price_final / {$product[units_in_pack]};
							jQuery('.unit_price').html( displayPrice(unit_price) );
						});

						var qtyChange = function(){
							var qty = jQuery('input[name=qty]').val();
							var unitsInPack = {(float)$product[units_in_pack]};

							var units = Math.round(qty * unitsInPack * 1000) / 1000;
							jQuery('input[name=units]').val(units);
							jQuery('span.units').text(units);

							jQuery('input[name=units]').change();
						};
						var qtyChangeDelayed = function(){ 
							/**/window.console && console.log('qtyChangeDelayed start');
							setTimeout(qtyChange, 100);
							/**/window.console && console.log('qtyChangeDelayed stop');
						};
						jQuery('input[name=qty]').change(qtyChange);
						jQuery('input[name=qty]').keyup(qtyChange);
						jQuery('input[name=qty]').on('spin', qtyChangeDelayed);
						jQuery('input[name=qty]').on('start', qtyChangeDelayed);
						jQuery('input[name=qty]').on('stop', qtyChangeDelayed);
						jQuery('input[name=qty]').on('spinchange', qtyChange);
					});
					</script>
				</div>

				<div class="spodni_div">
					<span class="pocet">Počet balení:</span><input class="text" name="qty" type="number" value="1"/><span>ks</span>
					<input type="submit" name="buy" value="DO KOŠÍKU" />
				</div>
					
			</div>
		</form>
	</div>

	<div class="detailed tabs" id="tabs">
		<ul class="tabs-list clearfix">
			<li class="active"><a href="#tabs-1">Popis</a></li>
			<li n:if="count($features)"><a href="#tabs-2">Parametry</a></li>
		</ul>
		<section id="tabs-1" class="active">
			<article>
				{!$product['description']}
			</article>
		</section>
		<section n:if="count($features)" id="tabs-2">
			<article>
				<table cellspacing="0" cellpadding="0" width="100%" border="0" style="width: 100%;">
					<tbody>
						<tr n:foreach="$features as $feature">
							<th>{$feature[name]}</th>
							<td>{$feature[value]} {$feature[unit]}</td>
						</tr>
					</tbody>
				</table>
			</article>
		</section>
	</div><!-- tabs -->
</div>



<section n:if="$related_products" class="souvisejici clearfix">
	<h2>Související produkty</h2>

	<div style="text-align: center;">
		<div class="clearfix" style="display: inline-block; margin: auto; text-align: left;">
			<div n:foreach="$related_products as $related" class="item">
				{var $unitSufix = $related[unit]? "/$related[unit]": ''}
				
				<h3><a href="{url($related)}">{trim($related['name'].' '.$related['nameext'])}</a></h3>
				<div n:if="$img = imgsrc($related, 4, 2, $alt)" class="image">
					<a href="{url($related)}"><img alt="{trim($related['name'].' '.$related['nameext'])}" src="{$img}"></a>
					<span n:if="$related['discount']" class="sleva">{$related['discount']}% sleva</span>
				</div>
				<div class="info">
					{var $availability = getProductAvailability($related)}
					{if ($availability && $availability['name'] && $availability['days'] == 0)}
						<p class="skladem">Skladem</p>
					{/if}

					{if (float)$related[weight]}
						<p>Hmotnost {(float)$related[weight]} kg{$unitSufix}</p>
					{else}
						<p></p>
					{/if}
				</div>
				<div class="price">
					{if SHOW_PRICES && $related['price'] !== null}
						{if (float)$related[units_in_pack]}
							<strong>{!price_vat($related[price] / $related[units_in_pack], $related->vat[rate])}{$unitSufix}</strong>
						{else}
							<strong>{!price_vat(array($related, $related['price']))}</strong>
						{/if}
					{/if}
				</div>
			</div>
		</div>
	</div>
</section>


