{* <div class="search-results">
	 <?php echo __('search_term')?>: <strong><?php echo htmlspecialchars($_GET['q']) ?></strong><br />
	 <?php echo __('search_results_found')?>: <strong><?php echo $total_products?></strong>
</div> *}