<!DOCTYPE html>
<html lang="{Core::$language}">
<head>
	<meta charset="UTF-8">
	<title><?php echo vsprintf(Core::config('title'), $meta['title'] ? $meta['title'] : '')?></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" n:if="Core::config('meta_robots')" content="{Core::config('meta_robots')}">
	<meta name="description" content="<?php echo Core::config('description')?>">
	<meta name="keywords" content="<?php echo Core::config('keywords')?>">
	<meta name="generator" content="Webmex <?php echo Core::version?>; (c) 2010-2016 Webmex.cz">

	<link rel="icon" type="image/png" href="{$base}{$tplbase}i/favicon.png" />

	<?php if(Core::config('meta_author')): ?>
		<meta name="author" content="<?php echo Core::config('meta_author')?>">
	<?php endif; ?>

	<link href="{$base}{$tplbase}css/bootstrap.min.css" rel="stylesheet">
	<link href="{$base}{$tplbase}css/bootstrap-slider.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{$base}{$tplbase}css/jquery-ui.css">
	

	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
	<script src="{$base}{$tplbase}js/source.js"></script>
	<script src="{$base}{$tplbase}js/bootstrap-slider.min.js"></script>
    <script src="{$base}{$tplbase}js/jquery-ui.min.js"></script>
	
    <script type="text/javascript">
	    // Change JQueryUI plugin names to fix name collision with Bootstrap.
	    $.widget.bridge('uitooltip', $.ui.tooltip);
	    $.widget.bridge('uibutton', $.ui.button);
    </script>
    
	<script src="{$base}{$tplbase}js/bootstrap.min.js"></script>

    <script src="{$base}script/constants/front"></script>
    <script src="{$base}core/js/util.js"></script>
    <script src="{$base}core/js/front.js"></script>
    <script src="{$base}script/lang/front/cs"></script>
	
	<!-- moduly -->		

	<script src="{$base}etc/modules/webmex_carousel/template/riky.cz/resources/js/jquery.tinycarousel.min.js"></script>
	<link rel="stylesheet" href="{$base}etc/modules/webmex_carousel/template/riky.cz/resources/css/screen.css">

	
	<!-- fancy box -->
	<script src="{$base}{$tplbase}js/jquery.fancybox.pack.js"></script>
	<link href="{$base}{$tplbase}css/fancybox/jquery.fancybox.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{$base}{$tplbase}css/screen.less.css">
	<link rel="stylesheet" type="text/css" href="{$base}{$tplbase}css/responsive.css">
	
	<?php /* echo Core::config('html_header') */ ?>
	<?php include '' . DOCROOT . '/core/template/system/analytics.php'; ?>
</head>

<body>
{var $tploptions = Registry::get('template_options')}

<div class="container">
	<div class="headerTop">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				{!$tploptions[Core::config('template')]['header_1_body']}
			</div>
			<div class="col-sm-6 col-xs-12">
		      	<ul class="list-inline">
					{if Customer::$logged_in}
		 				<li><span aria-hidden="true" class="glyphicon glyphicon-user"></span><?php echo Customer::get('first_name').' '.Customer::get('last_name')?></li>
		 				<li><a href="{url('customer')}" class="customer-link-1">{_'client_center'}</a></li>
		            	<li><a href="{url('customer/logout')}" class="customer-link-2">{_'logout'}</a></li>
		        	{else}
						<li><a href="{url('customer/login')}" class="customer-link-2"><span aria-hidden="true" class="glyphicon glyphicon-user"></span>{_'login'}</a></li>
						<li><a href="{url('customer/register')}" class="customer-link-1"><span aria-hidden="true" class="glyphicon glyphicon-lock"></span>{_'register'}</a></li>
					{/if}
		      	</ul>

		    </div>
		</div>
	</div><!-- headerTop -->
</div><!-- container -->


	
<header class="clearfix" id="top">
	<div class="container">
	<div class="show-xs responsive-btn">
		<button type="button" class="navbar-toggle collapsed btn-resp" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Zobrazit menu</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
      	</button>
      	{*<button class="btn btn-resp collapsed show-xs" data-toggle="collapse" data-target="#search"><span class="glyphicon glyphicon-search"></span></button>
      	<button class="btn btn-resp collapsed show-xs" data-toggle="collapse" data-target="#zobrazcart"><span aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span></button>*}
    </div>
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<h1><a href="/"><?php echo ((! isSet($_options['default']['show_text_logo']) || $_options['default']['show_text_logo']) ? Core::config('store_name') : '')?><span>&nbsp;</span></a></h1>
			</div>
			<div class="col-sm-4 col-xs-12">
				{if isset(Core::$current_page) && !isset(Core::$current_product) && in_array(Core::$current_page[id], [PAGE_BASKET, PAGE_ORDER, PAGE_ORDER2, PAGE_ORDER_FINISH])}{else}
				<form method='GET' action='{url(PAGE_SEARCH)}' id="search">
					<fieldset>
						<div class="input-group">
							<input type="text" name="q" id="search-q" class="form-control" placeholder="Název produktu nebo značky">
							<div class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</div>
						</div>
					</fieldset>
				</form>
				{/if}
			</div>

			{if isset(Core::$current_page) && !isset(Core::$current_product) && in_array(Core::$current_page[id], [PAGE_BASKET, PAGE_ORDER, PAGE_ORDER2, PAGE_ORDER_FINISH])}{else}
				<div class="col-sm-4 col-xs-12">
					<div id="cart" class="cart pull-right">
						<div class="cartContent"> 
							{var $total = Basket::total()}
							{var $price = price($total->total)}
							{var $products = basket::products()}
							<a href="{url(4)}" class="cartimg {if $total}cart-full{else}cart-empty{/if}" title="Nákupní košík">
								<h3>Košík</h3>
								<span class="cartObsah"><span class="value">{count($products)} ks</span> za <span class="value">{!$price}</span></span>
							</a>
                            
						<div class="zobrazcart show-xs"  id="zobrazcart">
									{if $total}
										<table class="table">
											{foreach $products as $product}
												<tr>
												    <td class="image">
													{if isset($product['attribute_file_id'])}
														{var $img = imgsrcvariant($product['attribute_file_id'], $product['product'], 1)}
														{if $img !== null}
															<a href="{imgsrcvariant($product['attribute_file_id'], $product['product'], 9)}">
																<img src="{$img}" alt="{$product['product']['name']}">
															</a>
														{/if}
														{else}
															{var $img = imgsrc($product['product'], 1)}
															{if $img !== null}
																<a href="{imgsrc($product['product'], 9)}" class="fancybox">
																	<img src="{$img}" alt="{$product['product']['name']}">
																</a>
															{/if}
														{/if}
													</td>
														<td><a href="{url($product['product'])}" title="{$product['product']['name']}">{$product['product']['name']}</a></td>
														<td class="ks">{$product['qty']} ks</td>
														<td class='cena'>{!price($product['price'])}</td>
													
												</tr>
											{/foreach}
											<tfoot>								
												<tr> 
													<td colspan="2"><a href="{url(4)}" class='zobrazit_kosik btn btn-green'>Přejít do košíku</a></td>
													<td>Celková&nbsp;cena</td>
													<td class="cena"><strong>{!$price}</strong></td>
												</tr>
											</tfoot>
										</table>
									{else}
										<h3 class="empty">{_'basket_is_empty'}</h3>
									{/if}	
									
								</div>                            
						</div>

					</div>

					<script>
					jQuery('#cart').change(function(e){
						jQuery('#cart').load('/ #cart > .cartContent');
					});
					</script>
				</div>
			{/if}
		</div><!-- row -->
	</div>
</header>

<nav class="navbar navbar-mainnav">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				{include '@menu.latte', type => 1}
			</div>
		</div>
	</div>
</nav>
    
<div class="container containerContent">
<p class="visible-xs">
    <button data-toggle="offcanvas" class="btn btn-green" type="button" style="width:100%;">Zobrazit podkategorie</button>
</p>

<div class="row row-offcanvas row-offcanvas-left">
    <div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas">
        <aside>
            <script>
                $(function() {
                    $('.a-tabs-katvyr').click(function(){
                        if($(this).parent('.menu-holder').find('h2.tabs-katvyr-active').length != 0) {
                            return false;
                        } else {
                            $('h2.tabs-katvyr-active').removeClass('tabs-katvyr-active');
                            $(this).parent('.tabs-katvyr').addClass('tabs-katvyr-active');
                            $('.menu-holder-item:visible').css('display','none');
                            $('#menu-holder-item-' + $(this).attr('data-id') + '').css('display','block');
                            //$('.menu-holder').css('height', (($('#menu-holder-item-' + $(this).attr('data-id') + ' nav ul.navLeft li').length * 40) + 110) + 'px');
                            return false;
                        }
                    });
                            
                    if($('.navLeft li.active').length != 0) {
                        $("a.a-tabs-katvyr[data-id='"+$('.navLeft').find('li.active a').attr('data-panel')+"']").click();
                    }
                });
            </script>
            {var $blocksY = Core::$db->block()->where('`column`', 'left')->where('driver', '0')->where('id IN (30)')->order('position ASC')}
            {foreach $blocksY as $blockY}
                <br>
                {if $blockY['show_title'] == 1}  
                    <h2>{$blockY['title']}</h2>
                {/if}
                {!$blockY['text']}
            {/foreach}
            <div class="menu-holder">
                <h2 class="tabs-katvyr tabs-katvyr-active"><a href="#" class="a-tabs-katvyr" data-id="0">Kategorie</a></h2>
                <h2 class="tabs-katvyr"><a href="#" class="a-tabs-katvyr" data-id="1">Značky</a></h2>
                <div class="clearfix"></div>
                {include '@menu.latte', type => 3}
                {include '@menu.latte', type => 2}
            </div>

            {var $counts = generateHomepageCounts()}
            <ul class="asideBoxVyhody">
                <li class="bhv01"><strong>{$counts['products']} deštníků</strong>držíme v našem skladě</li>
                <li class="bhv02"><strong>{$counts['customers']} zákazníkům</strong> jsme včera udělali radost</li>
                <li class="bhv03"><strong>99% spokojenost</strong>našich zákazníků</li>
            </ul>

             <div class="asideHeureka">
        
                <?php
                    $heureka = simplexml_load_file('http://www.heureka.cz/direct/dotaznik/export-review.php?key=943624bbe60020db9ef75bfa9ec10a81');
                    $sum = 0;
                    $count = 0;
                    $countAll = 0;
                    foreach ($heureka->review as $review) {
                        if (isset($review->total_rating)) {
                            $sum += $review->total_rating;
                            $count++;
                        }
                        $countAll++;
                    }
                    $average = round($sum / $count, 2);

                    $score = Heureka::getScore('kvalitnidestniky-cz');
                    
                    $satisfaction = round(($average / (0.05)));
                ?>
                
                <h2>Ověřeno našimi zákazníky<span>99% spokojenost zákazníků</span></h2>
                
                <?php
                    $i = 0;
                    foreach ($heureka->review as $review):
                        $i++;
                        if ($i > 3) break;
                    ?>
                    
                    <blockquote>
                        <?php if(@$review->summary): ?>
                                <p><?php echo "$review->summary"; ?></p>
                        <?php endif; ?>
                        <?php if(@$review->pros): ?>
                                <p>Výhody: <?php echo "$review->pros"; ?></p>
                        <?php endif; ?>
                        <?php if(@$review->cons): ?>
                                <p>Nevýhody: <?php echo "$review->cons"; ?></p>
                        <?php endif; ?>
                        <div class="cite">
                            <div class="pull-left">
                            {if $review->total_rating >= 0.5} <i class="glyphicon glyphicon-star"></i> {/if} 
                            {if $review->total_rating >= 1.5} <i class="glyphicon glyphicon-star"></i> {/if}
                            {if $review->total_rating >= 2.5} <i class="glyphicon glyphicon-star"></i> {/if}
                            {if $review->total_rating >= 3.5} <i class="glyphicon glyphicon-star"></i> {/if}
                            {if $review->total_rating >= 1.5} <i class="glyphicon glyphicon-star"></i> {/if}
                            </div>
                            <cite class="pull-left">
                                <?php 
                                    $authordate = "";
                                    if(!empty($review->name)) {
                                        $authordate .= '<strong>' . $review->name . '</strong>, ';
                                    } else {
                                        $authordate .= 'Ověřený zákazník';
                                    }
                                    
                                    if(!empty($review->unix_timestamp)) {
                                        $authordate .= ' ' . date('d.m.Y', (float)$review->unix_timestamp);
                                    }
                                    echo $authordate;
                                ?>
                            </cite>
                        </div>

                        
                    </blockquote>
                
                <?php endforeach; ?>
                <p class="text-right"><a href="/recenze-zakazniku-a28">Další hodnocení<span aria-hidden="true" class="glyphicon glyphicon-chevron-right glyphicon-border"></span></a>
            </div>

                {include '@blocks.latte', column => 'left'}
            </aside>
            
        </div>


    <div class="col-lg-9 col-sm-9 page404">
    	<ol class="breadcrumb">
<li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
			<i class="glyphicon glyphicon-chevron-right"></i>
			<i class="glyphicon glyphicon-home"></i>
			<a title="Hlavní stránka" itemprop="url" href="/">
				<span itemprop="title">Hlavní stránka</span>
			</a>
		</li>
		<li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
			<i class="glyphicon glyphicon-chevron-right"></i>
			<i class="glyphicon glyphicon-home"></i>
			<a title="Kontakty" itemprop="url" href="/kontakty-a27">
				<span itemprop="title">Stránka nenalezena</span>
			</a>
		</li>
</ol>
      <h1>Vámi hledanou stránku nelze zobrazit</h1>
      <div class="row">
		<div class="col-md-6 col-xs-12">
			<h2>Opravdu nemůže přijít na to,<br> co jste hledali.</h2>
			<p>Zkuste třeba:</p>
			<ul class="list-unstyled">
     			<li><i class="glyphicon glyphicon-chevron-right"></i> vrátit se na <a href="/">hlavní stránku</a></li>
     			<li><i class="glyphicon glyphicon-chevron-right"></i> podívat se <a href="/jak-vybrat-spravny-destnik-a60">Jak správně vybrat deštník</a></li>
     			<li><i class="glyphicon glyphicon-chevron-right"></i> napsat nám nebo zavolat</li>
			</ul>
		</div>

		<div class="col-md-6 col-md-12 basketRightPanel">	
			{include 'blocks/@basket_contact.latte'}
		</div>

	</div>
    </div>
</div><!-- row -->
</div>
    
<div class="boxNl">
	<div class="container">
		<div class="row">
		</div>
	</div>
</div>

<footer class="clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<h3>{!$tploptions[Core::config('template')]['footer_menu_1_title']}</h3>
				<ul>
					{foreach Core::$db->page()->where('menu', 6)->where('status', 1)->order('position ASC') as $footerPage}
						<li><a href="{url($footerPage)}" title="{$footerPage[name]}">{$footerPage[name]}</a></li>
					{/foreach}
				</ul>
			</div>
			<div class="col-md-3 col-sm-6">
				<h3>{!$tploptions[Core::config('template')]['footer_menu_2_title']}</h3>
				{if $tploptions[Core::config('template')]['footer_menu_2_body'] <> ''}{!$tploptions[Core::config('template')]['footer_menu_2_body']}{/if}
				{if Customer::$logged_in}
					<ul>
						<li><a href="{url('customer')}" title="Klientské centrum">Klientské centrum</a></li>
						<li><a href="{url('customer/logout')}" title="Odhlásit se">Odhlásit se</a></li>
					</ul>
				{/if}
				<ul>
					{foreach Core::$db->page()->where('menu', 7)->where('status', 1)->order('position ASC') as $footerPage}
						<li><a href="{url($footerPage)}" title="{$footerPage[name]}">{$footerPage[name]}</a></li>
					{/foreach}
				</ul>
			</div>
			<div class="col-md-3 col-sm-6">
				<h3>{!$tploptions[Core::config('template')]['footer_menu_3_title']}</h3>

				{if $tploptions[Core::config('template')]['footer_menu_3_body'] <> ''}{!$tploptions[Core::config('template')]['footer_menu_3_body']}{/if}
				<ul>
					{foreach Core::$db->page()->where('menu', 8)->where('status', 1)->order('position ASC') as $footerPage}
							<li><a href="{url($footerPage)}" title="{$footerPage[name]}">{$footerPage[name]}</a></li>
					{/foreach}
				</ul>
			</div>
			<div class="col-md-3 col-sm-6">
				<h3>{!$tploptions[Core::config('template')]['footer_menu_4_title']}</h3>
				{!$tploptions[Core::config('template')]['footer_menu_4_body']}
				
			</div>
		</div>
	</div>
</footer>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<img class="platbaImg" src="{$base}{$tplbase}i/images/platba_paticka.png" alt="Způsob platby">
		</div>
		<div class="col-sm-8 col-xs-12">
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.5&appId=278046765557421";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-page" data-href="https://www.facebook.com/kvalitnidestniky.cz/" data-width="500" data-height="160" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/kvalitnidestniky.cz/"><a href="https://www.facebook.com/kvalitnidestniky.cz/">Kvalitní Deštníky</a></blockquote></div></div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<img class="dopravaImg" src="{$base}{$tplbase}i/images/vydejni_mista.png" alt="Více než 400 odběrných míst v České republice a na Slovensku.">
		</div>

		<div class="footerBottom clearfix">
			<div class="col-sm-6 col-xs-12">
				{!$tploptions[Core::config('template')]['footer_logos_body']}
			</div>
			<div class="col-sm-6 col-xs-12">
				Pohání <a href="http://www.webmex.cz">Webmex</a>
			</div>
		</div>
	</div><!-- footer -->
</div><!-- conteiner -->



</body>
</html>