<?php
$pages = Core::$active_pages;
if (!in_array(PAGE_INDEX, $pages)) {
	$pages[] = PAGE_INDEX;
}
$pages = array_reverse($pages);
?>

<ol n:if="count($pages) > 1" class="breadcrumb">
	
	{foreach $pages as $pageId}
		<li n:if="$page = Core::$db->page[$pageId]" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<i class="glyphicon glyphicon-chevron-right"></i>
			<i class="glyphicon glyphicon-home"></i>
			<a href="{url($page)}" itemprop="url" title="{$page[name]}">
				<span itemprop="title">{$page[name]}</span>
			</a>
		</li>
	{/foreach}
	<li n:if="$product"><i class="glyphicon glyphicon-chevron-right"></i>{$product[name]}</li>
</ol>