<?php
$pages = Core::$db->page()->where('menu', $type)->where('status', 1)->order('position ASC');
?>

{if $type == 1}  {* Hlavní navigace *}

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
	<li n:foreach="$pages as $page"><a href="{url($page)}" title="{$page[name]}" >{$page[name]}</a></li>
	{if Customer::$logged_in}
		<li class="show-xs"><span aria-hidden="true" class="glyphicon glyphicon-user"></span><?php echo Customer::get('first_name').' '.Customer::get('last_name')?></li>
		<li class="show-xs"><a href="{url('customer')}" class="customer-link-1">{_'client_center'}</a></li>
    	<li class="show-xs"><a href="{url('customer/logout')}" class="customer-link-2">{_'logout'}</a></li>
	{else}
		<li class="show-xs"><a href="{url('customer/login')}" class="customer-link-2"><span aria-hidden="true" class="glyphicon glyphicon-user"></span>{_'login'}</a></li>
		<li class="show-xs"><a href="{url('customer/register')}" class="customer-link-1"><span aria-hidden="true" class="glyphicon glyphicon-lock"></span>{_'register'}</a></li>
	{/if}
  </ul>
</div>




{elseif $type == 2}  {* Kategorie *}
	{** @see blocks/pages.latte *}
    {var $breadcrumbIds = loadBreadcrumbIds(Core::$current_page[id])}
    
	<nav>
        <ul class="navLeft">
            <li n:foreach="$pages as $page" n:class="(Core::$current_page && in_array($page[id], $breadcrumbIds))? active">                
                <a href="{url($page)}" title="{$page[name]}" data-panel="0">{$page[name]}</a>
                {if (Core::$current_page && in_array($page[id], $breadcrumbIds))}
                	{var $subpages = Core::$db->page()->where('parent_page', $page['id'])->where('status', 1)->order('position ASC')}
	                <ul>
		                <li n:foreach="$subpages as $subpage" n:class="(Core::$current_page && in_array($subpage[id], $breadcrumbIds))? active">
		                    <a href="{!url($subpage)}" title="{$subpage[name]}" data-panel="0">{$subpage[name]}</a>
                            
                            {if (Core::$current_page && in_array($subpage[id], $breadcrumbIds))}
                            {var $subpages2 = Core::$db->page()->where('parent_page', $subpage['id'])->where('status', 1)->order('position ASC')}
                                <ul>
                                    <li n:foreach="$subpages2 as $subpage2" n:class="(Core::$current_page && in_array($subpage2[id], $breadcrumbIds))? active">
                                        <a href="{!url($subpage2)}" title="{$subpage2[name]}" data-panel="0">{$subpage2[name]}</a>
                                    </li>
                                </ul>
                            {/if}
		                </li>
		            </ul>
                {/if}
            </li>
        </ul>
	</nav>    

{elseif $type == 3}  {* Výrobci *}
        
	

{elseif $type == 4}  {* Sekundární navigace *}
	<ul class="menu-4">
		{var $i = 1}
		<li n:foreach="$pages as $page" class="menu-item-{$i}">
			<a href="{url($page)}">{$page[name]}</a>
			{?$i++}
		</li>
	</ul>



{elseif $type == 5}  {* Skryté stránky *}
	{* render nothing *}



{elseif $type == 6}  {* 1. menu v patičce *}
	<div n:foreach="$pages as $page" class="nav-item">
		<a href="{url($page)}" title="{$page['seo_title'] ?: $page[name]}">{$page[name]}</a>
	</div>



{elseif $type == 7}  {* 2. menu v patičce *}
	<div n:foreach="$pages as $page" class="nav-item">
		<a href="{url($page)}" title="{$page['seo_title'] ?: $page[name]}">{$page[name]}</a>
	</div>



{elseif $type == 8}  {* 3. menu v patičce *}
	<div n:foreach="$pages as $page" class="nav-item">
		<a href="{url($page)}" title="{$page['seo_title'] ?: $page[name]}">{$page[name]}</a>
	</div>



{elseif $type == 9}  {* 4. menu v patičce *}
	<div n:foreach="$pages as $page" class="nav-item">
		<a href="{url($page)}" title="{$page['seo_title'] ?: $page[name]}">{$page[name]}</a>
	</div>
{/if}