<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */
?>

{var $limit = $limit?: pgLimit()}
{var $params = $_GET}
{var $page = Core::$controller->pagination_page}
{var $totalPages = ceil($count / $limit)}
{var $class = $class?: ''}
<div class="productsPagination clearfix">
	




<ul n:if="$totalPages > 0" class="pagination pull-left">
	<li><a href="#top">Nahoru <span class="glyphicon glyphicon-chevron-up"></span></a></li>
</ul>

<ul n:if="$totalPages > 1" class="pagination {$class} pull-right">
	
	<li n:if="$page != 1"><a href="{url(true, array_merge($params, array('page' => $page - 1)))}"><span class="glyphicon glyphicon-chevron-left"></span> Předchozí</a></li>
		{for $i = 1; $i <= $totalPages; $i ++}
			{if abs($i - $page) > 3 && $i != $totalPages && $i != 1}
				{if $i == 2}
					<li><span>…</span></li>
				{/if}
				{if $i == $totalPages - 1}
					<li><span>…</span></li>
				{/if}
				{?continue;}
			{/if}
			
			{if $page == $i}
				<li class="active"><a href="{url(true, array_merge($params, array('page' => $i)))}">{$i}</a></li>
			{else}
				<li>
					<a href="{url(true, array_merge($params, array('page' => $i)))}">{$i}</a>
				</li>
			{/if}
		{/for}

		<li n:if="$page != $totalPages"><a href="{url(true, array_merge($params, array('page' => $page + 1)))}">Další  <span class="glyphicon glyphicon-chevron-right"></span></a></li>
	</ul>
</div>