

<?php 
	$subcategories = Core::$db->page()
		->where('parent_page = ? AND status = 1', $page['id'])
		->order('position ASC');
?>
<ul class="listSubpages">
	{foreach $subcategories as $subcategory}
        {var $products = Core::$db->product_pages()->where('page_id',$subcategory[id])}
		<li><h3><a href="{url($subcategory)}" class="title" title="{$subcategory[name]}">{$subcategory[name]}</a></h3></li>
	{/foreach}
</ul>
