{if ($basket_products === null || !count($basket_products))}
    <div class="basket">
	<div class="row">
	    <div class="col-md-7 col-xs-12">
		<h1 class="bg-primary">Jejda, košík je prázdný!<br> Nechcete do něj tedy něco přidat?</h1>
	    </div>

	    <div class="col-md-5 col-md-12 basketRightPanel">	
		{include 'blocks/@basket_contact.latte'}
	    </div>

	</div>
    </div>
{else}

    <script src='{$base}{$tplbase}js/basket.js'></script>

    <div class="basket basketTable">
	{include 'blocks/@basket_pagination.latte'} 

	<form action="{url(PAGE_BASKET)}" method="post">	
	    {if isSet($basket_error)}
		<div class="alert alert-danger">
		    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		    <p>{$basket_error}</p>
		</div>
	    {/if}


	    <table class="table">
		<thead>
		    <tr>
			<th colspan="2">{_'product'}</th>	
                        <th>{_'availability'}</th>
			<th>Cena kus bez DPH</th>
			<th>{_'quantity'}</th>
			<th>Cena celkem bez DPH</th>
			<th>Cena celkem s DPH</th>
			<th></th>
		    </tr>
		</thead>
		<tbody>
		    {foreach $basket_products as $product}
			{var $availability = getProductAvailability($product[product])}
			<tr data-productid="{$product['id']}">
			    <td class="img">
				{if isset($product['attribute_file_id'])}
				    {var $img = imgsrcvariant($product['attribute_file_id'], $product['product'], 2)}
				    {if $img !== null}
					<a href="{imgsrcvariant($product['attribute_file_id'], $product['product'], 8)}" class="fancybox">
					    <img src="{$img}" alt="{$product['product']['name']}" width="60">
					</a>
				    {else}
					&nbsp;
				    {/if}
				{else}
				    {var $img = imgsrc($product['product'], 2)}
				    {if $img !== null}
					<a href="{imgsrc($product['product'], 8)}" class="fancybox">
					    <img src="{$img}" alt="{$product['product']['name']}" width="60">
					</a>
				    {else}
					&nbsp;
				    {/if}
				{/if}
			    </td>
			    <td class="name">
				<a href="{url($product['product'])}">{$product['product']['name'].' '.$product['product']['nameext']}</a>

				{if $product['attributes']}
				    <br>{$product['attributes']}
				{/if}
			    </td>

                            <td class="availability">
                                {*var_dump($availability)*}
                                <span class="dostupnost" {if $availability[hex_color]}style="color: #{$availability[hex_color]};"{/if}>
                                    {$availability['name']}
                                </span>
                            </td>

			    <td class="price" data-price="{$product['price']}" data-price_excld_vat="{fprice(price_unvat(array($product['product'], $product['price']))->price)}">
                                {!price_unvat(array($product['product'], $product['price']))}
			    </td>

			    <td class="quantity">
				<div class="boxKosikQty">
				    <input type="text" min="0" name="qty[{$product['id']}]" class="ajax-qty form-control" value="{$product['qty']}" size="2">
				    <div class='plus_minus'>
					<a href='#' class='qty_plus'><div><span>+</span></div></a>
					<a href='#' class='qty_minus'><div><span>-</span></div></a>
				    </div>
				</div>
			    </td>

			    <td class="price total">
				<span class="visible-xs-block">Cena celkem:</span> 
                                {!price_unvat(array($product['product'], (sprintf('%.2f', $product['price']) * $product['qty'])))}
			    </td>

			    <td class="price total">
				{var $vat = sprintf('%.2f', $product['price'])*0.21}
				{!price((sprintf('%.2f', $product['price'])+$vat) * $product['qty'], $order['currency'])}
                                
			    </td>

			    <td class="actions">
				<a href="{url(true, array('delete' => $product['id']))}"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>
			    </td>
			</tr>
		    {/foreach}
		</tbody>
	    </table>

	    {if $basket_products !== null && count($basket_products)}
		{var $total = Basket::total()}



		<div class="basketCenaCelkem">
		    <div class="row">
			<div class="col-sm-4 col-xs-12">
			    <div class="basketVoucher">
				<h4>Kód slevového kupónu</h4>
				{if !Basket::voucher()}
				    <fieldset>
					<div class="input-group">
					    <input type="text" name="voucher" class="form-control" />
					    <div class="input-group-btn">
						<button class="btn btn-default" type="submit" name="use_voucher">
						    <span class="glyphicon glyphicon-chevron-right"></span>
						</button>
					    </div>

					</div>
				    </fieldset>
				{/if}
			    </div>
			</div>
			<div class="col-sm-4 col-xs-12 freeShipping">

			</div>
			<div class="col-sm-4 col-xs-12 text-right">
			    <div class="basketCenaCelkemDph">

				{if Basket::voucher() > 0}
				    {var $voucher = Core::$db->voucher[Basket::voucher()]}
				    <div class="basketCenaCelkemBezDph voucherInfo">
					<a href="{url(PAGE_BASKET)}?removevoucher=1" title="Odstranit slevový kupón"><span class="glyphicon glyphicon-remove text-danger"></span>&nbsp;</a><span>Sleva:</span>
					<strong>{!price($total->discount)}</strong>
				    </div>
				{/if}


				<div class="basketCenaCelkemBezDph">
				    <span>Celková cena bez DPH:</span>
				    <strong>{!price($total->subtotal)}</strong>
				</div>
				<div class="basketCenaCelkemBezDph">
				    <span>DPH:</span>
				    <strong>{number_format($total->vat, 2, ',', ' ')} Kč</strong>
				</div>
				{var $rounded = number_format($total->rounded, 2, ',', ' ')}
				<div class="basketCenaCelkemBezDph">
				    <span>Zaokrouhleno</span>
				    <strong>{if $total->rounded > 0}+{$rounded}{else}{$rounded}{/if} Kč</strong>
				</div>
				<span>Celková cena s DPH:</span><strong class="total">{!price($total->total)}</strong>
			    </div>
			</div>
		    </div>
		</div>


		<div class="basketTlacitka">
		    <button class="button update" name="update_qty" type="submit" style="display: none;">Přepočítat</button>
		    <button type="submit" name="checkout" class="pull-right btn btn-green btn-lg">Objednat <span aria-hidden="true" class="glyphicon glyphicon-arrow-right"></span></button>
		    <a href="/" class="btn btn-default pull-right"><span class="glyphicon glyphicon-chevron-left"></span>vrátit se zpět do obchodu</a>
		</div>
	    {/if}
	</form>
    </div><! -- basket -->
{/if}