{*!breadcrumb()*}

{if $is_logout}
	<div class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		Odhlášení proběhlo úspěšně.
	</div>
{/if}

<h1><?php echo __('customer_login')?></h1>
<div class="row">
	<div class="col-md-7">
		<form action="<?php echo url(true)?>" method="post">
			<div class="j-login-form">

				<div class="panel panel-default">
					<div class="panel-heading">
						Přihlášení přes email
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label class="control-label" for="customer_email"><?php echo __('email')?></label>
							<div class="controls">
								<input type="text" name="customer_email" id="customer_email" value="" class="form-control">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" for="customer_password"><?php echo __('password')?></label>
							<div class="controls">
								<input type="password" name="customer_password" id="customer_password" value="" class="form-control">
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-md-12">
							<a href="#" class="j-lost-password btn btn-default pull-left"><i class="fa fa-refresh"></i> <?php echo __('lost_password')?></a>
							<button type="submit" name="login" class="btn btn-primary btn-lg pull-right"><?php echo __('login_btn')?> <i class="fa fa-angle-double-right"></i></button>
						</div>
					</div>
				</div>

				<hr>

				{*<div class="panel panel-default">
					<div class="panel-heading">
						Přihlášení přes Facebook
					</div>
					<div class="panel-body">
						<div class="fb-login-button" data-max-rows="1" size="xlarge" perms="email" onlogin="Facebook_login()" data-show-faces="false"></div>
					</div>
				</div>*}
			</div>

			<div class="j-lost-password-form" style="display:none">
				<div class="panel panel-default">
					<div class="panel-heading">
						{_'lost_password_title'}
					</div>
					<div class="panel-body">
						<p><i><small>{_'lost_password_help'}</small></i></p>
						<div class="form-group">
							<label class="control-label" for="customer_email_reset"><?php echo __('email')?></label>
							<input type="text" name="customer_email_reset" id="customer_email_reset" value="" class="form-control">
						</div>

					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<a href="#" class="btn btn-primary pull-left j-login-back"><i class="fa fa-angle-double-left"></i> Zpět na přihlášení</a>
						<button type="submit" name="reset_password" class="btn btn-danger pull-right"><i class="fa fa-refresh"></i> {_'reset_password'}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-5">
		{if isset($_GET['error']) && $_GET['error'] == "webuser_exists"}
			<div class="alert alert-danger">
				Litujeme, ale registrace pod tímto účtem není možná. Používáte email, pod kterým byla již v minulosti provedena registrace. Přihlašte se prosím pomocí emailové adresy.
			</div>
		{/if}
		
		{if isset($customer_login_error)}
			<div class="alert alert-danger">
				{$customer_login_error}
			</div>
		{/if}
		
		{if isset($customer_login_msg)}
			<div class="alert alert-success">
				{$customer_login_msg}
			</div>
		{/if}
		
		{if isset($_SESSION['customer_confirm'])}
			<div class="alert alert-danger">
				{_'customer_confirmation_required'}
			</div>
			<?php unset($_SESSION['customer_confirm'])?>
		{/if}

		<div class="alert alert-warning">
			<h4>Jak se můžu přihlásit?</h4>
			<p>Pokud již máte vytvořený zákaznický účet, použijte přihlašovací formulář vlevo.</p>
			{*
			<p>Pokud máte účet na Facebooku, můžete se přihlásit pomocí modrého tlačítka "<strong>Přihlásit se</strong>"</p>
			<hr>
			<p><i>I při registraci přes Facebook Vám automaticky vytvoříme uživatelský účet s emailem a heslem. Budete tak moci využívate obě dvě varianty přihlašování. Registrační údaje Vám zašleme na email, který máte uveden na Facebooku.</i></p>
			*}
		</div>
	</div>
</div>