{*!breadcrumb()*}

<h1>{_'my_orders'}</h1>

{foreach $orders as $order}
	{first}
		<div class="panel panel-default">
		<table class="table table-striped">
		<thead>
			<tr class="gray-bg">
				<th>{_'number'}</th>
				<th>{_'received'}</th>
				{* <th>{_'recipient'}</th> *}
				<th>{_'price'}</th>
				<th>{_'status'}</th>
				<th>{_'track_num'}</th>
				<th>{_'invoice'}</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		</tbody>
	{/first}

	{if $order['delivery_id']}
		{var $delivery_driver = 'Delivery_'.ucfirst($order->delivery['driver'])}
	{/if}

	{var $delivery = null}
	{if $order['track_num'] && isSet($delivery_driver) && class_exists($delivery_driver)}
		{var $delivery = new $delivery_driver($order)}
	{/if}

	<tr>
		<td>
			<a href="{url('customer/order/'.$order['id'])}">{$order['id']}</a>
		</td>
		<td>
			{fdate($order['received'])}
		</td>
		{* <td>
			{($order['ship_street'] ? $order['ship_first_name'].' '.$order['ship_last_name'] : $order['first_name'].' '.$order['last_name'])}
		</td> *}
		<td>
		    {dump $order}
			{!price($order['total_incl_vat']+(round($order['delivery_payment']+$order['delivery_payment']*0.21)), $order['currency'])}
		</td>
		<td>
			{_('status_'.Core::$def['order_status'][$order['status']])}
		</td>
		<td>
			{if $order['track_num'] && $delivery}
				<a href="{$delivery->getTrackLink($order['track_num'])}" target="_blank">{_'track_package'}</a>
			{else}
				<small>{_'not_available'}</small>
			{/if}
		</td>
		<td>
			{if $invoice = Core::$db->invoice()->where('order_id', $order['id'])->fetch()}
				<a href="{url('customer/invoice/'.$invoice['id'])}">{_'download'}</a>
			{else}
				<small>{_'not_available_invoice'}</small>
			{/if}
		</td>
		<td>
			<a href="{url('default/rebuy/'.$order['id'])}" class="btn btn-primary btn-xs" title="Zopakovat objednavku">
				<i class="fa fa-repeat"></i> Zopakovat
			</a>
			<a href="{url('customer/order/'.$order['id'])}" class="btn btn-primary btn-xs">
				<i class="fa fa-search"></i> {_'detail'} 
			</a>
		</td>
	</tr>

	{last}</tbody></table></div>{/last}
{/foreach}

{*!pagination($total_count, null, $limit)*}