<?php defined('WEBMEX') or die('No direct access.');

/**
 * Webmex - http://www.webmex.cz.
 */
?>
<p class="visible-xs">
    <button data-toggle="offcanvas" class="btn btn-green" type="button" style="width:100%;">Zobrazit podkategorie</button>
</p>

<div class="row row-offcanvas row-offcanvas-left">
    <div id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas">
        <aside>
            
            {var $blocksY = Core::$db->block()->where('`column`', 'left')->where('driver', '0')->where('id IN (30)')->order('position ASC')}
            {foreach $blocksY as $blockY}
                <br>
                {if $blockY['show_title'] == 1}  
                    <h2>{$blockY['title']}</h2>
                {/if}
                {!$blockY['text']}
            {/foreach}
            <div class="menu-holder">

                {include '@menu.latte', type => 3}
                {include '@menu.latte', type => 2}
            </div>

            {var $counts = generateHomepageCounts()}
            {*<ul class="asideBoxVyhody">
                <li class="bhv01"><strong>{$counts['products']} deštníků</strong>držíme v našem skladě</li>
                <li class="bhv02"><strong>{$counts['customers']} zákazníkům</strong> jsme včera udělali radost</li>
                <li class="bhv03"><strong>99% spokojenost</strong>našich zákazníků</li>
            </ul>*}

             {*<div class="asideHeureka">
        
                <?php
                    $heureka = simplexml_load_file('http://www.heureka.cz/direct/dotaznik/export-review.php?key=943624bbe60020db9ef75bfa9ec10a81');
                    $sum = 0;
                    $count = 0;
                    $countAll = 0;
                    foreach ($heureka->review as $review) {
                        if (isset($review->total_rating)) {
                            $sum += $review->total_rating;
                            $count++;
                        }
                        $countAll++;
                    }
                    $average = round($sum / $count, 2);

                    $score = Heureka::getScore('kvalitnidestniky-cz');
                    
                    $satisfaction = round(($average / (0.05)));
                ?>
                
                <h2>Ověřeno našimi zákazníky<span>99% spokojenost zákazníků</span></h2>
                
                <?php
                    $i = 0;
                    foreach ($heureka->review as $review):
                        $i++;
                        if ($i > 3) break;
                    ?>
                    
                    <blockquote>
                        <?php if(@$review->summary): ?>
                                <p><?php echo "$review->summary"; ?></p>
                        <?php endif; ?>
                        <?php if(@$review->pros): ?>
                                <p>Výhody: <?php echo "$review->pros"; ?></p>
                        <?php endif; ?>
                        <?php if(@$review->cons): ?>
                                <p>Nevýhody: <?php echo "$review->cons"; ?></p>
                        <?php endif; ?>
                        <div class="cite">
                            <div class="pull-left">
                            {if $review->total_rating >= 0.5} <i class="glyphicon glyphicon-star"></i> {/if} 
                            {if $review->total_rating >= 1.5} <i class="glyphicon glyphicon-star"></i> {/if}
                            {if $review->total_rating >= 2.5} <i class="glyphicon glyphicon-star"></i> {/if}
                            {if $review->total_rating >= 3.5} <i class="glyphicon glyphicon-star"></i> {/if}
                            {if $review->total_rating >= 1.5} <i class="glyphicon glyphicon-star"></i> {/if}
                            </div>
                            <cite class="pull-left">
                                <?php 
                                    $authordate = "";
                                    if(!empty($review->name)) {
                                        $authordate .= '<strong>' . $review->name . '</strong>, ';
                                    } else {
                                        $authordate .= 'Ověřený zákazník';
                                    }
                                    
                                    if(!empty($review->unix_timestamp)) {
                                        $authordate .= ' ' . date('d.m.Y', (float)$review->unix_timestamp);
                                    }
                                    echo $authordate;
                                ?>
                            </cite>
                        </div>

                        
                    </blockquote>
                
                <?php endforeach; ?>
                <p class="text-right"><a href="/recenze-zakazniku-a28">Další hodnocení<span aria-hidden="true" class="glyphicon glyphicon-chevron-right glyphicon-border"></span></a>
            </div>*}

                {include '@blocks.latte', column => 'left'}
            </aside>
            
        </div>


    <div class="col-lg-9 col-sm-9">
       {!$content}
    </div>
</div><!-- row -->