<!DOCTYPE html>
<html lang="{Core::$language}">
<head>
	<meta charset="UTF-8">
	<title><?php echo vsprintf(Core::config('title'), $meta['title'] ? $meta['title'] : '')?></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" n:if="Core::config('meta_robots')" content="{Core::config('meta_robots')}">
	<meta name="description" content="<?php echo Core::config('description')?>">
	<meta name="keywords" content="<?php echo Core::config('keywords')?>">
	<meta name="generator" content="Webmex <?php echo Core::version?>; (c) 2010-2016 Webmex.cz">

	<?php if(Core::config('meta_author')): ?>
		<meta name="author" content="<?php echo Core::config('meta_author')?>">
	<?php endif; ?>

	<link href="{$base}{$tplbase}css/bootstrap.min.css" rel="stylesheet">
	<link href="{$base}{$tplbase}css/bootstrap-slider.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{$base}{$tplbase}css/jquery-ui.css">
	

	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
	<script src="{$base}{$tplbase}js/source.js"></script>
	<script src="{$base}{$tplbase}js/bootstrap-slider.min.js"></script>
    <script src="{$base}{$tplbase}js/jquery-ui.min.js"></script>
    <script src="{$base}{$tplbase}js/jquery.ui.touch-punch.min.js"></script>
	
    <script type="text/javascript">
    // Change JQueryUI plugin names to fix name collision with Bootstrap.
    $.widget.bridge('uitooltip', $.ui.tooltip);
    $.widget.bridge('uibutton', $.ui.button);
    </script>
    
	<script src="{$base}{$tplbase}js/bootstrap.min.js"></script>

    <script src="{$base}script/constants/front"></script>
    <script src="{$base}core/js/util.js"></script>
    <script src="{$base}core/js/front.js"></script>
    <script src="{$base}script/lang/front/cs"></script>
	
	<!-- moduly -->		

	<script src="{$base}etc/modules/webmex_carousel/template/fortel.cz/resources/js/jquery.tinycarousel.min.js"></script>
	<link rel="stylesheet" href="{$base}etc/modules/webmex_carousel/template/fortel.cz/resources/css/screen.css">

	
	<!-- fancy box -->
	<script src="{$base}{$tplbase}js/jquery.fancybox.pack.js"></script>
	<link href="{$base}{$tplbase}css/fancybox/jquery.fancybox.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{$base}{$tplbase}css/screen.less.css">
	<link rel="stylesheet" type="text/css" href="{$base}{$tplbase}css/responsive.css">

	<script>
		$(document).ready(function() {              
			$(".fancybox").fancybox();
			$("#cart").parent('div').hover(function(){
				$(".zobrazcart").fadeIn(0);
			}, function(){
				$(".zobrazcart").fadeOut(0);
			});
		});
	</script>	    
    
	<?php echo Core::config('html_header') ?>
	<?php include '' . DOCROOT . '/core/template/system/analytics.php'; ?>
    


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="{$base}{$tplbase}js/jquery.placeholder.min.js"></script>
    <![endif]-->
</head>

<body>
{var $tploptions = Registry::get('template_options')}

<div class="container">
	<div class="headerTop">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				{!$tploptions[Core::config('template')]['header_1_body']}
			</div>
			<div class="col-sm-6 col-xs-12">
		      	<ul class="list-inline">
					{if Customer::$logged_in}
		 				<li><span aria-hidden="true" class="glyphicon glyphicon-user"></span><?php echo Customer::get('first_name').' '.Customer::get('last_name')?></li>
		 				<li><a href="{url('customer')}" class="customer-link-1">{_'client_center'}</a></li>
		            	<li><a href="{url('customer/logout')}" class="customer-link-2">{_'logout'}</a></li>
		        	{else}
						<li><a href="{url('customer/login')}" class="customer-link-2"><span aria-hidden="true" class="glyphicon glyphicon-user"></span>{_'login'}</a></li>
						<li><a href="{url('customer/register')}" class="customer-link-1"><span aria-hidden="true" class="glyphicon glyphicon-lock"></span>{_'register'}</a></li>
					{/if}
		      	</ul>

		    </div>
		</div>
	</div><!-- headerTop -->
</div><!-- container -->

	
<header class="clearfix" id="top">
	<div class="container">
	<div class="show-xs responsive-btn">
		<button type="button" class="navbar-toggle collapsed btn-resp" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Zobrazit menu</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
      	</button>
      	{*<button class="btn btn-resp collapsed show-xs" data-toggle="collapse" data-target="#search"><span class="glyphicon glyphicon-search"></span></button>
      	<button class="btn btn-resp collapsed show-xs" data-toggle="collapse" data-target="#zobrazcart"><span aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span></button>*}
    </div>
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<h1><a href="/"><?php echo ((! isSet($_options['default']['show_text_logo']) || $_options['default']['show_text_logo']) ? Core::config('store_name') : '')?><span>&nbsp;</span></a></h1>
			</div>
			<div class="col-sm-4 col-xs-12">
				{if isset(Core::$current_page) && !isset(Core::$current_product) && in_array(Core::$current_page[id], [PAGE_BASKET, PAGE_ORDER, PAGE_ORDER2, PAGE_ORDER_FINISH])}{else}
				<form method='GET' action='{url(PAGE_SEARCH)}' id="search">
					<fieldset>
						<div class="input-group">
							<input type="text" name="q" id="search-q" class="form-control" placeholder="Název produktu nebo značky">
							<div class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</div>
						</div>
					</fieldset>
				</form>
				{/if}
			</div>

			{if isset(Core::$current_page) && !isset(Core::$current_product) && in_array(Core::$current_page[id], [PAGE_BASKET, PAGE_ORDER, PAGE_ORDER2, PAGE_ORDER_FINISH])}{else}
				<div class="col-sm-4 col-xs-12">
					<div id="cart" class="cart pull-right">
						<div class="cartContent"> 
							{var $total = Basket::total()}
							{var $price = price($total->total)}
							{var $products = basket::products()}
							<a href="{url(2)}" class="cartimg {if $total}cart-full{else}cart-empty{/if}" title="Nákupní košík">
								<h3>Košík</h3>
								<span class="cartObsah"><span class="value">{count($products)} ks</span> za <span class="value">{!$price}</span></span>
							</a>
                            
						<div class="zobrazcart show-xs"  id="zobrazcart">
									{if $total}
										<table class="table">
											{foreach $products as $product}
												<tr>
												    <td class="image">
													{if isset($product['attribute_file_id'])}
														{var $img = imgsrcvariant($product['attribute_file_id'], $product['product'], 2)}
														{if $img !== null}
															<a href="{imgsrcvariant($product['attribute_file_id'], $product['product'], 8)}">
																<img src="{$img}" alt="{$product['product']['name']}">
															</a>
														{/if}
														{else}
															{var $img = imgsrc($product['product'], 2)}
															{if $img !== null}
																<a href="{imgsrc($product['product'], 8)}" class="fancybox">
																	<img src="{$img}" alt="{$product['product']['name']}">
																</a>
															{/if}
														{/if}
													</td>
														<td><a href="{url($product['product'])}" title="{$product['product']['name']}">{$product['product']['name']}</a></td>
														<td class="ks">{$product['qty']} ks</td>
														<td class='cena'>{!price($product['price'])}</td>
													
												</tr>
											{/foreach}
											<tfoot>								
												<tr> 
													<td colspan="2"><a href="{url(2)}" class='zobrazit_kosik btn btn-green'>Přejít do košíku</a></td>
													<td>Celková&nbsp;cena</td>
													<td class="cena"><strong>{!$price}</strong></td>
												</tr>
											</tfoot>
										</table>
									{else}
										<h3 class="empty">{_'basket_is_empty'}</h3>
									{/if}	
									
								</div>                            
						</div>

					</div>

					<script>
					jQuery('#cart').change(function(e){
						jQuery('#cart').load('/ #cart > .cartContent');
					});
					</script>
				</div>
			{/if}
		</div><!-- row -->
	</div>
</header>


	
{if isset(Core::$current_page) && !isset(Core::$current_product) && in_array(Core::$current_page[id], [PAGE_BASKET, PAGE_ORDER, PAGE_ORDER2, PAGE_ORDER_FINISH])}{else}
	<nav class="navbar navbar-mainnav">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					{include '@menu.latte', type => 1}
				</div>
			</div>
		</div>
	</nav>
{/if}

<div class="container containerContent">
	{!$content}	
</div><!-- conteiner -->

{*if Core::$current_page[id] <> PAGE_INDEX}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<ul class="boxVyhody">
				<li><img src="{$base}{$tplbase}i/ico_benefit-01.png" alt="Doprava zdarma"><span><strong>Doprava zdarma</strong>Při objednávce nad XX&nbsp;Kč</span></li>
				<li><img src="{$base}{$tplbase}i/ico_benefit-02.png" alt="Autorizovaný prodejce"><span><strong>Autorizovaný prodejce</strong></span></li>
				<li><img src="{$base}{$tplbase}i/ico_benefit-03.png" alt="Rychle a levně"><span><strong>Rychle a levně</strong>Doprava objednávky již od XX&nbsp;Kč</span></li>
				<li><img src="{$base}{$tplbase}i/ico_benefit-04.png" alt="Garance nákupu"><span><strong>Garance nákupu</strong>Možnost výměny i&nbsp;vrácení&nbsp;peněz</span></li>
			</ul>
		</div>
	</div>
</div>
{/if*}

{if Customer::$logged_in}
    <div class="boxNl">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xs-12">
                    <p class="info">Newsletter: </p>
                </div>
                <div class="col-md-7 col-xs-12">
                    <form  action="{url('newsletter')}" method="post">
                        <div class="input-group">
                            <input type="text" placeholder="Zadejte Váš e-mail" class="form-control" name="newsletter_email" id="newsletter_email">
                            <div class="input-group-btn">
                                <button type="submit" name="signup" class="btn btn-primary">Přihlásit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{/if}

<footer class="clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<h3>{!$tploptions[Core::config('template')]['footer_menu_1_title']}</h3>
				<ul>
					{foreach Core::$db->page()->where('menu', 6)->where('status', 1)->order('position ASC') as $footerPage}
						<li><a href="{url($footerPage)}" title="{$footerPage[name]}">{$footerPage[name]}</a></li>
					{/foreach}
				</ul>
			</div>
			<div class="col-md-3 col-sm-6">
				<h3>{!$tploptions[Core::config('template')]['footer_menu_2_title']}</h3>
				{if $tploptions[Core::config('template')]['footer_menu_2_body'] <> ''}{!$tploptions[Core::config('template')]['footer_menu_2_body']}{/if}
				{if Customer::$logged_in}
					<ul>
						<li><a href="{url('customer')}" title="Klientské centrum">Klientské centrum</a></li>
						<li><a href="{url('customer/logout')}" title="Odhlásit se">Odhlásit se</a></li>
					</ul>
				{/if}
				<ul>
					{foreach Core::$db->page()->where('menu', 7)->where('status', 1)->order('position ASC') as $footerPage}
						<li><a href="{url($footerPage)}" title="{$footerPage[name]}">{$footerPage[name]}</a></li>
					{/foreach}
				</ul>
			</div>
			<div class="col-md-3 col-sm-6">
				<h3>{!$tploptions[Core::config('template')]['footer_menu_3_title']}</h3>

				{if $tploptions[Core::config('template')]['footer_menu_3_body'] <> ''}{!$tploptions[Core::config('template')]['footer_menu_3_body']}{/if}
				<ul>
					{foreach Core::$db->page()->where('menu', 8)->where('status', 1)->order('position ASC') as $footerPage}
							<li><a href="{url($footerPage)}" title="{$footerPage[name]}">{$footerPage[name]}</a></li>
					{/foreach}
				</ul>
			</div>
			<div class="col-md-3 col-sm-6">
				<h3>{!$tploptions[Core::config('template')]['footer_menu_4_title']}</h3>
				{!$tploptions[Core::config('template')]['footer_menu_4_body']}
				
			</div>
		</div>
	</div>
</footer>

<div class="container">
	<div class="row">
		
		<div class="footerBottom clearfix">
			<div class="col-sm-6 col-xs-12">
				{!$tploptions[Core::config('template')]['footer_logos_body']}
			</div>
			<div class="col-sm-6 col-xs-12">
				Pohání <a href="http://www.webmex.cz">Webmex</a>
			</div>
		</div>
	</div><!-- footer -->
</div><!-- conteiner -->

<div id='mezikrok'></div>

</body>
</html>