{var $tploptions = Registry::get('template_options')}

{var $_vat_delivery_id = Core::config('vat_delivery')}
{var $_vat_delivery = $_vat_delivery_id? Core::$db->vat[$_vat_delivery_id]['rate']: NULL}

<div class="basket">
	{include 'blocks/@basket_pagination.latte'}   

	<form action="{url(PAGE_ORDER)}" method="post" class="order-process j-order-dp-form">

	<div class="row">
		<div class="col-md-7 basketLeftPanel">
			{if isSet($order_errors)}
				<div class="alert alert-danger">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					{foreach $order_errors as $error}
						{$error[1]} - {_($error[0])}<br>
					{/foreach}
				</div>
			{/if}

			<script>
				var delivery = {};
				var payment = {};
			</script>

			{if $deliveries}
				
				{var $i_del = 0;}
					<div class="panel panel-default basketPanel deliveries">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<h3>Doprava</h3>
							</div>
							<div class="col-xs-2">
								<h4>&nbsp;</h4>
							</div>
							<div class="col-xs-4">
								<h4>cena</h4>
							</div>
						</div>
					</div>
					{foreach $deliveries as $delivery}
						<label class="list-item j-select-delivery" for="delivery_{$delivery['id']}">
                            
                            
							<div class="row clearfix">
								<div class="col-xs-1 text-center">
									{if !empty($delivery['img'])}
                            			<img src="{$base}{$delivery['img']}" alt="" />
                            		{/if}
								</div>
								<div class="col-xs-8">
									<span class="j-delivery-name-source">{$delivery['name']}</span> 
									{if !empty($delivery['info_order'])}<a href="#" data-html="true" rel="tooltip" title="{$delivery['info_order']}" class="info-order-link">?</a></span>{/if}
								</div>

								<div class="col-xs-2">
									<strong class="j-delivery-price">
										{if $delivery['price']}
											{!price_vat($delivery['price'], $_vat_delivery)}
										{else}
											ZDARMA
										{/if}
									</strong>
								</div>
								<div class="col-xs-1">
                                    {var $unvatDelivery = preg_replace('/&nbsp;(.*)/','',price_unvat((float)$delivery['price'], $_vat_delivery, ' '))}
                                    <input type="hidden" name="unvat_delivery" value="{$unvatDelivery}" />
                                    
									<input data-price="{price_vat($delivery['price'], $_vat_delivery)}" type="radio" name="delivery" id="delivery_{$delivery['id']}" value="{$delivery['id']}" class="checkbox">
									<div class="j-if-select-append-here"></div>
								</div>
							</div>
						</label>
						<script>
						delivery[{!$delivery['id']}] = {(float)$delivery['price']};
                        
                        $(function() {        
                            $('.deliveries, .payments').tooltip({
                                selector: "a[rel=tooltip]"
                            });
                        });
						</script>
						{var $i_del++}
					{/foreach}
				</div>
			{/if}

			{if $payments}
				
				{var $i_pay = 0;}
				    <div class="panel panel-default basketPanel payments">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<h3>Platba</h3>
							</div>
							<div class="col-xs-2">
								
							</div>
							<div class="col-xs-4">
								<h4>cena</h4>
							</div>
						</div>
					</div>
					{foreach $payments as $payment}
						<label class="list-item j-select-payment" for="payment_{$payment['id']}">
                            
                            
							<div class="row clearfix">
								<div class="col-xs-1 text-center">
									{if !empty($payment['img'])}
                            	<img src="{$base}{$payment['img']}" alt="" />
                            {/if}
								</div>
								<div class="col-xs-8">
									<span class="j-payment-name-source">{$payment['name']}</span> {if !empty($payment['info_order'])}<a href="#" data-html="true" rel="tooltip" title="{$payment['info_order']}" class="info-order-link">?</a></span>{/if}
								</div>
								<div class="col-xs-2">
									<strong class="j-payment-price">
											{if $payment['price']}
												{!price_vat($payment['price'], $_vat_delivery)}
											{else}
												ZDARMA
											{/if}
										  </strong>
								</div>
								<div class="col-xs-1">
                                    {var $unvatPayment = preg_replace('/&nbsp;(.*)/','',price_unvat((float)$payment['price'], $_vat_delivery, ' '))}
                                    <input type="hidden" name="unvat_payment" value="{$unvatPayment}" />
                                    
									<input data-price="{price_vat($payment['price'], $_vat_delivery)}" type="radio" name="payment" id="payment_{$payment['id']}" value="{$payment['id']}" class="checkbox">
								</div>
							</div>
						</label>
						<script>payment[{$payment['id']}] = {(float) $payment['price']};</script>
						{var $i_pay++}
					{/foreach}
				</div>
			{/if}

			<script>
				var delivery_payments = [];
				<?php foreach(Core::$db->delivery_payments() as $dp): 
					$dp_data = $dp->as_array();
				?>
				delivery_payments.push(<?php echo json_encode($dp_data)?>);
				<?php endforeach; ?>
			</script>
		</div>		  
		  
		<div class="col-md-5 basketRightPanel">			

			{include 'blocks/@basket_contact.latte'}


			<div class="panel panel-default basketPanelKosik basketPanel" n:if="Core::config('phone') || Core::config('email_sender')">
			  <div class="panel-heading">
			    <h3>Rekapitualce objednávky</h3>
			  </div>
			  <div class="panel-body">
				<table class="table">
					<tbody>
						<tr n:foreach="$basket_products as $product">
							<td>
								{$product['product']['name']} 
							</td>
							<td >
								{$product['qty']}x
							</td>
							<td class="text-right">
							    {var $vat = sprintf('%.2f', $product['price'])*0.21}
							    {!price((sprintf('%.2f', $product['price'])+$vat) * $product['qty'], $order['currency'])}
							</td>
						</tr>
						<tr n:foreach="$basket_free_samples as $product">
							<td>
								{$product['product']['name']} - VZOREK
							</td>
							<td>
								{$product['qty']}x
							</td>
							<td class="text-right"> 
								{!price_vat(0)}
							</td>
						</tr>
					</tbody>
				</table>
			  </div>
			</div><!-- basketPanelKosik -->

			<div class="panel panel-default basketPanelDoprava basketPanel" n:if="Core::config('phone') || Core::config('email_sender')">
			  <div class="panel-body">
				<div class="delivery clearfix">
					<div class="pull-left">Způsob dopravy:<div class="name"></div></div>
					<div class="pull-right"><br><span class="pull-right price"><i>vyberte způsob dopravy</i></span></div>
				</div>
				<div class="payment clearfix">
					<div class="pull-left">Způsob platby:<div class="name"></div></div>
					<div class="pull-right"><br><span class="pull-right price"><i>vyberte způsob platby</i></span></div>
				</div>
                  
                {if Basket::voucher() > 0}
                    {var $voucher = Core::$db->voucher[Basket::voucher()]}
                    {var $total = Basket::total()}
                    <div class="voucher clearfix">
                        <div class="pull-left">Sleva:<div class="name"></div></div>
                        <div class="pull-right"><br><span class="pull-right price">{!price($total->discount)}</span></div>
                    </div>
                {/if}
			  </div>
			</div><!-- basketPanelDoprava -->	

			<div class="panel panel-default basketPanelCena-celkem basketPanel" n:if="Core::config('phone') || Core::config('email_sender')">
			  <div class="panel-body">
				<div class="celkova-cena  clearfix">
					{if $basket_products !== null && count($basket_products)}
						{var $total = Basket::total()}
					{/if}
					{var $rounded = number_format($total->vat_rounded, 2, ',', ' ')}
					<span><em>Celková cena vč. DPH</em></span>
					<strong class="pull-right vat_incld" data-price="{$total->total}">{!price($total->total)}</strong>
				</div>
				<div class="celkova-cena clearfix">
					{if $basket_products !== null && count($basket_products)}
						{var $total = Basket::total()}
					{/if}
				</div>                
				<div class="celkova-cena clearfix">
					{if $basket_products !== null && count($basket_products)}
						{var $total = Basket::total()}
					{/if}
					<span>Celková cena bez DPH</span>
					<span class="pull-right vat_excld" data-price="{$total->subtotal}">{!price($total->subtotal)}</span>
				</div>
			  </div>
			</div><!-- basketPanelCena-celkem -->


		</div>
	</div>


	<div class="basketTlacitka">
		<button type="submit" name="submit_order" class="btn btn-green pull-right">Pokračovat na zadání osobních údajů <span aria-hidden="true" class="glyphicon glyphicon-arrow-right"></span></button>
		<a href="{url(PAGE_BASKET)}" class="btn btn-default pull-right"><span class="glyphicon glyphicon-chevron-left"></span> vrátit se zpět</a>
	</div>


	<input type="hidden" name="dp_price" class="j-dp-price-to-save">
	<input type="hidden" name="total_price" class="j-total-price-to-save">
	<input type="hidden" name="delivery_name" class="j-dp-name-to-save">
</form>
</div>


<script>
	var _subtotal_excl_vat = {$total->subtotal};
	var _subtotal = {$total->_total_before_discount};
	
	{if $voucher}
	var _voucher_value = {$voucher['value']};
	{/if}
	
	$(function(){
	     
		  
		{*if isset($_SESSION['order']['delivery'])}
			jQuery('#delivery_{$_SESSION['order']['delivery']}').iCheck('check');
		{/if}
		{if isset($_SESSION['order']['payment'])}
			jQuery('#payment_{$_SESSION['order']['payment']}').iCheck('check');
		{/if*}
	});
</script>
<script src="{$base}{$tplbase}js/order-form.js"></script>