{var $tploptions = Registry::get('template_options')}

{var $_vat_delivery_id = Core::config('vat_delivery')}
{var $_vat_delivery = $_vat_delivery_id? Core::$db->vat[$_vat_delivery_id]['rate']: NULL}

<div class="basket">
{include 'blocks/@basket_pagination.latte'} 

<form action="{url(PAGE_ORDER2)}" method="post" class="order-process validate-form process2"  data-toggle="validator"  novalidate="true">
	
	{if isSet($order_errors)}
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			{foreach $order_errors as $error}
				<strong>{$error[1]}</strong> - {_($error[0])}<br>
			{/foreach}
		</div>
	{/if}

	<div class="row">
		<div class="col-md-7">
			
			<div class="panel panel-default panelForm">
				<div class="panel-heading">
					 <h3>{_'billing_address'}</h3>
				</div>
				<div class="panel-body form-inline">
					<div class="form-group">
    					<label class="sr-only" for="first_name">>{_'first_name'}</label>
    					<input type="text" class="form-control" id="first_name" name="first_name" value="{$order['first_name']}" placeholder="{_'first_name'}">
  					</div>
  					<div class="form-group">
    					<label class="sr-only" for="last_name">>{_'last_name'}</label>
    					<input type="text" class="form-control" id="last_name" name="last_name" value="{$order['last_name']}" placeholder="{_'last_name'}">
  					</div>
  					<div class="form-group">
    					<label class="sr-only" for="street">>{_'street'}</label>
    					<input type="text" class="form-control" id="street" name="street" value="{$order['street']}" placeholder="{_'street'}">
  					</div>
  					<div class="form-group">
    					<label class="sr-only" for="city">>{_'city'}</label>
    					<input type="text" class="form-control" id="city" name="city" value="{$order['city']}" placeholder="{_'city'}">
  					</div>
  					<div class="form-group">
    					<label class="sr-only" for="zip">>{_'zip'}</label>
    					<input type="text" class="form-control" id="zip" name="zip" value="{$order['zip']}" placeholder="{_'zip'}">
  					</div>
  					<div class="form-group">
    					<label class="sr-only" for="country">>{_'country'}</label>
    					<select name="country" id="country" class="form-control">
							{foreach Core::$db->country() as $country}
								<option value="{$country['name']}"{if $order && $order['country'] == $country['name']} selected="selected"{/if}>{$country['name']}</option>
							{/foreach}
						</select>
  					</div>
  					<div class="form-group">
    					<label class="sr-only" for="email">>{_'email'}</label>
    					<input type="email" class="form-control" id="email" name="email" value="{$order['email']}" placeholder="{_'email'}">
  					</div>
  					<div class="form-group">
    					<label class="sr-only" for="phone">>{_'phone'}</label>
    					<input type="phone" class="form-control" id="phone" name="phone" value="{$order['phone']}" placeholder="{_'phone'}">
  					</div>
				</div>
			</div>

			<!-- fakturacni udaje -->
			<div class="event panel panel-default j-buy-on-company-wrapper panelForm">
				<div class="panel-heading">
					 <h3>{_'company'}</h3>
				</div>
				<div class="panel-body form-inline">
					<div class="form-group">
    					<label class="sr-only" for="company">>{_'company'}</label>
    					<input type="text" class="form-control" id="company" name="company" value="{$order['company']}" placeholder="{_'company'}">
  					</div>
  					<div class="form-group">
    					<label class="sr-only" for="company_id">>{_'company_id'}</label>
    					<input type="text" class="form-control" id="company_id" name="company_id" value="{$order['company_id']}" placeholder="{_'company_id'}">
  					</div>
  					<div class="form-group">
    					<label class="sr-only" for="company_vat">>{_'company_vat'}</label>
    					<input type="text" class="form-control" id="company_vat" name="company_vat" value="{$order['company_vat']}" placeholder="{_'company_vat'}">
  					</div>
				</div>
			</div>

			<div class="event panel panel-default j-ship-as-bill-wrapper panelForm">
				<div class="panel-heading">
					 <h3>{_'shipping_address'}</h3>
				</div>
				<div class="panel-body form-inline">
					<div class="form-group">
    					<label class="sr-only" for="ship_first_name">>{_'first_name'}</label>
    					<input type="text" class="form-control" id="ship_first_name" name="ship_first_name" value="{$order['ship_first_name']}" placeholder="{_'first_name'}">
  					</div>
  					<div class="form-group">
    					<label class="sr-only" for="ship_last_name">>{_'last_name'}</label>
    					<input type="text" class="form-control" id="ship_last_name" name="ship_last_name" value="{$order['ship_last_name']}" placeholder="{_'last_name'}">
  					</div>
  					<div class="form-group">
    					<label class="sr-only" for="ship_street">>{_'street'}</label>
    					<input type="text" class="form-control" id="ship_street" name="ship_street" value="{$order['ship_street']}" placeholder="{_'street'}">
  					</div>
  					<div class="form-group">
    					<label class="sr-only" for="ship_city">>{_'city'}</label>
    					<input type="text" class="form-control" id="ship_city" name="ship_city" value="{$order['ship_city']}" placeholder="{_'city'}">
  					</div>
  					<div class="form-group">
    					<label class="sr-only" for="ship_zip">>{_'zip'}</label>
    					<input type="text" class="form-control" id="ship_zip" name="ship_zip" value="{$order['ship_zip']}" placeholder="{_'zip'}">
  					</div>
  					<div class="form-group">
    					<label class="sr-only" for="ship_country">>{_'country'}</label>
    					<select name="ship_country" id="ship_country" class="form-control input280">
							{foreach Core::$db->country() as $country}
								<option value="{$country['name']}"{if $order && $order['ship_country'] == $country['name']} selected="selected"{/if}>{$country['name']}</option>
							{/foreach}
						</select>
  					</div>
  					<div class="form-group">
    					<label class="sr-only" for="ship_company">>{_'company'}</label>
    					<input type="text" class="form-control" id="ship_company" name="ship_company" value="{$order['ship_company']}" placeholder="{_'company'}">
  					</div>
				</div>
			</div>

			<div class="panel panel-default panelForm">
				<div class="panel-body">
					<div class="checkbox">
					    <label  for="buy_on_company">
					      <input type="checkbox" id="buy_on_company" class="j-buy-on-company-input"> Zboží nakupuji na firmu (IČ)
					    </label>
					</div>
					<div class="checkbox">
					    <label for="ship_as_bill">
					      <input type="checkbox" id="ship_as_bill" class="j-ship-as-bill-input" checked="checked"> Dodací adresa je shodná s fakturační
					    </label>
					</div>
				</div>
			</div>

			<div class="panel panel-default panelForm">
				<div class="panel-heading">
					 <h3>komentář nebo doplnění údajů</h3>
				</div>
				<div class="panel-body form-inline">
					<textarea name="comment" placeholder="{*_'comment'*}Přidat komentář nebo zprávu..." id="comment"  rows="4" class="form-control"></textarea>
				</div>
			</div>
				   
			<div class="panel panel-default panelForm">
				<div class="panel-body">
					{if !Customer::$logged_in}	
						<div class="checkbox">
						    <label for="create_account">
						      <input type="checkbox" name="create_account" id="create_account" value="1" checked="checked"> {_'create_account'}
						    </label>
						</div>
						<div class="checkbox">
						    <label for="newsletter_">
						      <input type="checkbox" name="newsletter" id="newsletter_" value="1" checked="checked"> {_'want_to_receive_newsletter'}
						    </label>
						</div>
                    {else}
						<div class="checkbox">
						    <label for="newsletter_">
						      <input type="checkbox" name="newsletter" id="newsletter_" value="1" {if $has_newsletter} checked="checked"{/if}> {_'want_to_receive_newsletter'}
						    </label>
						</div>                        
					{/if}

					<div class="checkbox">
					    <label for="terms">
					      <input type="checkbox" name="terms" id="terms"> <a href="{url(PAGE_TERMS)}" target="_blank" class="lightbox-ajax">{_'i_accept_terms'}</a>
					    </label>
					</div>
				</div>
			</div>
		</div>

						
		{* info box *}
		<div class="col-md-5 basketRightPanel">
			{if $basket_products !== null && count($basket_products)}
				{var $total = Basket::total()}
			{/if}

			{include 'blocks/@basket_contact.latte'}

			<div class="panel panel-default basketPanelKosik basketPanel" n:if="Core::config('phone') || Core::config('email_sender')">
			  <div class="panel-heading">
			    <h3>Rekapitualce objednávky</h3>
			  </div>
			  <div class="panel-body">
				<table class="table">
					<tbody>
						<tr n:foreach="$basket_products as $product">
							<td style="width: 180px;">
								{$product['product']['name']} 
							</td>
							<td class="text-center">
								{$product['qty']}x
							</td>
							<td class="text-right">
							    {var $vat = sprintf('%.2f', $product['price'])*0.21}
							    {!price((sprintf('%.2f', $product['price'])+$vat) * $product['qty'], $order['currency'])}
							</td>
						</tr>
						<tr n:foreach="$basket_free_samples as $product">
							<td style="width: 200px;">
								{$product['product']['name']} - VZOREK
							</td>
							<td class="text-center">
								{$product['qty']}x
							</td>
							<td class="text-right"> 
								{!price_vat(0)}
							</td>
						</tr>
					</tbody>
				</table>
			  </div>
			</div><!-- basketPanelKosik -->

			<?php 
			$dp = Core::$db->delivery_payments()
				->where('delivery_id', $delivery['id'])
				->where('payment_id', $payment['id'])
				->fetch();
			$freeDP = $dp['free_over'] && ($total->total > $dp['free_over']);
			?>
			<div class="panel panel-default basketPanelDoprava basketPanel" n:if="Core::config('phone') || Core::config('email_sender')">
			  <div class="panel-body">
				<div class="delivery clearfix">
					<div class="pull-left">Způsob dopravy:<div class="name"><span class="name">{$delivery['name']}</div></div>
					<div class="pull-right"><br><span class="pull-right price">
						{if $freeDP}
								zdarma
							{else}
								{!price_vat($delivery['price'], $_vat_delivery)}
							{/if}
					</span></div>
				</div>
				<div class="payment clearfix">
					<div class="pull-left">Způsob platby:<div class="name">{$payment['name']}</div></div>
					<div class="pull-right"><br><span class="pull-right price">{if $freeDP}
								zdarma
							{else}
								{!price_vat($payment['price'], $_vat_delivery)}
							{/if}</span></div>
				</div>
                
                {if Basket::voucher() > 0}
                    {var $voucher = Core::$db->voucher[Basket::voucher()]}
                    {var $total = Basket::total()}
                    <div class="voucher clearfix">
                        <div class="pull-left">Sleva:<div class="name"></div></div>
                        <div class="pull-right"><br><span class="pull-right price">{!price($total->discount)}</span></div>
                    </div>
                {/if}
                
			</div><!-- basketPanelDoprava -->	

            {if $freeDP}
                {var $unvatDelivery = 0}
                {var $unvatPayment = 0}
                
                {var $totalPrice = $total->total}
            {else}
                {var $unvatDelivery = preg_replace('/&nbsp;(.*)/','',price_unvat((float)$delivery['price'], $_vat_delivery, ' '))}
                {var $unvatPayment = preg_replace('/&nbsp;(.*)/','',price_unvat((float)$payment['price'], $_vat_delivery, ' '))}                
                
                {var $totalPrice = $total->total+preg_replace('/&nbsp;(.*)/','',price_vat($delivery['price'], $_vat_delivery))+preg_replace('/&nbsp;(.*)/','',price_vat($payment['price'], $_vat_delivery))}                
            {/if}

			<div class="panel panel-default basketPanelCena-celkem basketPanel" n:if="Core::config('phone') || Core::config('email_sender')">
			  <div class="panel-body">
				<div class="celkova-cena  clearfix">
					{if $basket_products !== null && count($basket_products)}
						{var $total = Basket::total()}
					{/if}
					<span>Celková cena vč. DPH</span>
					<strong class="pull-right vat_incld" data-price="{$totalPrice}">{!price($totalPrice)}</strong>
				</div>
				<div class="celkova-cena clearfix">
					{if $basket_products !== null && count($basket_products)}
						{var $total = Basket::total()}
					{/if}
				</div>
				<div class="celkova-cena clearfix">
					{if $basket_products !== null && count($basket_products)}
						{var $total = Basket::total()}
					{/if}
					<span>Celková cena bez DPH</span>
					<span class="pull-right vat_excld" data-price="{$total->subtotal+$unvatDelivery+$unvatPayment}">{!price($total->subtotal+$unvatDelivery+$unvatPayment)}</span>
				</div>
			  </div>
			</div><!-- basketPanelCena-celkem -->


		</div>

	</div>
	<div class="clearfix"></div>
	<div class="basketTlacitka">
		
			<button type="submit" name="submit_order" class="btn btn-green pull-right">Odeslat objednávku <span aria-hidden="true" class="glyphicon glyphicon-arrow-right"></span></button>
			<a href="{url(PAGE_ORDER)}" class="btn btn-default pull-right"><span class="glyphicon glyphicon-chevron-left"></span> vrátit se zpět</a>

	</div>
</form>
</div>
</div>


<script>
	var delivery = {};
	var _subtotal_excl_vat = {$total->subtotal};
	var _subtotal = {$total->_total_before_discount};
	
	{if $voucher}
		var _voucher_value = {$voucher['value']};
	{/if}

	var delivery = {};
	var payment = {};
	var delivery_payments = [];
	{foreach Core::$db->delivery_payments() as $dp}
		{var $dp_data = $dp->as_array()}
		delivery_payments.push({!json_encode($dp_data)});
	{/foreach}
</script>

<script>
	$("#ship_as_bill").change(function() {
		$(".j-ship-as-bill-wrapper").toggle();
	});
	
	$("#buy_on_company").change(function() {
		$(".j-buy-on-company-wrapper").toggle();
	});

	$(".delpayparsevalue").text($(".delpayparsevalue").text().split("-")[0]);
</script>