{var $tploptions = Registry::get('template_options')}

<div class="basket">

<div class="basket">
	<div class="basketSuccess">
		<h1>DĚKUJEME ZA VAŠI OBJEDNÁVKU</h1>
		<p>již usilovně pracujeme na jejím brzkém vyřízení</p>
		<p><a href="{$base}" class="btn btn-primary">zpět do obchodu</a></p>
	</div>
</div>


</div>
</div>