<?php 
$page_category = (($page[id] != PAGE_INDEX) && ($page[menu] == 2)) 
	? TRUE 
	: FALSE;

$parentPage = Core::$db->page()
	->where('id', $page['parent_page'])
	->fetch();
$parentPage_category = (($parentPage[id] != PAGE_INDEX) && ($parentPage[menu] == 2)) 
	? TRUE 
	: FALSE;
?>
		

		
		{if isset(Core::$current_page) && !isset(Core::$current_product) && in_array(Core::$current_page[id], [PAGE_BASKET, PAGE_ORDER, PAGE_ORDER2, PAGE_ORDER_FINISH])}
			{else}
			{include '@breadcrumb.latte'}
		
            

			{if $page_category || $parentPage_category}

                {if Core::$current_page[id] != 47} {*Reklamní deštníky - potisk*}
                    <div class="col categoryTop">
                        
                            <h1>{$page['name']}</h1>
                            <div class="textContentPerex">
                                {!$page[description_short]}
                               
                            </div>	
                       
                        
                    </div>
                    {include '@page_category.latte'}
                {else}
                    <h1>{$page['seo_title']}</h1>    
                {/if}

			{else}
				{if Core::$current_page[id] == PAGE_INDEX}
					{include '@page/@index.latte'}
				{else}
					<h1>{$page['name']}</h1>
					<div class="textContentPerex">
						{!$page[description_short]}
					</div>	
					<div class="textContent">
						{!$page[description]}
						<div class="clearfix"></div>
					</div>	
                        
                    {if Core::$current_page[id] == 28} {* Recenze uzivatelu *}   
					<div class="textContent">
                        {include '@page/@review.latte'}
						<div class="clearfix"></div>
					</div>	
                    {/if}    
                        
				{/if}
			{/if}
		{/if}
		
		



	{if Core::$current_page[id] <> PAGE_INDEX}
		<!-- page action top -->
		{!$page_action_top}

		<!-- filter -->
		{*!$page_action_top*}

		<!-- products -->
		{if count($products) || !empty($_GET['f'])}
			{include '@page/@products.latte', products=>$products, page => $page, producers => $producers, features => $features, colors=>$colors, min_max_prices => $min_max_prices}
		{/if}

		{if $page_category}
			<div class="textContent">
				{!$page[description]}

			</div>
		{/if}
	{/if}

{!$page_action}