{include '@breadcrumb.latte', product => $product}
{include 'blocks/basket-modal.latte'}
{var $unitSufix = $product[unit]? " / $product[unit]": ''}
<?php $flash = $_SESSION["flash"]; ?>
<?php unset($_SESSION['flash']); ?>


<script>
var _product_discount = {? echo ($product[discount] && ! $product[price_old])? (float)$product[discount]: 0};
var _product_price_before_discount = {? echo (float)$product[pricebeforediscount]};
var _product_price = {? echo (float)$product[price]};
var _product_vat = {? echo (float)$product[vat]};
var _flashBasket = {? echo (isset($flash)) ? 1 : 0};
var _product_price_final = {? echo (float)$product[price]};

$(document).ready(function() {
    if (_flashBasket == 1){
	setTimeout(function() {
	    $('#basket-modal').modal('hide');
	}, 3000);
	
	$('#basket-modal').modal('toggle');
    }
});
</script>
<section class="detail"  itemscope itemtype="http://schema.org/Product">
    <div class="row">
		<div class="col-md-4 col-xs-12 detailLeft">
    		{include '@product/@files_product.latte', product => $product, align => 2, autosize => 'product'}
		</div>
	
		<div class="col-md-8 col-xs-12 detailRight">
			<h1 itemprop="name">{$product['name']|trim}</h1>
			<div class="productStitky">
				<span
					n:foreach="$product->product_labels() as $label"
					class="akce"
					style="background-color: #{$label->label['color']}"
				>
					{$label->label['name']}
				</span>
				{if $product['discount'] != NULL}
		            <span class="sleva">Sleva {!$product['discount']|number}%</span>
		        {/if}
			</div>		
			<div class="detailShortinfo clearfix">
				<div class="text"
					<span itemprop="description">{!$product['description_short']}</span>
				</div>
				<div class="img">
					{var $vyrobce = false}
                    {var $pages = array()}
                    {foreach $product->product_pages() as $page}
                        {if $page->page['menu'] == 3}
                            {var $file = Core::$db->page_files()->where('page_id', $page['page_id'])->where('is_image', 1)->limit(1)->fetch();}
                            {if $file}
                                <a href="{!url($page->page)}"><img src="{$file['filename']}" alt="{$page->page['name']}" /></a>
                                <span itemprop="brand" class="display-none">{$page->page['name']}</span>
                            {else}    
                                {!pageFullPath($page->page, true)}
                            {/if}
                            {var $vyrobce = true}
                        {else}
                            {var $pages[] = $page->page['id']}
                        {/if}
                    {/foreach}
				</div>
			</div>




			{var $availability = getProductAvailability($product)}

			<?php 
				$finalPageName = '';
				$finalPageUrl = '';
				$tmpPages = Core::$db->product_pages()->where('product_id', $product['id']); 
				for($i=0;$i<count($tmpPages);$i++) {
					$tmpPage = Core::$db->page()->where('id',$tmpPages[$i]['page_id'])->where('menu',3);
					if(count($tmpPage)>0) {
					$finalPageName = !empty($tmpPage[$tmpPages[$i]['page_id']]['name']) ? $tmpPage[$tmpPages[$i]['page_id']]['name'] : '';
					$finalPageUrl = !empty($tmpPage[$tmpPages[$i]['page_id']]['sef_url']) ? $tmpPage[$tmpPages[$i]['page_id']]['sef_url'].'-a'.$tmpPages[$i]['page_id'] : '';
					}
				}
			?>

			
			<h4 class="dostupnostTitle"><span class="titulek dostupnost stock" {if Core::config('suspend_no_stock')}data-product-stock="{$product[stock]}"{/if} {if $availability[hex_color]}style="color: #{$availability[hex_color]};"{/if}>
				{$availability['name']} {if $display_stock && $product[stock] > 0} ({$product[stock]} {= __('pcs')}){/if}
			</span></h4>
			
			<form action="{url(PAGE_BASKET)}" method="post" n:if="!Core::config('suspend_no_stock') || $product['stock'] > 0">
				<input type="hidden" name="product_id" value="{$product['id']}">
				<input type="hidden" name="redirect_page" value="{$_SERVER[HTTP_HOST].$_SERVER[REQUEST_URI]}">
			<ul class="detailList">
              
			  
			  {if $product['price_old'] != NULL}
			  	<li><span>Běžná cena:</span>
			  		{!price_vat(array($product, $product['price_old']))} <strong>ušetříte: {!price_vat(array($product, $product['price_old'] - $product['price']))}</strong>
					
			  	</li>
			  {/if}


			  <?php if(Core::$is_premium): $i = 0;
					$attr_total_prices = ((int) Core::config('attributes_prices_change') || count($attributes) > 1) ? 0 : 1;
					?>
					
					<script>
						_product_discount = {(($product['discount'] && !$product['price_old'])? (float)$product['discount']: 0)};
						_product_price_before_discount = {(float)$product['pricebeforediscount']};
						_product_price = {(float)$product['price']};
						_product_vat = {(float)$product['vat']};
						product_attr_stock = {};
					</script>

					<?php foreach($attributes as $attr_name => $options): ?>
			  <li><span><?php echo $attr_name?>:</span>
			  
			  	<div class="attributes">
					
					<fieldset class="attribute">
					  	<select name="attributes[]" class="form-control" required>
							<?php foreach($options as $opt): ?>
							<option data-cena="<?php echo $opt['price'] ?>" data-dostupnost="<?php echo $opt['availability']['name'] ?>" data-file="<?php echo imgsrcvariant($opt['file_id'], $product, 10); ?>" value="<?php echo $opt['id']?>"<?php echo ($opt['default'] ? ' selected="selected"' : '') ?>>
								<?php echo $opt['value']?>
								
								<?php if($opt['price']): ?>
									<?php if($attr_total_prices): ?>
										(<?php echo price_vat(array($product, $opt['price'] + $product['price']))?>)
										
									<?php else: ?>
										(<?php echo ($opt['price'] > 0 ? '+' : '').price_vat(array($product, $opt['price']))?>)
									<?php endif; ?>
								<?php endif; ?>
                                
								<?php if($opt['stock'] > 0): ?>
                                    <?php echo ', skladem '.$opt['stock'].' ks' ?>
								<?php endif; ?>                                
							</option>
							
							<script>
								attrPrices({$opt['id']}, {!(float)$opt['price']});
								
								{if $opt['file_id']}
								attrFiles({$opt['id']}, {$opt['file_id']});
								{/if}

								product_attr_stock[{$opt['id']}] = {$opt['stock']};
							</script>
							
							<?php endforeach; ?>
						</select>
					</fieldset>
				 </div>
					<?php $i ++; endforeach; 
					endif; ?>
				
			  </li>
			</ul>
			 {if !Core::config('hide_prices_to_visitors') || (Core::config('hide_prices_to_visitors') && (User::$logged_in || Customer::$logged_in))}				
			<div class="boxKosik info clearfix" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
					<meta itemprop="priceCurrency" content="Kč" />
					<span class="hidden"><link itemprop="availability" href="http://schema.org/InStock"/>{$availability['name']} ({$product[stock]} {= __('pcs')})</span>
					<div class="boxKosikCena cena">

	                    {if (float)$product[units_in_pack]}
	                       <strong class="unvat" data-cena="{!price_unvat(array($product, $product['price']-$page_discount))->price}">{!price_unvat(array($product, ($product['price']-$page_discount)))}</strong>
	                    {else}
	                    	 <strong class="unvat" data-cena="{!price_unvat(array($product, $product['price']-$page_discount))->price}">{!price_unvat(array($product, ($product['price']-$page_discount)))}</strong>
	                        
	                    {/if}
			    {if $product['discount'] != null || $page_discount > 0}
				<strong style="text-decoration: line-through;">{!price_unvat(array($product, $product['pricebeforediscount']))}</strong>
			    {/if} bez DPH
	                   
	                </div>

	                <div class="boxKosikQty">
						<input type="text" class="form-control" name="qty" value="{*{(float)$product[units_in_pack]}*}1">
						<div class='plus_minus'>
							<a href='#' id='qty_plus' onclick="return false;"><div><span>+</span></div></a>
							<a href='#' id='qty_minus' onclick="return false;"><div><span>-</span></div></a>
						</div>
					</div><!-- boxKosikQty -->

	                <button type="submit" data-product_name="{$product['name']}" data-img_src="{*todo*}" name="buy" class="btn btn-green">Vložit do košíku</button>
			</div><!-- boxKosik -->
			 {else}
			     {_'hide_prices_to_visitors'}
			 {/if}
			</form>
		</div>


		<div class="col-xs-12">       
	        <ul id="tabs" class="nav nav-tabs" role="tablist">
	            <li role="presentation" class="active"><a href="#tabs-1" role="tab" role="tab" data-toggle="tab">Popis produktu</a></li>
            	{if !empty($product['video'])}
    	            <li role="presentation"><a href="#tabs-2" role="tab" role="tab" data-toggle="tab">Video</a></li>
                {/if}
	        </ul>

	        <div class="tab-content popis clearfix">
	        	<div id="tabs-1" role="tabpanel" class="tab-pane fade active in">
	        		<span>{!$product['description']}</span>
	        		
				</div>
            	{if $product['video']}
                    <div id="tabs-2" role="tabpanel" class="tab-pane fade in">
                            {!$product['video']}
                    </div>
                {/if}
				
	        </div>
	    </div>
	

    <?php if($related_products): ?>			
	    <div class="col-xs-12">
	        <div class="detail_relatedProducts">
	            <h3>Související zboží</h3>
	            {include '@product/@product_related.latte', related_products => $related_products, product_page => $product}
	        </div>			
	    </div>			    
	<?php endif; ?>
</div>


<script src='{$base}{$tplbase}js/product.js'></script>