{if count($products) == 0}
	<h1 class="bg-primary">Ať hledám jak hledám, <strong>„<?php echo htmlspecialchars($_GET['q']) ?>“</strong> jsem nenašel.</h1>
	<h2>Jak dál?</h2>
	<ul>
		<li>Ujistěte se, že jste napsali správně to, co hledáte.</li>
	    <li>Zkuste podobná slova.</li>
	    <li>Zkuste obecnější dotaz.</li>
	</ul>
{/if}