{var $pages = Core::$db->page()->where('status', 1)->where('parent_page', 0)->where('menu', 1)->order('position ASC')}
{include main_level pages=>$pages, name=>__('pages')}

{var $pages = Core::$db->page()->where('status', 1)->where('parent_page', 0)->where('menu', 2)->order('position ASC')}
{include main_level pages=>$pages, name=>__('categories')}

{var $pages = Core::$db->page()->where('status', 1)->where('parent_page', 0)->where('menu', 3)->order('position ASC')}
{include main_level pages=>$pages, name=>__('producers')}

{define main_level}
	{foreach $pages as $page}
		{first}
			<div class="panel panel-default">
			<div class="panel-heading">{$name}</div>
			<div class="panel-body sitemap">
		{/first}
		<ul>
			<li>
				<a href="{url($page)}" title="{$page['name']}">{$page['name']}</a>
				{include low_level page=>$page}
			</li>
		</ul>
		{last}</div></div>{/last}
	{/foreach}
{/define}

{define low_level}
	{var $pages = Core::$db->page()->where('status', 1)->where('parent_page', $page['id'])->order('position ASC')}

	{foreach $pages as $page}
		{first}<ul>{/first}
			<li><a href="{url($page)}" title="{$page['name']}">{$page['name']}</a>
			{include low_level page=>$page}
			</li>
		{last}</ul>{/last}
	{/foreach}
{/define}